<ion-content [fullscreen]="true" class="vms-body">
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'" />
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [isHomeButton]="true" [text]="'EMERGENCY VEHICLES'" [isActive]="true"
      [routerLink]="['/home-vms']"  [disableClick]="true" />
    </div>
    <div class="flex mt-8 flex-row w-full flex-wrap">
      <app-button-icon [customImageIcon]="'assets/img/Singapore_Police.png'" [isActive]="showPoliceTrans || showPolice"
        [extraParentClass]="'mr-1'"
        [extraClass]="showPoliceTrans || showPolice ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'"
        [text]="'POLICE'" [disableClick]="true" (click)="toggleShowPolice()" />
      <app-button-icon [customImageIcon]="'assets/img/SCDF.png'" [isActive]="showSCDFTrans || showSCDF" 
      [extraImageClass]="'w-[110px] h-[110px] object-contain'"
        [extraClass]="showSCDFTrans || showSCDF ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'"
        [extraParentClass]="'mr-1'" [text]="'SCDF'" [disableClick]="true" (click)="toggleShowSCDF()" />
      <app-button-icon [customImageIcon]="'assets/img/Ambulance.png'" [isActive]="showAmbulanceTrans || showAmbulance"
        [extraClass]="showAmbulanceTrans || showAmbulance ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'"
        [extraParentClass]="'mr-1'" [text]="'AMBULANCE'" [disableClick]="true" (click)="toggleShowAmbulance()" />
      <app-button-icon [customImageIcon]="'assets/img/Government.png'" [isActive]="showOthersTrans || showOthers"
        [extraClass]="showOthersTrans || showOthers ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'"
        [text]="'OTHER GOVT AGENCY'" [disableClick]="true" (click)="toggleShowOthers()" />
    </div>

    <div class="flex flex-row">
      <div class="mt-8 flex flex-col items-center w-full mx-4 space-y-5 mb-4" *ngIf="showAmbulance" @fadeInOut>
        <div class="w-full flex flex-row">
          <div class="w-[90%]">
            <app-text-input [id]="'vehicle_number'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'SAA 8291 X'"
              [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="formData.vehicle_number"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
            <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()" />
          </div>
        </div>
        <div class="w-full">
          <app-text-input [id]="'station_division'" [labelText]="'STATION & DIVISION'" [(ngModel)]="formData.station_devision"
            [placeholder]="'EG. CENTRAL DIVISION'" [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select id="deliveries_block" [(ngModel)]="formData.block_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full">
          <label class="text-2xl"><u><b>UNIT</b></u></label>
          <select id="deliveries_unit" [(ngModel)]="formData.unit_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
            <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>PURPOSE</b></u></label>
          <textarea id="purpose" rows="4" [(ngModel)]="formData.purpose"
            class="bg-white border border-[#6B7280] text-gray-900 text-2xl rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
            placeholder=""></textarea>
        </div>
        <div class="w-full" *ngIf="false; else submitButton"></div>
      </div>

      <div class="mt-8 flex flex-col items-center w-full mx-4 space-y-5 mb-4" *ngIf="showPolice" @fadeInOut>
        <div class="w-full">
          <app-text-input [id]="'rank_name'" [labelText]="'RANK AND NAME'" [(ngModel)]="formData.officer_name"
            [placeholder]="'EG. SENIOR STAFF SERGANT WONG JUN WEI'" [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-vms-contact-input [id]="'police_contact_number'" (contactInfo)="getContactInfo($event)" [(value)]="formData.contact_number"></app-vms-contact-input>
        </div>
        <!-- <div class="w-full">
          <app-text-input [id]="'contact_number'" [labelText]="'CONTACT NUMBER'" [placeholder]="'EG. +65 XXXX XXX'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div> -->
        <div class="w-full">
          <app-text-input [id]="'station_division'" [labelText]="'STATION & DIVISION'" [(ngModel)]="formData.station_devision"
            [placeholder]="'EG. CENTRAL DIVISION'" [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input [id]="'drive_in_vehicle'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'EG. SBS 2282 S'"
              [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
              [(ngModel)]="formData.vehicle_number"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
            <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()" />
          </div>
        </div>
        <!-- <div class="w-full">
          <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}"
            [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select id="emergency_police_block" [(ngModel)]="formData.block_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
           <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full mb-5">
          <label class="text-2xl"><u><b>UNIT</b></u></label>
          <select id="emergency_police_unit" [(ngModel)]="formData.unit_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
           <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>PURPOSE</b></u></label>
          <textarea id="purpose" rows="4" [(ngModel)]="formData.purpose"
            class="bg-white border border-[#6B7280] text-gray-900 text-2xl rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
            placeholder=""></textarea>
        </div>
        <div class="w-full" *ngIf="false; else submitButton"></div>
      </div>

      <div class="mt-8 flex flex-col items-center w-full mx-4 space-y-5 mb-4" *ngIf="showOthers" @fadeInOut>
        <div class="w-full">
          <app-text-input [id]="'name'" [labelText]="'NAME'" [placeholder]="'EG. LEE HAO MIN'"
            [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="formData.officer_name"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-vms-contact-input [id]="'others_contact_number'" (contactInfo)="getContactInfo($event)" [(value)]="formData.contact_number"></app-vms-contact-input>
        </div>
        <div class="w-full">
          <app-text-input [id]="'contact_number'" [labelText]="'GOVT AGENCY NAME'" [(ngModel)]="formData.govtAgency"
            [placeholder]="'EG. NATIONAL ENVIRONMENT AGENCY'" [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input [id]="'drive_in_vehicle'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'EG. SBS 2282 S'"
              [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
              [(ngModel)]="formData.vehicle_number"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
            <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()" />
          </div>
        </div>
        <!-- <div class="w-full">
          <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}"
            [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select id="emergency_other_block" [(ngModel)]="formData.block_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
           <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full">
          <label class="text-2xl"><u><b>UNIT</b></u></label>
          <select id="emergency_other_unit" [(ngModel)]="formData.unit_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
           <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>PURPOSE</b></u></label>
          <textarea id="purpose" rows="4" [(ngModel)]="formData.purpose"
            class="bg-white border border-[#6B7280] text-gray-900 text-2xl rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
            placeholder=""></textarea>
        </div>
        <div class="w-full" *ngIf="false; else submitButton"></div>
      </div>

      <div class="mt-8 flex flex-col items-center w-full mx-4 space-y-5 mb-4" *ngIf="showSCDF" @fadeInOut>
        <div class="w-full flex flex-row">
          <div class="w-[90%]">
            <app-text-input [id]="'emergency_vehicle_number'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'SAA 8291 X'"
              [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="formData.vehicle_number"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
            <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()" />
          </div>
        </div>
        <div class="w-full">
          <app-text-input [id]="'emergency_station_division'" [labelText]="'STATION & DIVISION'" [(ngModel)]="formData.station_devision"
            [placeholder]="'EG. CENTRAL DIVISION'" [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select id="deliveries_block" [(ngModel)]="formData.block_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full">
          <label class="text-2xl"><u><b>UNIT</b></u></label>
          <select id="deliveries_unit" [(ngModel)]="formData.unit_id"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
            <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>PURPOSE</b></u></label>
          <textarea id="purpose" rows="4" [(ngModel)]="formData.purpose"
            class="bg-white border border-[#6B7280] text-gray-900 text-2xl rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
            placeholder=""></textarea>
        </div>
        <div class="w-full" *ngIf="false; else submitButton"></div>
      </div>
    </div>

    <ng-template #submitButton>
      <div class="w-full" *ngFor="let camera of Camera; let i = index">
        <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER ' + camera.CamID"
          [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 ' + (i == 0 ? 'mt-6' : 'mt-1' )"
          (click)="onSubmit(true, camera.CamSentId)"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-2xl h-20'" (click)="onSubmit()"></app-visitor-button>
      </div>
    </ng-template>
  </div>
</ion-content>