<ion-content [fullscreen]="true" class="vms-body">
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img
      alt="IFS360"
      src="assets/img/focus_logo-removebg.png"
      class="object-contain w-full h-full"
    />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="flex flex-col items-center justify-center text-center">
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>IFS360</b></span>
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>VISITOR MANAGEMENT SYSTEM</b></span>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customNameIcon]="'faTruckMedical'" [text]="'EMERGENCY VEHICLES'" [isActive]="true" [routerLink]="['/home-vms']" [disableClick]="true" />
    </div>
    <div class="flex mt-5 flex-rowspace-x-4 space-x-7 w-full">
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/Ambulance.webp'" [isActive]="showAmbulance" [extraClass]="showAmbulanceTrans || showAmbulance ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'" [text]="'AMBULANCE'" [disableClick]="true" (click)="toggleShowAmbulance()"/>
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/Police.webp'" [isActive]="showPolice" [extraClass]="showPoliceTrans || showPolice ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'" [text]="'POLICE'" [disableClick]="true" (click)="toggleShowPolice()"/>
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/SCDF.webp'" [isActive]="showSCDF" [extraClass]="showSCDFTrans || showSCDF ? 'bg-[var(--ion-color-primary)] text-white w-24' : 'bg-[#D0D0D0] text-[#757575] w-24'" [text]="'SCDF'" [disableClick]="true" (click)="toggleShowSCDF()"/>
      <app-button-icon [customNameIcon]="''" [isActive]="showOthers" [text]="'OTHERS'" (click)="toggleShowOthers()" />
    </div>

    <div class="mt-5 flex flex-col justify-around items-center w-full" *ngIf="showAmbulance" @fadeInOut>
      <div class="w-full mb-3">
        <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
      </div> 
      <div class="w-full mb-3">
        <!-- <app-text-input [id]="'deliveries_block'" [placeholder]="'BLOCK'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
        <select id="deliveries_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xs text-[#6B7280]">
          <option selected>CHOOSE BLOCK</option>
          <option value="block_1">BLOCK 1</option>
          <option value="block_2">BLOCK 2</option>
          <option value="block_3">BLOCK 3</option>
          <option value="block_4">BLOCK 4</option>
        </select>
      </div>
      <div class="w-full mb-5">
        <!-- <app-text-input [id]="'deliveries_unit'" [placeholder]="'UNIT'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
        <select id="deliveries_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xs text-[#6B7280]">
          <option selected>CHOOSE UNIT</option>
          <option value="unit_1">UNIT 1</option>
          <option value="unit_2">UNIT 2</option>
          <option value="unit_3">UNIT 3</option>
          <option value="unit_4">UNIT 4</option>
        </select>
      </div>
      <div class="w-full mb-3">
        <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)] text-white font-bold text-xs" [routerLink]="['/home-vms']">
          SAVE RECORD & OPEN BARRIER
        </ion-button>
        <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)] text-white font-bold text-xs" [routerLink]="['/home-vms']">
          SAVE RECORD ONLY
        </ion-button>
      </div>
    </div>
    <div class="flex flex-col w-[100%] mt-[50px]" *ngIf="showPolice" @fadeInOut>
      <div class="w-full mb-3">
        <app-text-input [id]="'contact_number'" [placeholder]="'Rank and Number'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
      </div> 
      <div class="w-full mb-3">
        <app-text-input [id]="'contact_number'" [placeholder]="'Contact Number'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
      </div> 
      <div class="w-full mb-3">
        <app-text-input [id]="'contact_number'" [placeholder]="'Station & Division'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
      </div> 
      <div class="w-full mb-3">
        <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
      </div> 
      <div class="w-full mb-3">
        <!-- <app-text-input [id]="'deliveries_block'" [placeholder]="'BLOCK'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
        <select id="deliveries_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xs text-[#6B7280]">
          <option selected>CHOOSE BLOCK</option>
          <option value="block_1">BLOCK 1</option>
          <option value="block_2">BLOCK 2</option>
          <option value="block_3">BLOCK 3</option>
          <option value="block_4">BLOCK 4</option>
        </select>
      </div>
      <div class="w-full mb-5">
        <!-- <app-text-input [id]="'deliveries_unit'" [placeholder]="'UNIT'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
        <select id="deliveries_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xs text-[#6B7280]">
          <option selected>CHOOSE UNIT</option>
          <option value="unit_1">UNIT 1</option>
          <option value="unit_2">UNIT 2</option>
          <option value="unit_3">UNIT 3</option>
          <option value="unit_4">UNIT 4</option>
        </select>
      </div>
      <div class="w-full mb-3">
        <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)] text-white font-bold text-xs" [routerLink]="['/home-vms']">
          SAVE RECORD & OPEN BARRIER
        </ion-button>
        <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)] text-white font-bold text-xs" [routerLink]="['/home-vms']">
          SAVE RECORD ONLY
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>