<div
  [ngClass]="
    isIOS && isMobile
      ? 'min-h-[190px] header fixed top-0'
      : 'min-h-[162px] header fixed top-0'
  "
>
  <div
    [ngClass]="
      isIOS && isMobile
        ? 'flex flex-col justify-start mt-[48px]'
        : 'flex flex-col justify-start mt-[27px]'
    "
  >
    <div class="flex flex-col justify-end h-full">
      <img
        alt="Profile picture of a person"
        height="80"
        [src]="functionMain.getImage(profileImage)"
        width="80"
        class="w-80 h-80"
      />
      <div class="absolute flex flex-col items-end ml-8">
        <ion-icon
          class="drop-shadow-xl text-base bg-white rounded-full p-1"
          name="pencil"
          (click)="backToPrev()"
        ></ion-icon>
      </div>
    </div>
    
    
    <div class="flex flex-col items-start mt-4 w-[70%]">
      <h1 class="text-[black] text-start truncate w-full">Welcome {{ userName }}</h1>
      <p class="text-[black] text-start font-bold w-full">
        {{ condoName }}
      </p>
    </div>
  </div>
  <div [ngClass]="isIOS && isMobile ? '!top-[58px] logo' : 'logo'">
    <img
      alt="iFS360 logo"
      height="60"
      src="https://res.cloudinary.com/dkxor4kjf/image/upload/v1745219293/logoIFS_eeimyp.png"
    />
  </div>
</div>
