<div
  [ngClass]="
    isIOS && isMobile
      ? 'h-[190px] header fixed top-0'
      : 'h-[162px] header fixed top-0'
  "
>
  <div
    [ngClass]="
      isIOS && isMobile
        ? 'flex flex-col justify-start mt-[48px]'
        : 'flex flex-col justify-start mt-[27px]'
    "
  >
    <img
      alt="Profile picture of a person"
      height="80"
      [src]="functionMain.getImage(profileImage)"
      width="80"
      class="w-80 h-80"
    />
    <ion-icon
      class="absolute bottom-16 drop-shadow-xl left-12 text-base bg-white rounded-full p-1"
      name="pencil"
      (click)="backToPrev()"
    >
    </ion-icon>
    <div class="flex flex-col items-start mt-4">
      <h1 class="text-[black]">Welcome {{ userName }}</h1>
      <p class="text-[black] font-bold">
        {{ condoName }}
      </p>
    </div>
  </div>
  <div [ngClass]="isIOS && isMobile ? '!top-[58px] logo' : 'logo'">
    <img
      alt="iFS360 logo"
      height="60"
      src="https://res.cloudinary.com/dkxor4kjf/image/upload/v1745219293/logoIFS_eeimyp.png"
    />
  </div>
</div>
