.header {
    background-color: #D8ECCF;
    padding: 10px 20px 10px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}
.header img {
    border-radius: 0;
    height: 50px;
    width: 85px;
}
.header .logo {
    top: 20px;
    right: 20px;
}