<ion-header>
  <div
    [ngClass]="
      isIOS && isMobile
        ? 'h-[105px] header fixed top-0'
        : 'h-[105px] header fixed top-0'
    "
  >
    <div
      [ngClass]="
        isIOS && isMobile
          ? 'flex flex-col justify-start mt-[30px]'
          : 'flex flex-col justify-start mt-[27px]'
      "
    >
      <div class="flex items-center flex-row justify-between">
        <div class="flex flex-col justify-center">
          <img alt="iFS360 logo" height="60" [src]="projectImageUrl" />
        </div>
        <div class="logo text-end font-bold text-[black] w-[240px]">
          <h1 class="w-full text-2xl cw-4:text-lg">{{ text }}</h1>
          <h1 class="w-full text-base cw-4:text-sm" *ngIf="text_second">
            {{ text_second }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</ion-header>
