<ion-content [fullscreen]="true">
  <div class="ion-no-padding" class="flex flex-col p-[25px] h-screen font-poppins">
    <div class="flex flex-col justify-end items-center">
      <span class="text-[14px] sm:text-[36px] md:text-[48px] lg:text-[60px]"><b>FOCUS SECURITY</b></span>
      <span class="text-[14px] sm:text-[36px] md:text-[48px] lg:text-[60px]"><b>VISITOR MANAGEMENT SYSTEM</b></span>

      <div class="flex mt-[50px] self-start">
        <div class="flex flex-col items-center">
          <button class="bg-[red] p-[10px] rounded-lg">Test</button>
          <span class="text-[12px]"><b>Contractors</b></span>
        </div>
      </div>
      
      <div class="flex flex-col w-[100%] mt-[50px]">
        <div class="name mt-[5px]">
          <app-text-input [id]="'contractor_name'" [placeholder]="'Name'" [customClasses]="{'h-[53px]':true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>
        </div>
        <div class="contact flex mt-[5px]">
          <app-text-input [id]="'contractor_contact'" [placeholder]="'Contact No'" [customClasses]="{'h-[53px]':true,'mr-[5px]': true,'w-[100%]': true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>
          <button class="flex flex-col bg-[yellow] rounded-lg p-[10px] items-center w-[40%] text-[12px] items-center justify-center ml-[5px]">
            <span>Search</span>
          </button>
        </div>
        <div class="identification flex mt-[10px]">
          <input type="radio" name="SelectedIdentification" id="nric_identification" value="nric" class="mr-[5px]" />
          <label class="mr-[10px]" for="nric_identification">NRIC</label>
          <input type="radio" name="SelectedIdentification"  id="fin_identification" value="fin" class="mr-[5px]" />
          <label for="fin_identification">FIN</label>
          <!-- <app-text-input [id]="'nric_identification'" [customClasses]="{'mr-[5px]': true,'w-[100%]': true}" [type]="'radio'"></app-text-input>
          <label for="nric_identification">NRIC</label>
          <app-text-input [id]="'fin_identification'" [customClasses]="{'mr-[5px]': true,'w-[100%]': true}" [type]="'radio'"></app-text-input>
          <label for="fin_identification">FIN</label> -->
        </div>
        <div class="identification-input mt-[10px]">
          <app-text-input [id]="'contractor_identification_input'" [placeholder]="'NRIC / FIN'" [customClasses]="{'h-[53px]':true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>                  
        </div>
        <div class="vehicle-number mt-[10px]">
          <app-text-input [id]="'company_vehicle_number'" [placeholder]="'Vehicle Number'" [customClasses]="{'h-[53px]':true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>                  
        </div>
        <div class="company-name mt-[10px]">
          <app-text-input [id]="'contractor_company_name'" [placeholder]="'Company Name'" [customClasses]="{'h-[53px]':true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>                  
        </div>
        <div class="sub-contractor mt-[10px]">
          <select name="blok" id="blok" class="h-[53px] w-[100%] rounded-lg">
            <option>
              Block
            </option>   
          </select>
        </div>
        <div class="sub-contractor mt-[10px]">
          <select name="unit" id="unit" class="h-[53px] w-[100%] rounded-lg">
            <option>
              Unit
            </option>   
          </select>
        </div>
        <div class="remarks mt-[10px]">
          <app-text-input [id]="'remarks'" [placeholder]="'Remarks'" [customClasses]="{'h-[53px]':true}" [type]="'text'" [customInputClasses]="{'rounded-lg':true, 'w-full':true,'h-full':true, 'text-sm':true, 'sm:text-[14px]':true, 'md:text-[24px]':true,'lg:text-[36px]':true, 'pl-[20px]':true}"></app-text-input>                  
        </div>
        <div class="contac mt-[15px]">
          <button class="bg-[green] rounded-lg p-[10px] items-center w-[100%] text-[16px] items-center justify-center ml-[5px]">
            <span>Save Record & Open Barrier</span>
          </button>
        </div>
        <div class="contac mt-[5px]">
          <button class="bg-[green] rounded-lg p-[10px] items-center w-[100%] text-[16px] items-center justify-center ml-[5px]">
            <span>Save Record Only</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>