<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'"/>
    </div>
    <div class="flex flex-row mt-8">    
      <app-button-icon [isHomeButton]="true" [text]="'CONTRACTORS'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col w-full mt-8 space-y-5 items-center mb-4">
        <div class="w-full">
          <app-text-input #contractorNameInput [id]="'contractor_name'" [labelText]="'NAME'" [placeholder]="'EG. MIFTAH AKHBAR'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.contractor_name"></app-text-input>
        </div> 
        <div class="w-full">
          <app-vms-contact-input #contractorContactNumberInput [id]="'contractor_contact_number'" [(value)]="formData.contact_number" [valueExist]="formData.contact_number" (contactInfo)="getContactInfo($event)"></app-vms-contact-input>
        </div>
        <!-- <div class="flex flex-row justify-between w-full">
          <div class="w-4/6">
            <app-text-input #contractorContactNumberInput [id]="'contractor_contact_number'" [labelText]="'CONTACT NUMBER'" [placeholder]="'EG. +65 XXXX XXX'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
          <div class="h-25 flex flex-col justify-end w-1/4">
            <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-full text-2xl rounded font-bold h-20">SEARCH</button>
          </div>
          
        </div> -->
        <!-- <div class="flex flex-row gap-x-8 w-full">
          <div class="flex flex-row items-center my-2 ml-1">
            <input type="radio" name="SelectedIdentification" id="nric_identification" value="nric" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" (change)="onIdentificationTypeChange($event)" />
            <label for="contractor_nric_identification" class="text-2xl">NRIC</label>
          </div>
          <div class="flex flex-row items-center">
            <input type="radio" name="SelectedIdentification" id="fin_identification" value="fin" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" (change)="onIdentificationTypeChange($event)" />
            <label for="contractor_fin_identification" class="text-2xl">FIN</label>
          </div>
        </div> -->
        <div class="w-full">
          <app-nric-fin-selection (change)="onIdentificationTypeChange($event)" [(selectedIdentification)]="identificationType"/>
        </div>
        <div class="w-full flex flex-row justify-between items-end space-x-2">
          <div class="w-[90%]">
            <app-text-input #contractorIdentificationNumberInput [id]="'contractor_identification_number'" [labelText]="'NRIC / FIN'" [placeholder]="'SCAN NRIC / FIN'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" (keyup)="onNricInput($event)" [(ngModel)]="nric_value" [isReadonly]="true"></app-text-input>
          </div>
          <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="openNricScan(0, false)">
            <fa-icon [icon]="faBarcode" class="text-[40px] text-white"></fa-icon>
          </div>
        </div>
        <div class="w-full flex flex-row justify-between space-x-2">
          <div class="w-[90%]">
            <app-text-input #contractorVehicleNumberInput [id]="'contractor_vehicle_number'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'EG. SAA 8298 N'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.contractor_vehicle"></app-text-input>
          </div>
          <!-- <div class="w-1/4 h-20 bg-[var(--ion-color-primary)] rounded flex justify-center items-center"> -->
            <div class="h-25 flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()"/>
            </div>
          <!-- </div> -->
        </div> 
        <div class="w-full">
          <app-text-input #contractorCompanyNameInput [id]="'contractor_company_name'" [labelText]="'COMPANY NAME'" [placeholder]="'MOZAIC CONSTRUCTION PTE LTD'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.company_name"></app-text-input>
        </div> 
        <div class="w-full flex flex-col">
          <label class="text-2xl"><b><u>BLOCK</u></b></label>
          <select id="contractor_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)" [(ngModel)]="selectedBlock" name="contractor_block">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full">
          <label class="text-2xl"><b><u>UNIT</u></b></label>
          <select id="contractor_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onUnitChange($event)" [(ngModel)]="selectedUnit" name="contractor_unit">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
            <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'"></app-m2m-selection>
        </div>
        <div class="w-full">
          <app-text-input #remarksInput [id]="'remarks'" [labelText]="'REMARKS'" [placeholder]="'Remarks'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>NUMBER OF PAX</b></u></label>
          <select name="no-of-pax" [value]="paxCount" id="no-of-pax" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onPaxCountChange($event)">
            <option *ngFor="let count of [].constructor(maxPax); let i = index" [value]="i" [selected]="i === 0">
              NO OF PAX {{ i }}
            </option>  
          </select>
        </div>
        <div *ngFor="let count of [].constructor(paxCount); let i = index" class="w-full flex flex-row space-x-2 items-end justify-between">
          <div class="w-1/2">
              <app-text-input #textInput [id]="'contractor_name_pax_' + i" [labelText]="'NAME'" [placeholder]="'EG. ROBERT JONES'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="nameIdentity[i]"></app-text-input>
          </div>
          <div class="w-1/2">
              <app-text-input #textInput [id]="'contractor_nric_fin_pax_' + i" [labelText]="'NRIC / FIN'" [placeholder]="'EG. SCAN NRIC / FIN'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="paxIdentity[i]" (keyup)="nricPaxChange($event, i)" [isReadonly]="true"></app-text-input>
          </div>
          <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="openNricScan(i, true)">
            <fa-icon [icon]="faBarcode" class="text-[40px] text-white"></fa-icon>
          </div>
        </div>
        <div class="w-full flex flex-col">
          <div class="w-full">
            <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-6 w-full text-2xl h-20'" (click)="saveRecord(true)"></app-visitor-button>
          </div>
          <div class="w-full">
            <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full mt-5 text-2xl h-20'" (click)="saveRecord()"></app-visitor-button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</ion-content>