<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-wheel-clamped'" [homeRoute]="true" [params]="params" />
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <span class="text-3xl font-bold mt-2">{{ functionMain.returnNone(vehicle.vehicle_number) }}</span>
        <table class="text-2xl">
          <!-- <tr>
            <td class="font-bold w-2/5">VEHICLE NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.vehicle_number) }}</td>
          </tr> -->
          <tr *ngIf="pageType == 'wheel_clamp'">
            <td class="font-bold w-2/5">OFFENCE NO</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.offender_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">CONTACT NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.contact_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ISSUED DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ vehicle.issue_date ? (functionMain.convertNewDateTZ(vehicle.issue_date)).split(' ')[0] : '-' }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ISSUED TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ vehicle.issue_date ? (functionMain.convertNewDateTZ(vehicle.issue_date)).split(' ')[1] : '-' }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY DATE & TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ vehicle.entry_datetime ? functionMain.convertNewDateTZ(vehicle.entry_datetime) : '-' }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">TYPE OF ENTRY</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.type_of_entry) }}</td>
          </tr>
          <tr *ngIf="!project_config.is_industrial">
            <td class="font-bold w-2/5">BLOCK & UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.block_name) }} | {{ returnFalse(vehicle.unit_name) }}</td>
          </tr>
          <tr *ngIf="project_config.is_industrial">
            <td class="font-bold w-2/5">HOST</td>
            <td class="w-[5%]">:</td>
            <td>{{ vehicle.industrial_host_names ? vehicle.industrial_host_names : returnFalse(vehicle.industrial_host_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">REASON OF ISSUANCE</td>
            <td class="w-[5%]">:</td>
            <td>{{ returnFalse(vehicle.reason_for_issueance) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ISSUING OFFICER</td>
            <td class="w-[5%]">:</td>
            <td>{{ vehicle.issuing_officer ? vehicle.issuing_officer : '-' }}</td>
          </tr>
          <tr *ngIf="vehicle.is_pay">
            <td class="font-bold w-2/5">PAYMENT</td>
            <td class="w-[5%]">:</td>
            <td>PAID</td>
          </tr>

        </table>
        <div class="flex flex-col justify-between w-full">
          <div class="flex flex-row w-full justify-around space-x-2">
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded h-14" (click)="functionMain.callFromPhone(vehicle.contact_number)">CALL VISITOR</button>
            <!-- <button *ngIf="pageType == 'wheel_clamp'" class="w-2/5 bg-white text-black text-2xl font-bold rounded h-14">CHECK VISITOR</button> -->
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded h-14" (click)="callResident(vehicle)">CALL {{ project_config.is_industrial ? 'EMPLOYEE' : 'RESIDENT' }}</button>
          </div>
          <div class="flex flex-row w-full justify-around space-x-2">
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4"
              (click)="onHistoryClick()">CHECK HISTORY</button>
            <button *ngIf="pageType == 'wheel_clamp' && vehicle.is_pay && vehicle.states == 'issued'"
              class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4"
              (click)="showCheckoutAlert(vehicle.id, 'release')">RELEASE</button>
            <button *ngIf="pageType == 'wheel_clamp' && !vehicle.is_pay"
              class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4"
              (click)="onPaymentClick()">PAYMENT</button>
            <button *ngIf="pageType == 'first_warning'"
              class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4"
              (click)="presentModal('first_warning', vehicle)">ISSUE 2ND WARNING</button>
            <button *ngIf="pageType == 'second_warning'"
              class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4"
              (click)="presentModal('second_warning', vehicle)">WHEEL CLAMP</button>

          </div>
          <div class="flex flex-row w-full justify-around space-x-2"
            *ngIf="pageType != 'wheel_clamp' && vehicle.states == 'issued'">
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded h-14 mb-4"
              (click)="showCheckoutAlert(vehicle.id, 'checkout')">CHECKOUT</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>