<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-facility'" [homeRoute]="true"/>
    </div>
    <!-- <div class="flex flex-row mt-8">
      <app-button-icon 
        [isHomeButton]="true"
        [text]="'OVERNIGHT PARKING'" 
        [routerLink]="['/records-facility']" 
        [isActive]="true" 
        [disableClick]="true" 
      />    
    </div> -->
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <label class="text-2xl font-bold">{{record.facility ? record.facility : functionMain.returnNone(record.facility_name) }} {{returnStatus(record)}}</label>
        <table class="text-2xl">
          <tr>
            <td class="font-bold w-[45%]">BOOKING DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ getBookingTime(record) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">BOOKED BY</td>
            <td class="w-[5%]">:</td>
            <td>{{record.booked_by ? record.booked_by : '-'}}</td>
          </tr>
          <!-- <tr>
            <td class="font-bold w-[45%]">RESIDENT NAME</td>
            <td class="w-[5%]">:</td>
            <td>-</td>
          </tr> -->
          <!-- <tr>
            <td class="font-bold w-[45%]">RESIDENT CONTACT NO</td>
            <td class="w-[5%]">:</td>
            <td>-</td>
          </tr> -->
          <tr *ngIf="!project_config.is_industrial">
            <td class="font-bold w-[45%]">BLOCK & UNIT</td>
            <td class="w-[5%]">:</td> 
            <td>{{record.block_name ? record.block_name : '-' }} | {{ record.unit_name  ? record.unit_name : '-' }}</td>
          </tr>
          <tr *ngIf="project_config.is_industrial">
            <td class="font-bold w-[45%]">HOST</td>
            <td class="w-[5%]">:</td> 
            <td>{{record.host_name ? record.host_name : '-' }}</td>
          </tr>
          <!-- <tr *ngIf="record.resident_check_in && record.officer_check_in">
            <td class="font-bold w-[45%]">CHECKED IN</td>
            <td class="w-[5%]">:</td>
            <td>SIGNED</td>
          </tr>
          <tr *ngIf="record.resident_check_out && record.officer_check_out">
            <td class="font-bold w-[45%]">CHECKED OUT</td>
            <td class="w-[5%]">:</td>
            <td>SIGNED</td>
          </tr> -->
          <!-- <tr *ngIf="record.officer_check_in">
            <td class="font-bold w-[45%]">OFFICER CHECKED IN</td>
            <td class="w-[5%]">:</td>
            <td>SIGNED</td>
          </tr>
          <tr *ngIf="record.officer_check_out">
            <td class="font-bold w-[45%]">OFFICER CHECKED OUT</td>
            <td class="w-[5%]">:</td>
            <td>SIGNED</td>
          </tr> -->
        </table>
        <div class="flex flex-col justify-around w-full">
          <div class="flex flex-row w-full justify-around" *ngIf="!record.is_upcoming && record.is_need_check">
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14" (click)="onCheckOut(record, 'check_in')" *ngIf="record.is_history || (!record.resident_check_in || !record.officer_check_in)">CHECK IN</button>
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14" (click)="onCheckOut(record, 'check_out')" *ngIf="record.is_history || (record.is_form_check_in && (!record.resident_check_out || !record.officer_check_out))">CHECK OUT</button>
          </div>
          <div class="flex flex-row w-full justify-around mb-4" *ngIf="!record.is_history && (!record.resident_check_out || !record.officer_check_out)">
            <button class="w-2/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14" (click)="callResident(record)">CALL {{ project_config.is_industrial ? 'EMPLOYEE' : 'RESIDENT' }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>