<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Raise a Request'"
    [text_second]="'Request Renovation Permit'"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/raise-a-request-page']"
    ></ion-icon>
  </div>
  <div class="px-4 w-full">
    <div class="w-full">
      <app-input-component
        [id]="'name_resident'"
        [type]="'text'"
        [labelChild1]="'Name Resident'"
        [disabled]="true"
        [value]="fromDisplay.family_name"
      ></app-input-component>
    </div>
    <div class="w-full flex flex-row space-x-2 mt-1">
      <div class="w-1/2">
        <app-input-component
          [id]="'block_name'"
          [type]="'text'"
          [labelChild1]="'Block Name'"
          [disabled]="true"
          [value]="fromDisplay.block_name"
        ></app-input-component>
      </div>
      <div class="w-1/2">
        <app-input-component
          [id]="'unit_name'"
          [type]="'text'"
          [labelChild1]="'Unit Name'"
          [disabled]="true"
          [value]="fromDisplay.unit_name"
        ></app-input-component>
      </div>
    </div>
    <div class="w-full mt-1">
      <app-input-component
        [id]="'phone_number'"
        [type]="'text'"
        [labelChild1]="'Phone Number Resident'"
        [disabled]="true"
        [value]="fromDisplay.mobile_number"
      ></app-input-component>
    </div>

    <div class="w-full mb-1">
      <app-input-component
        [id]="'choose_start_date_move'"
        [type]="'date'"
        [labelChild1]="'Move Start Date'"
        (eventEmitter)="onDateChange($event, 'choose_start_date_move')"
        [value]="selectedStartDate"
        [minDate]="minDate"
      ></app-input-component>
    </div>

    <div class="w-full mb-1">
      <app-input-component
        [id]="'choose_end_date_move'"
        [type]="'date'"
        [labelChild1]="'Move End Date'"
        (eventEmitter)="onDateChange($event, 'choose_end_date_move')"
        [value]="selectedEndDate"
        [minDate]="endMoveMinDate"
      ></app-input-component>
    </div>

    <!-- <div class="w-full">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base cw-3:text-sm font-bold">Time</p>
        <a
          class="text-white text-xs rounded-full bg-[var(--ion-color-primary)] w-6 p-1 text-center ml-2"
          (click)="showTimeInfo()"
          >?</a
        >
      </div>
      <div class="w-full flex items-center justify-between">
        <div class="flex flex-row items w-full">
          <div class="w-full">
            <div class="w-full">
              <app-input-component
                [id]="'time_move'"
                [type]="'time'"
                [value]="formSent.timeMove"
                (eventEmitter)="onValueChange($event, 'time_move')"
              ></app-input-component>
            </div>
          </div>
        </div>
      </div>

      <ion-modal
        id="time-info"
        [isOpen]="isModalInfoTimeOpen"
        (didDismiss)="isModalInfoTimeOpen = false"
      >
        <ng-template>
          <div class="wrapper p-4">
            <h1 class="text-lg font-bold">Info</h1>
            <p class="mt-2 text-sm text-gray-600">
              Mon - Fri from 9.00 am to 5.00 pm; Sat from 9.00 am to 5:00 pm
              excluding Public Holidays and Sundays.
            </p>
            <button
              class="mt-4 bg-blue-500 text-white rounded px-4 py-2"
              (click)="isModalInfoTimeOpen = false"
            >
              Close
            </button>
          </div>
        </ng-template>
      </ion-modal>
    </div> -->

    <div class="w-full mt-1">
      <h2 class="font-bold mb-1 text-base cw-3:text-sm">Contact Person</h2>
      <div class="flex flex-row space-x-2 items-start w-full">
        <app-radio-check-input-case
          [type]="'radio'"
          [id]="'same_as_above'"
          [name]="'same_as_above'"
          [value]="'same_as_above'"
          [checkedText]="contactPerson.sameAsAbove"
          [text]="'Same As Above'"
          (valueEmit)="onChangeRadio($event, 'contact_person')"
        ></app-radio-check-input-case>
        <app-radio-check-input-case
          [type]="'radio'"
          [id]="'appoint_another_family'"
          [name]="'appoint_another_family'"
          [value]="'appoint_another_family'"
          [checkedText]="contactPerson.appointAnotherFamily"
          [text]="'Appoint Another Family'"
          (valueEmit)="onChangeRadio($event, 'contact_person')"
        ></app-radio-check-input-case>
      </div>
    </div>

    <div *ngIf="contactPerson.appointAnotherFamily" class="mt-1">
      <table
        class="table-auto border-collapse border border-gray-300 w-full text-sm text-left bg-white"
      >
        <thead>
          <tr class="bg-gray-200 text-gray-700">
            <th
              class="border border-gray-300 px-4 py-2 w-16 cw-3:text-[11px]"
            ></th>
            <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">
              Name
            </th>
            <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">
              Phone
            </th>
            <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">
              Edit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ef of expectedFamilyMember">
            <td class="border border-gray-300 px-4 py-2 text-center">
              <input
                id="ef_data_{{ef.id}}"
                (change)="onChangeRadio(ef, 'appoint_family')"
                name="ef"
                type="radio"
                class="w-4 h-4 cw-3:w-2 cw-3:h-2"
              />
            </td>
            <td
              class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]"
            >
              {{ ef.name }}
            </td>
            <td
              class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]"
            >
              {{ ef.mobile }}
            </td>
            <td
              class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]"
            >
              <u (click)="navigateToEditFamily(ef)" class="text-blue-400"
                >edit</u
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full mt-1">
      <app-input-component
        [id]="'contact_person_contractor'"
        [type]="'text'"
        [labelChild1]="'Contact Person (Contractor)'"
        [value]="formSent.contractorContactPerson"
        (eventEmitter)="onValueChange($event, 'contact_person_contractor')"
      ></app-input-component>
    </div>

    <!-- <div class="w-full mt-1">
      <app-input-component
        [id]="'contact_number_contractor'"
        [type]="'text'"
        [labelChild1]="'Contact Number (Contractor)'"
        [value]="formSent.contractorContactNumber"
        (eventEmitter)="onValueChange($event, 'contact_number_contractor')"
      ></app-input-component>
    </div> -->

    <div class="w-full mt-1">
      <app-vms-contact-input
        [(value)]="formSent.contractorContactNumber"
        [id]="'contact_number_contractor'"
        [vmsPage]="false"
        [contactLabel]="'Number (Contractor)'"
        [labelClass]="'text-base cw-3:text-sm'"
        [inputClass]="'border !border-black w-full rounded py-2 px-3 outline-black h-12 text-base'"
      ></app-vms-contact-input>
    </div>

    <div class="w-full mt-1">
      <app-input-component
        [id]="'company_name_contractor'"
        [type]="'text'"
        [labelChild1]="'Company Name (Contractor)'"
        [value]="formSent.contractorCompanyName"
        (eventEmitter)="onValueChange($event, 'company_name_contractor')"
      ></app-input-component>
    </div>

    <div class="w-full mt-1">
      <app-input-component
        [id]="'vehicle_number_contractor'"
        [type]="'text'"
        [labelChild1]="'Vehicle Number (Contractor)'"
        [value]="formSent.contractorVehicleNumber"
        (eventEmitter)="onValueChange($event, 'vehicle_number_contractor')"
      ></app-input-component>
    </div>

    <div class="w-full mt-1">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base cw-3:text-sm font-bold text-start">Sign here</p>
      </div>

      <div class="border-2 mb-[27px] border-black">
        <app-signature-pad
          #renovationSignContainer
          id="renovation_sign"
          (signatureOutput)="onRenovationSign($event)"
          [value]="renovationSigned"
          *ngIf="!isRenovationSigned"
          [penColor]="'black'"
        ></app-signature-pad>
        <!-- <img [src]="showImageResident"> -->
      </div>
      <div>
        <div class="flex flex-row justify-between relative mt-[-26px]">
          <div class="">
            <fa-icon [icon]="faPenFancy" class="w-full h-full"></fa-icon>
          </div>
          <div class="">
            <fa-icon
              [icon]="faEraser"
              class="w-full h-full"
              (click)="onClear()"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="amountType.amountTotal !== 0" class="w-full mt-1">
      <app-input-component
        [id]="'amount_total'"
        [type]="'text'"
        [labelChild1]="'Amount Total Require'"
        [disabled]="true"
        [value]="amountPayable"
      ></app-input-component>
    </div>

    <div class="flex flex-row mt-2 text-base cw-3:text-[13px]">
      <label class="mr-1 rounded font-bold flex items-center">
        <input
          type="checkbox"
          [checked]="agreementChecked"
          [(ngModel)]="agreementChecked"
          class="text-[var(--ion-color-primary)] rounded mr-1.5"
        />
        <p class="text-start">
          I agree to the&nbsp;<u
            class="text-blue-400"
            (click)="presentModalAgreement()"
            >terms and condition</u
          >&nbsp;above
        </p>
      </label>
    </div>

    <div class="flex flex-row mt-2 text-[13px] w-full">
      <div class="w-full">
        <app-submit-button
          [text]="'Submit Request'"
          [disabled]="!agreementChecked"
          [extraClass]="agreementChecked ? 'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base' : 'bg-gray-200 text-black mt-1 w-full text-base'"
          (click)="onClick('submit')"
        >
        </app-submit-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
