<div [class]="'flex flex-col ' + getFilteredClasses(customClasses)">
  <label class="text-2xl" *ngIf="labelText"><b><u>{{labelText}}</u></b></label>
  <label [class]="labelResidentClass" *ngIf="labelResidentText">{{labelResidentText}}</label>
  
  <!-- Displayed Input -->
  <div class="flex flex-row items-center">
    <input 
      *ngIf="type === 'month' && !isMonthPickerActive"
      [id]="id + '-display'" 
      [class]="getFilteredCustomClasses(customInputClasses)" 
      type="text" 
      [placeholder]="placeholder"
      [value]="_displayValue || placeholder"
      readonly
      (click)="showMonthPicker()"
      style="border: 1px solid #6B7280; cursor: pointer;"
    />
  
    <!-- Hidden month picker -->
    <input 
      *ngIf="type === 'month'"
      [id]="id" 
      [class]="getFilteredCustomClasses(customInputClasses)" 
      type="month" 
      [(ngModel)]="value"
      (change)="onMonthInputChange($event)"
      [name]="name"
      [readonly]="isReadonly"
      [style.position]="!isMonthPickerActive ? 'absolute' : 'static'"
      [style.opacity]="!isMonthPickerActive ? '0' : '1'"
      [style.pointerEvents]="!isMonthPickerActive ? 'none' : 'auto'"
      style="border: 1px solid #6B7280;"
    />
    <input 
      *ngIf="type === 'time'"
      [id]="id" 
      [class]="getFilteredCustomClasses(customInputClasses)" 
      type="time" 
      [placeholder]="placeholder" 
      [(ngModel)]="value"
      (keyup)="onKeyUp($event)"
      [name]="name"
      [readonly]="isReadonly" 
      [min]="minTime"
      [max]="maxTime"
      (click)="onDisplayInputClick()"
      style="border: 1px solid #6B7280;"
    />
    <input 
      *ngIf="type !== 'date' && type !== 'time' && type !== 'month'"
      [id]="id" 
      [class]="getFilteredCustomClasses(customInputClasses)" 
      [type]="type" 
      [placeholder]="placeholder" 
      [(ngModel)]="value"
      (keyup)="onKeyUp($event)"
      [name]="name"
      [readonly]="isReadonly" 
      [min]="type === 'date' ? min : null"
      style="border: 1px solid #6B7280;"
    />
    <input 
      *ngIf="type === 'date'"
      [id]="id"
      [class]="getFilteredCustomClasses(customInputClasses)"
      type="text"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (keyup)="onKeyUp($event)"
      [name]="name"
      (click)="onDisplayInputClick()"
      [min]="type === 'date' ? min : null"
      style="border: 1px solid #6B7280; cursor: pointer; background-color: white;"
      readonly
    />
    <ion-icon *ngIf="type === 'date'" name="calendar-clear-outline" class="positioning-calendar-icon"></ion-icon>
  </div>
  
  <!-- Hidden Date Picker -->
  <input 
    *ngIf="type === 'date'"
    [id]="id + '-date-picker'"
    type="date"
    [min]="min"
    [ngModel]="hiddenDateValue"
    (ngModelChange)="value = $event"
    (change)="onDateInputChange($event)"
    style="position: absolute; opacity: 0; pointer-events: none;"
  />
</div>