<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Report Issue Detail'"></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2">
    <div
      [ngClass]="{
      'bg-[var(--ion-color-tertiary)]': ticketDetail.ticket_status === 'Solved',
      'bg-[#F8F1BA]': ticketDetail.ticket_status === 'New',
      'bg-[#E3787E]': ticketDetail.ticket_status === 'Canceled',
      'bg-sky-200': ticketDetail.ticket_status === 'In Progress' || ticketDetail.ticket_status === 'On Hold'
      }"
      class="bg-[#F8F1BA] p-4 rounded shadow"
    >
      <h2 class="font-bold text-base text-left">
        {{ ticketDetail.ticket_name }}
      </h2>
      <span
        [innerHtml]="ticketDetail.summary"
        *ngIf="ticketDetail.summary"
      ></span>
      <table class="w-full text-left border-collapse mt-2">
        <tbody>
          <tr>
            <td class="font-bold text-sm">Reported On</td>
            <td class="text-sm">
              : {{ ticketDetail.issued_on ?
              functionMain.convertNewDateTZ(ticketDetail.issued_on) : 'N/A' }}
            </td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Resolved On</td>
            <td class="text-sm">
              : {{ ticketDetail.solved_on ?
              functionMain.convertNewDateTZ(ticketDetail.solved_on) : 'N/A' }}
            </td>
          </tr>
          <tr>
            <td class="font-bold text-sm">Ticket Status</td>
            <td class="text-sm">: {{ ticketDetail.ticket_status }}</td>
          </tr>
        </tbody>
      </table>
      <app-image-zoom
        [imageArray]="ticketDetail.attachment"
        *ngIf="ticketDetail.attachment"
        [imageClass]="'!h-20 object-contain'"
        [bgColor]="(ticketDetail.ticket_status == 'New' ? 'bg-[#F8F1BA]' : 'bg-green-100')"
      ></app-image-zoom>
    </div>
    <div
      class="flex flex-col mt-4 space-y-2"
      *ngIf="ticketDetail.ticket_status !== 'Solved'"
    >
      <div class="flex flex-col items-start">
        <p class="text-base cw-3:text-sm font-bold">Content</p>
        <textarea
          id="client_ticket_detail_summary"
          placeholder=""
          (focus)="testAddMb(true)"
          (blur)="testAddMb(false)"
          class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base"
          type="text"
          [(ngModel)]="replyForm.body"
          name="entryMessage"
        >
        </textarea>
      </div>

      <!-- <div class="w-full">
        <div class="flex flex-row justify-start">
          <p class="text-base cw-3:text-sm font-bold">Attachment</p>
        </div>
        <div
          (click)="chooseWhereToChoose()"
          class="bg-white p-3 h-12 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-start"
        >
          <label
            class="w-full text-start"
            [ngClass]="( fileName ) ? 'text-black' : 'text-white'"
          >
            {{ fileName ? fileName : 'Upload Helper Work Permit' }}
          </label>
        </div>
      </div> -->

      <div class="w-full flex flex-col items-start">
        <app-file-input
          class="w-full h-25"
          [labelNonUnderline]="'Attachment'"
          [buttonText]="'Upload'"
          [outClass]="'min-h-14'"
          [isMany]="true"
          [isCustomName]="true"
          [extraButtonClass]="'bg-[var(--ion-color-primary)] text-white rounded h-14 text-base font-bold '"
          [isCamera]="true"
          [customPlaceholder]="'Click upload to choose a file.'"
          [labelClass]="'text-black text-base font-bold'"
          [isNotVMS]="true"
          [divOuterClass]="'!border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] text-base min-h-14 text-[#6B7280] text-left pl-[0.75rem]'"
          [showPlaceholder]="true"
          [fileAccept]="'application/pdf, image/*'"
          (cameraSelected)="onUploadImage($event)"
          [isFileAndCamera]="true"
          [Selected]="fileResetValue"
        ></app-file-input>
      </div>

      <!-- <ion-modal
        id="is-modal-choose-upload"
        [isOpen]="isModalChooseUpload"
        (didDismiss)="isModalChooseUpload = false"
        [initialBreakpoint]="1"
        [breakpoints]="[0, 1]"
      >
        <ng-template>
          <div class="block">
            <div class="w-full flex flex-row justify-between space-x-2 p-3">
              <div class="w-1/2">
                <div class="w-full flex flex-col items-center">
                  <input
                    accept="image/*"
                    class="w-full rounded text-base hidden"
                    type="file"
                    name="vehicle_log"
                    (change)="onFileSelected($event)"
                    id="vehicle_log"
                  />
                  <label class="flex flex-col items-center" for="vehicle_log">
                    <img
                      class="w-10 h-10 my-2"
                      src="assets/icon/other-file-icon.png"
                    />
                    <span
                      class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                      >From File</span
                    >
                  </label>
                </div>
              </div>
              <div class="w-1/2">
                <div
                  class="w-full flex flex-col items-center"
                  (click)="openCamera()"
                >
                  <img
                    class="w-10 h-10 my-2"
                    src="assets/icon/image-icon.png"
                  />
                  <span
                    class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                    >From Camera</span
                  >
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ion-modal> -->

      <button
        (click)="submitReply(false)"
        class="cw-2:text-[13px] bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold h-12 mt-2"
      >
        Reply
      </button>
    </div>
    <div class="mt-4">
      <div
        class="flex flex-col w-full space-y-3 mt-4"
        *ngIf="messageDetail.length > 0; else noDetail"
      >
        <div
          *ngFor="let message of messageDetail"
          class="flex flex-row text-[#6B7280] text-base items-start justify-between"
        >
          <div class="w-1/5 flex flex-row justify-start" *ngIf="message.is_vms">
            <div class="rounded-full overflow-hidden w-12 h-12">
              <img
                class="w-12 h-12"
                [src]="'assets/icon/exc-client/admin.png'"
                alt="Admin"
              />
            </div>
          </div>
          <div
            class="w-1/5 flex flex-row justify-start"
            *ngIf="message.is_client"
          >
            <div class="rounded-full overflow-hidden w-12 h-12">
              <img
                class="w-12 h-12"
                [src]="message.sender_profile ? functionMain.getImage(message.sender_profile) : 'assets/icon/exc-client/user.png'"
                alt="User"
              />
            </div>
          </div>
          <div class="flex flex-col justify-start w-4/5">
            <div
              class="flex justify-between w-full"
              [ngClass]="message.is_vms ? 'flex-row' : message.is_client ? 'flex-row' : 'flex-row-reverse'"
            >
              <div>
                # {{ message.sender_name ? message.sender_name : (message.is_vms
                ? 'VMS Admin' : ( message.is_client ? 'Client User' : 'Resident
                User')) }}
              </div>
            </div>
            <div
              class="w-full p-3 rounded"
              [ngClass]="message.is_vms ? 'bg-[#D7F2FB]' : 'bg-white border border-[#BDBDBD]'"
            >
              <span [innerHtml]="message.body"></span>
              <div
                class="flex flex-row w-full space-x-2"
                *ngIf="message.attachment_datas && message.attachment_datas.length > 0"
              >
                <!-- <div
                  class="flex flex-col mt-2 items-center"
                  *ngFor="let attachment of message.attachment_datas"
                >
                  <app-image-zoom
                    [imageZoom]="functionMain.getImage(attachment.datas)"
                    *ngIf="attachment.datas"
                    [imageClass]="'!h-20 object-contain'"
                    [bgColor]="(message.is_vms ? 'bg-[#D7F2FB]' : 'bg-white border border-[#BDBDBD]')"
                  ></app-image-zoom>
                </div> -->
                <app-image-zoom
                  [imageArray]="message.attachment_datas"
                  [bgColor]="'bg-white'"
                  [imageClass]="'h-20 object-contain'"
                ></app-image-zoom>
              </div>
            </div>
            <div
              class="text-sm w-full flex justify-end"
              [ngClass]="message.is_vms ? 'flex-row' : message.is_client ? 'flex-row' : 'flex-row-reverse'"
            >
              {{ functionMain.convertNewDateTZ(message.message_datetime) }}
            </div>
          </div>

          <div
            class="w-1/5 flex flex-row justify-end"
            *ngIf="message.is_resident"
          >
            <div class="rounded-full overflow-hidden w-12 h-12">
              <img
                class="w-12 h-12"
                [src]="message.sender_profile ? functionMain.getImage(message.sender_profile) : 'assets/icon/exc-client/user.png'"
                alt="User"
              />
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading">
        <app-loading-animation></app-loading-animation>
      </div>
      <ng-template #noDetail>
        <div
          *ngIf="!isLoading"
          class="w-full bg-transparent text-center rounded-lg mt-4"
        >
          <p class="text-gray-600">There is no reply yet.....</p>
        </div>
      </ng-template>
    </div>
    <div class="h-96" *ngIf="extend_mb"></div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
