<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img
      alt="IFS360"
      src="assets/img/focus_logo-removebg.png"
      class="object-contain w-full h-full"
    />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-warning-history'" [homeRoute]="true" [params]="params"/>
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <div class="flex flex-col">
          <label class="text-2xl font-bold">TOTAL NUMBER OF 1ST WARNING ISSUED: {{ first_issued }}</label>
          <div class="border-2 p-1 w-full">
            <table class="text-xl w-full">
              <tr class="font-bold">
                <td class="">SERIAL NUMBER</td>
                <td class="">DATE</td>
                <td>TIME</td>
                <td>ISSUED BY</td>
              </tr>
              <tr *ngFor="let item of first_issued_array">
                <td>{{ item.serial_number }}</td>
                <td>{{ item.issued_date }}</td>
                <td>{{ item.issued_time }}</td>
                <td>{{ item.issued_by }}</td>
              </tr>
            </table>
          </div>
         
        </div>
        <div class="flex flex-col">
          <label class="text-2xl font-bold">TOTAL NUMBER OF 2ND WARNING ISSUED: {{ second_issued }}</label>
          <div class="border-2 p-1 w-full">
            <table class="text-xl w-full">
              <tr class="font-bold">
                <td class="">SERIAL NUMBER</td>
                <td class="">DATE</td>
                <td>TIME</td>
                <td>ISSUED BY</td>
              </tr>
              <tr *ngFor="let item of second_issued_array">
                <td>{{ item.serial_number }}</td>
                <td>{{ item.issued_date }}</td>
                <td>{{ item.issued_time }}</td>
                <td>{{ item.issued_by }}</td>
              </tr>
            </table>
          </div>
         
        </div>
        <div class="flex flex-col">
          <label class="text-2xl font-bold">TOTAL NUMBER OF WHEEL CLAMPS: {{ wheel_clamp }}</label>
          <div class="border-2 p-1 w-full mb-4">
            <table class="text-xl w-full">
              <tr class="font-bold">
                <td class="">SERIAL NUMBER</td>
                <td class="">DATE</td>
                <td>TIME</td>
                <td>ISSUED BY</td>
              </tr>
              <tr *ngFor="let item of wheel_clamp_array">
                <td>{{ item.serial_number }}</td>
                <td>{{ item.clamp_date }}</td>
                <td>{{ item.clamp_time }}</td>
                <td>{{ item.clamped_by }}</td>
              </tr>
            </table>
          </div>
         
        </div>
      
      </div>
    </div>
  </div>
  
</ion-content>