<ion-footer>
  <div [ngClass]="navigationMode === 'gesture' ? '' : '!pb-[25px]'" class="border back-aww flex justify-between bg-[#D8ECCF] fixed bottom-0 w-full z-50 rounded-t-[25px]">
    <ion-button fill="clear" class="fsc-icon-button fsc-icon-button-right w-[33%]" (click)="routeTo()">
      <div class="flex flex-col items-center text-black">
        <ion-icon [name]="activeButton === 'home' ? 'home' : 'home-outline'" class="text-2xl mb-2"></ion-icon>
        <span class="text-[13px] font-bold">Home</span>
      </div>
    </ion-button>
    <ion-button fill="clear" class="fsc-icon-button w-[33%]" (click)="reportIssue()">
      <div class="flex flex-col items-center text-black">
        <ion-icon [name]="activeButton === 'report' ? 'alert-circle' : 'alert-circle-outline'" class="text-2xl mb-2"></ion-icon>
        <span class="text-[13px] font-bold">App Issues</span>
      </div>
    </ion-button>
    <ion-button fill="clear" class="fsc-icon-button fsc-icon-button-right w-[33%]" (click)="openModal = true" *ngIf="is_client">
      <div class="flex flex-col items-center text-black">
        <ion-icon name="call-outline" class="text-2xl mb-2"></ion-icon>
        <span class="text-[13px] font-bold">Call VMS</span>
      </div>
    </ion-button>
    <ion-button fill="clear" class="fsc-icon-button fsc-icon-button-left w-[33%]" (click)="settings()">
      <div class="flex flex-col items-center text-black">
        <ion-icon [name]="activeButton === 'settings' ? 'settings' : 'settings-outline'" class="text-2xl mb-2"></ion-icon>
        <span class="text-[13px] font-bold">Settings</span>
      </div>
    </ion-button>
  </div>
  <ion-modal id="text-modal" [isOpen]="openModal" (didDismiss)="openModal = false">
    <ng-template>
      <div class="wrapper mt-2">
        <div class="w-full flex flex-col justify-center items-center">
          <div class="w-full flex flex-row justify-center mb-4">
            <p class="text-base font-bold">Call VMS?</p>
          </div>
          <div class="flex flex-row justify-around items-center w-full">
            <button class="bg-gray-300 text-gray-800 p-2 w-[40%] rounded border border-black font-bold" (click)="callVms()">Call</button>
            <button class="bg-gray-300 text-gray-800 p-2 w-[40%] rounded border border-black font-bold" (click)="openModal = false">Cancel</button>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-footer>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="report">
      <ion-icon name="alert-circle"></ion-icon>
      Report Issue
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->