<div class="flex justify-evenly bg-[#D8ECCF] fixed bottom-0 w-full">
  <ion-button fill="clear" (click)="routeTo()">
    <div class="flex flex-col items-center text-black">
      <ion-icon [name]="activeButton === 'home' ? 'home' : 'home-outline'" class="text-3xl mb-2"></ion-icon>
      <span class="text-[11px] font-bold">Home</span>
    </div>
  </ion-button>
  <ion-button fill="clear" (click)="reportIssue()">
    <div class="flex flex-col items-center text-black">
      <ion-icon [name]="activeButton === 'report' ? 'alert-circle' : 'alert-circle-outline'" class="text-3xl mb-2"></ion-icon>
      <span class="text-[11px] font-bold">Report Issue</span>
    </div>
  </ion-button>
  <ion-button fill="clear" (click)="settings()">
    <div class="flex flex-col items-center text-black">
      <ion-icon [name]="activeButton === 'settings' ? 'settings' : 'settings-outline'" class="text-3xl mb-2"></ion-icon>
      <span class="text-[11px] font-bold">Settings</span>
    </div>
  </ion-button>
</div>