.fsc-icon-button {
  display: flex;
  align-items: center;
    &::part(native) {
      padding-left: 0;
      padding-right: 0;
    }
}
.fsc-icon-button-right {
  &::part(native) {
    border-radius: 25px 0 0 0 !important;
  }
}
.fsc-icon-button-left {
  &::part(native) {
    border-radius: 0 25px 0 0 !important;
  }
}
.back-aww {
box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2), 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12);
}

ion-modal#text-modal {
  --width: 90%;
  --height: 105px;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}