<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" [text_second]="'Pets'"/>

  <div class="p-5 text-center mb-20">
    <div class="w-full flex items-start mb-3">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-my-profile']"></ion-icon>
    </div>
    <div class="space-y-4">
      <div class="flex bg-[#D8ECCF] items-center p-4 border rounded-lg">
       <img alt="Profile picture of Maria" class="h-16 w-16 rounded-full" height="50" src="https://storage.googleapis.com/a1aa/image/9JdnqAwDMOK3EVlZu6gxlisUaMDIL5Ze63RDaROdwJN4sefnA.jpg" width="50"/>
       <div class="ml-4 text-start">
        <h2 class="text-lg font-bold">
         Maria
        </h2>
        <p class="text-sm text-gray-600">
          Chihuahua
         </p>
       </div>
      </div>
     </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>