<ion-header [translucent]="true">
  <app-header-inner-page [text]="'My Profile'" [text_second]="'Pets'"></app-header-inner-page>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="p-5 text-center mb-20">
    <div class="w-full flex items-start mb-3">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-my-profile']"></ion-icon>
    </div>
    <div class="space-y-4">
      <div class="flex flex-col justify-between mt-1">
        <button class="bg-[var(--ion-color-primary)] text-white mt-1 w-full rounded-full h-12 font-bold text-base" (click)="toWhere()">Add New Pet</button>
        <!-- <button class="bg-[#D0D0D0] text-[#757575] mt-1 w-full text-base rounded-full h-10 font-bold" >Add New Card</button> -->
      </div>
      <div *ngFor="let pet of petList">
        <div class="flex bg-[#D8ECCF] items-start p-4 border rounded-lg flex-col">
          <div class="flex flex-row">
            <img alt="Profile picture of Maria" class="h-16 w-16 rounded-full" height="50" src="data:image/png;base64,{{pet.pet_image}}" width="50"/>
            <div class="ml-4 text-start">
             <h2 class="text-lg font-bold">
              {{ pet.type_of_pet }}
             </h2>
             <p class="text-sm text-gray-600">
               {{ pet.pet_breed }}
              </p>
            </div>
          </div>
          <div class="flex flex-row space-x-1">
            <button class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-3" (click)="navigateToDetailpets(pet)">
              View Details
            </button>
            <button class="bg-[var(--ion-color-primary)] text-white px-8 py-2 text-base rounded-md font-bold mt-3" (click)="deletePets(pet.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
     </div>
  </div>

</ion-content>
<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>