<ion-header>
  <app-resident-header [is_client]="true"  [text]="'Upcoming Events'" [text_second]="secondText" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full mt-2 flex items-start ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>

  <div class="text-center mb-32 mx-4">
    <div class="flex flex-row justify-start items-center w-full space-x-3 mt-2">
      <div class="w-full">
        <app-visitor-button [text]="'Calendar View'"
          [extraClass]="'w-full ' + (isMain ? 'bg-[var(--ion-color-primary)] text-white' : 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleDirecttoHis()"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'Active Event'"
          [extraClass]="'w-full '  + (isActive ? 'bg-[var(--ion-color-primary)] text-white' : 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleDirecttoActiveEvent()"></app-visitor-button>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="h-full w-full mt-2" *ngIf="isMain">
        <div class="w-full mt-4" *ngIf="isLoading">
            <app-modal-loading />
        </div>
        <div class="w-full h-full" *ngIf="!isLoading">
          <div class="flex flex-row justify-between items-center w-full">
            <div class="w-full flex items-start mb-2 mt-2">
              <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
                (click)="prev()"></ion-icon>
            </div>
            <div class="w-[550px] flex items-center justify-center mb-2 mt-2 font-bold text-lg"
              (click)="openDatePicker()">
              {{ viewDate | date:'MMMM y' }} <!-- Menampilkan bulan dan tahun -->
            </div>
            <div class="w-full flex items-end mb-2 mt-2 justify-end">
              <ion-icon name="arrow-forward-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
                (click)="next()"></ion-icon>
            </div>
          </div>
          <div class="cal-month-view" *ngIf="view === CalendarView.Month">
            <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [cellTemplate]="customCellTemplate"
              [locale]="'en-US'" (dayClicked)="handleClickDay($event.day)" (eventClicked)="handleEvent($event.event)">
            </mwl-calendar-month-view>
          </div>
        </div>
      </div>
      <div class="w-full" *ngIf="isActive">
        <div class="flex flex-col justify-between mt-4">
          <div class="text-base font-bold flex flex-row justify-between">
            <u class="text-base font-bold">Date Filter</u>
            <u class="text-base font-bold" (click)="resetFilter()">Clear Filter</u>
          </div>
          <div class="w-full flex flex-row space-x-3">
            <div class="w-1/2">
              <app-text-input #clientApprovalFilterStartDateInput [id]="'client_approval_filter_start_date_input'"
                [placeholder]="'Start Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'" [showPlaceholder]="true"
                [(ngModel)]="startDateFilter"
                [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
                (change)="onStartDateChange($event)"></app-text-input>
            </div>
            <div class="w-1/2">
              <app-text-input #clientApprovalFilterEndDateInput [id]="'client_approval_filter_end_date_input'"
                [placeholder]="'End Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'" [showPlaceholder]="true"
                [(ngModel)]="endDateFilter"
                [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
                (change)="onEndDateChange($event)" [min]="startDateFilter"></app-text-input>
            </div>
          </div>       
        </div>
        <div class="flex justify-end items-end mt-2">
          <app-client-pagination [currentPage]="currentPage" [inputPage]="inputPage" [pagination]="pagination" (pageForward)="pageForward($event)" />
        </div>
        <div class="w-full mt-4" *ngIf="isLoading">
          <app-modal-loading />
        </div>
        <div *ngIf="!isLoading" >
          <div *ngIf="activeEvents.length > 0; else noupcomingEvents">
            <div *ngFor="let upcomingEvent of activeEvents; let i = index"
              class="rounded-2xl px-4 py-2 mt-4 w-full bg-green-100">
              <p class="font-bold text-xl text-black text-left mt-2">{{ upcomingEvent.title }}</p>
              <div class="table text-left">
                <div class="table-row">
                  <p class="font-bold table-cell text-base text-black">Event Date</p>
                  <p class="ml-2 table-cell text-base text-black">: {{ returnDate(upcomingEvent.start) }}</p>
                </div>
                <div class="table-row" *ngIf="upcomingEvent.registered_coach_name">
                  <p class="font-bold table-cell text-base text-black">Coach Name</p>
                  <p class="ml-2 table-cell text-base text-black">: {{ upcomingEvent.registered_coach_name ?
                    upcomingEvent.registered_coach_name : '-' }}</p>
                </div>
                <div class="table-row">
                  <p class="font-bold table-cell text-base text-black">Event Start</p>
                  <p class="ml-2 table-cell text-base text-black">: {{ returnReadDate(upcomingEvent.start) }}</p>
                </div>
                <div class="table-row">
                  <p class="font-bold table-cell text-base text-black">Event End</p>
                  <p class="ml-2 table-cell text-base text-black">: {{ returnReadDate(upcomingEvent.end) }}</p>
                </div>
              </div>
              <div class="flex mt-2 space-x-2 mb-2">
                <button
                  class="bg-[var(--ion-color-primary)] w-48 text-white px-3 py-2 text-base cw-1:text-[13px] rounded-md font-bold"
                  (click)="viewDetail(upcomingEvent)">
                  View Detail
                </button>
                <button class="bg-[#E3787E] w-48 text-black px-3 py-2 text-base cw-1:text-[13px] rounded-md font-bold"
                  (click)="onLiftBan(upcomingEvent)">
                  Cancel Events
                </button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noupcomingEvents>
          <div class="w-full bg-transparent mt-8 text-center rounded-lg mt">
            <p class="text-gray-600">There are no active upcoming events.....</p>
            <!-- <p class="text-gray-600">Go to <strong><a href="/resident-home-page">Home Page</a></strong> or</p>
            <p class="text-gray-600"><strong><a routerLink="/facility-new-upcomingEvent">Click Here</a></strong> to make
              a new upcoming event now.</p> -->
          </div>
        </ng-template>
      </div>

    </div>

  </div>

  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    </div>
  </ng-template>

  <!-- Modal untuk pemilih tanggal -->
  <ion-modal id="choose-date-modal" keep-contents-mounted="true" [isOpen]="isDatePickerOpen"
    (didDismiss)="isDatePickerOpen = false">
    <ng-template>
      <ion-datetime presentation="month-year" [(ngModel)]="viewDateForDatet" (ionChange)="onDateChange($event)"
        [formatOptions]="{
          date: {
            day: '2-digit',
            weekday: 'short',
            month: 'long',
          },
        }"></ion-datetime>
    </ng-template>
  </ion-modal>

  <!-- Modal Untuk Click day -->
  <ion-modal id="click-date-modal" keep-contents-mounted="true" [isOpen]="isDayClick" (didDismiss)="isDayClick = false">
    <ng-template>
      <div class="flex flex-col items-center w-full">
        <ion-title class="bg-[var(--ion-color-tertiary)] text-start text-xl font-bold w-full py-3">{{ showDate
          }}</ion-title>
        <!-- <div class="bg-[var(--ion-color-tertiary)] text-xl text-start mb-4 font-bold w-full">
          <p class="mt-2 ml-1 mb-1">{{ showDate }}</p>
        </div> -->
        <div class="cal-day-view-modal-di-calendar">
          <!-- Events -->
          <div
            class="bg-[var(--ion-color-tertiary)] rounded-lg shadow p-4 mt-4 w-full max-w-[90%] h-full max-h-[340px] overflow-y-auto">
            <div class="flex justify-between items-center mb-2">
              <h2 class="text-black font-bold text-xl">Event</h2>
              <app-visitor-button [text]="'Add Event'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-32'"
                (click)="isAddEventClick = true"></app-visitor-button>
            </div>
            <div *ngFor="let event of eventDayClick" class="space-y-2">
              <div>
                <div class="text-base font-semibold">{{ event.title }}</div>
                <div class="text-sm text-gray-500">{{ calculateEventDuration(event) }}</div>
              </div>
            </div>
          </div>

          <!-- Notes Section -->
          
        </div>
        <ion-footer class="fixed bottom-0 py-3 px-5 w-full bg-[var(--ion-color-tertiary)]">
          <div class="flex w-full justify-end">
            <app-visitor-button [text]="'Close'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-32'"
              (click)="isDayClick = false"></app-visitor-button>
          </div>
        </ion-footer>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Modal untuk nambah event -->
  <div class="h-[4.5rem]"></div>
</ion-content>
<ion-footer>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>