<div [class]="warning ? 'bg-red-400 p-4 rounded-lg w-full mb-2 relative' : 'bg-green-100 p-4 rounded-lg w-full mb-2 relative'">
  <div class="absolute w-full flex flex-col items-center ml-0">
    <img
    alt="Focus Security"
    class="w-20 h-20 mr-[-25px]"
    src="assets/icon/resident-icon/payment-paid.png"
  />
  </div>
  <div class="flex flex-row justify-between font-bold items-center">
    <div class="flex flex-col w-4/6">
      <div class="text-base font-extrabold">
        {{title}}
      </div>
      <div *ngIf="desc_title" class="text-[10px] flex flex-col">
        <div>
          {{desc_title}}
        </div>
        <div *ngIf="vehicle_no">
          Vehicle No: {{vehicle_no}}
        </div>
        <div>
          Date of Violation: {{violation_date}}
        </div>
        <div *ngIf="paid_on">
          Paid On: {{paid_on}}
        </div>
      </div>
      
    </div>
    <div class="flex flex-col w-1/4 items-center">
      <div>
        {{total}}
      </div>
      <button class="bg-[var(--ion-color-primary)] text-white py-2 text-sm rounded-md font-bold w-full">
        Pay Now
      </button>
      
    </div>
  </div>
  
</div>