<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Available</ion-title>
    <ion-buttons slot="end" *ngIf="isVms">
      <ion-button (click)="closeModal()" class="text-white">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="update-content">
    <ion-icon name="cloud-download-outline" class="update-icon"></ion-icon>

    <h2>New Version Available!</h2>

    <p>
      The latest version <strong>{{ newVersion }}</strong> is now available.
    </p>
    <p class="date">Released: {{ updateDate | date : "dd MMM yyyy, HH:mm" }}</p>

    <p class="description">
      Update the app to get the latest features and bug fixes.
    </p>

    <!-- Tombol Update di Content (Primary Action) -->
    <ion-button
      expand="block"
      color="primary"
      size="large"
      class="update-button !mt-[21px] !text-base !capitalize"
      (click)="updateNow()"
    >
      <ion-icon name="download-outline" slot="start"></ion-icon>
      Update
    </ion-button>

    <!-- Tombol Close untuk VMS -->
    <ion-button
      *ngIf="isVms"
      expand="block"
      fill="outline"
      color="medium"
      size="default"
      class="!mt-3 !text-base !capitalize"
      (click)="closeModal()"
    >
      <ion-icon name="close-circle-outline" slot="start"></ion-icon>
      Close
    </ion-button>
  </div>
</ion-content>
