<div [ngClass]="{
  'bg-[var(--ion-color-tertiary)]': status === 'approved' || status === 'Approved',
  'bg-[#F8F1BA]': status === 'pending_approval' || status === 'Pending Approval',
  'bg-[#E3787E]': status === 'Rejected' || status === 'rejected',
  'bg-sky-100': status === 'pending_payment' || status === 'Pending Payment'
  }" [class]="'bg-[var(--ion-color-tertiary)] p-2 rounded-xl w-full mb-3 relative'">
  <div class="flex flex-row justify-between font-bold items-center">
    <div class="flex flex-col w-3/5">
      <div class="text-base font-extrabold ml-2">
        {{type}}
      </div>
      <div class="text-base flex flex-col">
        <table>
          <tr class="">
            <td class="w-2/5">Name</td>
            <td>:</td>
            <td class="w-4/5 font-thin">{{name}}</td>
          </tr>
          <tr class="">
            <td>Mobile</td>
            <td>:</td>
            <td class="w-4/5 font-thin">{{mobile}}</td>
          </tr>
          <tr class="">
            <td>Type</td>
            <td>:</td>
            <td class="w-4/5 font-thin">{{head_type}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="flex flex-col justify-end items-end">
      <ion-icon size="large" class="text-[var(--ion-color-primary)] size-10" name="arrow-forward-circle" (click)="openDetails()"></ion-icon>
      <div class="flex flex-row items-center justify-end mt-2">
        <ng-container *ngIf="status === 'approved' || status === 'Approved'">
          <ion-icon name="checkmark" class="bg-[var(--ion-color-primary)] mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
          <p class="text-[var(--ion-color-primary)] font-bold text-[13px]">Approved</p>
        </ng-container>
        <ng-container *ngIf="status === 'pending_approval' || status === 'Pending Approval'">
          <ion-icon name="alert-circle-outline" class=" bg-yellow-500 mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
          <p class="text-yellow-500 font-bold text-[13px]">Pending Approval</p>
        </ng-container>
        <ng-container *ngIf="status === 'pending_payment' || status === 'Pending Payment'">
          <ion-icon name="alert-circle-outline" class="bg-blue-500 mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
          <p class="text-blue-500 font-bold text-[13px]">Pending Payment</p>
        </ng-container>
        <ng-container *ngIf="status === 'rejected' || status === 'Rejected'">
          <ion-icon name="close" class="bg-red-700 mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
          <p class="text-red-700 font-bold text-[13px]">Rejected</p>
        </ng-container>
      </div>
    </div>
  </div>
  
</div>