<ion-content [fullscreen]="true">
  <app-resident-header [is_client]="true"  [text]="topTitle" [text_second]="secondTitle" />
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>
  <div class="flex flex-col mx-4 mb-24">
    <div class="flex flex-col w-full">
      <div [ngClass]="'rounded p-5 my-4 mt-4 w-full ' + ( ticket.ticket_status == 'New' ? 'bg-[#F8F1BA]' : 'bg-green-100')">
        <div class="flex flex-row justify-center" *ngIf="isLoading">
          <div class="flex justify-center items-center h-32 w-32">
            <ion-spinner name="circular"></ion-spinner>
          </div>
        </div>
        <div class="w-full flex flex-col" *ngIf="!isLoading">
          <p class="font-bold text-base text-black ">{{ ticketDetail.ticket_name }}</p>
          <span [innerHtml]="ticketDetail.summary" *ngIf="ticketDetail.summary"></span>
          <table class="w-full mt-2 mb-2">
            <tr>
              <td class="font-bold table-cell text-base text-black">Reported Issue On</td>
              <td class="ml-2 table-cell text-base text-black">: {{ ticketDetail.issued_on ?
                functionMain.convertNewDateTZ(ticketDetail.issued_on) : '-' }}</td>
            </tr>
            <tr>
              <td class="font-bold table-cell text-base text-black">Ticket Status</td>
              <td class="ml-2 table-cell text-base text-black">: {{ ticket.ticket_status == 'New' ? 'Open' : 'Closed' }}</td>
            </tr>
            <tr *ngIf="ticketDetail.solved_on">
              <td class="font-bold table-cell text-base text-black">Solved On</td>
              <td class="ml-2 table-cell text-base text-black">: {{ functionMain.convertNewDateTZ(ticketDetail.solved_on)
                }}</td>
            </tr>
          </table>
          <app-image-zoom [imageArray]="ticketDetail.attachment" *ngIf="ticketDetail.attachment" [bgColor]="(ticket.ticket_status == 'New' ? 'bg-[#F8F1BA]' : 'bg-green-100')"></app-image-zoom>
        </div>
      </div>
      <div class="flex flex-col mb-4 space-y-2" *ngIf="ticketDetail.ticket_status != 'Solved'">
        <div class="flex flex-row justify-start">
          <p class="text-base font-bold">Reply Message</p>
        </div>
        <textarea id="client_ticket_detail_summary" placeholder=""
          class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base" type="text"
          [(ngModel)]="replyForm.body" name="entryMessage">
          </textarea>
        <div class="w-full flex flex-row justify-between items-end">
          <input placeholder="Choose a file" type="file" (change)="onFileSelected($event)" #clientTicketDetailAttachment
            class="hidden" accept="image/png, image/jpg, image/jpeg"/>
          <div class="w-4/6 mb-2">
            <label class="text-base"><b>Attachment</b></label>
            <input placeholder="Choose a file" type="input" (click)="openFileInput()" [(ngModel)]="fileName"
              class="!border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280] text-left pl-[0.75rem] file:bg-transparent file:border-none file:text-transparent file:mr-4 file:cursor-pointer"
              readonly />
          </div>
          <button id="client_ticket_detail_upload_attachment" (click)="uploadFile()"
            class="bg-[var(--ion-color-primary)] text-white w-[30%] h-14 text-base rounded font-bold mb-2">
            Upload
          </button>
        </div>
        <!-- <div class="flex flex-row justify-start">
          <p class="text-base font-bold">Attachment</p>
        </div>
        <div class="w-full flex flex-row justify-between ">
          <div class="w-4/6">
            <input #clientTicketDetailAttachment placeholder="Choose a file" type="file"
              (change)="onFileSelected($event)"
              class="mb-4 !border border-black w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280] text-left pl-[0.75rem] file:bg-transparent file:border-none file:text-transparent file:mr-4 file:cursor-pointer" />
          </div>
          <button id="client_ticket_detail_upload_attachment" (click)="uploadFile()"
            class="bg-[var(--ion-color-primary)] text-white w-[30%] h-[inherit] text-base rounded font-bold mb-4">
            Upload
          </button>
        </div> -->
        <button (click)="submitReply(false)"
          class="cw-2:text-[13px] bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold h-14">
          Reply
        </button>
        <button (click)="submitReply(true)"
          class="cw-2:text-[13px] bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold h-14">
          Reply & Close Ticket
        </button>
      </div>
      <div *ngIf="isLoading" class="flex justify-center items-center h-20">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div *ngIf="!isLoading">
        <div class="flex flex-col w-full space-y-3" *ngIf="messageDetail.length > 0; else noDetail">
          <div *ngFor="let message of messageDetail"
            class="flex flex-row text-[#6B7280] text-base items-start justify-between">
            <div class="w-1/5 flex flex-row justify-start" *ngIf="message.is_vms || message.is_resident ">
              <div class="rounded-full overflow-hidden w-12 h-12">
                <img class="w-12 h-12" [src]="message.sender_profile ? functionMain.getImage(message.sender_profile) : 'assets/icon/exc-client/admin.png'" alt="Admin" />
              </div>
            </div>
            <div class="flex flex-col justify-start w-4/5">
              <div class="flex justify-between w-full" [ngClass]="message.is_vms ? 'flex-row' : 'flex-row-reverse'">
                <div>
                  # {{ message.sender_name ? message.sender_name : (message.is_vms ? 'VMS Admin' : ( message.is_client ? 'Client User' : 'Resident User')) }}
                </div>
              </div>
              <div class="w-full p-3 rounded"
                [ngClass]="message.is_vms ? 'bg-[#D7F2FB]' : 'bg-white border border-[#BDBDBD]'">
                <span [innerHtml]="message.body"></span>
                <div class="flex flex-row w-full space-x-2" *ngIf="message.attachment_datas.length > 0">
                  <div class="flex flex-col mt-2 items-center" *ngFor="let attachment of message.attachment_datas">
                    <app-image-zoom [imageZoom]="functionMain.getImage(attachment.datas)" *ngIf="attachment.datas" [bgColor]="(message.is_vms ? 'bg-[#D7F2FB]' : 'bg-white border border-[#BDBDBD]')"></app-image-zoom>
                    <!-- <img [src]="functionMain.getImage(attachment.datas)" (click)="clickImage(functionMain.getImage(attachment.datas))" class="h-32 object-contain"  *ngIf="attachment.mimetype.startsWith('image/')"> -->
                    <!-- <span>{{ attachment.name}}</span> -->
                  </div>
                </div>
              </div>
              
              <div class="text-sm w-full flex justify-end" [ngClass]="message.is_vms || message.is_resident ? 'flex-row' : 'flex-row-reverse'">
                {{ functionMain.convertNewDateTZ(message.message_datetime) }}
              </div>
            </div>
  
            <div class="w-1/5 flex flex-row justify-end" *ngIf="message.is_client">
              <div class="rounded-full overflow-hidden w-12 h-12">
                <img class="w-12 h-12" [src]="message.sender_profile ? functionMain.getImage(message.sender_profile) : 'assets/icon/exc-client/user.png'" alt="User" />
              </div>
            </div>
          </div>
        </div>
        <ng-template #noDetail>
          <div class="w-full bg-transparent text-center rounded-lg mt-4">
            <p class="text-gray-600">There is no reply yet.....</p>
          </div>
        </ng-template>
      </div>
    </div>


  </div>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-content>