<ion-content class="ion-padding h-full flex flex-col">
  <!-- Video Background -->
  <div class="absolute inset-0 overflow-hidden -z-50">
    <video 
      autoplay 
      loop 
      muted 
      playsinline 
      class="absolute top-0 right-0 w-full h-full object-cover opacity-20"
    >
      <source src="assets/tes_back.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="w-1/6 flex items-start">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['']"></ion-icon>
  </div>
  <div class="fslp-container">
    <img alt="iFS360 logo" class="fslp-logo" src="assets/logoIFS.png"/>
    <h2 class="fslp-title font-bold text-[var(--ion-color-primary)] text-center text-2xl">
      Welcome To <br /> <p class="text-3xl">IFS360 APP</p>
    </h2>
    <div class="w-full">
      <input id="email" type="text" placeholder="Sample@example.com" 
      class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-sm focus:outline-[var(--ion-color-primary)]" 
      [(ngModel)]="existUser.params.login">
    </div> 
    <div class="w-full mt-2">
      <app-input-password (password)="onPasswordChange($event)"></app-input-password>
      <!-- <app-text-input [id]="'password'" [placeholder]="'Password'" [customClasses]="{'w-full':true}" [type]="'password'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}" [value]="existUser.params.password" (valueChange)="onPasswordChange($event)"></app-text-input> -->
    </div> 
    <div class="fsles-button-container mt-5">
      <ion-button fill="clear" [ngClass]="(existUser.params.login && existUser.params.password) ? 'fslp-button w-full bg-[var(--ion-color-primary)] h-12' : 'bg-gray-300 fslp-button-disabled w-full h-12'" (click)="login()">
      Log In
      </ion-button>
      <br/>
      <!-- <ion-button fill="clear" [ngClass]="(existUser.params.login && existUser.params.password) ? 'fslp-button w-full bg-[var(--ion-color-primary)]' : 'bg-gray-300 fslp-button-disabled w-full'" (click)="loginCommercial()">
      Log In (Commersial)
      </ion-button> -->
    </div>
    <div class="flex items-center mt-5">
      <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checked-checkbox" class="ms-2 fsles-bottom text-xs font-medium text-gray-900 dark:text-gray-300">Stay Logged In</label>
    </div>
  <!-- <p class="mt-6 text-xs text-center text-gray-300 fsles-bottom">New User? <a href="/register" class="text-xs text-blue-500 fsles-bottom hover:underline">Register Now</a></p> -->
 </div>
</ion-content>
