<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Facility Booking'" [text_second]="'Booking Detail'" />
  <div class="w-full mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="backToHistoryList()"></ion-icon>
  </div>
  <div class="flex flex-col relative mb-24" *ngIf="bookingData">
    <div class="w-full bg-[#D8ECCF] text-center mb-2 m-0 p-2">
      <h2 class="text-base font-bold text-black">
        {{ bookingData.facilityName }} {{ bookingData.from ? bookingData.from : '' }} Booking details {{ bookingData.status }}
      </h2>
    </div>

    <div class="flex flex-col relative mx-4">

      <table class="w-full" style="border-collapse: collapse;">
        <tr>
          <td><strong>Facility</strong></td>
          <td>: {{ bookingData.facilityName }}</td>
        </tr>
        <tr>
          <td><strong>Event Date</strong></td>
          <td>: {{ bookingData.eventDate }}, {{ bookingData.eventDay }}</td>
        </tr>
        <tr>
          <td><strong>Booking Time</strong></td>
          <td>: {{ bookingData.bookingTime }}</td>
        </tr>
      </table>

      <div class="mt-4">
        <p class="underline underline-offset-1 font-bold">Payment Breakdown</p>
        <div class="flex justify-between">
          <p>Booking Fee</p>
          <p>S${{ bookingData.bookingFee.toFixed(2) }}</p>
        </div>
        <div class="flex justify-between">
          <p>Deposit</p>
          <p>S${{ bookingData.amountDeposit.toFixed(2) }}</p>
        </div>
        <hr class="my-2">
        <div class="flex justify-between font-bold">
          <p>Grand Total</p>
          <p>S${{ calculateTotal().toFixed(2) }}</p>
        </div>
      </div>

      <!-- Tombol Proceed to Payment -->
      <div class="text-center">
        <app-visitor-button
          [text]="'Email Receipt'" 
          [extraClass]="'bg-[#10421d] text-[white] w-full mt-4'"
          (click)="proceedToEmail()">
        </app-visitor-button>
      </div>
      <div class="text-center mb-4" *ngIf="bookingData.status === 'Pending Payment'">
        <app-visitor-button
          [text]="'Process Payment'" 
          [extraClass]="'bg-[#10421d] text-[white] w-full mt-4 mb-2'"
          (click)="navigateToProcessPayment(bookingData)">
        </app-visitor-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-footer>
