<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Visitors'"
    [text_second]="'History Invite'"
  ></app-header-inner-page>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="directTo()"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2 mb-16">
    <div id="nav_tabs_main">
      <app-nav-tabs [buttons]="navButtonsMain"></app-nav-tabs>
    </div>
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div *ngIf="hideFilter !== 'ban'">
          <div class="flex flex-row justify-start mt-2">
            <p class="text-base font-bold">Group By</p>
          </div>
          <div class="w-full mt-1">
            <select
              id="walk_in_unit"
              [(ngModel)]="typeFilter"
              class="bg-white border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base text-[#6B7280] accent-[var(--ion-color-primary)] focus:ring-[var(--ion-color-primary)] focus:border-[var(--ion-color-primary)]"
              (change)="onChangeVisitorType($event)"
            >
              <option value="All" selected>All</option>
              <option
                class="accent-[var(--ion-color-primary)] focus:bg-[var(--ion-color-primary)]"
                value="Visiting"
              >
                Visiting
              </option>
              <option value="Delivery">Delivery</option>
              <option value="Pick Off">Pick Off</option>
              <option value="Drop Off">Drop Off</option>
            </select>
          </div>
          <div class="flex flex-row w-full mt-2 items-center">
            <div class="w-full flex flex-col items-center">
              <div
                class="flex flex-row justify-between items-center w-full mb-1"
              >
                <p class="text-base font-bold">Filter Date</p>
              </div>
              <div class="flex flex-row space-x-2 w-full">
                <div class="w-1/2">
                  <app-input-component
                    [id]="'start_visitor_history_date'"
                    [type]="'date'"
                    [labelChild2]="'Start date'"
                    [value]="showStartDate"
                    (eventEmitter)="onChangeStartDate($event)"
                    [fontInBoxClass]="'text-[11px]'"
                  ></app-input-component>
                </div>
                <div class="w-1/2">
                  <app-input-component
                    [id]="'end_visitor_history_date'"
                    [type]="'date'"
                    [labelChild2]="'End date'"
                    [value]="showEndDate"
                    (eventEmitter)="onChangeEndDate($event)"
                    [fontInBoxClass]="'text-[11px]'"
                    [minDate]="startDateFilter"
                  ></app-input-component>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-row-reverse w-full mt-4">
            <u class="text-base font-bold" (click)="clearDateFilter()"
              >Clear Filter</u
            >
          </div>
        </div>
        <div class="w-full mt-4">
          <div clas="flex flex-col w-full justify-start">
            <div
              *ngIf="isLoading"
              class="flex justify-center items-center h-full mt-[50px]"
            >
              <ion-spinner name="circular"></ion-spinner>
            </div>
            <div *ngFor="let data of filteredData">
              <div
                [class]="
                  data.banned
                    ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1'
                    : 'bg-[#D8ECCF] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1'
                "
              >
                <div class="text-base font-bold w-[100%]">
                  <table class="w-full table-fixed">
                    <tr class="h-6">
                      <td class="w-[30%]">Purpose</td>
                      <td class="w-[5%]">:</td>
                      <td class="truncate font-light">{{ data.purpose }}</td>
                    </tr>
                    <tr class="h-6" *ngIf="data.purpose === 'Visiting'">
                      <td>Name</td>
                      <td class="w-[5%]">:</td>
                      <td class="truncate font-light">
                        {{ data.visitor_name }}
                      </td>
                    </tr>
                    <tr class="h-6" *ngIf="data.purpose !== 'Visiting'">
                      <td>Vehicle No</td>
                      <td class="w-[5%]">:</td>
                      <td class="truncate font-light">
                        {{ data.vehicle_number }}
                      </td>
                    </tr>
                    <tr class="h-6">
                      <td>Date</td>
                      <td class="w-[5%]">:</td>
                      <td class="font-light">
                        {{ formatDate(data.visitor_date) }}
                      </td>
                      <!-- Menggunakan metode formatDate -->
                    </tr>
                  </table>
                </div>
                <div class="flex flex-row space-x-1 w-full">
                  <button
                    class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                    (click)="openDetails(data)"
                  >
                    View Details
                  </button>
                  <button
                    [disabled]="data.banned && hideFilter === 'ban' ? false : true"
                    [ngClass]="
                      data.banned && hideFilter === 'ban'
                        ? ''
                        : 'bg-transparent !text-transparent'
                    "
                    class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                    (click)="showAlertButtons('Reinstate', 'history-alert', data)"
                  >
                    Reinstate
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
