<ion-content [fullscreen]="true">
  <app-resident-header [text]="'My Vehicle'" [text_second]="'Vehicle Detail'" />
  <div class="w-full mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="backToVehicle()"></ion-icon>
  </div>

  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4 mb-24" *ngIf="vehicle">
    <div [ngClass]="{
      'bg-[var(--ion-color-tertiary)]': vehicle.status === 'approved' || vehicle.status === 'Approved',
      'bg-[#F8F1BA]': vehicle.status === 'pending_approval' || vehicle.status === 'Pending Approval',
      'bg-[#E3787E]': vehicle.status === 'Rejected' || vehicle.status === 'rejected',
      'bg-sky-100': vehicle.status === 'pending_payment' || vehicle.status === 'Pending Payment'
      }" class="bg-[var(--ion-color-tertiary)] p-3 rounded-2xl w-full ">
      <div class="flex justify-between items-center mb-4">
        <p class="font-bold text-base text-black">{{ vehicle.type_application }}</p>
        <div class="flex items-center">
          <ng-container *ngIf="vehicle.status === 'approved' || vehicle.status === 'Approved'">
            <ion-icon name="checkmark" class="bg-[var(--ion-color-primary)] mr-1 p-1 rounded-full text-white text-[18px]"></ion-icon>
            <p class="text-[var(--ion-color-primary)] font-bold text-base">Approved</p>
          </ng-container>
          <ng-container *ngIf="vehicle.status === 'pending_approval' || vehicle.status === 'Pending Approval'">
            <ion-icon name="alert-circle-outline" class=" bg-yellow-500 mr-1 p-1 rounded-full text-white text-[18px]"></ion-icon>
            <p class="text-yellow-500 font-bold text-base">Pending Approval</p>
          </ng-container>
          <ng-container *ngIf="vehicle.status === 'pending_payment' || vehicle.status === 'Pending Payment'">
            <ion-icon name="alert-circle-outline" class="bg-blue-500 mr-1 p-1 rounded-full text-white text-[18px]"></ion-icon>
            <p class="text-blue-500 font-bold text-base">Pending Payment</p>
          </ng-container>
          <ng-container *ngIf="vehicle.status === 'rejected' || vehicle.status === 'Rejected'">
            <ion-icon name="close" class="bg-red-700 mr-1 p-1 rounded-full text-white text-[18px]"></ion-icon>
            <p class="text-red-700 font-bold text-base">Rejected</p>
          </ng-container>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Vehicle No</p>
          <p class="text-base font-bold">{{ vehicle.vehicleNo }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Make</p>
          <p class="text-base font-bold">{{ vehicle.make }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Colour</p>
          <p class="text-base font-bold">{{ vehicle.colour }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Vehicle Type</p>
          <p class="text-base font-bold">{{ vehicle.type }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Fees</p>
          <p class="text-base font-bold">{{ vehicle.fees }}</p>
        </div>
      </div>

    </div>
    <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-10 font-bold" (click)="deleteVehicle('Delete This Vehicle?', 'Confirm', 'Cancel', vehicle.id)">Delete this Vehicle</button>
    <!-- Tombol Aksi Kondisional -->
    <div class="mt-2 space-y-2" *ngIf="vehicle.status === 'Pending Payment'">
      <button class="bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold" (click)="navigateToVehiclePayment(vehicle.id)">Pay now</button>
    </div>
    <button class="mt-2 bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold" (click)="requestForExtension(vehicle.id)">Request For Extension</button>
  </div>

  <ion-modal #extensionRequestModal [isOpen]="isExtensionRequestModal" (didDismiss)="isExtensionRequestModal = false">
    <ng-template>
      <div class="wrapper">
        <h1>Extension Request Modal</h1>

        <ion-list lines="none">
          <ion-item button="true" detail="false">
            <div class="w-full mt-1">
              <div class="flex flex-row justify-start mb-1">
                <p class="text-base font-bold">Till then you want to extend?</p>
              </div>
              <div class="w-full">
                <app-text-input #extensionRequestDate [id]="'extension_request_date'" [placeholder]="'Extension Request Date'" [min]="dateNow"
                [customClasses]="{'w-full':true}" [type]="'date'" (change)="isExtensionRequestDateChange($event)"
                [customInputClasses]="{'border':true, '!border-[#BDBDBD]':true , 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true}" (value)="formData.dateForExtensionRequest"
                ></app-text-input>
              </div>
            </div>
          </ion-item>
          <ion-item button="true" detail="false">
            <button class="bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold" (click)="submitRequest()">Submit Request</button>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>