<ion-content [fullscreen]="true">
  <app-resident-header [text]="'My Vehicle'" [text_second]="'Vehicle Detail'" />

  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24" *ngIf="vehicle">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10" [routerLink]="['/resident-my-vehicle']"></ion-icon>
    </div>
    <div [ngClass]="{
      'bg-[var(--ion-color-tertiary)]': vehicle.status === 'approved' || vehicle.status === 'Approved',
      'bg-[#E3787E]': vehicle.status === 'pending_approval' || vehicle.status === 'Pending Approval',
      'bg-[#F8F1BA]': vehicle.status === 'pending_payment' || vehicle.status === 'Pending Payment'
    }" class="p-3 mb-5 rounded-2xl w-full">
      <div class="flex justify-between items-center mb-4">
        <p class="font-bold text-base text-black">{{ vehicle.type_application }}</p>
        <div class="flex items-center">
          <ion-icon 
            [ngClass]="getStatusLabel().color"
            name="{{ vehicle.status === 'approved' ? 'checkmark-circle' : 'alert-circle' }}"
            class="mr-2"
          ></ion-icon>
          <p [ngClass]="getStatusLabel().color" class="font-semibold">
            {{ getStatusLabel().text }}
          </p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Vehicle No</p>
          <p class="text-base font-bold">{{ vehicle.vehicleNo }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Make</p>
          <p class="text-base font-bold">{{ vehicle.make }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Colour</p>
          <p class="text-base font-bold">{{ vehicle.colour }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Vehicle Type</p>
          <p class="text-base font-bold">{{ vehicle.type }}</p>
        </div>
        <div class="flex flex-col">
          <p class="text-base font-semibold text-gray-600">Fees</p>
          <p class="text-base font-bold">{{ vehicle.fees }}</p>
        </div>
      </div>

      <!-- Tombol Aksi Kondisional -->
      <div class="mt-4" *ngIf="vehicle.status === 'pending_payment'">
        <ion-button expand="block" color="primary">
          Pay Now
        </ion-button>
      </div>
    </div>
  </div>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>