<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Contractors'"
    [text_second]="'Inviting form'"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="backWithState()"
    ></ion-icon>
  </div>
  <div class="flex flex-col relative mx-4 mb-20">
    <div class="flex flex-col mt-2">
      <u class="text-lg font-bold">Invitation List</u>
      <div
        *ngIf="!isFormVisible"
        class="text-center text-gray-500 mt-4 dark:text-[white]"
      >
        Push "Add Invitee" to add a form or choose to add from history
      </div>
      <div id="form" class="!text-sm" *ngIf="shouldShowForm()">
        <div
          *ngFor="let invitee of inviteeFormList; let i = index"
          class="mb-4"
        >
          <div class="w-full flex justify-between flex-row mt-2">
            <div class="w-full">
              <div class="flex flex-row justify-start items-center">
                <p class="text-base cw-3:text-sm font-bold">
                  Name of Contractor
                </p>
                <a
                  class="text-white text-xs rounded-full bg-[#E3787E] w-7 p-1 text-center ml-2"
                  (click)="presentCustomAlert(i)"
                  ><ion-icon
                    class="text-base cw-3:text-sm mt-[2px]"
                    name="trash"
                  ></ion-icon
                ></a>
              </div>
              <input
                [id]="'invf_name_' + i"
                name="name_{{i}}"
                placeholder=""
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                [(ngModel)]="inviteeFormList[i].contractor_name"
                required
              />
            </div>
            <div class="flex flex-col justify-end items-end ml-2">
              <div
                class="h-12 w-12 flex flex-row justify-center items-center bg-[var(--ion-color-primary)] rounded"
              >
                <fa-icon
                  class="text-[24px] mt-1 text-white"
                  [icon]="faAddressBook"
                  (click)="currentInviteeIndex = i; fetchContacts()"
                ></fa-icon>
              </div>
            </div>
          </div>
          <div class="w-full flex flex-col justify-between">
            <div class="w-full">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base font-bold cw-3:text-sm">
                  Entry Mobile Number
                </p>
              </div>
              <div class="flex flex-row w-full space-x-2">
                <select
                  id="contry_code"
                  class="border w-[55%] rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base mt-1"
                  name="contry_code"
                  style="border: 1px solid #6b7280"
                  (change)="onChangeCountryCode($event, i)"
                  [(ngModel)]="selectedCountry[i].selected_code"
                >
                  <option hidden selected disabled value="+65">SG +65</option>
                  <option *ngFor="let code of countryCodes" [value]="code.code">
                    {{ code.country }} +{{ code.code }}
                  </option>
                </select>
                <input
                  [id]="'invf_phone_' + i"
                  name="phone_{{i}}"
                  placeholder=""
                  class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                  (change)="onChangePhoneNumber($event, i)"
                  [(ngModel)]="inviteeFormList[i].phone_display"
                  required
                />
              </div>
            </div>
            <div class="w-full">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base cw-3:text-sm font-bold">Vehicle Number</p>
              </div>
              <input
                [id]="'invf_plate_' + i"
                name="plate_{{i}}"
                placeholder=""
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                [(ngModel)]="inviteeFormList[i].vehicle_number"
                required
              />
            </div>
            <div class="w-full">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base cw-3:text-sm font-bold">Company Name</p>
              </div>
              <input
                [id]="'invf_company_name_' + i"
                name="company_name_{{i}}"
                placeholder=""
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                [(ngModel)]="inviteeFormList[i].company_name"
                required
              />
            </div>
            <div class="w-full">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base cw-3:text-sm font-bold">Type Of Work</p>
              </div>
              <select
                [id]="'invf_type_of_work_' + i"
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280] mt-1"
                (change)="onchangeTypeOfWork($event, 'select')"
                [(ngModel)]="inviteeFormList[i].type_of_work"
                required
              >
                <option selected disabled hidden>Type of Work</option>
                <option value="Delivery">Delivery</option>
                <option value="Collection">Collection</option>
                <option value="Meeting">Meeting</option>
                <option value="Others">Others</option>
              </select>
              <input
                *ngIf="showOther"
                [id]="'invf_type_of_work_' + i"
                name="type_of_work_{{i}}"
                placeholder=""
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                (change)="onchangeTypeOfWork($event, 'input', i)"
                required
              />
            </div>
            <div class="w-full flex flex-col">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base cw-3:text-sm font-bold">Host</p>
              </div>
              <div
                class="flex flex-row space-x-2 items-start my-2 w-full !text-base !cw-3:text-sm"
              >
                <app-radio-check-input-case
                  [type]="'radio'"
                  [id]="'myself' + i"
                  [name]="'entry' + i"
                  [value]="'myself'"
                  [checkedText]="entryCheck === 'myself'"
                  [text]="'Myself'"
                  (valueEmit)="changeHost($event, i)"
                ></app-radio-check-input-case>
                <app-radio-check-input-case
                  [type]="'radio'"
                  [id]="'multiple_host' + i"
                  [name]="'entry' + i"
                  [value]="'other_host'"
                  [checkedText]="entryCheck === 'other_host'"
                  [text]="'Other Host'"
                  (valueEmit)="changeHost($event, i)"
                ></app-radio-check-input-case>
              </div>
              <div
                *ngIf="entryCheck === 'other_host'"
                class="w-full mb-2 text-base cw-3:text-sm"
              >
                <app-m2m-selection
                  [Arrays]="Host"
                  (outputValue)="hostChange($event, i)"
                  [divOuterClass]="'min-h-12 text-sm rounded border-black'"
                  [customTextClass]="'p-0 text-sm'"
                  [Selected]="selectedHost"
                  [labelText]="'Host'"
                >
                </app-m2m-selection>
              </div>
            </div>
            <div class="w-full">
              <div class="flex flex-row justify-start mt-2">
                <p class="text-base cw-3:text-sm font-bold">
                  Expected Number of continuous days of visit
                </p>
              </div>
              <input
                [id]="'invf_expected_number_of_visit_' + i"
                type="number"
                name="expected_number_of_visit_{{i}}"
                placeholder=""
                class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-base"
                [(ngModel)]="inviteeFormList[i].expected_number_of_visit"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-end">
        <u class="text-[14px] font-bold cursor-pointer" (click)="addInvitee()"
          >{{ addInviteeText }}</u
        >
      </div>
      <div class="flex flex-row justify-end mt-1">
        <u
          class="text-[14px] font-bold cursor-pointer"
          (click)="navigateToInviteFormHistory()"
        >
          Add From History List
        </u>
      </div>
      <div class="flex flex-row mt-4 text-[12px] w-full">
        <div class="w-full">
          <app-submit-button
            [text]="'Send Invitation'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
            (click)="onSubmit()"
            (disabled)="!isFormVisible"
          >
          </app-submit-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
