.fsvb-container {
    text-align: center;
}
.fsvb-logo {
    width: 200px;
    margin: 50px auto 20px;
}
.fsvb-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.fsvb-barcode {
    width: 200px;
    margin: 50px auto 20px;
}