@keyframes popup {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-popup {
    animation: popup 0.3s ease-in-out forwards;
  }

  @keyframes popdown {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .animate-popdown {
    animation: popdown 0.3s ease-in-out forwards;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang dengan transparansi */
    z-index: 1000; /* Pastikan overlay berada di atas elemen lainnya */
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Pusatkan modal */
    z-index: 1001; /* Pastikan modal berada di atas overlay */
    width: 100%; /* Lebar modal */
    max-width: 100%; /* Lebar maksimum modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan untuk modal */
  } 