<ion-content [fullscreen]="true" class="vms-body">
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [isHomeButton]="true" [text]="'COLLECTION'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex mt-8 flex-row space-x-1">
      <app-button-icon [customNameIcon]="'faPersonWalking'" [text]="'WALK IN'"
        (click)="toggleShowWalk()" [isActive]="showWalkTrans || showWalk" [disableClick]="true" />
        <app-button-icon [customNameIcon]="'faCarSide'" [text]="'DRIVE IN'"
        (click)="toggleShowDrive()" [isActive]="showDriveTrans || showDrive" [disableClick]="true" />
    </div>

    <div class="flex flex-row">

      <div class="mt-8 flex flex-col items-center w-full mx-4 space-y-5 mb-4" *ngIf="showWalk" @fadeInOut>
        <div class="w-full">
          <app-text-input [id]="'walk_in_name'" [(ngModel)]="walkInFormData.visitor_name" [labelText]="'NAME'" [placeholder]="'EG. KANAN ATHARV'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div> 
        <div class="w-full">
          <app-vms-contact-input [(value)]="walkInFormData.visitor_contact_no" [id]="'walk_in_contact_collection'" (contactInfo)="getWalkInContactInfo($event)"></app-vms-contact-input>
        </div>
        <div class="w-full flex flex-col" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select id="walk_in_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)" [(ngModel)]="walkInFormData.block" name="collection_walk_in_unit">
            <!-- <option value="" selected disabled hidden>{{ isLoadingBlock ? 'STILL LOADING BLOCK' : 'CHOOSE BLOCK'}}</option> -->
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <!-- <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>UNIT</b></u></label>
          <select id="walk_in_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onUnitChange($event)" [(ngModel)]="walkInFormData.unit" name="collection_walk_in_unit">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
            <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div> -->
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full">
          <app-visitor-button [text]="'SAVE RECORD'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-6 w-full text-2xl h-20'" (click)="onSubmitWalkIn()"></app-visitor-button>
        </div>
      </div>
  
      <div class="mt-8 flex flex-col items-center w-full space-y-5 mx-4 mb-4" *ngIf="showDrive" @fadeInOut>
        <div class="w-full">
          <app-text-input [id]="'drive_in_name'" [(ngModel)]="driveInFormData.visitor_name" [labelText]="'NAME'" [placeholder]="'EG. ARTHUR VOYAGE'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div> 
        <div class="w-full">
          <app-vms-contact-input [(value)]="driveInFormData.visitor_contact_no" [id]="'drive_in_contact_collection'" (contactInfo)="getDriveInContactInfo($event)"></app-vms-contact-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input [id]="'drive_in_vehicle'" [labelText]="'VEHICLE NUMBER'"  [(ngModel)]="driveInFormData.visitor_vehicle" [placeholder]="'EG. SBS 2282 S'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()"/>
            </div>
        </div>
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><u><b>BLOCK</b></u></label>
          <select *ngIf="!isLoadingBlock" id="collection_drive_in_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)"  [(ngModel)]="driveInFormData.block"  name="collection_drive_in_block">
           <!-- <option value="" selected disabled hidden>{{ isLoadingBlock ? 'STILL LOADING BLOCK' : 'CHOOSE BLOCK'}}</option> -->
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <div class="w-full" *ngIf="!project_config.is_industrial">
          <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit"></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full" *ngFor="let camera of Camera; let i = index">
          <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER ' + camera.CamID" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 ' + (i == 0 ? 'mt-6' : 'mt-1' )" (click)="onSubmitDriveIn(true, camera.CamSentId)"></app-visitor-button>
        </div>
        <div class="w-full">
          <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-2xl h-20'" (click)="onSubmitDriveIn(false)"></app-visitor-button>
        </div>
      </div>
    </div>
    
  </div>
  
</ion-content>