<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/move-home'" [params]="{type: 'ma_visitor'}"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [isHomeButton]="true" (click)="onBackMove()"
        [text]="'MA VISITOR'" [isActive]="true" [disableClick]="true" />
    </div>

    <div *ngIf="!showForm">

    </div>

    <div class="flex flex-row mx-4" *ngIf="showForm && !project_config.is_guarded">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <!-- <label class="text-2xl font-bold mb-5">NUMBER OF PAX ENTERED: {{ number_of_pax }}</label> -->
          <table class="text-2xl">
            <tr class="font-bold">
              <td class="font-bold w-2/5">NAME</td>
              <td class="w-[5%]">:</td>
              <td>{{ functionMain.returnNone(record.name) }}</td>
            </tr>
            <tr class="font-bold">
              <td class="font-bold w-2/5">COMPANY NAME</td>
              <td class="w-[5%]">:</td>
              <td>{{ functionMain.returnNone(record.company_name) }}</td>
            </tr>
            <tr class="font-bold">
              <td class="font-bold w-2/5">CONTACT NUMBER</td>
              <td class="w-[5%]">:</td>
              <td>{{ functionMain.returnNone(record.contact_no) }}</td>
            </tr>
            <tr class="font-bold">
              <td class="font-bold w-2/5">VISITOR TYPE</td>
              <td class="w-[5%]">:</td>
              <td>{{ record.selection_type == 'walk_in' ? 'Walk In' : 'Drive In' }}</td>
            </tr>
            <tr class="font-bold" *ngIf="showForm && record.selection_type == 'drive_in'">
              <td class="font-bold w-2/5">VEHICLE NUMBER</td>
              <td class="w-[5%]">:</td>
              <td>{{ functionMain.returnNone(record.vehicle_number) }}</td>
            </tr>
          </table>
      </div>
    </div>

    <div class="flex flex-col" *ngIf="showForm && project_config.is_guarded">  
      <div class="flex flex-row w-full ">
        <div class="mt-8 flex flex-col items-center w-full space-y-5 mx-4 mb-4">
          <div class="w-full">
            <app-text-input
            [labelText]="'VISITOR NAME'"
              [id]="'register_visitor_name'"
              [name]="'register_visitor_name'"
              [placeholder]="'EG. Kevin Antonio'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-20': true, 'text-2xl': true}"
              [(ngModel)]="record.name"
              [isReadonly]="record.is_submitted"
            ></app-text-input>
          </div>
          <div class="w-full">
            <app-text-input
            [labelText]="'COMPANY NAME'"
              [id]="'register_company_name'"
              [name]="'register_company_name'"
              [placeholder]="'EG. Antonio, Inc.'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-20': true, 'text-2xl': true}"
              [(ngModel)]="record.company_name"
              [isReadonly]="record.is_submitted"
            ></app-text-input>
          </div>
          <div class="w-full">
            <app-vms-contact-input [(value)]="record.contact_no" [id]="'regiter_contact_number'" [isReadonly]="true"
            [contactLabel]="'CONTACT NUMBER'" [labelClass]="'text-2xl'" [inputClass]="'border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl'"
            ></app-vms-contact-input>
          </div>
          <div class="w-full mt-1">
            <label class="text-2xl font-bold mb-[-4px]"><u>Visitor Type</u></label>
            <select id="register_visitor_type"
              class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" [disabled]="record.is_submitted"
              [(ngModel)]="record.selection_type" name="visitorType">
              <option selected hidden disabled value="">Choose Visitor Type</option>
              <option [value]="'walk_in'">Walk In</option>
              <option [value]="'drive_in'">Drive in</option>
            </select>
          </div>
          <div class="w-full flex flex-row justify-between" *ngIf="record.selection_type == 'drive_in'">
            <div class="w-[90%] flex flex-col">
              <app-text-input
              [labelText]="'VEHICLE NUMBER'"
                [id]="'register_vehicle_number'"
                [name]="'register_vehicle_number'"
                [placeholder]="'EG. SAA 7827 V'"
                [customClasses]="{'w-full': true}"
                [type]="'text'"
                [isReadonly]="record.is_submitted"
                [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-20': true, 'text-2xl': true}"
                [(ngModel)]="record.vehicle_number"
              ></app-text-input>
            </div>
            <div class="h-25 flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle(true)"/>
            </div>
          </div>
          <div class="w-full space-y-5" *ngIf="(record.selection_type == 'drive_in' && Camera.length > 0) && !record.is_submitted">
            <div class="w-full" *ngFor="let camera of Camera; let i = index">
              <app-visitor-button [text]="'SAVE CHANGES & OPEN BARRIER ' + camera.CamID"  (click)="onSubmitRecord(true)"
              [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full h-20 text-2xl ' + (i == 0 ? 'mt-6' : 'mt-1' )"></app-visitor-button>
            </div>
          </div>
          <div class="w-full" *ngIf="!record.is_submitted">
            <app-visitor-button [text]="'SAVE CHANGES' + (record.selection_type == 'drive_in' ? ' ONLY' : '')" (click)="onSubmitRecord(false)"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full h-20 text-2xl mt-1'"></app-visitor-button>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>