<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Notifications'"></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div class="w-full flex flex-row justify-end items-center px-4">
    <u
      class="w-32 text-base cw-1:text-xs font-bold items-end mr-2"
      (click)="clearFilter()"
      >Clear Filter</u
    >
    <div class="w-full">
      <input
        type="text"
        id="simple-search"
        [(ngModel)]="searchTerm"
        (input)="searchNotifications()"
        class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full max-w-56 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search notification"
        required
      />
    </div>
  </div>
  <div *ngIf="isLoading" class="flex justify-center items-center h-[50%]">
    <app-loading-animation *ngIf="isLoading"></app-loading-animation>
  </div>
  <div
    class="flex justify-end items-end mt-2 mr-0.5"
    *ngIf="notifications.length > 0"
  >
    <nav class="flex items-center gap-x-1" aria-label="Pagination">
      <button
        type="button"
        class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
        aria-label="Previous"
        (click)="loadNotification('previous', pagination.current_page - 1)"
        [disabled]="pagination.current_page <= 1"
      >
        <svg
          class="shrink-0 size-3.5"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m15 18-6-6 6-6"></path>
        </svg>
      </button>
      <div class="flex items-center gap-x-1">
        <input
          type="number"
          [value]="pagination.current_page"
          (blur)="goToPage($event)"
          (keyup.enter)="goToPage($event)"
          class="min-h-9.5 min-w-8 flex justify-center items-center !border-2 !border-black text-gray-800 py-1 px-3 text-sm text-center rounded-lg focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:focus:ring-black"
          [min]="1"
          [max]="pagination.total_page"
        />
        <span
          class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
          >of</span
        >
        <span
          class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
          >{{ pagination.total_page }}</span
        >
      </div>
      <button
        type="button"
        class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
        aria-label="Next"
        (click)="loadNotification('next', pagination.current_page + 1)"
        [disabled]="pagination.current_page >= pagination.total_page"
      >
        <svg
          class="shrink-0 size-3.5"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6"></path>
        </svg>
      </button>
    </nav>
  </div>
  <div
    class="px-4 text-center mb-20"
    *ngIf="notifications.length > 0; else noNotification"
  >
    <div class="mt-2 space-y-4">
      <div
        *ngFor="let notification of filteredNotifications"
        class="bg-[var(--ion-color-tertiary)] p-4 rounded-lg w-full"
      >
        <div class="flex justify-between mb-1 text-sm">
          <p class="italic">{{ notification.date }}</p>
          <p class="italic">{{ notification.time }}</p>
        </div>
        <p class="text-left"><strong>{{ notification.title }}</strong></p>
        <p class="text-left">{{ notification.body }}</p>
      </div>
    </div>
  </div>

  <ng-template #noNotification>
    <div *ngIf="!isLoading" class="p-5 text-center mb-20">
      <div class="w-full bg-transparent p-4 text-center rounded-lg mt-10">
        <p class="text-gray-600">You have no Notification.....</p>
        <p class="text-gray-600">
          Go to <strong><a href="/resident-home-page">Home Page</a></strong>
        </p>
      </div>
    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
