<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-blacklist'" [homeRoute]="true" [params]="params"/>
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <table class="text-2xl">
          <tr>
            <td class="font-bold w-[45%]">NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.visitor_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">VEHICLE NO</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.vehicle_no) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">CONTACT</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.contact_no) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">BANNED DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.create_date) }}</td>
          </tr>         
          <tr>
            <td class="font-bold w-[45%]">LAST ENTRY DATE & TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.last_entry_date_time) }}</td>
          </tr>
          <!-- <tr>
            <td class="font-bold w-[45%]">TYPE OF ENTRY</td>
            <td class="w-[5%]">:</td>
            <td>{{ '-' }}</td>
          </tr> -->
          <tr *ngIf="!project_config.is_industrial">
            <td class="font-bold w-[45%]">BLOCK & UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.block_id[1] ? record.block_id[1] : '-' }} | {{ record.unit_id[1] ? record.unit_id[1] : '-' }}</td>
          </tr>
          <tr *ngIf="project_config.is_industrial">
            <td class="font-bold w-[45%]">HOST</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.host_name ? record.host_name : '-' }} </td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">BANNED BY</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.ban_by) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-[45%]">REASON OF BAN</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.reason) }}</td>
          </tr>  
        </table>
        <div class="w-full flex flex-col items-center" *ngIf="record.ban_image">
          <img [src]="ban_image" class="w-4/5">
        </div>
        <div class="flex flex-row justify-around w-full">
          <div class="flex flex-col w-1/2 items-center">
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14" (click)="callMA()">CALL MA</button>
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4" (click)="onLiftBan()">LIFT BAN</button>
          </div>
          <div class="flex flex-col w-1/2 items-center">
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14" (click)="callResident()">CALL {{ project_config.is_industrial ? 'EMPLOYEE' : 'RESIDENT' }}</button>
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4">CALL POLICE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>