<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Polling'" [text_second]="'Open Polling'"/>
  <div class="w-full mt-2 flex items-start ml-4" *ngIf="!voteNow">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-home-page']"></ion-icon>
  </div>

  <div class="px-5 mt-2 text-center mb-20" *ngIf="!voteNow">
    <div class="flex flex-row justify-between">
			<app-visitor-button [text]="'Open'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-2 cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px] '"></app-visitor-button>
			<app-visitor-button [text]="'Upcoming'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'"  [routerLink]="['/upcoming-polling']"></app-visitor-button>
			<app-visitor-button [text]="'Closed'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'" [routerLink]="['/closed-polling']"></app-visitor-button>
		</div>
    <div *ngIf="isLoading" class="flex justify-center items-center h-full mt-14">
      <ion-spinner name="circular"></ion-spinner>
    </div>
    <div *ngIf="!isLoading" class="w-full mt-4 space-y-2">
      <div class="bg-[var(--ion-color-tertiary)] rounded p-5 flex justify-between items-center" *ngFor="let vd of voteData">
        <div class="flex justify-start flex-col items-start w-full">
          <div class="flex flex-col items-start w-fit">
            <h2 class="font-bold mb-2 text-start">{{ vd.polling_name }}</h2>
            <table class="w-full text-left">
              <tbody>
                <tr>
                  <td class="font-bold w-[80px]">Close On</td>
                  <td class="truncate">: {{ functionMain.convertToDDMMYYYY(vd.polling_end_date) || '-' }}</td>
                </tr>
                <!-- <tr>
                  <td class="font-bold">Vote In</td>
                  <td class="truncate">: {{ vd.time_you_vote || '-' }}</td>
                </tr> -->
                <tr>
                  <td class="font-bold">You Vote</td>
                  <td>
                    : {{ isArrayAndJoin(vd.voted_option) }}
                  </td>
                </tr>           
              </tbody>
            </table>
          </div>
          <button class="bg-[var(--ion-color-primary)] text-white w-full mt-3 font-bold px-4 py-2 rounded" (click)="voteNowOn(vd)">
            Vote Now
          </button>
        </div>
      </div>

      <div *ngIf="!voteData">
        There's no polling yet
      </div>
    </div>
  </div>

  <div class="w-full mt-2 flex items-start ml-4" *ngIf="voteNow">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="voteNowOn()"></ion-icon>
  </div>
  <div *ngIf="voteNow" class="text-center mb-20" [ngClass]="{'slide-up-animation': openVote, 'slide-down-animation': closeVote}">
    <div class="bg-[var(--ion-color-tertiary)] w-full py-3 my-[6px]">
      <h2 class="font-bold text-center">{{ dataForVote.polling_name }}</h2>
    </div>
    <div class="px-5 ">
      <div class="flex flex-col text-start">
        <div class="flex flex-col justify-start w-full">
          <p class="text-[var(--ion-color-primary)]"><strong>Status:</strong> {{ dataForVote.states }} </p>
          <p>
            <strong>Your Option:</strong> 
            {{ isArrayAndJoin(dataForVote.voted_option) }}
          </p>
        </div>
        <div class="space-y-2">
          <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700" *ngFor="let option of dataForVote.options">
            <ng-container *ngIf="dataForVote.is_multiple_answer; else notMulti">
              <input 
              [checked]="isOptionSelected(option.id)" 
              (click)="postChoosingOptions(option.id, false)"
              type="checkbox" 
              value="{{ option.id }}" 
              name="option_poll" 
              id="{{ option.id }}" 
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            </ng-container>
            
            <ng-template #notMulti>
              <input 
              [checked]="isOptionSelected(option.id)"
              (click)="postChoosingOptions(option.id, true)"
              type="radio" 
              value="{{ option.id }}" 
              name="option_poll" 
              id="{{ option.id }}" 
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
            </ng-template>
            
            <label for="{{ option.id }}" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ option.options }}</label>
          </div>
          <button class="bg-[var(--ion-color-primary)] text-white w-full mt-2 font-bold px-4 py-2 rounded" (click)="postVote()">
            Submit Vote
          </button>
        </div>
      </div>
    </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>