<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
		<div class="flex flex-col justify-start">
			<img alt="Profile picture of a person" height="80" src="https://storage.googleapis.com/a1aa/image/NWAf6fQlGwiLJkFZou5lnWGhp97H7gZehBzVmVzlOoIYO4gnA.jpg" width="80" class="w-80 h-80"/>
      <ion-icon class="absolute bottom-16 drop-shadow-xl left-12 text-base bg-white rounded-full p-1" name="pencil" [routerLink]="['/resident-my-profile']">
      </ion-icon>
			<div class="flex flex-col items-start mt-4">
				<h1 class="text-[black]">
					Welcome Veeknesh
				</h1>
				<p class="text-[black] font-bold">
					ABC Condominium
				</p>
			</div>
		</div>
		<div class="logo">
			<img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
	</div>
  <div class="p-5 text-center mb-24">
    
    <div class="flex items-center justify-center flex-col">
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5">
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/Approvals.png" alt="Icon for Approvals"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Approvals</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/Raise_Ticket.png" alt="Icon for Raise Ticket"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Raise a Ticket</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/polling.png" alt="Icon for Polling"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Polling</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/Notices.png" alt="Icon for Notices"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Notices</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/report-an-issue.png" alt="Icon for Report an Issue"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Reports</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/upcoming-event.png" alt="Icon for Upcoming Events"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Upcoming Events</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/Register_Visitor.png" alt="Icon for Register a Visitor"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Register a Visitor</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/Facilities.png" alt="Icon for Facilities"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Facilities</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] h-28 rounded-2xl relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/house-rule.png" alt="Icon for House Rules"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">House Rules</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full max-w-[30vw] relative flex">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] rounded-2xl h-28 relative p-0 m-0" >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/quick-dials.png" alt="Icon for Quick Dials"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Quick Dials</span>
            </div>
          </ion-button>
        </div>

        <!-- <div class="w-full h-full relative">
          <span class="absolute top-0 right-0 bg-red-500 text-white text-base rounded-full px-2 z-10" *ngIf="paramForBadgeNotification > 0">{{ paramForBadgeNotification }}</span>
          <ion-button fill="clear" class="w-full h-full flex bg-[#D8ECCF] h-18 rounded-2xl relative p-0 m-0" (click)="directToNotifications()">
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/notification.png" alt="Icon for Notifications"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Notifications</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full h-full flex bg-[#D8ECCF] h-18 rounded-2xl relative p-0 m-0" [routerLink]="['/resident-announcement-page']">
            <div class="w-full flex flex-col items-center">
              <img class="w-12 h-12 mt-2" src="assets/icon/home-icon/sound.webp" alt="Icon for Upcoming Events"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Notice & Docs</span>
            </div>
          </ion-button>
        </div>
        
        <div class="w-full h-full relative">
          <ion-button fill="clear" class="w-full h-full flex bg-[#D8ECCF] h-18 rounded-2xl relative p-0 m-0" [routerLink]="['/resident-house-rules']">
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/house-rule.png" alt="Icon for House Rules"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">House Rules</span>
            </div>
          </ion-button>
        </div>
        
      </div>
      <div class="w-full flex flex-row items-stretch justify-center mt-3 gap-3">
        <div class="w-full max-w-[30vw] relative flex">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/resident-door-access']">
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/home-icon/door.png" alt="Icon for Door Access"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Door Access</span>
            </div>
          </ion-button>
        </div>
        <div class="w-full max-w-[30vw] relative flex">
          <ion-button fill="clear" class="w-full flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/resident-quick-dials']">
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/quick-dials.png" alt="Icon for Quick Dials"/>
              <span class="text-sm font-bold text-[black] text-center normal-case">Quick Dials</span>
            </div>
          </ion-button>
        </div> -->
      </div>

    </div>
  </div>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-content>