<ion-header *ngIf="callActionStatus != 'acceptCall'">
  <div
    [ngClass]="
      isIOS && isMobile ? 'h-[170px] header fixed top-0' : 'h-[160px] header fixed top-0'
    "
  >
    <div
      [ngClass]="
        isIOS && isMobile
          ? 'flex flex-col justify-start mt-[30px]'
          : 'flex flex-col justify-start mt-[27px]'
      "
    >
      <div class="flex flex-col justify-start">
        <div class="flex flex-col justify-end h-full">
          <img
            height="80"
            [src]="functionMain.getImage(userData.image_profile)"
            width="80"
            class="w-80 h-80"
          />
          <div class="absolute flex flex-col items-end ml-8">
            <ion-icon
              class="drop-shadow-xl text-base bg-white rounded-full p-1"
              name="pencil"
              [routerLink]="['/client-my-profile']"
            >
            </ion-icon>
          </div>
        </div>

        <div class="flex flex-col items-start mt-4 text-start w-[70%]">
          <h1 class="text-[black]">Welcome {{ userData.name }}</h1>
          <p class="text-[black] font-bold">
            {{ functionMain.returnNone(userData.name_condo) }}
          </p>
        </div>
      </div>
      <div class="logo w-[30%] flex flex-row justify-end">
        <img alt="iFS360 logo" height="60" src="assets/logoIFS.png" />
      </div>
    </div>
  </div>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="callActionStatus == 'acceptCall'">
  <app-loading-animation></app-loading-animation>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="callActionStatus != 'acceptCall'">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="p-5 text-center mb-24">
    <div class="flex items-center justify-center flex-col" *ngIf="!isLoading">
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5">
        <div
          class="w-full h-full relative"
          *ngFor="let menu of menuItems"
          (click)="onClickMenu(menu)"
        >
          <span
            class="absolute top-0 right-0 bg-red-500 text-white text-base rounded-full px-2 z-10"
            *ngIf="menu.menu_count > 0"
            >{{ menu.menu_count }}</span
          >
          <ion-button
            fill="clear"
            class="w-full flex bg-[var(--ion-color-tertiary)] h-28 rounded-2xl relative p-0 m-0"
          >
            <div class="w-full flex flex-col items-center">
              <img class="w-10 h-10 my-2" [src]="menu.src" [alt]="menu.alt" />
              <span
                class="text-sm font-bold text-[black] text-center normal-case"
                >{{ menu.text }}</span
              >
            </div>
          </ion-button>
        </div>
      </div>
    </div>
    <app-modal-loading *ngIf="isLoading" class="" />
  </div>
</ion-content>

<ion-footer *ngIf="callActionStatus != 'acceptCall'">
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>
