ion-modal#text-modal {
  --width: 90%;
  --min-width: 250px;
  --height: fit-content;
  --max-height: 90%;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --overflow: auto;
}

ion-modal#text-modal .wrapper {
  padding: 0px 15px 15px 15px;
  // background-color: white;
}