<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-main'" [homeRoute]="true" />
    </div>
    <div class="flex flex-row mt-8 mx-4">
      <app-button-icon [customImageIcon]="'assets/icon-vms/Homepage/Contractors.png'" [text]="'CONTRACTOR LOGS'"
        [routerLink]="['/records-main']" [isActive]="true" [disableClick]="true" [iconWrapper]="'!h-[78px] mt-1'"/>
    </div>
    <div class="flex flex-col">
      <div class="flex mt-8 flex-row space-x-4 overflow-x-auto mx-4">
        <app-button-icon [textOnly]="true" [text]="todayDate" [secondText]="'TODAY'" [isDoubleText]="true"
          (click)="toggleSlide('active')" [isActive]="showActiveTrans || showActive" [disableClick]="true" />
        <app-button-icon [textOnly]="true" [text]="'HISTORY'" (click)="toggleSlide('history')"
          [isActive]="showHistoryTrans || showHistory" [disableClick]="true" />
      </div>
      <div class="flex flex-col mx-4 mb-4">
        <div class="flex flex-col w-full space-y-5 mt-8" *ngIf="showHistory" @fadeInOut>
          <div class="flex flex-col w-full">
            <!-- SEARCH HEADER -->
            <div class="flex flex-row w-full justify-start space-x-10">
              <div class="flex flex-row items-center">
                <input id="contractor_sort_date" type="radio" name="history_filter"
                  class="size-6 text-[var(--ion-color-primary)]" value="sort_date" [(ngModel)]="selectedRadio"
                  (click)="onRadioClick('sort_date')">
                <label for="contractor_sort_date" class="text-2xl font-bold ml-2">SORT BY DATE</label>
              </div>
              <div class="flex flex-row items-center">
                <input id="contractor_search" type="radio" name="history_filter"
                  class="size-6 text-[var(--ion-color-primary)]" value="search" [(ngModel)]="selectedRadio"
                  (click)="onRadioClick('search')">
                <label for="contractor_search" class="text-2xl font-bold ml-2">SEARCH</label>
              </div>
            </div>

            <div class="w-full flex flex-col mt-5" *ngIf="selectedRadio == 'search'">
              <div class="w-full justify-between flex flex-row">
                <label class="text-2xl"><u><b>SEARCH OPTION</b></u></label>
                <label class="text-2xl" (click)="clearFilters()"><u><b>CLEAR SEARCH</b></u></label>
              </div>
              <select id="search_option" (change)="onSearchOptionChange($event)" [(ngModel)]="searchOption"
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280] mb-1"
                style="border: 1px solid #6B7280;">
                <option selected disabled hidden value="">CHOOSE SEARCH BY</option>
                <option [value]="'date'">ENTRY DATE</option>
                <option [value]="'block'" *ngIf="!project_config.is_industrial && !project_config.is_windows">BLOCK & UNIT</option>
                <option [value]="'host'" *ngIf="project_config.is_industrial">HOST</option>
                <option [value]="'not_checkout'" *ngIf="project_config.is_industrial">NOT CHECKED OUT</option>
                <option [value]="'all'">ALL</option>
              </select>
            </div>
            <div class="w-full flex-row space-x-1 flex justify-between"
              *ngIf="searchOption == 'date' || searchOption == 'all'">
              <div class="w-1/2">
                <app-text-input #recordContractorSearchDateFilter [id]="'record_contractor_search_date_filter'"
                  [labelText]="'DATE'" [placeholder]="'24/12/2024'" [customClasses]="{'w-full ':true}" [type]="'date'"
                  (change)="onDateChange($event)" [(ngModel)]="filter.issue_date"
                  [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
                </app-text-input>
              </div>
              <div class="w-1/2">
                <app-text-input #recordContractorSearchDateEndFilter [id]="'record_contractor_search_date_end_filter'"
                  [labelText]="'DATE TO'" [placeholder]="'24/12/2024'" [customClasses]="{'w-full ':true}"
                  [type]="'date'" (change)="onEndDateChange($event)" [(ngModel)]="filter.end_issue_date" [min]="filter.issue_date"
                  [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
                </app-text-input>
              </div>
            </div>
            <div class="w-full" *ngIf="(searchOption == 'host' || searchOption == 'all') && project_config.is_industrial">
              <app-m2m-selection [Arrays]="Host" [showButton]="project_config.is_industrial" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost" [customTopDiv]="'mt-0'"></app-m2m-selection>
            </div>
            <div class="w-full flex flex-row justify-between space-x-1"
              *ngIf="(searchOption == 'block' || searchOption == 'all') && (!project_config.is_industrial && !project_config.is_windows)">
              <div class="w-1/2">
                <label class="text-2xl"><u><b>BLOCK</b></u></label>
                <select id="record_contractor_block_filter" (change)="onBlockChange($event)" [(ngModel)]="filter.block"
                  class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]"
                  style="border: 1px solid #6B7280;">
                  <option value="" selected disabled hidden>CHOOSE BLOCK</option>
                  <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
                </select>
              </div>
              <div class="w-1/2">
                <app-m2m-selection [Arrays]="Unit" (outputValue)="onUnitChange($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
                  [labelText]="'UNIT'" [customTopDiv]="'mt-0'"></app-m2m-selection>
              </div>
            </div>

            <div class="flex flex-row w-full justify-end mt-5" *ngIf="((filter.block || filter.unit || filter.issue_date || filter.end_issue_date || filter.vehicle_number || selectedHost) || isRadioClicked || ((searchOption == 'not_checkout' || searchOption == 'all') && project_config.is_industrial))">
              <div class="flex flex-row space-x-5 items-center">
                <ion-icon name="chevron-back-outline" size="large" (click)="changePage(currentPage - 1)"></ion-icon>
                <input type="number" class="w-20 bg-white rounded text-2xl" style="border: 1px solid #6B7280;" [(ngModel)]="inputPage" (change)="changePage(inputPage)">
                <span class="text-2xl text-black">/ {{ total_pages || 0  }} </span>
                <ion-icon name="chevron-forward-outline" size="large"  (click)="changePage(currentPage + 1)"></ion-icon>
              </div>
            </div>
          </div>

          <div class="flex flex-col w-full space-y-5"
            *ngIf="(filter.block || filter.unit || filter.issue_date || filter.end_issue_date || filter.vehicle_number || selectedHost || ((searchOption == 'not_checkout' || searchOption == 'all') && project_config.is_industrial)) && !isRadioClicked ">
            <div *ngIf="isLoading" class="flex justify-center items-center h-20">
              <!-- <ion-spinner name="dots" class="text-[var(--ion-color-primary)]"></ion-spinner> -->
              <app-modal-loading />
            </div>
            <div
              class="flex flex-row justify-between h-20 w-full bg-[var(--ion-color-primary)] items-center rounded p-4"
              *ngFor="let log of historyVehicles" (click)="onArrowClick(log)">
              <span class="text-2xl font-bold text-white">{{ functionMain.returnNone(log.vehicle_number) }}, {{ functionMain.returnNone(log.identification_number) }} {{ project_config.is_industrial ? (log.out_datetime ? '(CHECKED OUT)' : '(NOT CHECKED OUT)') : '' }}</span>
              <ion-icon size="large" class="text-white size-14" name="arrow-forward-circle"></ion-icon>
            </div>
          </div>

          <div class="flex flex-col w-full space-y-5" *ngIf="isRadioClicked">
            <div *ngIf="isLoading" class="flex justify-center items-center h-20">
              <app-modal-loading />
            </div>
            <div class="flex flex-col" *ngFor="let logs of sortVehicle">
              <span class="text-2xl font-bold">{{ selectedRadio == 'sort_date'? logs.schedule_date :
                logs.vehicle_number }}</span>
              <div class="flex flex-col w-full space-y-5 pl-4 mt-5">
                <div
                  class="flex flex-row justify-between h-20 w-full bg-[var(--ion-color-primary)] items-center rounded p-4"
                  *ngFor="let log of logs.data" (click)="onArrowClick(log)">
                  <span class="text-2xl font-bold text-white">{{ functionMain.returnNone(log.vehicle_number) }}, {{ functionMain.returnNone(log.identification_number) }} {{ project_config.is_industrial ? (log.out_datetime ? '(CHECKED OUT)' : '(NOT CHECKED OUT)') : '' }}</span>
                  <ion-icon size="large" class="text-white size-14" name="arrow-forward-circle"></ion-icon>
                </div>
              </div>
    
            </div>
    
          </div>
    
        </div>

        <div class="flex flex-col w-full space-y-5 mt-5" *ngIf="showActive" @fadeInOut>
          <div class="flex flex-row w-full justify-start space-x-10" *ngIf="project_config.is_industrial">
            <div class="flex flex-row items-center">
              <input id="today_checked_all" type="radio" name="today_filter"
                class="size-6 text-[var(--ion-color-primary)]" value="search" [checked]="selectedTodayRadio == 'all'"
                (click)="onTodayRadioClick('all')">
              <label for="today_checked_all" class="text-2xl font-bold ml-2">ALL</label>
            </div>
            <div class="flex flex-row items-center">
              <input id="today_checked_out" type="radio" name="today_filter"
                class="size-6 text-[var(--ion-color-primary)]" value="sort_date" [checked]="selectedTodayRadio == 'checked_out'"
                (click)="onTodayRadioClick('checked_out')">
              <label for="today_checked_out" class="text-2xl font-bold ml-2">CHECKED OUT</label>
            </div>
            <div class="flex flex-row items-center">
              <input id="today_not_checked_out" type="radio" name="today_filter"
                class="size-6 text-[var(--ion-color-primary)]" value="search" [checked]="selectedTodayRadio == 'not_checked_out'"
                (click)="onTodayRadioClick('not_checked_out')">
              <label for="today_not_checked_out" class="text-2xl font-bold ml-2">NOT CHECKED OUT</label>
            </div>
          </div>
          <div *ngIf="isLoading" class="flex justify-center items-center h-20">
            <app-modal-loading />
          </div>
          <div class="flex flex-row justify-between h-20 w-full bg-[var(--ion-color-primary)] items-center rounded p-4"
            *ngFor="let log of filteredActiveContractor" (click)="onArrowClick(log)">
            <span class="text-2xl font-bold text-white">{{ functionMain.returnNone(log.contractor_name) }}, {{ functionMain.returnNone(log.identification_number) }}  {{ project_config.is_industrial ? (log.out_datetime ? '(CHECKED OUT)' : '(NOT CHECKED OUT)') : '' }}</span>
            <ion-icon size="large" class="text-white size-14" name="arrow-forward-circle"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>