<div class="flex flex-col">
  <u class="font-bold text-black text-base"> {{ labelParent }} </u>
  <label for="{{ id }}" class="font-bold text-black text-sm" (click)="clickDate(id)"> {{ labelChild1 }} </label>
  <div class="bg-white p-3 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-between mt-1">
    <input class="hidden" [type]="type" name="entryDate" (change)="onDateChange($event)" id="{{ id }}" style="position: absolute; opacity: 0; pointer-events: none;">
    <label class="w-full text-start" [ngClass]="(value) ? 'text-black' : 'text-gray-400'" for="{{ id }}" (click)="clickDate(id)">
      {{ value ? value : typeAction + ' ' + labelChild2 }}
    </label>
    <ion-icon *ngIf="type === 'date'" name="calendar-clear-outline" class="positioning-calendar-icon" (click)="clickDate(id)"></ion-icon>
  </div>
</div>