<!-- In your component.html file -->
<div *ngIf="type === 'date'" class="flex flex-col">
  <u *ngIf="labelParent" class="font-bold text-black text-base">
    {{ labelParent }}
  </u>
  <label for="{{ id }}" class="font-bold text-black text-base cw-3:text-sm">
    {{ labelChild1 }}
  </label>
  <div
    *ngIf="disabled; else disbaledFalse"
    class="bg-white p-3 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-between h-12"
  >
    <label
      class="w-full text-start text-gray-400"
      [ngClass]="fontInBoxClass ? fontInBoxClass : ''"
    >
      {{ value }}
    </label>
    <ion-icon
      name="calendar-clear-outline"
      class="positioning-calendar-icon"
    ></ion-icon>
  </div>

  <ng-template #disbaledFalse>
    <div
      class="bg-white p-3 rounded border border-black w-full flex flex-row text-start items-center justify-between h-12"
      (click)="openDateTimePicker()"
    >
      <label
        class="w-full text-start"
        [ngClass]="fontInBoxClass ? fontInBoxClass : ''"
        [ngClass]="value ? 'text-black' : 'text-gray-400'"
      >
        {{ value }}
      </label>
      <ion-icon
        name="calendar-clear-outline"
        class="positioning-calendar-icon"
      ></ion-icon>
    </div>
  </ng-template>

  <!-- Ion Modal approach for datetime -->
  <ion-modal
    id="choose-date-court-modal"
    [isOpen]="isOpen"
    (didDismiss)="isOpen = false"
  >
    <ng-template>
      <ion-content>
        <ion-datetime
          #dateTimePicker
          [presentation]="'date'"
          [min]="changeDateFormatToDefault(minDate)"
          [max]="changeDateFormatToDefault(maxDate)"
          (ionChange)="onDateTimeChange($event)"
          [value]="isoStringValue"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>

<div *ngIf="type !== 'date'" class="flex flex-col">
  <u *ngIf="labelParent" class="font-bold text-black text-base">
    {{ labelParent }}
  </u>
  <label
    for="{{ id }}"
    class="font-bold text-black text-base cw-3:text-sm"
    (click)="clickDate(id)"
  >
    {{ labelChild1 }}
  </label>
  <input
    id="{{ id }}"
    [type]="type"
    [value]="value"
    [ngClass]="disabled ? 'text-gray-500' : ''"
    class="bg-white p-3 rounded border h-12 !border-black w-full"
    style="border: 1px solid #6b7280"
    placeholder="{{ typeAction + ' ' + labelChild2 }}"
    [disabled]="disabled"
    (change)="onValueChange($event, type)"
  />
</div>
