.positioning-calendar-icon {
    position: relative;
    left: -5px;
    margin-left: -18px;
}
ion-modal#choose-date-court-modal {
    --height: 41%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}