<!-- In your component.html file -->
<div *ngIf="type === 'date'" class="flex flex-col">
  <u *ngIf="labelParent" class="font-bold text-black text-base">
    {{ labelParent }}
  </u>
  <label
    for="{{ id }}"
    class="font-bold text-black text-sm"
  >
    {{ labelChild1 }}
  </label>
  <div
    class="bg-white p-3 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-between mt-1"
    (click)="openDateTimePicker()"
  >
    <label
      class="w-full text-start"
      [ngClass]="fontInBoxClass ? fontInBoxClass : ''"
      [ngClass]="value ? 'text-black' : 'text-gray-400'"
    >
      {{ value }}
    </label>
    <ion-icon
      name="calendar-clear-outline"
      class="positioning-calendar-icon"
    ></ion-icon>
  </div>
  
  <!-- Ion Modal approach for datetime -->
  <ion-modal id="choose-date-court-modal" [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content>
        <ion-datetime
          #dateTimePicker
          [presentation]="'date'" 
          [min]="minDate"
          (ionChange)="onDateTimeChange($event)"
          [value]="isoStringValue"
        ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>

<div *ngIf="type !== 'date'" class="flex flex-col">
  <u *ngIf="labelParent" class="font-bold text-black text-base"> {{ labelParent }} </u>
  <label for="{{ id }}" class="font-bold text-black text-sm" (click)="clickDate(id)"> {{ labelChild1 }} </label>
  <input id="{{ id }}" type="text" class="bg-white p-3 rounded border h-12 border-gray-500 w-full mt-1" style="border: 1px solid #6B7280;" placeholder="{{ typeAction + ' ' + labelChild2 }}" (change)="onValueChange($event, type)">
</div>