<ion-content [fullscreen]="true">
  <app-resident-header [is_client]="true"  [text]="'Report App Issue'" [text_second]="textSecond" />
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>

  <div class="mx-4 text-center mb-20">
    <!-- Reported Issues Button -->
    <div class="flex flex-row justify-start items-center w-full space-x-3 mt-2">
      <div class="w-full">
        <app-visitor-button [text]="'Reported Issues'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isMain ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowReport()"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'Report an Issues'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isNewReport ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowNew()"></app-visitor-button>
      </div>
    </div>
    <div class="flex flex-col w-full" *ngIf="isMain">
      <div *ngIf="isLoading" class="flex justify-center items-center h-20">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="space-y-4 mt-4" *ngIf="!isLoading">
        <div class="space-y-4" *ngIf="allData.length > 0; else noTicket">
          <div *ngFor="let report of allData" [ngClass]="{
            'bg-[var(--ion-color-tertiary)]': report.ticket_status === 'Solved',
            'bg-[#F8F1BA]': report.ticket_status === 'New',
            'bg-[#E3787E]': report.ticket_status === 'Canceled',
            'bg-sky-200': report.ticket_status === 'In Progress' || report.ticket_status === 'On Hold'
            }" class="bg-[#F8F1BA] p-4 rounded shadow">
            <h2 class="font-bold text-left">{{ report.ticket_type }}</h2>
            <table class="w-full text-left border-collapse mt-2">
              <tbody>
                <tr>
                  <td class="font-bold">Reported On</td>
                  <td class="cw-3:text-sm">: {{ report.issued_on }}</td>
                </tr>
                <tr>
                  <td class="font-bold">Resolved On</td>
                  <td class="cw-3:text-sm">: {{ report.solved_on || 'N/A' }}</td>
                </tr>
                <tr>
                  <td class="font-bold">Ticket Status</td>
                  <td class="cw-3:text-sm">: {{ report.ticket_status }}</td>
                </tr>
              </tbody>
            </table>
            <div class="flex mt-[6px] w-full" (click)="seeDetail(report)">
              <button
                class="cw-2:text-[13px] bg-[var(--ion-color-primary)] w-full text-white px-3 py-2 text-base rounded-md font-bold">
                View Details
              </button>
            </div>
          </div>
        </div>
        <ng-template #noTicket>
          <div class="w-full bg-transparent mt-8 text-center rounded-lg">
            <p class="text-gray-600">There are no ticket for this type.....</p>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="mt-2 text-center mb-20" *ngIf="isNewReport">
      <div class="flex flex-col">
        <div class="w-full mb-2">
          <div class="flex flex-row justify-start mb-1 mt-1">
            <p class="text-base font-bold">Type of Issue</p>
          </div>
          <select id="type_of_issue" placeholder="Type of Issue"
            class="border !border-black w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280]"
            (change)="onTypeReportChange($event)">
            <option value="0" selected disabled hidden>Choose Type of Issue</option>
            <option *ngFor="let tor of typeOfReport" [value]="tor.id">{{ tor.name }}</option>
          </select>
        </div>
        <u class="text-base font-bold mb-1.5 text-start">Reporter Details</u>
        <div class="space-y-2 flex flex-col justify-between">
          <div class="w-full">
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base font-bold">Name</p>
            </div>
            <app-text-input [id]="'report_name'" [placeholder]="'Name'" [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-14':true, 'text-base': true}"
              [isReadonly]="true" [(ngModel)]="userData.name">
            </app-text-input>
          </div>
          <div class="w-full">
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base font-bold">Contact Email</p>
            </div>
            <app-text-input [id]="'report_contact_email'" [placeholder]="'Contact Email'"
              [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-14':true, 'text-base': true}"
              [isReadonly]="true" [(ngModel)]="userData.contact">
            </app-text-input>
          </div>
          <div class="w-full">
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base font-bold">Summary Report</p>
            </div>
            <textarea id="report_summary" placeholder="" (focus)="testAddMb(true)" (blur)="testAddMb(false)"
              class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base"
              [(ngModel)]="reporterDetailsFrom.summaryReport">
            </textarea>
          </div>
          <div class="w-full flex flex-row justify-between items-end">
            <input placeholder="Choose a file" type="file" (change)="onFileSelected($event)" #clientIssueNewAttachment
              class="hidden" accept="image/*"/>
            <div class="w-4/6 mb-2 flex flex-col items-start">
              <label class="text-base"><b>Attachment</b></label>
              <input placeholder="Choose a file" type="input" (click)="openFileInput()" [(ngModel)]="fileName"
                class="!border border-black w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280] text-left pl-[0.75rem]  file:mr-4 "
                readonly />
            </div>
            <button id="client_ticket_detail_upload_attachment" (click)="uploadFile()"
              class="bg-[var(--ion-color-primary)] text-white w-[30%] h-14 text-base rounded font-bold mb-2">
              Upload
            </button>
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-2 text-[13px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Submit'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-14'" (click)="onSubmit()">
          </app-visitor-button>
        </div>
      </div>
    </div>
  </div>

  

  
  <div class="h-96" *ngIf="extend_mb"></div>

  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-content>