<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Upcoming Event'"
    [text_second]="'Calendar View'"
    (typeOfUser)="getTypeUser($event)"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2 mb-28">
    <div id="nav_tabs_main">
      <app-nav-tabs [buttons]="navButtonsMain"></app-nav-tabs>
    </div>

    <div
      *ngIf="isLoading"
      class="flex justify-center items-center h-full mt-[50px]"
    >
      <app-loading-animation></app-loading-animation>
    </div>

    <!-- Display upcoming events -->
    <div *ngIf="!isLoading">
      <div *ngIf="upcomingEvents.length > 0; else noupcomingEvents">
        <div
          *ngFor="let upcomingEvent of upcomingEvents; let i = index"
          class="rounded-2xl px-4 py-2 mt-4 w-full bg-green-100"
        >
          <p class="font-bold text-xl text-black text-left mt-2">
            {{ upcomingEvent.title }}
          </p>
          <div class="table text-left">
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">
                Event Date
              </p>
              <p class="ml-2 table-cell text-base text-black">
                : {{ returnDate(upcomingEvent.start) }}
              </p>
            </div>
            <div class="table-row" *ngIf="userType != 'industrial'">
              <p class="font-bold table-cell text-base text-black">
                Coach Name
              </p>
              <p class="ml-2 table-cell text-base text-black">
                : {{ upcomingEvent.registered_coach_name ?
                upcomingEvent.registered_coach_name : '-' }}
              </p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">
                Event Start
              </p>
              <p class="ml-2 table-cell text-base text-black">
                : {{ returnReadDate(upcomingEvent.start) }}
              </p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Event End</p>
              <p class="ml-2 table-cell text-base text-black">
                : {{ returnReadDate(upcomingEvent.end) }}
              </p>
            </div>
          </div>
          <div class="flex mt-2 space-x-2 mb-2">
            <button
              class="bg-[#E3787E] text-black px-3 py-2 text-base cw-1:text-[13px] rounded-md font-bold"
              (click)="onLiftBan(upcomingEvent)"
            >
              Cancel Events
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noupcomingEvents>
      <div class="w-full bg-transparent p-4 text-center rounded-lg mt">
        <p class="text-gray-600">You have no active upcoming events.....</p>
        <p class="text-gray-600">
          Go to <strong><a href="/resident-home-page">Home Page</a></strong> or
        </p>
        <p class="text-gray-600">
          <strong
            ><a routerLink="/facility-new-upcomingEvent">Click Here</a></strong
          >
          to make a new upcoming event now.
        </p>
      </div>
    </ng-template>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
