<ion-header>
  <app-resident-header [text]="'Facility Booking'" [text_second]="'New Booking'" />
</ion-header>
<ion-content [fullscreen]="true">
    
  <div class="w-full flex items-start mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-home-page']"></ion-icon>
  </div>
    <!-- CONTENT -->
    <div class="flex flex-col relative mx-4 mb-24">
      <div class="flex flex-row mt-2 justify-between w-full">
        <app-multi-line-button [text]="'Active'" [extraClass]="'bg-[#D0D0D0] text-[#757575] cw-3:text-sm w-28 cw-1:w-24 cw-3:w-[88px] leading-none'" (click)="toggleShowActBk()"></app-multi-line-button>
        <app-multi-line-button [text]="'New'" [extraClass]="'bg-[var(--ion-color-primary)] text-white cw-3:text-sm w-28 cw-1:w-24 cw-3:w-[88px] leading-none'" (click)="toggleShowNewBk()"></app-multi-line-button>
        <!-- <app-visitor-button [text]="'Deposits'" [extraClass]="'bg-[#D0D0D0] text-[#757575] cw-3:text-sm w-28 cw-1:w-24 cw-3:w-[88px]'" (click)="toggleShowDep()"></app-visitor-button> -->
        <app-visitor-button [text]="'History'" [extraClass]="'bg-[#D0D0D0] text-[#757575] cw-3:text-sm w-28 cw-1:w-24 cw-3:w-[88px]'" (click)="toggleShowHis()"></app-visitor-button>
      </div>
      
      <div class="mt-2 mb-24 flex flex-col items-center flex-grow">
        <!-- Dynamic Facility Rendering -->
        <div 
          *ngFor="let facility of facilities" 
          class="bg-white rounded-2xl overflow-hidden shadow-md mx-4 my-2 w-11/12 max-w-md"
          (click)="navigateToFacilityPlaceBooking(facility.facility_id)"
        >
          <img 
            [src]="functionMainService.getImage(facility.facility_banner)" 
            [alt]="facility.facility_name" 
            class="w-full h-40 object-cover"
          >
          <div class="bg-green-100 bg-opacity-80 p-2 text-center">
            <h2 class="text-base font-bold text-gray-800">{{ facility.facility_name }}</h2>
            <p class="text-base text-gray-600">({{ facility.total_facilities }} Facilities)</p>
          </div>
        </div>
  
        <div *ngIf="isLoading" class="flex justify-center items-center h-full mt-16">
          <ion-spinner name="circular"></ion-spinner>
        </div>

        <!-- Tampilkan pesan jika tidak ada fasilitas -->
        <div *ngIf="facilities.length === 0 && !isLoading" class="text-center mt-10">
          <p class="text-gray-600">No facilities available</p>
        </div>
      </div>
    </div>
    
  </ion-content>
  <ion-footer>
    <app-bottom-nav-bar></app-bottom-nav-bar>
  </ion-footer>