<ion-header>
	<app-resident-header [text]="'Visitors'" [text_second]="'Invite From History'" />
</ion-header>
<ion-content [fullscreen]="true">
	<div class="w-full flex items-start justify-start mt-2 ml-3">
		<ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/invite-form']"></ion-icon>
	</div>
	<!-- CONTENT -->
	<div class="flex flex-col relative mx-4 mb-24">
    <div class="flex flex-col mt-3">
      <u class="text-ls font-bold">Invitee History List</u>
      <div id="data" class="h-[35rem] overflow-y-auto">
        <div *ngFor="let invitee of historyData" class="w-full flex justify-between flex-row mt-2">
          <div class="w-full flex justify-between">
            <!-- <div class="flex flex-row justify-start">
              <p class="text-base font-bold">Name on the List</p>
            </div> -->
            <div class="flex justify-between">
              <app-text-input 
                [id]="'invf_name'" 
                [placeholder]="'Name'" 
                [customClasses]="{'w-full':true}" 
                [type]="'text'" 
                [customInputClasses]="{
                  'border': true, 
                  'w-full': true, 
                  'rounded': true, 
                  'py-2': true, 
                  'px-3': true, 
                  'outline-[#BDBDBD]': true, 
                  'h-12': true, 
                  'mt-1': true, 
                  'text-base': true, 
                  'text-red-100': invitee.is_banned,
                  'outline-red-100': invitee.is_banned
                }" 
                [value]="invitee.visitor_name" 
                [isReadonly]="true">
              </app-text-input>
              <div class="flex items-center ml-5">
                <input 
                  id="checked-checkbox"
                  (change)="toggleSelect(invitee)"
                  type="checkbox"
                  [disabled]="invitee.is_banned"
                  [ngModel]="isInviteeExisted(invitee)"
                  class="w-8 h-8 accent-[#10421D] text-[#10421D] bg-gray-100 border-gray-300 focus:bg-[#10421D] rounded focus:ring-[#10421D] dark:focus:ring-[#10421D] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row mt-4 text-[12px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Confirm'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'" (click)="confirmSelection()"></app-visitor-button>
        </div>
      </div>
    </div>
	</div>
	<!-- ############################### -->	  
</ion-content>
<ion-footer>
	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-footer>