<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
		<div class="flex flex-col justify-start">
			<img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
		<div class="logo">
			<h1 class="text-[26px] font-bold text-[black]">Visitors</h1>
      <p class="font-bold text-[black]">Daily Invite</p>
		</div>
	</div>
	<!-- CONTENT -->
	<div class="flex flex-col relative mt-2 mx-4">
    <ion-button class="flex flex-row justify-center items-center w-full icon" fill="clear" [routerLink]="['/resident-visitors']">
			<div class="flex flex-col items-center text-black">
        <ion-icon name="arrow-back"></ion-icon>
			</div>
		</ion-button>

    <div class="flex flex-col mt-2">
      <u class="text-[14px] font-bold">Invitee History List</u>
      <div id="data">
        <div *ngFor="let invitee of historyData" class="w-full flex justify-between flex-row mt-4">
          <div class="w-10/12">
            <app-text-input [id]="'invf_name'" [placeholder]="'Name'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="invitee.name" readonly></app-text-input>
          </div>
          <app-button-icon [customNameIcon]="'faCheck'" (click)="toggleSelect(invitee)" [isActive]="selectedInvitees.includes(invitee)"></app-button-icon>
        </div>
      </div>
      <div class="flex flex-row mt-4 text-[12px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Confirm'" [extraClass]="'bg-[#CDF8BA] text-black mt-1 w-full text-sm'" (click)="confirmSelection()"></app-visitor-button>
        </div>
      </div>
    </div>
	</div>
	<!-- ############################### -->
	<div class="flex justify-evenly bg-green-200 fixed bottom-0 w-full">
		<ion-button fill="clear" [routerLink]="['/resident-homepage']">
			<div class="flex flex-col items-center text-black">
				<ion-icon name="home" class="text-2xl mb-2"></ion-icon>
				<span class="text-[8px] font-bold">Home</span>
			</div>
		</ion-button>
		<ion-button fill="clear">
			<div class="flex flex-col items-center text-black">
				<ion-icon name="alert-circle" class="text-2xl mb-2"></ion-icon>
				<span class="text-[8px] font-bold">Report an App Issue</span>
			</div>
		</ion-button>
		<ion-button fill="clear">
			<div class="flex flex-col items-center text-black">
				<ion-icon name="settings" class="text-2xl mb-2"></ion-icon>
				<span class="text-[8px] font-bold">Settings</span>
			</div>
		</ion-button>
	</div>
</ion-content>