<app-resident-header [text]="'My Family'" [text_second]="'Add Member'"/>
  <ion-content [fullscreen]="true">
    <div class="flex flex-col justify-between mt-2 ml-3">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-my-family']"></ion-icon>
    </div>
    <!-- CONTENT -->
    <div class="flex flex-col relative mx-4 mb-24">
      <form (ngSubmit)="onSubmit()">
        <div class="flex flex-col justify-between mt-2 space-y-3">
          <div class="w-full">
            <app-text-input
            [labelResidentText]="'Full Name'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
              [id]="'full_name'"
              [placeholder]="'EG. Sanchez Venez'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
              [value]="formData.full_name"
              (valueChange)="onFullNameChange($event)"
            ></app-text-input>
          </div>
          
          <div class="w-full">
            <app-text-input
            [labelResidentText]="'Nickname'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
              [id]="'nickname'"
              [placeholder]="'EG. Sanchez'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
              [value]="formData.nickname"
              (valueChange)="onNicknameChange($event)"
            ></app-text-input>
          </div>
          
          <div class="w-full">
            <app-text-input
            [labelResidentText]="'Email Address'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
              [id]="'email_address'"
              [placeholder]="'sanchezvenez@email.com'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
              [value]="formData.email_address"
              (valueChange)="onEmailAddressChange($event)"
            ></app-text-input>
          </div>
          <div class="w-full mt-2">
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base font-bold">Upload Profile Image</p>
            </div>
            <div class="bg-white p-3 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-start h-14">
              <input class="w-full rounded text-base hidden" type="file" name="image" id="image" (change)="onImageChange($event)" accept="image/*">
              <label class="w-full text-start" [ngClass]="(selectedImageName) ? 'text-black' : 'text-gray-400'" for="image">
                {{ selectedImageName ? selectedImageName : 'Upload your profile image' }}
              </label>
            </div>
          </div>
          <div class="w-full">
            <app-vms-contact-input [(value)]="formData.mobile_number" [id]="'add_family_contact_number'" [vmsPage]="false"
            [contactLabel]="'Mobile Number'" [labelClass]="'text-base'" [inputClass]="'border w-full rounded py-2 px-3 outline-[#BDBDBD] h-14 text-base'"
            ></app-vms-contact-input>
          </div>
          <!-- <div class="w-full">
            <app-text-input
            [labelResidentText]="'Mobile Number'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
              [id]="'mobile_number'"
              [placeholder]="'EG. +65 XXXX XXX'"
              [customClasses]="{'w-full': true}"
              [type]="'text'"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
              [value]="formData.mobile_number"
              (valueChange)="onMobileNumberChange($event)"
            ></app-text-input>
          </div> -->
          
          <div class="w-full mt-1">
            <label class="text-base font-bold mb-[-4px]">Type Of Residence</label>
            <select
              id="type_of_residence"
              class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280] "
              [(ngModel)]="formData.type_of_residence" name="type_of_residence"
            >
              <option [value]="'primary_contact'">Family, Primary Contact</option>
              <option [value]="'secondary_contact'">Family, Secondary Contact</option>
              <option [value]="'member'">Family, Member</option>
              <option [value]="'helper'">Family, Helper</option>
              <option [value]="'tenants'">Tenant</option>
            </select>
          </div>
          
          <!-- tenant -->
          <div class="w-full" [ngClass]="{'hidden': formData.type_of_residence !== 'tenants'}">
            <label class="text-base font-bold mb-[-4px]"><p>Tenant Agreement File</p></label>
            <div class="w-full flex flex-col">
              <!-- <div class="w-4/6"> -->
                <!-- <app-text-input
                  [id]="'tenancies_tenancy_aggrement'"
                  [placeholder]="'Tenancy Agreement'"
                  [customClasses]="{'w-full': true}"
                  [type]="'file'"
                  [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-black': true, 'h-14': true, 'text-base': true}"
                  (valueChange)="onTenanciesChange($event)"
                ></app-text-input> -->
                <label for="tenant_file" class="w-full h-14 border rounded px-3 text-base flex flex-col justify-center" style="border: solid #6B7280 1px;" *ngIf="!fileCheck" [ngClass]="{'hidden': formData.type_of_residence !== 'tenants'}">Select Tenant Agreement File</label>
                <input type="file" id="tenant_file" class="w-full h-14 border rounded py-2 px-3 text-base" (change)="onTenanciesChange($event)" style="border: #6B7280 solid 1px;" [ngClass]="{'hidden': !fileCheck || formData.type_of_residence !== 'tenants'}" />
              <!-- </div> -->
              <!-- <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-[30%] h-14 text-base mt-1 rounded">
                Upload
              </button> -->
            </div>
          </div>
        
          <div class="w-full" [ngClass]="{'hidden': formData.type_of_residence !== 'tenants'}">
            <app-text-input
            #newMemberEndTenantDate
            [labelResidentText]="'End Date of Tenancy Agreement'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
            [id]="'tenancies_tenancy_aggrement'"
              [id]="'tenancies_end_of_tenancy_aggrement'"
              [placeholder]="'DD/MM/YYYY'"
              [customClasses]="{'w-full': true}"
              [type]="'date'"
              [min]="dateNow"
              [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
              [value]="formData.tenancies.end_of_tenancy_aggrement"
              (valueChange)="onEndOfTenancyAgreementChange($event)"
            ></app-text-input>
          </div>

          <!-- helper -->
          <div class="w-full" [ngClass]="{'hidden': formData.type_of_residence !== 'helper'}">
            <label class="text-base font-bold mb-[-4px]"><p>Helper Work Permit File</p></label>
            <div class="w-full flex flex-col">
              <label for="helper_file" class="w-full h-14 border rounded px-3 text-base flex flex-col justify-center" style="border: solid #6B7280 1px;" *ngIf="!fileCheck" [ngClass]="{'hidden': formData.type_of_residence !== 'helper'}">Select Work Permit File</label>
              <input type="file" id="helper_file" class="w-full h-14 border rounded py-2 px-3 text-base" (change)="onHelperChange($event)" style="border: #6B7280 solid 1px;" [ngClass]="{'hidden': !fileCheck || formData.type_of_residence !== 'helper'}" />
            </div>
          </div>

          <div class="w-full">
            <button class="bg-[var(--ion-color-primary)] text-white mt-3 w-full text-base rounded h-14 font-bold" type="submit">Submit for Approval</button>
          </div>
          
        </div>
      </form>
      <div class="flex flex-row w-full">
      </div>
    </div>
    <!-- ############################### -->
    <app-bottom-nav-bar></app-bottom-nav-bar>
  </ion-content>