<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Settings'"/>

  <div class="p-5 text-center mb-20 justify-center items-center flex flex-col w-full mt-14">
    <div class="flex flex-col justify-center w-full items-center mb-4">
      <div class="rounded-full overflow-hidden w-32 h-32 mt-4 mb-2">
        <img class="w-full h-full object-cover" height="128" [src]="functionMain.getImage(userData.image_profile)" width="128"/>
      </div>
      <h2 class="text-xl font-bold">
        {{ userData.name }}
      </h2>
    </div>
    <div class="mt-1 space-y-2 w-full">
      <div class="flex flex-row text-[13px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Change Password'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base !font-light'" [routerLink]="['/client-change-password']">
          </app-visitor-button>
        </div>
      </div>
      <div class="flex flex-row mt-2 text-[13px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Privacy Policy'" [routerLink]="['/client-privacy-policy']"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base !font-light'">
          </app-visitor-button>
        </div>
      </div>
      <div class="flex flex-row mt-2 text-[13px] w-full">
        <div class="w-full">
          <app-visitor-button [text]="'Logout'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base !font-light'" (click)="logout()">
          </app-visitor-button>
        </div>
      </div>
    </div>
  </div>

	<app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-content>