<ion-content class="vms-body">
  <div class="flex flex-col p-4 justify-center items-center h-full">
    <div class="flex flex-row w-[80%] max-h-[80%] overflow-x-auto">
      <div class="flex flex-col justify-start items-center w-full gap-4">
        <div class="w-full">
          <app-text-input [id]="'reason'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'GY 7828 B'"
            [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="vehicle_number " [isReadonly]="true"
            [customInputClasses]="{'text-[#6B7280]': true, 'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="flex flex-col w-full " *ngIf="issue == 'wheel_clamp' && !search">
          <label class="text-2xl"><b><u>WHEEL CLAMP NOTICE</u></b></label>
          <select id="clamping_reason" [(ngModel)]="selectedNotice" [disabled]="isReadonly"
            class="border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="wheel_clamp" selected>WHEEL CLAMP</option>
          </select>
        </div>
        <div class="flex flex-col w-full" *ngIf="issue == 'first_warning' || search || issue == 'none'">
          <label class="text-2xl"><b><u>TYPE OF NOTICE</u></b></label>
          <select id="clamping_reason" [(ngModel)]="selectedNotice" [disabled]="isReadonlyIssue"
            class="border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option *ngIf="!this.alert" value="" selected hidden>EG. 1ST WARNING</option>
            <option value="first_warning">1ST WARNING</option>
            <option value="second_warning">2ND WARNING</option>
            <option *ngIf="this.search" value="wheel_clamp">WHEEL CLAMP</option>
          </select>
        </div>
        <div class="w-full">
          <app-text-input [id]="'reason'" [labelText]="'REASON OF ISSUANCE'" [placeholder]="'ILLEGAL PARKING'"
            [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="reason" [isReadonly]="isReadonly"
            [customInputClasses]="{'text-[#6B7280]': true, 'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>

        <app-file-input class="w-full h-25" [labelText]="issue == 'wheel_clamp' ? 'UPLOAD IMAGE (BEFORE)' : 'UPLOAD IMAGE' " [buttonText]="'UPLOAD'"
          [extraButtonClass]="'rounded-md text-white'" [customPlaceholder]="'EG. VIOLATION.png'"
          (fileSelected)="onBeforeClampImageFileSelected($event)"></app-file-input>
        <app-file-input class="w-full h-25" [labelText]="'UPLOAD IMAGE (AFTER)'" [buttonText]="'UPLOAD'"
          [extraButtonClass]="'rounded-md text-white'" [customPlaceholder]="'EG. VIOLATION.png'" *ngIf="issue == 'wheel_clamp'"
          (fileSelected)="onAfterClampImageFileSelected($event)"></app-file-input>

        <!-- <div class="flex flex-col w-full">
          <label class="text-2xl"><b><u>ISSUING OFFICER NAME</u></b></label>
          <select id="issuing_officer" [(ngModel)]="issueOfficer"
            class="border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]">
            <option value="" selected hidden>SELECT OFFICER NAME</option>
            <option *ngFor="let officer of Officer" [value]="officer.id">{{ officer.name }}</option>
          </select>
        </div> -->
        <div class="w-full">
          <app-text-input [id]="'issuing_officer'" [labelText]="'ISSUING OFFICER NAME'" [placeholder]="'FANNY'"
            [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="issueOfficer"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <button
            class="h-20 rounded-md text-center align-middle font-bold text-2xl bg-[var(--ion-color-primary)] text-white w-[48%]"
            (click)="presentModalNric()">
            SUBMIT
          </button>
          <button class="h-20 rounded-md text-center align-middle font-bold text-2xl"
            [ngClass]="'bg-[var(--ion-color-primary)] text-white w-[48%]'" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>