<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Payments'" [text_second]="'Manage Payment Methods'" />
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10"
        [routerLink]="['/manage-add']"></ion-icon>
    </div>
    <div class="flex flex-col gap-1 mt-2">
      <div class="flex justify-between items-center bg-green-200 rounded-full w-full px-4 py-2">
        <div class="flex flew-row items-center">
          <input type="radio" class="text-[var(--ion-color-primary)]" name="cardSelect" (click)="updateSelectedCard('visa')">
          <img class="w-[3rem] h-8 ml-3" src="assets/icon/resident-icon/payment-visa-card.png" alt="Icon for Visitors" />
          <div class="flex flex-col ml-2">
            <span class="font-bold text-sm" *ngIf="visa">Primary Card</span>
            <span class="text-xs">Ending with 3921</span>
          </div>
        </div>
        <div>
          <button class="px-4 py-1 bg-[var(--ion-color-primary)] text-white font-bold text-sm rounded-md" (click)="showAlertButtons('3921')">Delete</button>
        </div>
      </div>
      <div class="flex justify-between items-center bg-green-200 rounded-full w-full px-4 py-2">
        <div class="flex flew-row items-center">
          <input type="radio" class="text-[var(--ion-color-primary)]" name="cardSelect" value="master" (click)="updateSelectedCard('master')">
          <img class="w-[3rem] h-8 ml-3" src="assets/icon/resident-icon/payment-master-card.png" alt="Icon for Visitors" />
          <div class="flex flex-col ml-2">
            <span class="font-bold text-sm" *ngIf="master">Primary Card</span>
            <span class="text-xs">Ending with 1991</span>
          </div>
        </div>
        <div>
          <button class="px-4 py-1 bg-[var(--ion-color-primary)] text-white font-bold text-sm rounded-md" (click)="showAlertButtons('1991')">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>