<div
  [class]="
    data.banned
      ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1'
      : 'bg-[#D8ECCF] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1'
  "
>
  <div class="text-base font-bold w-[100%]">
    <table class="w-full table-fixed">
      <tr class="h-6">
        <td class="w-[30%]">Purpose</td>
        <td class="w-[5%]">:</td>
        <td class="truncate font-light">{{ data.purpose }}</td>
      </tr>
      <tr class="h-6" *ngIf="data.purpose === 'Visiting'">
        <td>Name</td>
        <td class="w-[5%]">:</td>
        <td class="truncate font-light">{{ data.visitor_name }}</td>
      </tr>
      <tr class="h-6" *ngIf="data.purpose !== 'Visiting'">
        <td>Vehicle No</td>
        <td class="w-[5%]">:</td>
        <td class="truncate font-light">{{ data.vehicle_number }}</td>
      </tr>
      <tr class="h-6">
        <td>Date</td>
        <td class="w-[5%]">:</td>
        <td class="font-light">{{ formatDate(data.visitor_date) }}</td>
        <!-- Menggunakan metode formatDate -->
      </tr>
    </table>
  </div>
  <div class="flex flex-row space-x-1 w-full">
    <button
      class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
      (click)="openDetails()"
    >
      View Details
    </button>
    <button
      [disabled]="data.banned && hideResinstateButton === 'ban' ? false : true"
      [ngClass]="
        data.banned && hideResinstateButton === 'ban'
          ? ''
          : 'bg-transparent !text-transparent'
      "
      class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
      (click)="showAlertButtons('Reinstate', 'history-alert', data)"
    >
      Reinstate
    </button>
  </div>
</div>
