<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Payments'" [text_second]="'Deposits'"></app-header-inner-page>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="flex flex-col relative mt-2 mb-16">
    <div class="w-1/6 flex items-start ml-3">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-payment']"></ion-icon>
    </div>
    <!-- Konten Utama Deposits -->
    <div *ngIf="showMainContent" @fadeInOut>
      <div class="w-full bg-sky-200 relative flex items-center justify-center p-7 mt-4" (click)="showDepositHistoryPage()">
        <h2 class="text-base font-bold text-black absolute">
          Refunded deposits
        </h2>
        <ion-button class="flex flex-row justify-center items-center absolute right-2.5 icon icon bg-[var(--ion-color-primary)] p-5" fill="clear" (click)="showDepositHistoryPage()">
          <div class="flex flex-col items-center text-black">
            <ion-icon name="arrow-forward" size="large" class="text-[var(--ion-color-primary)] size-7"></ion-icon>
          </div>
        </ion-button>
      </div>
      <div class="w-full bg-[#D8ECCF] text-center mt-4 m-0 p-3">
        <h2 class="text-base font-bold text-black">
          Active Deposits History
        </h2>
      </div>
      <div class="flex flex-col relative mx-4 mt-4">
        <div class="bg-[#D8ECCF] p-4 rounded-lg text-left font-bold text-black">
          <h3 class="ml-2 text-green-700 underline underline-offset-1 text-base">Current Deposit Balance</h3>
          <h4 class="ml-2 text-base">S${{ totalCurrentDeposit.toFixed(2) }}</h4>
        </div>
        <div class="bg-[#D8ECCF] p-4 mt-2 rounded-lg" *ngFor="let ad of activeDeposit">
          <div class="ml-2">
            <div class="text-green-700 font-bold underline underline-offset-1 text-base"><a href="#">{{ ad.facility }}</a></div>
            <div class="font-bold text-black text-base">S${{ ad.depositAmount.toFixed(2) }}</div>
          </div>
            <div class="text-black">
              <table>
                <tr class="h-1">
                  <td class="font-bold">Deposited On</td>
                  <td>:</td>
                  <td>{{ functionMain.convertToDDMMYYYY(ad.depositDate) }}</td>
                </tr>
                <tr class="h-1">
                  <td class="font-bold">Event Date</td>
                  <td>:</td>
                  <td>{{ functionMain.convertToDDMMYYYY(ad.eventDate) }}</td>
                </tr>
                <tr class="h-1">
                  <td class="font-bold">Expected Refund</td>
                  <td>:</td>
                  <td>{{ functionMain.convertToDDMMYYYY(ad.expectedReturnDepositDate) }}</td>
                </tr>
              </table>
            </div>
        </div>
      </div>
    </div>

    <!-- Konten Deposit History -->
    <div *ngIf="showDepositHistory" @fadeInOut>
      <div class="w-full bg-[#D8ECCF] text-center mt-4 m-0 p-3">
        <h2 class="text-base font-bold text-black">
          Deposits History
        </h2>
      </div>
      <div class="p-4">
        <div class="flex justify-between mb-4">
          <ion-button class="flex flex-row justify-center items-center icon bg-[var(--ion-color-primary)] p-5" fill="clear" (click)="backToMainDeposits()">
            <div class="flex flex-col items-center text-black">
              <ion-icon name="arrow-back" size="large" class="text-[var(--ion-color-primary)] size-7"></ion-icon>
            </div>
          </ion-button>
          <div class="flex flex-col items-end">
              <button class="bg-[var(--ion-color-primary)] py-2 px-4 rounded mb-2 text-white text-base">All Records</button>
            </div>
          </div>
          <div class="flex flex-row space-x-2 mb-4">
            <div class="w-1/2">
              <app-text-input #facilityDepositStartDate [id]="'facility_deposit_start_date'" [placeholder]="'Start Filter Date'"
                [customClasses]="{'w-full':true}" [type]="'date'"
                [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
                ></app-text-input>
            </div>
            <div class="w-1/2">
              <app-text-input #facilityDepositEndDateInput [id]="'facility_deposit_end_date'" [placeholder]="'End Filter Date'"
                [customClasses]="{'w-full':true}" [type]="'date'"
                [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
                ></app-text-input>
            </div>
          </div>
        <div class="bg-sky-200 p-4 rounded-lg text-left font-bold text-black mb-4">
            <p class="ml-2 underline underline-offset-1 text-base">Refunded Deposit Till Date</p>
            <p class="ml-2 text-base">S${{ totalRefundedDeposit.toFixed(2) }}</p>
        </div>
        <div class="bg-[#D8ECCF] p-4 mt-2 rounded-lg" *ngFor="let dh of historyDeposit">
          <div class="ml-2">
            <div class="text-green-700 font-bold"><a class="underline underline-offset-1 text-base" href="#">{{ dh.facility }}</a></div>
            <div class="font-bold text-black text-base">S${{ dh.depositAmount.toFixed(2) }}</div>
          </div>
          <div class="text-black">
            <table>
              <tr class="h-1">
                <td class="font-bold">Deposited On</td>
                <td>:</td>
                <td>{{ functionMain.convertToDDMMYYYY(dh.depositDate) }}</td>
              </tr>
              <tr class="h-1">
                <td class="font-bold">Event Date</td>
                <td>:</td>
                <td>{{ functionMain.convertToDDMMYYYY(dh.eventDate) }}</td>
              </tr>
              <tr class="h-1">
                <td class="font-bold">Refund Date</td>
                <td>:</td>
                <td>{{ functionMain.convertToDDMMYYYY(dh.returnDepositDate) }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>