<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Polling'" [text_second]="'Upcoming Polling'"/>
  <div class="w-full mt-2 flex items-start ml-4">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
  </div>

  <div class="px-5 mt-2 text-center mb-20">
    <div class="flex flex-row justify-between">
			<app-visitor-button [text]="'Open'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'" [routerLink]="['/resident-polling']"></app-visitor-button>
			<app-visitor-button [text]="'Upcoming'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'"></app-visitor-button>
			<app-visitor-button [text]="'Closed'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'" [routerLink]="['/closed-polling']"></app-visitor-button>
		</div>
    <div *ngIf="isloading" class="flex justify-center items-center h-full mt-14">
      <ion-spinner name="circular"></ion-spinner>
    </div>
    <div *ngIf="!isloading" class="w-full mt-4 space-y-2">
      <div class="bg-[var(--ion-color-tertiary)] rounded p-4 flex justify-between items-center" *ngFor="let vd of voteData">
        <div class="flex flex-col items-start">
          <p class="text-black font-bold">
            {{ vd.polling_name }}
          </p>
          <p class="text-black">
            Vote Open: {{ functionMainService.convertToDDMMYYYY(vd.polling_start_date) }}
          </p>
        </div>
       </div>
    </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>