<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-main'" />
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customImageIcon]="'assets/icon-vms/records_menu/Visitor_Logs.png'" [text]="'VISITOR LOGS'"
        [routerLink]="['/records-main']" [isActive]="true" [disableClick]="true" *ngIf="pageType == 'visitor'" />
      <app-button-icon [customImageIcon]="'assets/icon-vms/records_menu/Vehicle_Logs.png'" [text]="'VEHICLE LOGS'"
        [routerLink]="['/records-main']" [isActive]="true" [disableClick]="true" *ngIf="pageType == 'vehicle'" />
    </div>
    <div class="flex flex-col">
      <div class="flex mt-8 flex-row space-x-1">

        <app-button-icon [textOnly]="true" [text]="todayDate" [secondText]="'TODAY'" [isDoubleText]="true"
          (click)="toggleSlide('active')" [isActive]="showActiveTrans || showActive" [disableClick]="true" />

        <app-button-icon [textOnly]="true" [text]="'HISTORY'" (click)="toggleSlide('history')"
          [isActive]="showHistoryTrans || showHistory" [disableClick]="true" />
      </div>
      <div class="flex flex-col mx-4 mb-4">

        <div class="flex flex-col w-full space-y-5 mt-8" *ngIf="showHistory" @fadeInOut>
          <div class="flex flex-col w-full">
            <div class="w-full flex flex-col">
              <div class="w-full justify-between flex flex-row">
                <label class="text-2xl"><u><b>SEARCH OPTION</b></u></label>
                <label class="text-2xl" (click)="clearFilters()"><u><b>CLEAR SEARCH</b></u></label>
              </div>
              <select id="search_option" (change)="onSearchOptionChange($event)"
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280] my-1"
                style="border: 1px solid #6B7280;">
                <option selected disabled hidden>CHOOSE SEARCH BY</option>
                <option [value]="'date'">ENTRY DATE</option>
                <option [value]="'block'">BLOCK & UNIT</option>
                <option [value]="'vehicle_no'" *ngIf="pageType == 'vehicle'">VEHICLE NUMBER</option>
                <option [value]="'all'">ALL</option>
              </select>
            </div>
            <div class="w-full flex-row space-x-1 flex justify-between"
              *ngIf="searchOption == 'date' || searchOption == 'all'">
              <div class="w-1/2">
                <app-text-input #recordVisitorSearchDateFilter [id]="'record_visitor_search_date_filter'"
                  [labelText]="'DATE'" [placeholder]="'24/12/2024'" [customClasses]="{'w-full ':true}" [type]="'date'"
                  (change)="onDateChange($event)" [(ngModel)]="filter.issue_date"
                  [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
                </app-text-input>
              </div>
              <div class="w-1/2">
                <app-text-input #recordVisitorSearchDateEndFilter [id]="'record_visitor_search_date_end_filter'"
                  [labelText]="'DATE TO'" [placeholder]="'24/12/2024'" [customClasses]="{'w-full ':true}"
                  [type]="'date'" (change)="onEndDateChange($event)" [(ngModel)]="filter.end_issue_date"
                  [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
                </app-text-input>
              </div>
            </div>
            <div class="w-full flex flex-row justify-between space-x-1"
              *ngIf="searchOption == 'block' || searchOption == 'all'">
              <div class="w-1/2">
                <label class="text-2xl"><u><b>BLOCK</b></u></label>
                <select id="record_visitor_block_filter" (change)="onBlockChange($event)" [(ngModel)]="filter.block"
                  class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]"
                  style="border: 1px solid #6B7280;">
                  <option value="" selected disabled hidden>CHOOSE BLOCK</option>
                  <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
                </select>
              </div>
              <div class="w-1/2">
                <!-- <label class="text-2xl"><u><b>UNIT</b></u></label>
              <select id="rv_unit" (change)="onUnitChange($event)"  [(ngModel)]="filter.unit"
                class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" style="border: 1px solid #6B7280;">
                <option value="" selected disabled hidden>CHOOSE UNIT</option>
                <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
              </select> -->
                <app-text-input #recordVisitorUnitFilter [id]="'record_visitor_unit_filter'" [labelText]="'UNIT'"
                  [placeholder]="'UNIT 0101'" [customClasses]="{'w-full ':true}" [type]="'text'"
                  [(ngModel)]="filter.unit" (change)="onUnitChange($event)" [isReadonly]="!filter.block"
                  [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
                </app-text-input>
              </div>
            </div>


            <div class="w-full flex-row space-x-1 flex justify-between"
              *ngIf="(searchOption == 'vehicle_no' || searchOption == 'all') && pageType == 'vehicle'">
              <app-text-input #recordVisitorVehicleNumberFilter [id]="'record_visitor_vehicle_number_filter'"
                [labelText]="'VEHICLE NUMBER'" [placeholder]="'SHA 8928 C'" [customClasses]="{'w-full ':true}"
                [type]="'text'" [(ngModel)]="filter.vehicle_number" (change)="onVehicleFilterChange($event)"
                [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
              </app-text-input>
            </div>
          </div>

          <div class="flex flex-col w-full space-y-5"
            *ngIf="filter.block || filter.unit || filter.issue_date || filter.end_issue_date || filter.vehicle_number">
            <div
              class="flex flex-row justify-between h-20 w-full bg-[var(--ion-color-primary)] items-center rounded p-4"
              *ngFor="let log of historyVehicles">
              <span class="text-2xl font-bold text-white">{{ pageType == 'vehicle' ? log.vehicle_number :
                (log.visitor_name ? log.visitor_name : '-') }}, {{ convertToDDMMYYYY(log.entry_datetime.split(' ')[0]) }} {{ log.entry_datetime.split(' ')[1] }}</span>
              <ion-icon size="large" class="text-white size-14" name="arrow-forward-circle"
                (click)="onArrowClick(log)"></ion-icon>
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-5 mt-5" *ngIf="showActive" @fadeInOut>
          <div class="flex flex-row justify-between h-20 w-full bg-[var(--ion-color-primary)] items-center rounded p-4"
            *ngFor="let log of activeVehicles">
            <span class="text-2xl font-bold text-white">{{ pageType == 'vehicle' ? log.vehicle_number : (log.visitor_name ? log.visitor_name : '-')
              }}, {{ convertToDDMMYYYY(log.entry_datetime.split(' ')[0]) }} {{ log.entry_datetime.split(' ')[1] }}</span>
            <ion-icon size="large" class="text-white size-14" name="arrow-forward-circle"
              (click)="onArrowClick(log)"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>