<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/alert-main'" [params]="{unregistered: true}"/>
    </div>
    <div class="flex flex-row mt-8">
      <div class="flex flex-col items-center">
        <app-button-icon [isHomeButton]="true" [text]="'UNREGISTERED VEHICLES'" (click)="onBack()" [isActive]="true" [disableClick]="true" />
      </div>
    </div>
    <div class="flex flex-row">
      <div class="mt-8 flex flex-col items-center mx-4 space-y-5 w-full mb-4">
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input [id]="'vehicle'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'EG. SBS 7772 V'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.vehicle_number"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle(true)"/>
            </div>
        </div>
        <div class="w-full" *ngFor="let camera of Camera; let i = index">
          <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER ' + camera.CamID" 
            [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 ' + (i == 0 ? 'mt-6' : 'mt-1' )"
            (click)="onSubmit(true, camera.CamSentId)"></app-visitor-button>
        </div>
        <div class="w-full">
          <app-visitor-button [text]="'SAVE RECORD ONLY'" 
            [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 mt-1'"
            (click)="onSubmit()"></app-visitor-button>
        </div>
      </div>
    </div>
    
  </div>
  
</ion-content>