<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/move-home'" *ngIf="main" [params]="{type: pageType}" />
      <div class="flex flex-col items-center justify-center text-center mt-4" *ngIf="!main">
        <span class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] text-[var(--ion-color-primary)]"><b>{{ project_name}}</b></span>
        <span
          class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] flex flex-row items-center text-[var(--ion-color-primary)]"><b>iFS360
            VISITOR MANAGEMENT SYSTEM</b></span>
        <div class="w-full flex flex-row justify-start mt-4 items-center">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-20 ml-3"
            (click)="onAccompanyDetail()"></ion-icon>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded"
        *ngIf="main">
        <table class="text-2xl" >
          <tr *ngIf="['move_in', 'renov'].includes(pageType)">
            <td class="font-bold w-2/5">CONTRACTOR NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.contractor_name) }}</td>
          </tr>
          <tr *ngIf="['coach'].includes(pageType)">
            <td class="font-bold w-2/5">COACH NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.coach_name) }}</td>
          </tr>
          <tr *ngIf="['ma_visitor'].includes(pageType)">
            <td class="font-bold w-2/5">NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.name) }}</td>
          </tr>
          <tr *ngIf="['move_in', 'renov', 'ma_visitor'].includes(pageType)">
            <td class="font-bold w-2/5">COMPANY NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.company_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">VEHICLE NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.vehicle_number) }}</td>
          </tr>
           <tr>
            <td class="font-bold w-2/5">CONTACT NO</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.contact_number ? functionMain.returnNone(record.contact_number) : functionMain.returnNone(record.contact_no) }}</td>
          </tr>
          <tr *ngIf="['coach'].includes(pageType)">
            <td class="font-bold w-2/5">BLOCK AND UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.block_name) }} | {{ functionMain.returnNone(record.unit_name) }}</td>
          </tr>
         
          <tr *ngIf="['move_in', 'renov'].includes(pageType)">
            <td class="font-bold w-2/5">CONTRACTOR PASS NO</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.contractor_pass_no) }}</td>
          </tr>
          <tr *ngIf="['coach'].includes(pageType)">
            <td class="font-bold w-2/5">BLOCK AND UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.coach_type) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.schedule_date ? functionMain.convertNewDateTZ(record.schedule_date).split(' ')[0] : '-' }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.schedule_date ? functionMain.convertNewDateTZ(record.schedule_date).split(' ')[1] : '-' }}</td>
          </tr>
          <!-- <tr *ngIf="['move_in', 'renov'].includes(pageType)">
            <td class="font-bold w-2/5">EXIT DATE & TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ exit_date }}</td>
          </tr> -->
          <tr *ngIf="['move_in', 'renov'].includes(pageType)">
            <td class="font-bold w-2/5">ACCOMPANIED BY</td>
            <td class="w-[5%]">:</td>
            <td class="flex flex-row justify-between items-center">
              <div class="font-bold" (click)="onAccompanyDetail()"><u>{{ record.subcon_total }} PERSON</u></div>

            </td>
          </tr>
          <tr *ngIf="['move_in', 'renov'].includes(pageType)">
            <td class="font-bold w-2/5">APPLIED BY</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.requestor_name) }}</td>
          </tr>
          <!-- <tr>
            <td class="font-bold w-2/5">RESIDENT CONTACT NO</td>
            <td class="w-[5%]">:</td>
            <td>{{ resident_contact_no }}</td>
          </tr> -->
        </table>
        <div class="flex flex-row justify-between w-full" *ngIf="['move_in', 'renov'].includes(pageType)">
          <button class="w-[48%] bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4">CALL CONTRACTOR</button>
          <button class="w-[48%] bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4">CALL RESIDENT</button>
        </div>
      </div>

      <div class="flex flex-col mt-8 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded"
        *ngIf="!main">
        <label class="text-2xl font-bold mb-5">NUMBER OF PAX ENTERED: {{ record.subcon_total }}</label>
        <div class="border-2 p-1 w-full mb-5">
          <table class="text-xl w-full">
            <tr class="font-bold">
              <!-- <td class="">SERIAL NUMBER</td> -->
              <td class="w-2/5">NAME</td>
              <td class="w-3/5">LAST 4 CHARACTERS OF IC</td>
            </tr>
            <tr *ngFor="let subcon of record.subcon_member">
              <!-- <td>{{ subcon.serial_number }}</td> -->
              <td>{{ subcon.contractor_name }}</td>
              <td>{{ subcon.identification_number }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</ion-content>