<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Raise a Request'" [text_second]="'Appeal Parking Fines'"></app-header-inner-page>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="w-full flex items-start ml-4 mt-2">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-raise-a-request']"></ion-icon>
  </div>

  <div class="px-5 text-start mb-20">
    <div id="visitor" class="w-full mt-2 overflow-x-auto pb-1">
      <div *ngFor="let ad of appealData" [ngClass]="{
          'bg-[var(--ion-color-tertiary)]': ad.appeal_status === 'Approved',
          'bg-[#F8F1BA]': ad.appeal_status === 'Issued',
          'bg-[#E3787E]': ad.appeal_status === 'Rejected' || ad.appeal_status === 'Cancelled',
        }" class="px-4 pb-4 pt-2.5 rounded-xl w-full mb-3 relative">
        <div class="flex flex-col justify-center items-start ml-1.5 mb-1">
          <div class="flex flex-row items-center justify-end mt-2">
            <ng-container *ngIf="ad.appeal_status === 'approved' || ad.appeal_status === 'Approved'">
              <ion-icon name="checkmark" class="bg-[var(--ion-color-primary)] mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
              <p class="text-[var(--ion-color-primary)] font-bold text-base mt-[4px]">Approved</p>
            </ng-container>
            <ng-container *ngIf="ad.appeal_status === 'pending_approval' || ad.appeal_status === 'Issued'">
              <ion-icon name="alert-circle-outline" class=" bg-yellow-500 mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
              <p class="text-yellow-500 font-bold text-base mt-[4px]">Issued</p>
            </ng-container>
            <ng-container *ngIf="ad.appeal_status === 'rejected' || ad.appeal_status === 'Rejected'">
              <ion-icon name="close" class="bg-red-700 mr-2 p-1 rounded-full text-white text-[16px]"></ion-icon>
              <p class="text-red-700 font-bold text-base mt-[4px]">Rejected</p>
            </ng-container>
          </div>
        </div>
        <div class="flex flex-row justify-between font-bold items-center">
          <div class="flex flex-col w-[100%]">
            <div class="text-base font-extrabold ml-2">
              {{ ad.appeal_status }}
            </div>
            <div class="text-base flex flex-col">
              <table class="w-full table-fixed">
                <tr>
                  <td>Vehicle No</td>
                  <td class="w-[5%]">:</td>
                  <td class="font-thin">{{ ad.vehicle_number }}</td>
                </tr>
                <tr>
                  <td>Offence Date</td>
                  <td class="w-[5%]">:</td>
                  <td class="font-thin">{{ ad.issue_time }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        
        <div class="button-card-facility flex items-center font-bold w-1/2 ml-[4.5px] mt-2 mb-2">
          <button class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold" (click)="navigateToAppealForm(ad)">
            Appeal Now
          </button>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>