.fslp-container {
    text-align: center;
    padding: 30px 5px 30px 5px;
}
.fslp-logo {
    width: 200px;
    margin: 50px auto 20px;
}
.fslp-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.fsles-button-container {
    margin-right: 4px;
}
.fsles-bottom {
    font-family: 'Montserrat', sans-serif;
}
.fslp-button {
    font-family: 'Abyssinica SIL', serif;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.fslp-button-disabled {
    font-family: 'Abyssinica SIL', serif;
    font-size: 12px;
    color: rgb(107 114 128);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.focus-visible {
    outline: 2px solid blue; /* Gaya fokus yang diinginkan */
  }
  @keyframes popup {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-popup {
    animation: popup 0.3s ease-in-out forwards;
  }

  @keyframes popdown {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  .animate-popdown {
    animation: popdown 0.3s ease-in-out forwards;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang dengan transparansi */
    z-index: 1000; /* Pastikan overlay berada di atas elemen lainnya */
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Pusatkan modal */
    z-index: 1001; /* Pastikan modal berada di atas overlay */
    width: 320px; /* Lebar modal */
    max-width: 100%; /* Lebar maksimum modal */
  } 