<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Deals'"/>

  <div class="p-5 text-center mb-20">
    <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3">
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/Woman Lifting Weights.webp" alt="Icon for 10% off Gyming Equipments"/>
        </ion-button>
        <span class="text-sm font-bold text-[black] text-center">10% off Gyming Equipments</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/MTS Money.webp" alt="Icon for $2 off Voucher"/>
        </ion-button>
        <span class="text-sm font-bold text-[black] text-center">$2 off Voucher</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/Discount.webp" alt="Icon for Condo Deals"/>
        </ion-button>
        <span class="text-sm font-bold text-[black] text-center">Condo Deals</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/House.webp" alt="Icon for Home & Living"/>
        </ion-button>
        <span class="text-sm font-bold text-[black] text-center">Home & Living</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/Money Bag.webp" alt="Icon for Money Matters"/>
        </ion-button>
        <span class="text-sm font-bold text-[black] text-center">Money Matters</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/deals/Parenting.webp" alt="Icon for Parenting"/>
        </ion-button>
        <span class="text-[13px] font-bold text-[black] text-center">Parenting</span>
      </div>
      <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
        <ion-button fill="clear">
          <img class="w-12 h-12" src="assets/icon/resident-icon/deals/Love For Money.webp" alt="Icon for Saving Deals"/>
        </ion-button>
        <span class="text-[13px] font-bold text-[black] text-center">Saving Deals</span>
      </div>
    </div>
  </div>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>