<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
		<div class="flex flex-col justify-start">
			<img alt="Profile picture of a person" height="80" src="https://storage.googleapis.com/a1aa/image/NWAf6fQlGwiLJkFZou5lnWGhp97H7gZehBzVmVzlOoIYO4gnA.jpg" width="80" class="w-80 h-80"/>
      <ion-icon class="absolute bottom-16 drop-shadow-xl left-12 text-base bg-white rounded-full p-1" name="pencil" [routerLink]="['/resident-my-profile']">
      </ion-icon>
			<div class="flex flex-col items-start mt-4">
				<h1 class="text-[black]">
					Welcome Veeknesh
				</h1>
				<p class="text-[black] font-bold">
					ABC Condominium
				</p>
			</div>
		</div>
		<div class="logo">
			<img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
	</div>
  <div class="p-5 text-center mb-20">
    <div class="w-full flex flex-row mb-4">
      <div class="w-full">
        <input type="text" id="simple-search" class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="What Would You Like To Do Today?" required />
      </div>
      <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-[#10421D] items-center rounded-lg border border-[#10421D] hover:bg-[#10421D] focus:ring-4 focus:outline-none focus:ring-green-700 dark:bg-[#10421D] dark:hover:bg-[#10421D] dark:focus:ring-[#10421D]">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
      </button>
    </div>
    <div class="flex flex-col gap-3">
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-visitors']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/visitors.png" alt="Icon for Visitors"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">Visitors</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-facility-bookings']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon3.png" alt="Icon for Facility Bookings"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">Facility Bookings</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-payment']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon2.png" alt="Icon for Payments"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">Payments</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-my-family']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon1.png" alt="Icon for My Family"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">My Family</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-my-vehicle']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon4.png" alt="Icon for My Vehicle"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">My Vehicle</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-raise-a-request']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon6.png" alt="Icon for Raise A Request"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">Raise A Request</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-[#D8ECCF] rounded-full" [routerLink]="['/resident-find-a-service-provider']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon5.png" alt="Icon for Find a Service Provider"/>
        <span class="flex-grow font-bold text-start ml-2 text-base">Find a Service Provider</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </div>
    <div class="flex items-center justify-center flex-col">
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5">
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-notification']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/notification.png" alt="Icon for Notifications"/>
          </ion-button>
          <span class="text-sm font-bold text-[black] text-center">Notifications</span>
          <span class="absolute top-0 right-0 bg-red-500 text-white text-base rounded-full px-2">1</span>
        </div>
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-announcement-page']">
            <img class="w-12 h-12" src="assets/icon/home-icon/sound.webp" alt="Icon for Upcoming Events"/>
          </ion-button>
          <span class="text-[13px] font-bold text-[black] text-center">Notice & Docs</span>
          <span class="absolute top-0 right-0 bg-red-500 text-white text-base rounded-full px-2">1</span>
        </div>
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-polling']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/polling.png" alt="Icon for Polling"/>
          </ion-button>
          <span class="text-sm font-bold text-[black] text-center">Polling</span>
        </div>
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-house-rules']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/house-rule.png" alt="Icon for House Rules"/>
          </ion-button>
          <span class="text-sm font-bold text-[black] text-center">House Rules</span>
        </div>
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/record']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/report-an-issue.png" alt="Icon for Report an Issue"/>
          </ion-button>
          <span class="text-sm font-bold text-[black] text-center">Report an Issue</span>
        </div>
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-upcoming-event']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/upcoming-event.png" alt="Icon for Upcoming Events"/>
          </ion-button>
          <span class="text-[13px] font-bold text-[black] text-center">Upcoming Events</span>
        </div>
      </div>
      <div class="flex flex-row w-full items-center justify-center mt-3 gap-3">
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2 max-w-[120px]">
          <ion-button fill="clear" [routerLink]="['/resident-door-access']">
            <img class="w-12 h-12" src="assets/icon/home-icon/door.png" alt="Icon for Upcoming Events"/>
          </ion-button>
          <span class="text-[13px] font-bold text-[black] text-center">Door Access</span>
        </div>
        <!-- <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2">
          <ion-button fill="clear" [routerLink]="['/resident-deals-page']">
            <img class="w-12 h-12" src="assets/icon/home-icon/money.webp" alt="Icon for Upcoming Events"/>
          </ion-button>
          <span class="text-[13px] font-bold text-[black] text-center">Deals</span>
        </div> -->
        <div class="w-full flex flex-col items-center bg-[#D8ECCF] h-18 rounded-2xl relative py-2 max-w-[120px]">
          <ion-button fill="clear" [routerLink]="['/resident-quick-dials']">
            <img class="w-10 h-10" src="assets/icon/resident-icon/quick-dials.png" alt="Icon for Quick Dials"/>
          </ion-button>
          <span class="text-sm font-bold text-[black] text-center">Quick Dials</span>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>