<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
		<div class="flex flex-col justify-start">
			<img alt="Profile picture of a person" height="60" src="https://storage.googleapis.com/a1aa/image/NWAf6fQlGwiLJkFZou5lnWGhp97H7gZehBzVmVzlOoIYO4gnA.jpg" width="60"/>
			<div class="flex flex-col items-start mt-4">
				<h1 class="text-[black]">
					Welcome Veeknesh
				</h1>
				<p class="text-[black] font-bold">
					ABC Condominium
				</p>
			</div>
		</div>
		<div class="logo">
			<img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
	</div>
  <div class="p-5 text-center mb-16">
    <h2 class="text-[17px] mb-3 font-bold">What Would You Like To Do Today?</h2>
    <div class="flex flex-col gap-3">
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full" [routerLink]="['/resident-visitors']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon1.png" alt="Icon for Visitors"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">Visitors</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full" [routerLink]="['/resident-facility-bookings']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon3.png" alt="Icon for Facility Bookings"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">Facility Bookings</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full" [routerLink]="['/resident-payment']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon2.png" alt="Icon for Payments"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">Payments</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full" [routerLink]="['/resident-my-family']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon1.png" alt="Icon for My Family"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">My Family</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full" [routerLink]="['/resident-my-vehicle']">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon4.png" alt="Icon for My Vehicle"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">My Vehicle</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon5.png" alt="Icon for Find a Service Provider"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">Find a Service Provider</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" expand="full" class="flex justify-between items-center bg-green-200 rounded-full">
        <img class="w-8 h-8" src="assets/icon/resident-icon/icon6.png" alt="Icon for Raise A Request"/>
        <span class="flex-grow font-bold text-start ml-2 text-xs">Raise A Request</span>
        <ion-icon class="icon" name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </div>
    <div class="flex flex-wrap justify-center gap-3 mt-5">
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/notification.png" alt="Icon for Notifications"/>
        </ion-button>
        <span class="text-[11px] font-bold text-[black] text-center">Notifications</span>
      </div>
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/quick-dials.png" alt="Icon for Quick Dials"/>
        </ion-button>
        <span class="text-[11px] font-bold text-[black] text-center">Quick Dials</span>
      </div>
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/polling.png" alt="Icon for Polling"/>
        </ion-button>
        <span class="text-[11px] font-bold text-[black] text-center">Polling</span>
      </div>
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/house-rule.png" alt="Icon for House Rules"/>
        </ion-button>
        <span class="text-[11px] font-bold text-[black] text-center">House Rules</span>
      </div>
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/report-an-issue.png" alt="Icon for Report an Issue"/>
        </ion-button>
        <span class="text-[10px] font-bold text-[black] text-center">Report an Issue</span>
      </div>
      <div class="flex flex-col items-center bg-green-200 w-24 h-18 rounded-2xl relative">
        <ion-button fill="clear">
          <img class="w-10 h-10" src="assets/icon/resident-icon/upcoming-event.png" alt="Icon for Upcoming Events"/>
        </ion-button>
        <span class="text-[10px] font-bold text-[black] text-center">Upcoming Events</span>
      </div>
    </div>
  </div>
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>