<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <div class="flex flex-col items-center justify-center text-center mt-4">
        <span class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] text-[var(--ion-color-primary)]"><b>{{ project_name}}</b></span>
        <span
          class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] flex flex-row items-center text-[var(--ion-color-primary)]"><b>iFS360
            VISITOR MANAGEMENT SYSTEM</b></span>
        <div class="w-full flex flex-row justify-start mt-4 items-center">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-20 ml-3"
            (click)="onBackMove()"></ion-icon>
          <div 
            class="w-[66px] h-[66px] bg-[var(--ion-color-primary)] rounded-[50%] flex flex-row items-center justify-center">
            <ion-icon name="home-outline" size="large" class="text-white size-10" (click)="onHomeClick()"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mt-8">    
      <app-button-icon 
      [customImageIcon]="'assets/icon-vms/records_menu/Blacklist.png'"
      [text]="'BLACKLIST'" 
      (click)="onBackMove()"
      [isActive]="true" 
      [disableClick]="true" 
    />  
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col w-full mt-8 space-y-5 items-center mb-4">
        <div class="w-full">
          <app-vms-contact-input [(value)]="formData.contact_no" #blacklistContactNumberInput [id]="'blacklist_contact_number'" (contactInfo)="getContactInfo($event)" [disableButton]="is_ban_visitor || is_ban_notice" [isReadonly]="is_readonly"></app-vms-contact-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input #blacklistVehicleNumberInput [id]="'blacklist_vehicle_number'" [labelText]="'VEHICLE NUMBER'" [placeholder]="'SAA 8298 N'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.vehicle_no"  [isReadonly]="is_readonly"></app-text-input>
          </div>
            <div class="h-25 flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle(true)"/>
            </div>
        </div> 
        <div class="w-full">
          <app-text-input #blacklistNameInput [id]="'blacklist_name'" [labelText]="'NAME'" [placeholder]="'MIFTAH AKHBAR'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.visitor_name"  [isReadonly]="is_readonly"></app-text-input>
        </div> 
        <div class="w-full flex flex-col" *ngIf="!project_config.is_industrial">
          <label class="text-2xl"><b><u>BLOCK</u></b></label>
          <select id="blacklist_block" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onBlockChange($event)" [(ngModel)]="formData.block_id" [disabled]="is_readonly">
            <option value="" selected disabled hidden>CHOOSE BLOCK</option>
            <option *ngFor="let block of Block" [value]="block.id">{{ block.block_name }}</option>
          </select>
        </div>
        <div class="w-full" *ngIf="!unitShow && !project_config.is_industrial">
          <label class="text-2xl"><b><u>UNIT</u></b></label>
          <select id="blacklist_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onUnitChange($event)" [(ngModel)]="formData.unit_id" [disabled]="is_readonly">
            <option value="" selected disabled hidden>CHOOSE UNIT</option>
            <option *ngFor="let unit of Unit" [value]="unit.id">{{ unit.unit_name }}</option>
          </select>
        </div>
        <div class="w-full" *ngIf="unitShow && !project_config.is_industrial">
          <app-m2m-selection [Arrays]="UnitNew" (outputValue)="onUnitChangeNew($event)" [placeholder]="'CHOOSE UNIT'" [isOne]="true" [isVMS]="true"
            [labelText]="'UNIT'" [Selected]="contactUnit" ></app-m2m-selection>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-m2m-selection [Arrays]="Host" [showButton]="project_config.is_industrial" (outputValue)="onHostChange($event)" [placeholder]="'CHOOSE HOST'" [isOne]="true" [isVMS]="true" [labelText]="'HOST'" [Selected]="contactHost"></app-m2m-selection>
        </div>
        <div class="w-full">
          <app-file-input class="w-full h-25" [labelText]="'BAN IMAGE'" [buttonText]="'UPLOAD'" [isCamera]="true"
          [extraButtonClass]="'rounded-md text-white h-20'" [customPlaceholder]="'EG. VIOLATION.png'"
          (cameraSelected)="onBanImage($event)"></app-file-input>
        </div>
        <div class="w-full flex flex-col">
          <!-- <label class="text-2xl"><u><b>REASON</b></u></label>
          <textarea id="reason" rows="4" [(ngModel)]="formData.reason"
            class="bg-white border border-[#6B7280] text-gray-900 text-2xl rounded "
            placeholder=""></textarea> -->
          <app-text-input [id]="'blacklist_form_reason'" [name]="'blacklist_form_reason'" [labelText]="'REASON'" [rows]="4"
            [placeholder]="''" [customClasses]="{'w-full':true}" [type]="'textarea'" [textAreaClass]="'w-full bg-white border border-[#6B7280] text-gray-900 text-2xl rounded'"
            [(ngModel)]="formData.reason"></app-text-input>
        </div>        
        <div class="w-full">
          <app-text-input #submitNameInput [id]="'submit_name'" [labelText]="'SUBMITTED BY'" [placeholder]="'ERIC'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="formData.banned_by"></app-text-input>
        </div> 
        
        <div class="w-full flex flex-col">
          <div class="w-full">
            <app-visitor-button [text]="'SUBMIT'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full mt-1 text-2xl h-20'" (click)="saveRecord()"></app-visitor-button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</ion-content>