<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header (click)="onBack()" />
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [text]="'CHECKOUT'" [customImageIcon]="'assets/icon-vms/door-check-out-icon-white.png'"
        (click)="onBack()" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex flex-row mx-4" *ngIf="isMain" @fadeInOut>
      <div class="flex flex-col w-full mt-8 space-y-5 items-center mb-4">
        <div class="w-full flex flex-row justify-between space-x-2">
          <div class="w-full">
            <app-nric-scan-input [parentClass]="'space-y-5'" [showSelection]="true" [includePassport]="true" (outputScan)="setFromScan($event)" [Selected]='selectedNric' [isScan]="false" [isSearchButton]="true" (customOutputClick)="searchData('is_id')" />
          </div>
          
        </div>
        <div class="w-full flex flex-row justify-between space-x-2">
          <div class="w-full">
            <app-vms-contact-input #pageCheckOutContactSearch [id]="'page_checkout_contact_search'" [placeholder]="''"
            [(value)]="checkoutForm.contact_number" [valueExist]="checkoutForm.contact_number" [showButton]="false"></app-vms-contact-input>
          </div>
          <div class="flex flex-col justify-end">
            <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="searchData('is_contact')">
              <fa-icon [icon]="faSearch" class="text-[40px] text-white"></fa-icon>
            </div>
          </div>
        </div>
        <div class="w-full flex flex-row justify-between space-x-2">
          <div class="w-full">
            <app-text-input #checkoutPass [id]="'checkout_pass_number'" [labelText]="'PASS NUMBER'"
              [placeholder]="''" [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="checkoutForm.pass_number"></app-text-input>
          </div>
          <div class="flex flex-col justify-end">
            <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="searchData('is_pass')">
              <fa-icon [icon]="faSearch" class="text-[40px] text-white"></fa-icon>
            </div>
          </div>
        </div>
        <!-- <div class="w-full flex flex-row justify-between items-end space-x-2">
          <div class="w-full">
            <app-text-input #pageCheckOutPassSearch [id]="'page_checkout_pass_search'"
              [labelText]="'PASS NUMBER'" [placeholder]="''" [customClasses]="{'w-full':true}"
              [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
              [(ngModel)]="checkoutForm.pass_number" [isReadonly]="false"></app-text-input>
          </div>
        </div> -->
        <div class="w-full flex flex-col">
          <app-visitor-button [text]="'SUBMIT'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 mt-1'"
            (click)="searchData('is_all')"></app-visitor-button>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading && !isSearch && !isMain" class="flex justify-center items-center h-20" @fadeInOut>
      <!-- <ion-spinner name="dots" class="text-[var(--ion-color-primary)]"></ion-spinner> -->
      <app-modal-loading />
    </div>
    <div class="flex flex-row mx-4" *ngIf="isSearch" @fadeInOut>
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <table class="text-2xl" >
          <tr>
            <td class="font-bold w-2/5">VISITOR NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.visitor_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ID TYPE</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.uppercaseFirst(logData.identification_type) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ID NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.identification_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">VEHICLE NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.vehicle_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">VISIT TYPE</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.visit_type) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY TYPE</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.entry_type) }}</td>
          </tr>
           <tr>
            <td class="font-bold w-2/5">CONTACT NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.contact_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">HOST</td>
            <td class="w-[5%]">:</td>
            <td>{{ logData.industrial_host_id ? functionMain.returnNone(logData.industrial_host_name) : (logData.industrial_host_ids ? functionMain.getHostName(logData.industrial_host_data) : '-' ) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">PASS NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.pass_number) }}</td>
          </tr>
          <tr *ngIf="logData.company_name">
            <td class="font-bold w-2/5">COMPANY NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(logData.company_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ logData.entry_datetime ? functionMain.convertNewDateTZ(logData.entry_datetime).split(' ')[0] : '-' }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY TIME</td>
            <td class="w-[5%]">:</td>
            <td>{{ logData.entry_datetime ? functionMain.convertNewDateTZ(logData.entry_datetime).split(' ')[1] : '-' }}</td>
          </tr>
        </table>
        <div class="flex flex-row justify-around w-full">
          <button class="w-[48%] bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4" (click)="onCheckout()">CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>