<div class="flex flex-col items-center justify-center text-center mt-4">
  <span
    class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] flex flex-row items-center text-[var(--ion-color-primary)]"><b>iFS360
      VISITOR MANAGEMENT SYSTEM</b></span>
  <div class="w-full flex flex-row justify-start mt-4 items-center">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-20 ml-3"
      (click)="onRouterClick()"></ion-icon>
    <div *ngIf="homeRoute"
      class="w-[66px] h-[66px] bg-[var(--ion-color-primary)] rounded-[50%] flex flex-row items-center justify-center">
      <ion-icon name="home-outline" size="large" class="text-white size-10" (click)="onHomeClick()"
        ></ion-icon>
    </div>

  </div>
</div>