<div class="flex flex-row w-full items-end justify-between h-25">
  <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden"
    [accept]="fileAccept ? fileAccept : 'image/*, application/*'" />

  <div [ngClass]="'w-[67%] rounded-md outline-[#BDBDBD] h-fit text-2xl flex flex-col'">
    <label class="text-2xl " [ngClass]="labelClass" *ngIf="labelText"><b><u>{{labelText}}</u></b></label>
     <label class="text-2xl " [ngClass]="labelClass" *ngIf="labelNonUnderline">{{labelNonUnderline}}</label>
    <!-- <div [ngClass]="'w-full'">
      <input style="border: #6B7280 1px solid;"
        [ngClass]="'w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#7D8390] bg-[#F5F5F5]'" 
        type="text" 
        [placeholder]="''" 
        [(ngModel)]="selectedFileName"
        [readonly]="true" 
      />
    </div> -->
    <div
      [class]="'overflow-x-auto w-full rounded py-2 px-3 outline-[#BDBDBD] text-2xl text-[#7D8390] bg-[#F5F5F5] flex flex-row items-center ' + outClass"
      tabindex="0" [ngClass]="!isNotVMS ? 'text-2xl border-black' : divOuterClass">
      <div class="flex flex-row flex-wrap gap-1" *ngIf="cameraArray.length > 0">
        <div class="flex flex-row space-x-1 items-center rounded bg-transparent"
          [ngClass]="!isMany ? '' : 'border border-black p-1'" *ngFor="let array of cameraArray; let i = index">
          <ion-icon name="close-circle-outline" class="size-5" (click)="removeImage(i)" *ngIf="isMany"></ion-icon>
          <span>{{array.name}}</span>
        </div>
      </div>
      <div class="flex flex-row space-x-1 items-center rounded bg-transparent" *ngIf="cameraArray.length == 0 && showPlaceholder">
        {{ customPlaceholder }}
      </div>
    </div>
  </div>

  <button (click)="triggerFileInput()" [class]="'bg-[var(--ion-color-primary)] w-[31%] text-2xl ' + extraButtonClass"
    [style]="customButtonStyle">
    <b>{{buttonText}}</b>
  </button>

  <ion-modal id="open-file-camera-selection" [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <div [class]="(isNotVMS ? 'wrapper' : 'wrapper-comic') + ' w-full flex flex-col justify-between'">
        <!-- <div class="flex flex-row justify-end">
          <div class="w-12 h-12 bg-[var(--ion-color-danger)] rounded-[50%] flex flex-row items-center justify-center mb-4">
            <ion-icon name="close-outline" size="large" class="text-white size-10" (click)="closeModal()"></ion-icon>
          </div>
        </div> -->
        <div class="flex flex-row justify-between">
          <button id="client_ticket_new_upbload_attachment" (click)="openFile()"
            [class]="'!bg-[var(--ion-color-primary)] !text-white w-[45%] text-2xl ' + extraButtonClass" [style]="customButtonStyle">
            Open Folder
          </button>
          <button id="client_ticket_new_upbload_attachment" (click)="takePicture()"
            [class]="'!bg-[var(--ion-color-primary)] !text-white w-[45%] text-2xl ' + extraButtonClass" [style]="customButtonStyle">
            Open Camera
          </button>
        </div>
        <div class="flex flex-row justify-end mt-4">
          <button id="client_ticket_new_upbload_attachment" (click)="closeModal()"
            [class]="'!bg-white !text-[var(--ion-color-primary)] w-full text-2xl ' + extraButtonClass" style="border: 2px solid var(--ion-color-primary);">
            {{ cameraArray.length > 0 ? 'Confirm Selection' : 'Close Selection'}}
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</div>