<div class="flex flex-row w-full items-end">
  <input 
    type="file" 
    #fileInput 
    (change)="onFileSelected($event)" 
    class="hidden"
    accept="image/*"
  />

  <div [ngClass]="'w-4/6 rounded-md px-3 outline-[#BDBDBD] h-fit text-xl flex flex-col'">
    <label class="text-2xl" *ngIf="labelText"><b><u>{{labelText}}</u></b></label>
    <div [ngClass]="'w-full'">
      <input  
        [ngClass]="'border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xl'" 
        type="text" 
        [placeholder]="customPlaceholder" 
        [(ngModel)]="selectedFileName"
        [readonly]="true" 
      />
    </div>
    <!-- <app-text-input [placeholder]="'CONTACT NO'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
  </div>
  
  <button 
    (click)="triggerFileInput()" 
    class="bg-[var(--ion-color-primary)] text-white w-[30%] text-xl h-10" [ngClass]="extraButtonClass" [style]="customButtonStyle"
  >
    {{buttonText}}
  </button>
  
</div>