<div class="flex flex-row w-full items-end justify-between h-25">
  <input 
    type="file" 
    #fileInput 
    (change)="onFileSelected($event)" 
    class="hidden"
    accept="image/*"
  />

  <div [ngClass]="'w-[67%] rounded-md outline-[#BDBDBD] h-fit text-2xl flex flex-col'">
    <label class="text-2xl" *ngIf="labelText"><b><u>{{labelText}}</u></b></label>
    <div [ngClass]="'w-full'">
      <input style="border: #6B7280 1px solid;"
        [ngClass]="'w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl'" 
        type="text" 
        [placeholder]="customPlaceholder" 
        [(ngModel)]="selectedFileName"
        [readonly]="true" 
      />
    </div>
    <!-- <app-text-input [placeholder]="'CONTACT NO'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
  </div>
  
  <button 
    (click)="triggerFileInput()" 
    class="bg-[var(--ion-color-primary)] text-white w-[31%] text-2xl h-20 " [ngClass]="extraButtonClass" [style]="customButtonStyle"
  >
    <b>{{buttonText}}</b>
  </button>
  
</div>