<ion-header>
  <app-resident-header [is_client]="true"  [text]="'Approvals'" [text_second]="textSecond" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
    *ngIf="!isHome"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="flex flex-row justify-between items-center mt-2 ml-3 mr-4">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
    <div class="rounded-full w-10 h-10 bg-[var(--ion-color-primary)] flex flex-row justify-center items-center" (click)="onSetting()" *ngIf="!project_config.is_industrial">
      <ion-icon name="settings-outline" size="small" class="text-white size-7"></ion-icon>
    </div>
  </div>
  <div class="flex flex-col relative mx-4 mb-24" *ngIf="isApprovalHome" @fadeInOut>
    <div class="flex items-center justify-center flex-col" *ngIf="isHome" @fadeInOut>
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5">
        <div class="w-full h-full relative" *ngFor="let menu of menuItems">
          <ion-button fill="clear" class="w-full h-[150px] flex bg-[var(--ion-color-tertiary)] rounded-2xl relative p-0 m-0"
            (click)="onClickMenu(menu)">
            <div class="w-full flex flex-col items-center">
              <img class="w-16 h-13" [src]="menu.src" [alt]="menu.alt" />
              <span class="text-sm font-bold text-black text-center normal-case cw-4:text-[11.5px]">{{ menu.text
                }}</span>
            </div>
          </ion-button>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full" *ngIf="isData" @fadeInOut>
      <div class="flex flex-row justify-start items-center w-full space-x-3 mt-2">
        <div class="w-full">
          <app-visitor-button [text]="'Pending'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isActive ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowActive()"></app-visitor-button>
        </div>
        <div class="w-full">
          <app-visitor-button [text]="'Closed'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isClosed ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowClosed()"></app-visitor-button>
        </div>
      </div>
      <div class="flex flex-col justify-between mt-4" *ngIf="isClosed">
        <div class="text-base font-bold flex flex-row justify-between">
          <u class="text-base font-bold">Request Date</u>
          <u class="text-base font-bold" (click)="resetFilter()">Clear Filter</u>
        </div>
        <div class="w-full flex flex-row space-x-3">
          <div class="w-1/2">
            <app-text-input #clientApprovalFilterStartDateInput [id]="'client_approval_filter_start_date_input'"
              [placeholder]="'Start Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'" [showPlaceholder]="true"
              [(ngModel)]="startDateFilter"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
              (change)="onStartDateChange($event)"></app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input #clientApprovalFilterEndDateInput [id]="'client_approval_filter_end_date_input'"
              [placeholder]="'End Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'" [showPlaceholder]="true"
              [(ngModel)]="endDateFilter"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
              (change)="onEndDateChange($event)" [min]="startDateFilter"></app-text-input>
          </div>
        </div>       
      </div>
      <!-- <div *ngIf="isLoading" class="flex justify-center items-center h-20">
        <ion-spinner name="dots"></ion-spinner>
      </div> -->
      <div class="flex justify-end items-end mt-2">
        <app-client-pagination [currentPage]="currentPage" [inputPage]="inputPage" [pagination]="pagination" (pageForward)="pageForward($event)" />
      </div>
      <app-modal-loading *ngIf="isLoading" class="mt-4"/>
      <div *ngIf="!isLoading">
        <div *ngIf="showApprovals.length > 0; else noApprovals">
          <div *ngFor="let approval of showApprovals; let i = index" [ngClass]="{
            'bg-green-100': approval.states === 'approved' || approval.appeal_status === 'approved',
            'bg-sky-100': approval.states === 'pending_approval' || approval.states === 'pending_payment' || approval.appeal_status === 'issued',
            'bg-[#E3787E]': approval.states === 'rejected' || approval.states === 'cancel' || approval.appeal_status === 'rejected',
            'bg-[#F8F1BA]': approval.states === 'requested',
            'bg-[#c4c4c4]': !approval.states,
            }" class="bg-green-100 rounded-2xl p-5 my-4 mt-4 w-full">
            <h2 [ngClass]="{
            'text-green-500': approval.states === 'approved' || approval.appeal_status === 'approved',
            'text-sky-500': approval.states === 'pending_approval' || approval.states === 'pending_payment' || approval.appeal_status === 'issued',
            'text-red-700': approval.states === 'rejected' || approval.states === 'cancel' || approval.appeal_status === 'rejected',
            'text-yellow-400': approval.states === 'requested',
            }" class="flex text-base font-bold mb-2 justify-items-center items-center text-center">
              <ion-icon [name]="approval.states === 'approved' || approval.appeal_status === 'approved' ? 'checkmark' : 
            approval.states === 'pending_approval' || approval.appeal_status === 'issued' ? 'time' : 
            approval.states === 'pending_payment' ? 'time' : 
            approval.states === 'rejected' ? 'close' : 
            approval.states === 'cancel' ? 'close' : 
            approval.states === 'requested' || approval.appeal_status === 'rejected' ? 'help-circle' : 
            'help-circle'" [ngClass]="{
            'bg-green-500': approval.states === 'approved' || approval.appeal_status === 'approved',
            'bg-sky-500': approval.states === 'pending_approval' || approval.states === 'pending_payment' || approval.appeal_status === 'issued',
            'bg-red-700': approval.states === 'rejected' || approval.states === 'cancel' || approval.appeal_status === 'rejected',
            'bg-yellow-500': approval.states === 'requested'
            }" class="mr-2 p-1 rounded-full text-white text-[18px]">
              </ion-icon>
              {{ approval.states ? functionMain.uppercaseFirstWithUnderscore(approval.states) : ( approval.appeal_status ? functionMain.uppercaseFirstWithUnderscore(approval.appeal_status) :'-') }}
            </h2>
            <!-- <p class="font-bold text-base text-black" *ngIf="!['facility'].includes(approval_type)">{{ approval_name }}</p> -->
            <p class="font-bold text-base text-black">{{ approval_name }}</p>
            <!-- <p class="font-bold text-base text-black" *ngIf="['facility'].includes(approval_type)">{{ functionMain.returnNone(approval.name) }}</p> -->
            <div class="table w-full">
              <div class="table-row" *ngIf="['access_card', 'move_permit', 'renovation', 'bicycle', 'coach', 'pet', 'vehicle'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black" >Application Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.application_date ? functionMain.convertNewDateTZ(approval.application_date).split(' ')[0] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['events'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Title</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.event_title) }}</p>
              </div>
              <div class="table-row" *ngIf="[ 'facility'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Booking Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.name) }}</p>
              </div>
              <div class="table-row" *ngIf="[ 'facility'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Room Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.facility_name) }}</p>
              </div>
              <div class="table-row" *ngIf="['events'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Room Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.facility_id.name) }} | {{ functionMain.returnNone(approval.room_id.name) }}</p>
              </div>
              <div class="table-row" *ngIf="['facility', 'events'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Event date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.start_date ? functionMain.convertDateExtend(approval.start_date).split(' ')[0] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['pet'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Type and Breed</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.type_of_pet) + ' | ' + functionMain.returnNone(approval.pet_breed) }}</p>
              </div>
              <div class="table-row" *ngIf="['bicycle'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Brand and Color</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.bicycle_brand) + ' | ' + functionMain.returnNone(approval.bicycle_color) }}</p>
              </div>
              <div class="table-row" *ngIf="['access_card'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Family Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.family_name) }}</p>
              </div>
              <div class="table-row" *ngIf="['coach'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Coach Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.coach_name) }}</p>
              </div>
              <div class="table-row" *ngIf="['coach'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Coach Type</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.coach_type_id.name) }}</p>
              </div>
              <div class="table-row" *ngIf="['family', 'employee'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Full Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.family_full_name) }}</p>
              </div>
              <!-- <div class="table-row" *ngIf="['family', 'employee'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Contact Number</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.family_mobile_number) }}</p>
              </div> -->
              <div class="table-row" *ngIf="['move_permit'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Move Type</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.schedule_type) }}</p>
              </div>
              <div class="table-row" *ngIf="['move_permit', 'renovation'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Company Name</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.contractor_company_name) }}</p>
              </div>
              <div class="table-row" *ngIf="['overnight', 'vehicle', 'parking', 'vehicle_extension'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Vehicle Number</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.vehicle_number) }}</p>
              </div>
              <div class="table-row" *ngIf="['vehicle_extension'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Temporary End Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.end_date_for_temporary_pass ? approval.end_date_for_temporary_pass : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['vehicle_extension'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Requested Extension Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.end_date_extension_request ? approval.end_date_extension_request : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['parking'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Offence Time</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.issue_time) }}</p>
              </div>
              <div class="table-row" *ngIf="['access_card', 'family', 'move_permit', 'overnight', 'renovation', 'bicycle', 'parking', 'vehicle'].includes(approval_type) && !project_config.is_industrial">
                <p class="font-bold table-cell w-1/2 text-base text-black">Block</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.block_id.name) }}</p>
              </div>
              <div class="table-row" *ngIf="['access_card', 'family', 'move_permit', 'overnight', 'renovation', 'bicycle', 'parking', 'vehicle', 'coach'].includes(approval_type) && !project_config.is_industrial">
                <p class="font-bold table-cell w-1/2 text-base text-black">Unit</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.unit_id.name) }}</p>
              </div>
              <div class="table-row" *ngIf="['family'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Member Type</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.member_type ? functionMain.uppercaseFirstWithUnderscore(approval.member_type) : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['employee'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Department</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.department_id ? functionMain.uppercaseFirstWithUnderscore(approval.department_id.name) : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['employee'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Contact Number</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.family_mobile_number) }}</p>
              </div>
              <div class="table-row" *ngIf="['events'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Start Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.start_date ? functionMain.convertDateExtend(approval.start_date).split(' ')[1] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['events'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">End Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.end_date ? functionMain.convertDateExtend(approval.end_date).split(' ')[1] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['facility'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Booking Start Time</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.start_date ? functionMain.convertDateExtend(approval.start_date).split(' ')[1] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['facility'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Booking End Time</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.end_date ? functionMain.convertDateExtend(approval.end_date).split(' ')[1] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['overnight'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Request Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.request_date ? functionMain.convertNewDateTZ(approval.request_date).split(' ')[0] : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['overnight'].includes(approval_type) && approval.states == 'approved'">
                <p class="font-bold table-cell w-1/2 text-base text-black">Approved Date</p>
                <p class="ml-2 table-cell text-base text-black">: {{ approval.approved_date ? functionMain.convertNewDateTZ(approval.approved_date) : '-' }}</p>
              </div>
              <div class="table-row" *ngIf="['facility'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Booked By</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.requestor_id.name) }}</p>
              </div>
              <div class="table-row" *ngIf="['family'].includes(approval_type)">
                <p class="font-bold table-cell w-1/2 text-base text-black">Applied By</p>
                <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(approval.requestor) }}</p>
              </div>
            </div>
            <!-- <div class="w-full flex flex-row justify-center mt-2" *ngIf="['family', 'employee'].includes(approval_type) && approval.image_profile">
              <img [src]="functionMain.getImage(approval.image_profile)" class="h-40" >
            </div> -->
            <div class="flex mt-2 space-x-2">
              <button (click)="viewDetail(approval)"
                class="cw-2:text-[13px] bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold">
                View Details
              </button>
            </div>
          </div>
        </div>
        <ng-template #noApprovals>
          <div class="w-full bg-transparent mt-8 text-center rounded-lg">
            <p class="text-gray-600">There are no approvals for this type.....</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
 
  <div class="flex flex-row relative mx-4 mt-4 mb-24" *ngIf="isDetail" @fadeInOut>
    <div class="flex flex-col w-full p-4 rounded" [ngClass]="{
      'bg-green-100': selectedApproval.states === 'approved' || selectedApproval.appeal_status === 'approved',
      'bg-sky-100': selectedApproval.states === 'pending_approval' || selectedApproval.states === 'pending_payment' || selectedApproval.appeal_status === 'issued',
      'bg-[#E3787E]': selectedApproval.states === 'rejected' || selectedApproval.states === 'cancel' || selectedApproval.appeal_status === 'rejected',
      'bg-[#F8F1BA]': selectedApproval.states === 'requested',
      'bg-[#c4c4c4]': !selectedApproval.states,
      }">
      <div class="w-full flex flex-col justify-center items-center my-2" *ngIf="['family', 'employee'].includes(approval_type) && selectedApproval.image_profile">
        <img [src]="functionMain.getImage(selectedApproval.image_profile)" class="h-40" >
        <p class="text-base text-black font-bold">{{ functionMain.returnNone(selectedApproval.family_full_name) }}</p>
      </div>
      <div class="w-full flex flex-col justify-center items-center my-2" *ngIf="['pet'].includes(approval_type) && selectedApproval.pet_image">
        <img [src]="functionMain.getImage(selectedApproval.pet_image)" class="h-40" >
      </div>
      <div class="table w-full">
        <div class="table-row" *ngIf="['access_card', 'move_permit', 'renovation', 'bicycle', 'coach', 'pet', 'vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black" >Application Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.application_date ? functionMain.convertNewDateTZ(selectedApproval.application_date).split(' ')[0] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['facility'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Room Name</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.facility_name) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Title</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.event_title) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Description</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.event_description) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Room</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.facility_id.name) }} | {{ functionMain.returnNone(selectedApproval.room_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['facility', 'events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Event Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.start_date ? functionMain.convertDateExtend(selectedApproval.start_date).split(' ')[0] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['access_card'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Family Name</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.family_name) }}</p>
        </div>
        <div class="table-row" *ngIf="['pet'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Type and Breed</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.type_of_pet) + ' | ' + functionMain.returnNone(selectedApproval.pet_breed) }}</p>
        </div>
        <div class="table-row" *ngIf="['bicycle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Brand and Color</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.bicycle_brand) + ' | ' + functionMain.returnNone(selectedApproval.bicycle_color) }}</p>
        </div>
        <div class="table-row" *ngIf="['coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Coach Name</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.coach_name) }}</p>
        </div>
        <div class="table-row" *ngIf="['move_permit'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Move Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.schedule_type) }}</p>
        </div>
        <div class="table-row" *ngIf="['move_permit', 'renovation'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Company Name</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.contractor_company_name) }}</p>
        </div>
        <div class="table-row" *ngIf="['move_permit', 'renovation'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Company Contact Person</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.contractor_contact_person) }}</p>
        </div>
        <div class="table-row" *ngIf="['move_permit', 'renovation'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Company Contact Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.contractor_contact_number) }}</p>
        </div>
        <div class="table-row" *ngIf="['overnight', 'vehicle', 'parking', 'vehicle_extension', 'move_permit', 'renovation'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Vehicle Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.vehicle_number) }}</p>
        </div>
        <div class="table-row" *ngIf="['move_permit', 'renovation'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Contact Person</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.contact_person_id.name) }} | {{ functionMain.returnNone(selectedApproval.contact_person_id.family_mobile_number) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle_extension'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Temporary End Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.end_date_for_temporary_pass ? selectedApproval.end_date_for_temporary_pass : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle_extension'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Requested Extension Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.end_date_extension_request ? selectedApproval.end_date_extension_request : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['parking'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Offence Time</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.issue_time) }}</p>
        </div>
        <!-- <div class="table-row" *ngIf="['family', 'employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Full Name</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.family_full_name) }}</p>
        </div> -->
        <div class="table-row" *ngIf="['family', 'employee', 'overnight', 'coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Contact Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ ['overnight', 'coach'].includes(approval_type) ? functionMain.returnNone(selectedApproval.contact_number) : functionMain.returnNone(selectedApproval.family_mobile_number) }}</p>
        </div>
        <div class="table-row" *ngIf="['coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Coach Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.coach_type_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Facility</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.facility_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Email Address</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.family_email) }}</p>
        </div>
        <div class="table-row" *ngIf="['access_card', 'family', 'coach', 'move_permit', 'overnight', 'renovation', 'bicycle', 'parking', 'vehicle'].includes(approval_type) && !project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">Block</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.block_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['access_card', 'family', 'coach', 'move_permit', 'overnight', 'renovation', 'bicycle', 'parking', 'vehicle'].includes(approval_type) && !project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">Unit</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.unit_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['family'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Member Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.member_type ? functionMain.uppercaseFirstWithUnderscore(selectedApproval.member_type) : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Department</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.department_id ? functionMain.uppercaseFirstWithUnderscore(selectedApproval.department_id.name) : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Employment Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.employment_type ? functionMain.uppercaseFirstWithUnderscore(selectedApproval.employment_type) : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Employee ID / Code</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.employee_code)}}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Extension Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.employee_extension_number)}}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">RFID Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.employee_rfid)}}</p>
        </div>
        <div class="table-row" *ngIf="['employee'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Card Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.employee_card_number)}}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Start Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.start_date ? functionMain.convertDateExtend(selectedApproval.start_date).split(' ')[1] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">End Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.end_date ? functionMain.convertDateExtend(selectedApproval.end_date).split(' ')[1] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['facility'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Booking Start Time</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.start_date ? functionMain.convertDateExtend(selectedApproval.start_date).split(' ')[1] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['facility'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Booking End Time</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.end_date ? functionMain.convertDateExtend(selectedApproval.end_date).split(' ')[1] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type) && selectedApproval.post_to  && !project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">Post To</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.uppercaseFirstWithUnderscore(selectedApproval.post_to) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type) && selectedApproval.post_to == 'block'  && !project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">Blocks</p>
          <p class="ml-2 table-cell text-base text-black">: {{ returnArray(selectedApproval.block_ids) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type) && selectedApproval.post_to == 'unit'  && !project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">Units</p>
          <p class="ml-2 table-cell text-base text-black">: {{ returnArray(selectedApproval.unit_ids) }}</p>
        </div>
        <div class="table-row" *ngIf="['events'].includes(approval_type) && selectedApproval.industrial_host_ids.length > 0">
          <p class="font-bold table-cell w-1/2 text-base text-black">Hosts</p>
          <p class="ml-2 table-cell text-base text-black">: {{ returnArray(selectedApproval.industrial_host_ids) }}</p>
        </div>
        <div class="table-row" *ngIf="['overnight'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Request Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.request_date ? functionMain.convertNewDateTZ(selectedApproval.request_date).split(' ')[0] : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['overnight'].includes(approval_type) && selectedApproval.states == 'approved'">
          <p class="font-bold table-cell w-1/2 text-base text-black">Approved Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.approved_date ? functionMain.convertNewDateTZ(selectedApproval.approved_date) : '-' }}</p>
        </div>
        <div class="table-row" *ngIf="['facility'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Booked By</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.requestor_id.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['family'].includes(approval_type) && selectedApproval.end_of_tenancy">
          <p class="font-bold table-cell w-1/2 text-base text-black">End Of Tenancy Agreement</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.convertToDDMMYYYY(selectedApproval.end_of_tenancy) }}</p>
        </div>
        <div class="table-row" *ngIf="['family'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Applied By</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.requestor) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Owned By</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.family_id.name ) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Application Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.type_of_application ) }}</p>
        </div>
        <div class="table-row" *ngIf="['overnight', 'bicycle', 'events'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Requestor</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.requestor.name ) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Vehicle Type</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.vehicle_type.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Vehicle Make</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.vehicle_make.name) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Vehicle Color</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.vehicle_color_text) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">IU Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.iu_number) }}</p>
        </div>
        <div class="table-row" *ngIf="['coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Affiliated Organization</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.affiliated_organization) }}</p>
        </div>
        <div class="table-row" *ngIf="['coach'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Coaching Reg Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.coaching_reg_number) }}</p>
        </div>
        <div class="table-row" *ngIf="selectedApproval.states === 'approved' && ['vehicle'].includes(approval_type) && project_config.is_industrial">
          <p class="font-bold table-cell w-1/2 text-base text-black">RFID Tag Number</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.rfid_tag)   }}</p>
        </div>
        <div class="table-row" *ngIf="['pet'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Notes</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.notes) }}</p>
        </div>
        <div class="table-row" *ngIf="['access_card'].includes(approval_type) && selectedApproval.reason_for_replacement">
          <p class="font-bold table-cell w-1/2 text-base text-black">Replacement Reason</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.reason_for_replacement) }}</p>
        </div>
        <div class="table-row" *ngIf="['parking'].includes(approval_type)">
          <p class="font-bold table-cell w-1/2 text-base text-black">Reason For Appeal</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.reason_for_appeal) }}</p>
        </div>
        <div class="table-row" *ngIf="selectedApproval.appeal_status === 'rejected' || selectedApproval.states === 'rejected' || selectedApproval.states === 'cancel'">
          <p class="font-bold table-cell w-1/2 text-base text-black">Reason For Rejetion</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.reason_for_rejection)   }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type) && selectedApproval.type_of_application == 'Temporary Vehicle'">
          <p class="font-bold table-cell w-1/2 text-base text-black">Temporary Car Request</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(selectedApproval.temporary_car_request) }}</p>
        </div>
        <div class="table-row" *ngIf="['vehicle'].includes(approval_type) && selectedApproval.type_of_application == 'Temporary Vehicle'">
          <p class="font-bold table-cell w-1/2 text-base text-black">Temporary Car End Date</p>
          <p class="ml-2 table-cell text-base text-black">: {{ functionMain.convertToDDMMYYYY(selectedApproval.temporary_end_date) }}</p>
        </div>
        <div class="table-row">
          <p class="font-bold table-cell w-1/2 text-base text-black">Status</p>
          <p class="ml-2 table-cell text-base text-black">: {{ selectedApproval.states ? functionMain.uppercaseFirstWithUnderscore(selectedApproval.states) : ( selectedApproval.appeal_status ? functionMain.uppercaseFirstWithUnderscore(selectedApproval.appeal_status) :'-') }}</p>
        </div>
      </div>
      <div class="w-full flex flex-col justify-start mt-2" *ngIf="['pet'].includes(approval_type) && selectedApproval.pet_license">
        <p class="text-base text-black"><b>Pet License</b></p>
        <img class="w-12 h-12 mt-3" src="assets/icon/exc-client/file_download.webp" alt="File Download"
            (click)="functionMain.downloadDocument(selectedApproval.pet_license, selectedApproval.type_of_pet + '_' + selectedApproval.pet_breed + '_Vehicle Log')" />
      </div>
      <div class="w-full flex flex-col justify-start mt-2" *ngIf="['vehicle'].includes(approval_type) && selectedApproval.vehicle_log">
        <p class="text-base text-black"><b>Vehicle Log</b></p>
        <img class="w-12 h-12 mt-3" src="assets/icon/exc-client/file_download.webp" alt="File Download" *ngIf="selectedApproval.vehicle_log_type.includes('application')" 
            (click)="functionMain.downloadDocument(selectedApproval.vehicle_log, selectedApproval.vehicle_number + '_Vehicle Log')" />
        <app-image-zoom [imageZoom]="functionMain.getImage(selectedApproval.vehicle_log)" [imageClass]="'h-40 object-contain'" [bgColor]="getBgClass()" *ngIf="selectedApproval.vehicle_log_type.includes('image')"></app-image-zoom>
      </div>
      <div class="w-full flex flex-col justify-start mt-2" *ngIf="['family'].includes(approval_type) && selectedApproval.tenancy_aggrement">
        <p class="text-base text-black"><b>Tenancy Agreement</b></p>
        <!-- <img [src]="functionMain.getImage(selectedApproval.tenancy_aggrement)" class="h-40 object-contain" *ngIf="selectedApproval.attachment_mimetype.includes('image')"> -->
        <img class="w-12 h-12 mt-3" src="assets/icon/exc-client/file_download.webp" alt="File Download"
            (click)="functionMain.downloadDocument(selectedApproval.tenancy_aggrement, selectedApproval.family_full_name + '_Tenancy Agreement')" *ngIf="selectedApproval.attachment_mimetype.includes('application')" />
        <app-image-zoom [imageZoom]="functionMain.getImage(selectedApproval.tenancy_aggrement)" [imageClass]="'h-40 object-contain'" [bgColor]="getBgClass()" *ngIf="selectedApproval.attachment_mimetype.includes('image')"></app-image-zoom>
        <!-- <app-base64-file-zoom [file]="selectedApproval.tenancy_file_pdf" *ngIf="selectedApproval.attachment_mimetype.includes('application')"></app-base64-file-zoom> -->
      </div>
      <div class="w-full flex flex-col justify-start mt-2" *ngIf="['facility'].includes(approval_type) && selectedApproval.payment_receipt">
        <p class="text-base text-black"><b>Payment Receipt</b></p>
        <img class="w-12 h-12 mt-3" src="assets/icon/exc-client/file_download.webp" alt="File Download"
            (click)="functionMain.downloadDocument(selectedApproval.payment_receipt, selectedApproval.facility_name + '_Payment Receipt')" *ngIf="selectedApproval.attachment_mimetype.includes('application')" />
        <app-image-zoom [imageZoom]="functionMain.getImage(selectedApproval.payment_receipt)" [imageClass]="'h-40 object-contain'" [bgColor]="getBgClass()" *ngIf="selectedApproval.attachment_mimetype.includes('image')"></app-image-zoom>
      </div>
      <div class="flex flex-col mt-4 space-y-2" *ngIf="['pending_approval', 'requested'].includes(selectedApproval.states) || ['issued'].includes(selectedApproval.appeal_status)">
        <button (click)="approveData(selectedApproval)"
          class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded font-bold">
          Approve
        </button>
        <button (click)="openRejectModal()"
          class="bg-[#E3787E] text-black px-3 py-2 text-base rounded font-bold">
          Reject
        </button>
      </div>
    </div>
  </div>
  <ion-modal id="text-modal" [isOpen]="isRejectModal" (didDismiss)="closeRejectModal()">
    <ng-template>
      <div class="wrapper">
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Reason for rejection</p>
          </div>
          <textarea id="reason_ban_entry_message" placeholder=""
            class="!border-none w-full rounded py-2 px-3 h-20 text-base"
            type="text" name="reasonForbanning" [(ngModel)]="reject_reason">
          </textarea>
        </div>
        <app-visitor-button [text]="'Confirm Rejection'" [extraClass]="'bg-gray-300 text-gray-800 p-2 w-40 rounded border border-black font-bold'" (click)="rejectDetail()"></app-visitor-button>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="text-modal" [isOpen]="isApproveVehicleModal" (didDismiss)="closeApprovalModal()">
    <ng-template>
      <div class="wrapper-green">
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">RFID Tag Number</p>
          </div>
          <textarea id="reason_ban_entry_message" placeholder=""
            class="!border-none w-full rounded py-2 px-3 h-20 text-base" [(ngModel)]="rfid_tag"
            type="text" name="reasonForbanning">
          </textarea>
        </div>
        <app-visitor-button [text]="'Confirm Approval'" [extraClass]="'bg-gray-300 text-gray-800 p-2 w-40 rounded border border-black font-bold'" (click)="approveDetail(selectedApproval)"></app-visitor-button>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="payment-config-modal" [isOpen]="isPaymentModal" (didDismiss)="closePaymentmodal()">
    <ng-template>
      <div class="wrapper">
        <div class="w-full flex flex-col mb-2">
          <label class="text-base font-bold" for="client_payment_need_payment">Need Payment?</label>
          <input id="client_payment_need_payment" name="client_payment_need_payment" type="checkbox" class="rounded w-7 h-7 text-[var(--ion-color-primary)]" [(ngModel)]="paymentChange.is_raise_a_request_payment">
        </div>
        <div class="w-full mb-2" *ngIf="paymentChange.is_raise_a_request_payment">
          <label class="text-base font-bold" for="client_payment_need_payment">Payment Amount</label>
          <input id="client_payment_charges" name="client_payment_charges" placeholder="0.1" type="number" class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base" [(ngModel)]="paymentChange.raise_a_request_charges">
        </div>
        <div class="w-full flex flex-col mb-2" *ngIf="paymentChange.is_raise_a_request_payment">
          <label class="text-base font-bold" for="client_payment_include_tax">Include Tax?</label>
          <input id="client_payment_include_tax" name="client_payment_include_tax" type="checkbox" class="rounded w-7 h-7 text-[var(--ion-color-primary)]" [(ngModel)]="paymentChange.is_raise_a_request_tax">
        </div>
        <app-visitor-button [text]="'Save Change'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-gray-800 p-2 w-40 rounded border border-black font-bold h-12'" (click)="submitConfig()"></app-visitor-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>