<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Payments'" [text_second]="'Manage Payment Methods'" />
  <!-- CONTENT -->
  <div class="flex flex-col mt-2 w-full px-4">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10"
        [routerLink]="['/resident-payment']"></ion-icon>
    </div>
    <div class="mt-2 w-full">
      <button class="bg-[var(--ion-color-primary)] text-white mt-1 w-full rounded-full h-12 font-bold text-base" [routerLink]="['/manage-new-card'] ">Add New Card</button>
    </div>
    <div class="w-full text-center mt-20 text-[#2E2E2E] text-base">
      To streamline the payment of facility fees, deposits, and other charges, you can securely add your preferred debit or credit card details here. 
<br><br>
iFS360 utilizes the "x" payment gateway provider, ensuring a secure connection to process your payments efficiently.
    </div>

  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>