<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-contractor'" *ngIf="isMain" [homeRoute]="true"/>
      <div class="flex flex-col items-center justify-center text-center mt-4" *ngIf="!isMain">
        <span class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] text-[var(--ion-color-primary)]"><b>{{ project_name}}</b></span>
        <span
          class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] flex flex-row items-center text-[var(--ion-color-primary)]"><b>iFS360
            VISITOR MANAGEMENT SYSTEM</b></span>
        <div class="w-full flex flex-row justify-start mt-4 items-center">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-20 ml-3"
            (click)="onBack()"></ion-icon>
          <div class="w-[66px] h-[66px] bg-[var(--ion-color-primary)] rounded-[50%] flex flex-row items-center justify-center">
            <ion-icon name="home-outline" size="large" class="text-white size-10" (click)="onHomeClick()"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded" *ngIf="isMain">
        <table class="text-2xl">
          <tr>
            <td class="font-bold w-2/5">CONTRACTOR NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.contractor_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">{{ record.identification_type ? record.identification_type.toUpperCase() : 'NRIC' }}</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.identification_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">COMPANY NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.company_name) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">VEHICLE NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.vehicle_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">CONTACT NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.contact_number) }}</td>
          </tr>
          <tr *ngIf="!project_config.is_industrial && !project_config.is_windows">
            <td class="font-bold w-2/5">BLOCK & UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.block_name) + ' | ' + functionMain.returnNone(record.unit_name) }}</td>
          </tr>
          <tr *ngIf="project_config.is_windows">
            <td class="font-bold w-2/5">HOST</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.host_name)}}</td>
          </tr>
          <tr *ngIf="project_config.is_industrial">
            <td class="font-bold w-2/5">HOST</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.getHostName(record.industrial_host_data)}}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">NUMBER OF SUBCON</td>
            <td class="w-[5%]">:</td>
            <td class="font-bold"><u (click)="onClickDetail()">{{ record.subcon_total }} PERSON</u></td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">ENTRY DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.create_date ? functionMain.convertNewDateTZ(record.create_date) : '-' }}</td>
          </tr>
          <tr *ngIf="record.check_out">
            <td class="font-bold w-2/5">EXIT DATE</td>
            <td class="w-[5%]">:</td>
            <td>{{ record.checkout_time ? functionMain.convertNewDateTZ(record.checkout_time) : '-' }}</td>
          </tr>
          <tr *ngIf=project_config.is_industrial>
            <td class="font-bold w-2/5">PASS NUMBER</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.pass_number) }}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">REMARKS</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(record.remarks) }}</td>
          </tr>
        </table>
      </div>

      <div class="flex flex-col mt-8 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded"
        *ngIf="!isMain">
        <label class="text-2xl font-bold mb-5">NUMBER OF PAX ENTERED: {{ record.subcon_total }}</label>
        <div class="border-2 p-1 w-full mb-5">
          <table class="text-xl w-full">
            <tr class="font-bold">
              <!-- <td class="">SERIAL NUMBER</td> -->
              <td class="w-2/5">NAME</td>
              <td class="w-3/5">LAST 4 CHARACTERS OF IC</td>
            </tr>
            <tr *ngFor="let subcon of record.subcon">
              <!-- <td>{{ subcon.serial_number }}</td> -->
              <td>{{ subcon.contractor_name }}</td>
              <td>{{ subcon.identification_number }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>