<div class="flex flex-row grid-rows-3 space-x-1.5 w-full">
    <div *ngFor="let button of buttons" class="w-full">
        <button
            *ngIf="button.action === 'click'"
            (click)="onClickValue($event, button)"
            class="w-full text-base cw-3:text-sm rounded h-10 p-1.5 font-bold"
            [ngClass]="{
                'bg-[var(--ion-color-primary)] text-white': button.text && button.active,
                'bg-[#D0D0D0] text-[#757575]': button.text && !button.active,
                'bg-transparent text-transparent': !button.text
            }"
        >
            {{ button.text }}
        </button>
        <button
            *ngIf="button.action === 'route'"
            (click)="routeTo(button.routeTo)"
            class="w-full text-base cw-3:text-sm rounded h-10 p-1.5 font-bold"
            [ngClass]="{
                'bg-[var(--ion-color-primary)] text-white': button.text && button.active,
                'bg-[#D0D0D0] text-[#757575]': button.text && !button.active,
                'bg-transparent text-transparent': !button.text
            }"
        >
            {{ button.text }}
        </button>
    </div>
</div>