<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" [text_second]="'Edit Member'"/>
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10" [routerLink]="['/resident-my-family']"></ion-icon>
    </div>
    <div class="flex flex-col justify-between mt-2 space-y-3">
      <div class="w-full">
        <app-text-input
        [labelResidentText]="'Full Name'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
          [id]="'full_name'"
          [placeholder]="'Eg. Marco Sainz'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
          [value]="formData.full_name"
          (valueChange)="onFullNameChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
        [labelResidentText]="'Nickname'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
          [id]="'nickname'"
          [placeholder]="'Eg. Marco'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
          [value]="formData.nickname"
          (valueChange)="onNicknameChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
        [labelResidentText]="'Email Address'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
          [id]="'email_address'"
          [placeholder]="'Eg. marcosainz22@email.com'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
          [value]="formData.email_address"
          (valueChange)="onEmailAddressChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
        [labelResidentText]="'Mobile Number'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
          [id]="'mobile_number'"
          [placeholder]="'Eg. +65 XXXX XXX'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
          [value]="formData.mobile_number"
          (valueChange)="onMobileNumberChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <label class="text-base font-bold"><u>Type Of Residence</u></label>
        <select
          id="type_of_residence"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280]"
          [(ngModel)]="formData.type_of_residence" 
        >
          <option [value]="'primary_contact'">Family, Primary Contact</option>
          <option [value]="'secondary_contact'">Family, Secondary Contact</option>
          <option [value]="'member'">Family, Member</option>
          <option [value]="'helper'">Family, Helper</option>
          <option [value]="'tenants'">Tenant</option>
        </select>
      </div>
      
      <!-- <div class="w-full" *ngIf="formData.type_of_residence == 'tenants'">
        <app-text-input
          [id]="'tenancies.end_of_tenancy_aggrement'"
          [placeholder]="'End Date of Tenancy Agreement'"
          [customClasses]="{'w-full': true}"
          [type]="'date'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
          [value]="formData.tenancies.end_of_tenancy_aggrement"
          (valueChange)="onEndOfTenancyAgreementChange($event)"
        ></app-text-input>
      </div> -->
      <div class="w-full" *ngIf="formData.type_of_residence != 'tenants'">
        <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold" (click)="onSubmit()">Update Family Member Details</button>
        <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold" [routerLink]="['/resident-my-family']">Send a Reset Password Email</button>
        <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold" (click)="onDelete()">Delete Family member</button>
      </div>
      <div class="w-full" *ngIf="formData.type_of_residence == 'tenants'">
        <!-- <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold" (click)="onSubmit()">Update Tenant Details</button> -->
        <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold px-2" (click)="openExtend()">Request for Tenancy Agreement Date Extension</button>
        <button class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-14 font-bold" (click)="onDelete()">Delete User</button>
      </div>
      
    </div>
    <div class="flex flex-row w-full">
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>