<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" [text_second]="'Edit Member'"/>
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10" [routerLink]="['/resident-my-family']"></ion-icon>
    </div>
    <div class="flex flex-col justify-between mt-2">
      <div class="w-full">
        <app-text-input [id]="'name'" [placeholder]="'Full Name'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="name"></app-text-input>
      </div>
      <div class="w-full">
        <app-text-input [id]="'nickname'" [placeholder]="'Nickname'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="nickname"></app-text-input>
      </div>
      <div class="w-full">
        <app-text-input [id]="'email'" [placeholder]="'Email Address'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="email"></app-text-input>
      </div>
      <div class="w-full">
        <app-text-input [id]="'mobile'" [placeholder]="'Mobile Number'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="mobile"></app-text-input>
      </div>
      <div class="w-full">
        <select id="walk_in_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-sm h-12 text-black mt-1" [value]="full_type">
          <option value="Type of Residence" disabled>Type of Residence</option>
          <option value="Family, Primary Contract">Family, Primary Contract</option>
          <option value="Family, Secondary Contract">Family, Secondary Contract</option>
          <option value="Family, Member">Family, Member</option>
          <option value="Tenant">Tenant</option>
        </select>
      </div>
      <div class="w-full" *ngIf="tenant">
        <app-text-input [id]="'end_date'" [placeholder]="'End Date of Tenancy Agreement'" [customClasses]="{'w-full':true}" [type]="'date'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true,'mt-1': true, 'text-sm': true}" [value]="end_date"></app-text-input>
      </div>
      <div class="w-full" *ngIf="!tenant">
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" [routerLink]="['/resident-my-family']">Update Family Member Details</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" [routerLink]="['/resident-my-family']">Send a Reset Password Email</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" [routerLink]="['/resident-my-family']">Delete Family member</button>
      </div>
      <div class="w-full" *ngIf="tenant">
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" (click)="openExtend()">Request for Tenancy Agreement Date Extension</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" [routerLink]="['/resident-my-family']">Delete User</button>
      </div>
      
    </div>
    <div class="flex flex-row w-full">
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>