<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" [text_second]="'Edit Member'"/>
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10" [routerLink]="['/resident-my-family']"></ion-icon>
    </div>
    <div class="flex flex-col justify-between mt-2">
      <div class="w-full">
        <app-text-input
          [id]="'full_name'"
          [placeholder]="'Full Name'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-12': true, 'mt-1': true, 'text-sm': true}"
          [value]="formData.full_name"
          (valueChange)="onFullNameChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
          [id]="'nickname'"
          [placeholder]="'Nickname'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-12': true, 'mt-1': true, 'text-sm': true}"
          [value]="formData.nickname"
          (valueChange)="onNicknameChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
          [id]="'email_address'"
          [placeholder]="'Email Address'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-12': true, 'mt-1': true, 'text-sm': true}"
          [value]="formData.email_address"
          (valueChange)="onEmailAddressChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <app-text-input
          [id]="'mobile_number'"
          [placeholder]="'Mobile Number'"
          [customClasses]="{'w-full': true}"
          [type]="'text'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-12': true, 'mt-1': true, 'text-sm': true}"
          [value]="formData.mobile_number"
          (valueChange)="onMobileNumberChange($event)"
        ></app-text-input>
      </div>
      
      <div class="w-full">
        <select
          id="type_of_residence"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-sm h-12 text-[#6B7280] mt-1"
          [(ngModel)]="formData.type_of_residence" 
        >
          <option [value]="">Type of Residence</option>
          <option [value]="'primary_contact'">Family, Primary Contact</option>
          <option [value]="'secondary_contact'">Family, Secondary Contact</option>
          <option [value]="'member'">Family, Member</option>
          <option [value]="'tenants'">Tenant</option>
        </select>
      </div>
      
      <div class="w-full" *ngIf="formData.type_of_residence == 'tenants'">
        <app-text-input
          [id]="'tenancies.end_of_tenancy_aggrement'"
          [placeholder]="'End Date of Tenancy Agreement'"
          [customClasses]="{'w-full': true}"
          [type]="'date'"
          [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-12': true, 'mt-1': true, 'text-sm': true}"
          [value]="formData.tenancies.end_of_tenancy_aggrement"
          (valueChange)="onEndOfTenancyAgreementChange($event)"
        ></app-text-input>
      </div>
      <div class="w-full" *ngIf="formData.type_of_residence != 'tenants'">
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" (click)="onSubmit()">Update Family Member Details</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" [routerLink]="['/resident-my-family']">Send a Reset Password Email</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" (click)="onDelete()">Delete Family member</button>
      </div>
      <div class="w-full" *ngIf="formData.type_of_residence == 'tenants'">
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" (click)="openExtend()">Request for Tenancy Agreement Date Extension</button>
        <button class="bg-[#d3f8d3] text-black mt-4 w-full text-sm rounded h-10 font-bold" (click)="onDelete()">Delete User</button>
      </div>
      
    </div>
    <div class="flex flex-row w-full">
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>