<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'My Family'"
    [text_second]="pageName"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="directTo()"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2">
    <div
      *ngIf="pageForWhat === 'editData'"
      class="w-full mt-2 flex items-center justify-center"
    >
      <div
        class="w-32 h-32 mb-4 flex flex-col justify-center items-center relative"
      >
        <img
          alt="Profile picture of Maria"
          class="w-24 h-24 object-cover rounded-full"
          height="50"
          [src]="formData.image_family ? 'data:image/png;base64,'+ formData.image_family : 'https://placehold.co/600x400?text=' + formData.full_name.charAt(0)"
          width="50"
        />
        <ion-icon
          *ngIf="!disableForm"
          class="absolute top-[5.5rem] right-4 drop-shadow-xl text-2xl bg-white rounded-full p-1 z-50"
          name="pencil"
          (click)="chooseWhereToChoose()"
        >
        </ion-icon>
        <!-- <ion-icon
          *ngIf="!disableForm"
          class="absolute top-[5.5rem] right-20 drop-shadow-xl text-2xl bg-white rounded-full p-1 z-50 animate-shake"
          name="documents"
          (click)="chooseWhereToChoose()"
        >
        </ion-icon> -->
      </div>
    </div>

    <div class="mt-2">
      <app-input-component
        [id]="'type_family_name'"
        [type]="'text'"
        [typeAction]="''"
        [labelParent]="''"
        [labelChild1]="'Resident Name'"
        [labelChild2]="''"
        [disabled]="disableForm"
        [value]="formData.full_name"
        (eventEmitter)="onValueChange($event, 'name')"
      ></app-input-component>
    </div>

    <div class="mt-2">
      <app-input-component
        [id]="'type_family_nickname'"
        [type]="'text'"
        [typeAction]="''"
        [labelParent]="''"
        [labelChild1]="'Resident Nickname'"
        [labelChild2]="''"
        [disabled]="disableForm"
        [value]="formData.nickname"
        (eventEmitter)="onValueChange($event, 'nickname')"
      ></app-input-component>
    </div>

    <div class="mt-2">
      <app-input-component
        [id]="'type_family_email'"
        [type]="'text'"
        [typeAction]="''"
        [labelParent]="''"
        [labelChild1]="'Resident Email'"
        [labelChild2]="''"
        [disabled]="pageForWhat === 'editData' && !formData.reject_reason && disableForm"
        [value]="formData.email_address"
        (eventEmitter)="onValueChange($event, 'email')"
      ></app-input-component>
    </div>

    <div *ngIf="pageForWhat !== 'editData'" class="w-full mt-1">
      <div class="flex flex-row justify-start">
        <p class="text-sm font-bold">Resident Profile</p>
      </div>
      <div
        (click)="chooseWhereToChoose()"
        class="bg-white p-3 h-12 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-start"
      >
        <label
          class="w-full text-start"
          [ngClass]="(selectedNameProfileFamily) ? 'text-black' : 'text-white'"
        >
          {{ selectedNameProfileFamily ? selectedNameProfileFamily : 'Upload
          Helper Work Permit' }}
        </label>
      </div>
    </div>

    <div class="w-full flex flex-row justify-between">
      <div class="w-[30%] flex flex-col justify-start">
        <label class="text-sm"><b>Code</b></label>
        <select
          id="contry_code"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-xs"
          [(ngModel)]="selectedCode"
          name="contry_code"
          style="border: 1px solid #6b7280"
          (change)="onCountryCodeChange($event)"
        >
          <option hidden selected disabled value="+65">SG +65</option>
          <option *ngFor="let code of countryCodes" [value]="code.code">
            {{ code.country }} +{{ code.code }}
          </option>
        </select>
      </div>
      <div class="w-[65%] flex flex-col justify-start">
        <label class="text-sm"><b>Mobile Number</b></label>
        <input
          id="contry_code"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base"
          type="number"
          placeholder=""
          [disabled]="pageForWhat === 'editData' && !formData.reject_reason && disableForm"
          [(ngModel)]="contactValue"
          (change)="onKeyUp($event)"
          name="contry_code"
          style="border: 1px solid #6b7280"
        />
      </div>
    </div>

    <div
      *ngIf="pageForWhat === 'editData' && formData.type_of_residence === 'primary_contact'"
      class="w-full mt-1"
    >
      <label class="text-sm font-bold mb-[-4px]">Type Of Residence</label>
      <select
        id="type_of_residence"
        class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280]"
        (change)="onValueChange($event, 'select_type_resident')"
        [(ngModel)]="formData.type_of_residence"
        name="type_of_residence"
        [disabled]="disableForm"
      >
        <option [value]="'primary_contact'">Family, Primary Contact</option>
      </select>
    </div>

    <div
      *ngIf="pageForWhat === 'editData' && formData.type_of_residence !== 'primary_contact'"
      class="w-full mt-1"
    >
      <label class="text-sm font-bold mb-[-4px]">Type Of Residence</label>
      <select
        id="type_of_residence"
        class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280]"
        (change)="onValueChange($event, 'select_type_resident')"
        [(ngModel)]="formData.type_of_residence"
        name="type_of_residence"
        [disabled]="disableForm"
      >
        <option [value]="'secondary_contact'">Family, Secondary Contact</option>
        <option [value]="'member'">Family, Member</option>
        <option [value]="'helper'">Family, Helper</option>
        <option [value]="'tenants'">Tenant</option>
      </select>
    </div>

    <div *ngIf="pageForWhat !== 'editData'" class="w-full mt-1">
      <label class="text-sm font-bold mb-[-4px]">Type Of Residence</label>
      <select
        id="type_of_residence"
        class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280]"
        (change)="onValueChange($event, 'select_type_resident')"
        [(ngModel)]="formData.type_of_residence"
        name="type_of_residence"
        [disabled]="disableForm"
      >
        <option [value]="'secondary_contact'">Family, Secondary Contact</option>
        <option [value]="'member'">Family, Member</option>
        <option [value]="'helper'">Family, Helper</option>
        <option [value]="'tenants'">Tenant</option>
      </select>
    </div>

    <div class="mt-1.5">
      <app-input-component
        *ngIf="formData.reject_reason"
        [id]="'reject_reason'"
        [type]="'text'"
        [typeAction]="''"
        [labelParent]="''"
        [labelChild1]="'Reject Reason'"
        [labelChild2]="''"
        [disabled]="true"
        [value]="formData.reject_reason"
      ></app-input-component>
    </div>

    <div *ngIf="formData.type_of_residence === 'helper'" class="w-full mt-2">
      <div class="flex flex-row justify-start">
        <p class="text-sm font-bold">Helper Work Permit File</p>
      </div>
      <div
        class="bg-white p-3 h-12 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-start"
      >
        <input
          class="w-full rounded text-base hidden"
          type="file"
          name="helper_work_permit"
          (change)="onUploadHelperWorkPermit($event)"
          id="helper_work_permit"
        />
        <label
          class="w-full text-start"
          [ngClass]="(selectedNameHelperWorkPermit) ? 'text-black' : 'text-gray-500'"
          for="helper_work_permit"
        >
          {{ selectedNameHelperWorkPermit ? selectedNameHelperWorkPermit :
          'Upload Helper Work Permit' }}
        </label>
      </div>
      <div class="mt-1.5">
        <app-input-component
          [id]="'helper_work_permit_expiry_date'"
          [type]="'date'"
          [typeAction]="''"
          [labelParent]="''"
          [labelChild1]="'Helper Work Permit Expiry Date'"
          [labelChild2]="''"
          (eventEmitter)="onValueChange($event, 'helper_work_permit_expiry_date')"
          [value]="selectedDate"
          [disabled]="disableForm"
          [minDate]="minDate"
        ></app-input-component>
      </div>
    </div>

    <div
      *ngIf="pageForWhat !== 'editData' && formData.type_of_residence === 'tenants'"
    >
      <div class="w-full mt-2">
        <div class="flex flex-row justify-start">
          <p class="text-sm font-bold">Tenants Agreement File</p>
        </div>
        <div
          class="bg-white p-3 h-12 rounded border border-gray-500 w-full flex flex-row text-start items-center justify-start"
        >
          <input
            class="w-full rounded text-base hidden"
            type="file"
            name="tenants"
            (change)="onUploadTenantsWorkPermit($event)"
            id="tenants"
          />
          <label
            class="w-full text-start"
            [ngClass]="(selectedNameTenantsWorkPermit) ? 'text-black' : 'text-gray-500'"
            for="tenants"
          >
            {{ selectedNameTenantsWorkPermit ? selectedNameTenantsWorkPermit :
            'Upload Tenants Agreement File' }}
          </label>
        </div>
      </div>

      <div class="mt-1.5">
        <app-input-component
          [id]="'end_tenants_agreement'"
          [type]="'date'"
          [typeAction]="''"
          [labelParent]="''"
          [labelChild1]="'Tenants Agreement End Date'"
          [labelChild2]="''"
          (eventEmitter)="onValueChange($event, 'end_tenants_agreement')"
          [value]="selectedDate"
          [minDate]="minDate"
        ></app-input-component>
      </div>
    </div>

    <div *ngIf="pageForWhat !== 'editData'" class="w-full">
      <app-submit-button
        [text]="'Save to Add New Family'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="processAddNewFamily()"
      >
      </app-submit-button>
    </div>

    <div
      *ngIf="pageForWhat === 'editData' && formData.reject_reason"
      class="w-full"
    >
      <app-submit-button
        [text]="buttonNameEdit"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="processEdit('resubmit')"
      >
      </app-submit-button>
    </div>

    <div
      *ngIf="pageForWhat === 'editData' && formData.type_of_residence !== 'tenants' && formData.type_of_residence !== 'primary_contact' && !formData.reject_reason"
    >
      <app-submit-button
        *ngIf="!disableForm"
        [text]="'Cancel Edit'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="justCancelEdit()"
      >
      </app-submit-button>
      <app-submit-button
        [text]="buttonNameEdit"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="processEdit()"
      >
      </app-submit-button>
      <app-submit-button
        [text]="'Change Password'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="changePassDirect()"
      >
      </app-submit-button>
      <app-submit-button
        *ngIf="formData.type_of_residence !== 'primary_contact'"
        [text]="'Delete Family Member'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="onDelete()"
      >
      </app-submit-button>
    </div>

    <div
      *ngIf="pageForWhat === 'editData' && formData.type_of_residence === 'tenants'"
    >
      <app-submit-button
        [text]="'Change Password'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="changePassDirect()"
      >
      </app-submit-button>
      <app-submit-button
        [text]="'Request Extension Agreement'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="openExtend()"
      >
      </app-submit-button>
      <app-submit-button
        [text]="'Delete User'"
        [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
        (click)="onDelete()"
      >
      </app-submit-button>
    </div>
  </div>

  <!-- Modals remain the same -->
  <ion-modal
    id="choose-inheritence-modal"
    [isOpen]="isModalFamilyEditOpen"
    (didDismiss)="isModalFamilyEditOpen = false"
  >
    <ng-template>
      <div class="wrapper p-4">
        <p class="mt-2 text-sm text-black mb-2">
          If you want to delete this contact, you have to choose which family
          member to promote as a replacement for {{ formData.type_of_residence
          === 'primary_contact' ? 'Primary Contacts' : 'Secondary Contacts' }}
        </p>
        <div class="w-full">
          <label class="text-base font-bold"
            ><p>Family Member to Choose</p></label
          >
          <select
            id="family_member_to_choose"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-14 text-[#6B7280]"
            [(ngModel)]="selectedFamilyMemberId"
          >
            <option selected disabled hidden>Family Member to Choose</option>
            <option *ngFor="let fd of familyEditData" [value]="fd.id">
              {{ fd.name }}
            </option>
          </select>
        </div>
        <div class="flex flex-row justify-between space-x-2">
          <button
            class="mt-4 bg-[#D0D0D0] text-black rounded p-2 w-28"
            (click)="deleteProcess(selectedFamilyMemberId, formData.type_of_residence)"
          >
            Confirm
          </button>
          <button
            class="mt-4 bg-[#D0D0D0] text-black rounded p-2 w-28"
            (click)="isModalFamilyEditOpen = false"
          >
            Close
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal
    id="choose-inheritence-modal"
    [isOpen]="isModalAddFamilyMessageOpen"
    (didDismiss)="isModalAddFamilyMessageOpen = false"
  >
    <ng-template>
      <div class="wrapper p-4">
        <p class="mt-2 text-md text-black mb-2">
          There is No Member to be updated as a {{ formData.type_of_residence
          === 'primary_contact' ? 'Primary Contacts' : 'Secondary Contacts' }},
          please make a new family member records
        </p>
        <div class="flex flex-row justify-center">
          <button
            class="mt-4 bg-[#D0D0D0] text-black rounded p-3 w-28"
            (click)="isModalAddFamilyMessageOpen = false"
          >
            Confirm
          </button>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal
    id="is-modal-choose-upload"
    [isOpen]="isModalChooseUpload"
    (didDismiss)="isModalChooseUpload = false"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <div class="block">
        <div class="w-full flex flex-row justify-between space-x-2 p-3">
          <div class="w-1/2">
            <div class="w-full flex flex-col items-center">
              <input
                class="w-full rounded text-base hidden"
                type="file"
                name="family_image_profile"
                (change)="onUploadImageProfile($event)"
                id="family_image_profile"
                accept="image/*"
              />
              <label
                class="flex flex-col items-center"
                for="family_image_profile"
              >
                <img
                  class="w-10 h-10 my-2"
                  src="assets/icon/other-file-icon.png"
                />
                <span
                  class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                  >From File</span
                >
              </label>
            </div>
          </div>
          <div class="w-1/2">
            <div
              class="w-full flex flex-col items-center"
              (click)="openCamera()"
            >
              <img class="w-10 h-10 my-2" src="assets/icon/image-icon.png" />
              <span
                class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                >From Camera</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
