<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Raise A Request'" [text_second]="'New Request'" />
  <div class="w-full flex items-start ml-4 mt-2">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
  </div>

  <div class="px-5 text-center mb-20">
    <div class="flex flex-row justify-start items-center w-full space-x-3 mt-2">
      <div class="w-full">
        <app-visitor-button [text]="'New Request'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full leading-none cw-4:text-sm'"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'Request Status'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-full cw-4:text-sm'" [routerLink]="['/rejected-request']"></app-visitor-button>
      </div>
    </div>

    <div class="space-y-4 w-full mt-2">
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5">
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/access-card-application']">
          <div class="w-full flex flex-col items-center">
            <img class="w-10 h-10 my-2" src="assets/icon/resident-icon/raise_request/Rectangle 2.webp"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Access Card</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/overnight-form-rar']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 3.webp" alt="Icon for Upcoming Events"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Apply Overnight</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/bicycle-tag-application']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 5.webp"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Bicycle Tag</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/coach-registration']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 4.webp" alt="Icon for House Rules"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Coach Registration</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/move-in-out-permit']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 6.webp" alt="Icon for Report an Issue"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Move Permit</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/pet-registration']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 7.webp" alt="Icon for Upcoming Events"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Pet Registration</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/renovation-permit']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 8.webp" alt="Icon for Upcoming Events"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Renovation Work</span>
          </div>
        </ion-button>
        <ion-button fill="clear" class="w-full h-[150px] flex bg-[#D8ECCF] rounded-2xl relative p-0 m-0" [routerLink]="['/appeal-parking-fines']">
          <div class="w-full flex flex-col items-center">
            <img class="w-16 h-13" src="assets/icon/resident-icon/raise_request/Rectangle 3.webp" alt="Icon for Upcoming Events"/>
            <span class="text-sm font-bold text-[black] text-center normal-case cw-4:text-[11.5px]">Appeal Parking</span>
          </div>
        </ion-button>
      </div>
    </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>