<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Upcoming Event'"
    [text_second]="'Calendar View'"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2">
    <div id="nav_tabs_main">
      <app-nav-tabs [buttons]="navButtonsMain"></app-nav-tabs>
    </div>

    <div
      *ngIf="isLoading"
      class="flex justify-center items-center h-full mt-[50px]"
    >
      <app-loading-animation></app-loading-animation>
    </div>
    <div *ngIf="!isLoading" class="h-full w-full mt-2">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="w-full flex items-start mb-2 mt-2">
          <ion-icon
            name="arrow-back-circle"
            size="large"
            class="text-[var(--ion-color-primary)] size-12"
            (click)="prev()"
          ></ion-icon>
        </div>
        <div
          class="w-[550px] flex items-center justify-center mb-2 mt-2 font-bold text-lg"
          (click)="openDatePicker()"
        >
          {{ viewDate | date:'MMMM y' }}
          <!-- Menampilkan bulan dan tahun -->
        </div>
        <div class="w-full flex items-end mb-2 mt-2 justify-end">
          <ion-icon
            name="arrow-forward-circle"
            size="large"
            class="text-[var(--ion-color-primary)] size-12"
            (click)="next()"
          ></ion-icon>
        </div>
      </div>
      <div class="cal-month-view" *ngIf="view === CalendarView.Month">
        <mwl-calendar-month-view
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="customCellTemplate"
          [locale]="'en-US'"
          (dayClicked)="handleClickDay($event.day)"
          (eventClicked)="handleEvent($event.event)"
        >
        </mwl-calendar-month-view>
      </div>
    </div>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-number"
          >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
        >
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
          >{{ day.badgeTotal }}</span
        >
      </div>
    </ng-template>
    <div class="h-[4.5rem]"></div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
