<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img
      alt="IFS360"
      src="assets/img/focus_logo-removebg.png"
      class="object-contain w-full h-full"
    />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/overnight-parking-list'"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon 
        [isHomeButton]="true"
        [text]="'OVERNIGHT PARKING'" 
        [routerLink]="['/overnight-parking-list']" 
        [isActive]="true" 
        [disableClick]="true" 
      />    
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 space-y-5 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <label class="text-2xl font-bold">{{vehicle.vehicle_numbers}}</label>
        <table class="text-2xl">
          <tr>
            <td class="font-bold w-2/5">VISITOR NAME</td>
            <td class="w-[5%]">:</td>
            <td>{{vehicle.visitor_name ? vehicle.visitor_name : '-'}}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">CONTACT NO</td>
            <td class="w-[5%]">:</td>
            <td>{{vehicle.contact_number ? vehicle.contact_number : '-'}}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">RESIDENT NAME</td>
            <td class="w-[5%]">:</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">RESIDENT CONTACT NO</td>
            <td class="w-[5%]">:</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">BLOCK</td>
            <td class="w-[5%]">:</td>
            <td>{{vehicle.block  ? vehicle.block : '-'}}</td>
          </tr>
          <tr>
            <td class="font-bold w-2/5">UNIT</td>
            <td class="w-[5%]">:</td>
            <td>{{vehicle.unit  ? vehicle.unit : '-'}}</td>
          </tr>
        </table>
        <div class="flex flex-row justify-around w-full">
          <div class="flex flex-col w-1/2 items-center mb-1">
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14">CALL VISITOR</button>
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4" (click)="presentModal('first_warning', vehicle)">ISSUE NOTICE</button>
          </div>
          <div class="flex flex-col w-1/2 items-center">
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14">CALL RESIDENT</button>
            <button class="w-4/5 bg-white text-black text-2xl font-bold rounded mt-5 h-14 mb-4" (click)="presentModal('wheel_clamp', vehicle)">WHEEL CLAMPED</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>