<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
		<div class="flex flex-col justify-start">
			<img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
		<div class="logo">
			<h1 class="text-[26px] font-bold text-[black]">Visitors</h1>
      <p class="font-bold text-[black]">Daily Invite</p>
		</div>
	</div>
	<!-- CONTENT -->
	<div class="flex flex-col relative mt-2 mx-4">
		<ion-button class="flex flex-row justify-center items-center w-full icon" fill="clear" [routerLink]="['/resident-visitors']">
		  <div class="flex flex-col items-center text-black">
			<ion-icon name="arrow-back"></ion-icon>
		  </div>
		</ion-button>
	
		<div class="flex flex-col mt-2">
		  <u class="text-[14px] font-bold">Invitation List</u>
		  
		  <div *ngIf="!isFormInitialized" class="text-center text-gray-500 mt-4 dark:text-[white]">
			Push "Add Invitee" for add form or shoose to add from history
		  </div>

		  <div id="form" *ngIf="shouldShowForm()">
			<div *ngFor="let invitee of inviteeFormList; let i = index" class="mb-4">
			  <div class="w-full flex justify-between flex-row mt-4">
				<div class="w-10/12">
				  <input 
					[id]="'invf_name_' + i" 
					name="name_{{i}}"
					placeholder="Name" 
					class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-sm"
					[(ngModel)]="inviteeFormList[i].name"
					required>
				</div>
				<app-button-icon [customNameIcon]="'faUser'" [isActive]="true" [disableClick]="true"></app-button-icon>
			  </div>
			  <div class="w-full flex flex-row justify-between space-x-2">
				<input 
				  [id]="'invf_phone_' + i" 
				  name="phone_{{i}}"
				  placeholder="Mobile Number" 
				  class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-sm"
				  [(ngModel)]="inviteeFormList[i].phone"
				  required>
				<input 
				  [id]="'invf_plate_' + i" 
				  name="plate_{{i}}"
				  placeholder="Vehicle Number" 
				  class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 mt-1 text-sm"
				  [(ngModel)]="inviteeFormList[i].plate"
				  required>
			  </div>
			</div>
		  </div>
		  
		  <div class="flex flex-row justify-end mt-4">
			<u class="text-[14px] font-bold cursor-pointer" (click)="addInvitee()">{{ addInviteeText }}</u>
		  </div>
		  <div class="flex flex-row justify-end">
			<u 
			  class="text-[14px] font-bold cursor-pointer" 
			  (click)="navigateToInviteFormHistory()">
			  Add From History List
			</u>
		  </div>
		  <div class="flex flex-row mt-4 text-[12px] w-full">
			<div class="w-full">
			  <app-visitor-button 
				[text]="'Send Invitation'" 
				[extraClass]="'bg-[#CDF8BA] text-black mt-1 w-full text-sm'"
				(click)="onSubmit()">
			  </app-visitor-button>
			</div>
		  </div>
		</div>
	  </div>
	<!-- ############################### -->
	  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>