<div class="wrapper flex flex-col items-center justify-center">
  <img
    [src]="functionMainService.getImage(qrCodeImage)"
    alt="QR code for Paynow"
    class="h-24 w-24 cursor-pointer mb-2"
    (click)="donwloadQris()"
  />
  <div class="w-full">
    <div class="flex flex-row justify-start mb-1">
      <p class="text-base cw-3:text-sm font-bold">Upload receipt here</p>
    </div>
    <div class="bg-white p-3 rounded">
      <input
        class="w-full rounded text-base hidden"
        type="file"
        name="image_for_reason"
        id="image_for_reason"
        accept="image/*"
        (change)="uploadReceipt($event)"
      />
      <label
        class="w-full"
        [ngClass]="selectedFileName ? 'text-black' : 'text-white'"
        for="image_for_reason"
      >
        {{ selectedFileName ? selectedFileName : "Choose file receipt" }}
        <!-- Update label text -->
      </label>
    </div>
  </div>
  <app-submit-button
    [text]="'Send'"
    [extraClass]="
      'bg-[var(--ion-color-primary)] w-full min-w-[259px] text-white p-2 rounded border border-black font-bold mt-2'
    "
    (click)="onSubmitReceipt()"
  ></app-submit-button>
</div>
