<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Report app Issue'"/>

  <div class="p-5 text-center mb-20 ">
    <div class="mb-3 flex justify-start">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/record-app-report']"></ion-icon>
    </div>
    <div class="flex flex-col">
      <div class="w-full mb-2">
        <div class="flex flex-row justify-start mb-1 mt-1">
          <p class="text-base font-bold">Type of Issue</p>
        </div>
        <select id="type_of_issue" placeholder="Type of Issue" class="border border-[#BDBDBD] w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-10 text-[#6B7280]">
          <option selected disabled hidden>Choose Type of Issue</option>
          <option value="suggestion">Suggestion</option>
          <option value="improvement">Improvement</option>
          <option value="report_issue">Report Issue</option>
        </select>
      </div>
      <u class="text-base font-bold mb-1.5 text-start">Reporter Details</u>
      <div class="space-y-2">
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Name</p>
          </div>
          <app-text-input [id]="'report_name'"
            [placeholder]="'Name'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
            [isReadonly]="true"
            [value]="reporterDetails.name">
          </app-text-input>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Contact Number</p>
          </div>
          <app-text-input [id]="'report_contact_number'"
            [placeholder]="'Contact Number'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
            [isReadonly]="true"
            [value]="reporterDetails.contactNumber">
          </app-text-input>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Contact Email</p>
          </div>
          <app-text-input [id]="'report_contact_email'"
            [placeholder]="'Contact Email'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
            [isReadonly]="true"
            [value]="reporterDetails.email">
          </app-text-input>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Block and Unit</p>
          </div>
          <app-text-input [id]="'report_block_and_unit'"
            [placeholder]="'Block and Unit'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
            [isReadonly]="true"
            [value]="reporterDetails.blockAndUnit">
          </app-text-input>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Place of Residence</p>
          </div>
          <app-text-input [id]="'report_place_of_residence'"
            [placeholder]="'Place of Residence'"
            [customClasses]="{'w-full':true}" [type]="'text'"
            [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
            [isReadonly]="true"
            [value]="reporterDetails.placeOfResidence">
          </app-text-input>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Summary Report</p>
          </div>
          <textarea id="report_summary" placeholder="Summary Report"
            class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base"
            [value]="reporterDetails.summaryReport">
          </textarea>
        </div>
      </div>
    </div>
    <div class="flex flex-row mt-2 text-[13px] w-full">
      <div class="w-full">
        <app-visitor-button [text]="'Submit'"
          [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
          [routerLink]="['/record']">
        </app-visitor-button>
      </div>
    </div>
  </div>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>