<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/move-home'"/>
    </div>
    <div class="flex flex-row mt-8 mx-4">    
      <app-button-icon [customNameIcon]="'faHammer'" [text]="'RENOVATION'" [routerLink]="['/move-home']" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col w-full mt-8 space-y-5 items-center mx-4 mb-4">
        <!-- Block dan Unit -->
        <div class="w-full flex flex-row space-x-1">
          <div class="w-1/2">
            <app-text-input 
              #textInput
              [id]="'block'" 
              [labelText]="'BLOCK'" [placeholder]="'Block'" 
              [customClasses]="{'w-full ':true}" 
              [type]="'text'" 
              [isReadonly]="true"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input 
              #textInput
              [id]="'unit'" 
              [isReadonly]="true"
              [labelText]="'UNIT'" [placeholder]="'Unit'" 
              [customClasses]="{'w-full':true}" 
              [type]="'text'" 
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
        </div> 
        <div class="w-full">
          <app-text-input 
            #textInput
            [id]="'contractor_name'" 
            [labelText]="'NAME'" [placeholder]="'EG. KEVIN MARCH'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
        </div> 
        <div class="flex flex-row justify-between w-full">
          <div class="w-4/6">
            <app-text-input 
              #textInput
              [id]="'contractor_contact'" 
              [labelText]="'CONTACT NUMBER'" [placeholder]="'EG. +65 XXXX XXX'" 
              [customClasses]="{'w-full':true}" 
              [type]="'text'" 
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
          <div class="flex flex-col justify-end w-1/4">
            <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-full text-2xl rounded font-bold h-20" (click)="saveRecordAndOpenBarrier()">SEARCH</button>
          </div>
          
        </div>
        <div class="w-full">
          <app-nric-fin-selection (change)="onIdentificationTypeChange($event)"/>
        </div>
        <!-- <div class="flex mt-2 mb-2 gap-x-8 flex-row w-full">
          <div class="flex flex-row items-center my-2 ml-1">
            <input type="radio" name="SelectedIdentification" id="nric_identification" value="nric" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" />
            <label class="text-2xl" for="nric_identification">NRIC</label>
          </div>
          <div class="flex flex-row items-center my-2">
            <input type="radio" name="SelectedIdentification" id="fin_identification" value="fin" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" />
            <label class="text-2xl" for="fin_identification">FIN</label>
          </div>
        </div> -->
        <div class="w-full">
          <app-text-input 
            #textInput
            [id]="'contractor_nric/fin'" 
            [labelText]="'NRIC / FIN'" [placeholder]="'SCAN NRIC / FIN'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
        </div>
        <div class="w-full flex flex-row justify-between">
          <div class="w-[90%]">
            <app-text-input 
            #textInput
            [id]="'contractor_vc'" 
            [labelText]="'VEHICLE NUMBER'" [placeholder]="'SBA 7282 U'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [value]="vehicle_number"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
          </div>
          <div class="h-25 flex flex-col justify-end">
              <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle()"/>
            </div>
        </div> 
        <div class="w-full">
          <app-text-input 
            #textInput
            [id]="'contractor_company_name'" 
            [labelText]="'COMPANY NAME'" [placeholder]="'ROUNDEL MOVING PTE LTD'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true ,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
        </div> 
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>NUMBER OF PAX</b></u></label>
          <select name="no-of-pax" [value]="paxCount" id="no-of-pax" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onPaxCountChange($event)">
            <option *ngFor="let count of [].constructor(maxPax); let i = index" [value]="i + 1">
              NO OF PAX {{ i + 1 }}
            </option>  
          </select>
        </div>
        <div *ngFor="let count of [].constructor(paxCount); let i = index" class="w-full flex flex-row space-x-1">
          <div class="w-1/2">
            <app-text-input #textInput [id]="'name_pax_' + i" [labelText]="'NAME'" [placeholder]="'EG. ROBERT JONES'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input #textInput [id]="'nric_fin_pax_' + i" [labelText]="'NRIC / FIN'" [placeholder]="'EG. SCAN NRIC / FIN'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <div class="w-full">
            <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-6 w-full text-2xl h-20'" (click)="saveRecordAndOpenBarrier()"></app-visitor-button>
          </div>
          <div class="w-full">
            <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full mt-5 text-2xl h-20'" (click)="saveRecordOnly()"></app-visitor-button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</ion-content>