<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Polling'" [text_second]="'Closed Polling'"/>

  <div class="p-5 text-center mb-20" *ngIf="!showGraph">
    <div class="w-1/6 flex items-start mr-10 mb-2">
			<ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
		  </div>
    <div class="flex flex-row justify-between mt-4">
      <app-visitor-button [text]="'Open'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'" [routerLink]="['/resident-polling']"></app-visitor-button>
      <app-visitor-button [text]="'Upcoming'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'" [routerLink]="['/upcoming-polling']"></app-visitor-button>
      <app-visitor-button [text]="'Closed'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-28'"></app-visitor-button>
    </div>
    <div class="w-full mt-4">
      <div class="bg-[var(--ion-color-tertiary)] rounded p-4 flex justify-between items-center">
        <div class="flex justify-between items-center w-full">
          <div class="flex flex-col items-start">
            <h2 class="font-bold mb-2 ml-2.5">Block colour voting</h2>
            <table class="w-full text-left">
              <tbody>
                <tr>
                  <td class="font-bold">Closed</td>
                  <td>: 12/12/24</td>
                </tr>
                <tr>
                  <td class="font-bold">Voted</td>
                  <td>: Option B</td>
                </tr>
                <tr>
                  <td class="font-bold">Results</td>
                  <td>: Option A win</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="bg-[var(--ion-color-primary)] text-white font-bold px-4 py-2 rounded mr-2.5" (click)="toggleGraph()">
            VIEW
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showGraph" class="p-5 text-center mb-20 slide-up-animation">
    <div class="w-1/6 flex items-start mr-10">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="toggleGraph()"></ion-icon>
    </div>
    <app-voting-graph></app-voting-graph>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>