<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Polling'" [text_second]="'Closed Polling'"/>
  <div class="w-full mt-2 flex items-start ml-4" *ngIf="!showGraph">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
  </div>

  <div class="px-5 mt-2 text-center mb-20" *ngIf="!showGraph">
    <div class="flex flex-row justify-between">
      <app-visitor-button [text]="'Open'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'" [routerLink]="['/resident-polling']"></app-visitor-button>
      <app-visitor-button [text]="'Upcoming'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'" [routerLink]="['/upcoming-polling']"></app-visitor-button>
      <app-visitor-button [text]="'Closed'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-[105px] cw-3:text-sm w-[105px] cw-1:w-24 cw-3:w-[88px]'"></app-visitor-button>
    </div>
    <div *ngIf="isLoading" class="flex justify-center items-center h-full">
      <ion-spinner name="circular"></ion-spinner>
    </div>
    <div *ngIf="!isLoading" class="w-full mt-4 space-y-2">
      <div class="bg-[var(--ion-color-tertiary)] rounded p-3 py-5 flex justify-between items-center" *ngFor="let vd of voteData">
        <div class="flex justify-start flex-col items-start w-full">
          <div class="flex flex-col items-start">
            <h2 class="font-bold mb-2 ml-2.5 text-left">{{ vd.polling_name }}</h2>
            <table class="w-full text-left">
              <tbody>
                <tr>
                  <td class="font-bold">Closed</td>
                  <td class="truncate">: {{ funcitonMain.convertToDDMMYYYY(vd.polling_end_date) }}</td>
                </tr>
                <tr>
                  <td class="font-bold">Voted</td>
                  <td class="truncate">: {{ isArrayAndJoin(vd.voted_option) }}</td>
                </tr>
                <tr>
                  <td class="font-bold">Results</td>
                  <td class="truncate">: Option <strong>{{ vd.winning_response }}</strong> win</td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="bg-[var(--ion-color-primary)] text-white w-full mt-3 font-bold px-4 py-2 rounded" (click)="toggleGraph(vd)">
            View Detail
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-2 flex items-start ml-4" *ngIf="showGraph">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="toggleGraph()"></ion-icon>
  </div>
  <div *ngIf="showGraph" class="px-5 text-center mb-20" [ngClass]="{'slide-up-animation': openingGraph, 'slide-down-animation': closingGraph}">
    <div>
      <h2 class="font-bold mb-2 ml-2.5">{{ dataForGraph.polling_name }}</h2>
    </div>
    <app-voting-graph [chartData]="dataForGraph"></app-voting-graph> <!-- Pass data to the graph component -->
    <div>
      <div class="flex flex-col text-start">
        <div class="flex flex-col justify-start space-y-1 w-full">
          <p class="text-[var(--ion-color-danger)]"><strong>Polling Status:</strong> {{ dataForGraph.states }}</p>
          <p><strong>Winning Response:</strong> {{ dataForGraph.winning_response }}</p>
          <p><strong>You option:</strong> {{ isArrayAndJoin(dataForGraph.voted_option) }}</p>
        </div>
      </div>
    </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>