<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Visitors'" [text_second]="'Hired Car'" />
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="w-1/6 flex items-start mr-10">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
    </div>
    <div class="flex flex-row justify-between mt-4">
			<app-visitor-button [text]="'Daily Invite'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'"
				(click)="toggleShowInv()">
			</app-visitor-button>
			<app-visitor-button [text]="'Hired Car'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-28'"
				(click)="toggleShowHired()">
			</app-visitor-button>
			<app-visitor-button [text]="'History'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'"
				(click)="toggleShowHistory()">
			</app-visitor-button>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col">
        <div class="flex flex-row justify-start mt-4 mb-1.5">
          <u class="text-base font-bold">Entry Details</u>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Entry Vehicle Number</p>
          </div>
          <app-text-input [id]="'hired_car_vhcnum'" [placeholder]="'Vehicle Number'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}" 
            [value]="formData.vehicle_number"
            (valueChange)="changeVehicleNumber($event)"
          >
          </app-text-input>
        </div>
        <div class="flex flex-row justify-start mt-4">
          <app-visitor-button [text]="'PICK UP'" [extraClass]="showPick ? 'bg-[var(--ion-color-primary)] w-24 text-base text-white' : 'bg-[#D0D0D0] text-[#757575] w-24 text-base'" (click)="toggleShowPick()"></app-visitor-button>
          <app-visitor-button [text]="'DROP OFF'" [extraClass]="showDrop ? 'bg-[var(--ion-color-primary)] w-24 ml-2 text-base text-white' : 'bg-[#D0D0D0] text-[#757575] w-24 ml-2 text-base'" (click)="toggleShowDrop()"></app-visitor-button>
        </div>
        <div class="flex flex-row justify-start items-start mt-4">
          <div class="flex flex-col items-center w-12" (click)="usePhvVehicle()">
            <button id="shadow_back" [class]="phv_vehicle ? 'w-12 h-12 bg-[var(--ion-color-primary)] rounded-xl' : 'w-12 h-12 bg-[#D0D0D0] rounded-xl'">
              <img
              alt="Grab"
              src="assets/icon/pick_up-page/Grab_Outline.png" [class]="phv_vehicle ? '' : 'icon-black'"/>
                <!-- <ion-icon name="location" aria-hidden="true" color="light" class="w-6 h-6 mt-1"></ion-icon> -->
            </button>
            <div class="text-[12px] flex flex-col relative items-center mt-1">
              <b>PHV</b>
              <b>VEHICLE</b>
            </div>
          </div>
          <div class="flex flex-col items-center w-12 ml-5" (click)="useTaxi()">
            <button id="shadow_back" [class]="taxi ? 'w-12 h-12 bg-[var(--ion-color-primary)] rounded-xl' : 'w-12 h-12 bg-[#D0D0D0] rounded-xl'">
              <fa-icon [icon]="faTaxi" [class]="taxi ? 'text-white' : 'text-[#000000]'"></fa-icon>
            </button>
            <div class="text-[12px] flex flex-col relative items-center mt-1">
              <b>TAXI</b>
            </div>
          </div>
          <div class="flex flex-col items-center w-12 ml-5" (click)="usePrivateCar()">
            <button id="shadow_back" [class]="private_car ? 'w-12 h-12 bg-[var(--ion-color-primary)] rounded-xl' : 'w-12 h-12 bg-[#D0D0D0] rounded-xl'">
              <ion-icon name="car-sport-outline" aria-hidden="true" [color]="private_car ? 'light' : 'dark'" class="w-6 h-6 mt-1"></ion-icon>
            </button>
            <div class="text-[12px] flex flex-col relative items-center mt-1">
              <b>PRIVATE</b>
              <b>CAR</b>
            </div>
          </div>
          <div class="flex flex-col items-center w-12 ml-5" (click)="useMotorBike()">
            <button id="shadow_back" [class]="motor_bike ? 'w-12 h-12 bg-[var(--ion-color-primary)] rounded-xl' : 'w-12 h-12 bg-[#D0D0D0] rounded-xl'">
              <fa-icon [icon]="faMotorcycle" [class]="motor_bike ? 'text-white' : 'text-[#000000]'"></fa-icon>
            </button>
            <div class="text-[12px] flex flex-col relative items-center mt-1">
              <b>MOTOR</b>
              <b>BIKE</b>
            </div>
          </div>
        </div>
        <div class="flex flex-col mt-4 text-[14px]">
          <p class="underline underline-offset-1 font-bold text-[#757575] mb-2">Temporary Pickup/Drop-off Vehicle Authorization</p>
          <p class="mb-1.5">This temporary vehicle access granted exclusively for the purpose of picking up or dropping off a resident of the unit.</p>
          <p class="mb-1.5">This vehicle will be registered under the unit’s visitation list history, and by granting access, the registering party acknowledges and agrees that if the vehicle remains on the premises for more than 10 minutes, security personnel will be alerted to wheel-clamp the vehicle without further notice.</p>
          <p class="mb-1.5">Additionally, the vehicle must enter the premises before midnight; otherwise, a new registration will be required for entry.</p>
        </div>
        <div class="flex flex-row mt-4 text-[13px]">
          <app-checkbox-confirmation 
            [label]="'I agree to the terms above'" 
            [(checked)]="agreementChecked" 
            [customClass]="'mr-1 rounded font-bold'">
          </app-checkbox-confirmation>
        </div>
        <div class="flex flex-row mt-2 text-[13px] w-full">
          <div class="w-full">
            <app-visitor-button 
              [text]="'Submit'" 
              [extraClass]="agreementChecked ? 'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base' : 'bg-gray-300 text-gray-500 mt-1 w-full text-base'" 
              (click)="onSubmit()">
            </app-visitor-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>