<app-resident-header [text]="'Report an Issue'" [text_second]="'Record of Report'"/>
<ion-content [fullscreen]="true">
  <div class="w-1/6 flex items-start mr-10 mb-2 mt-2 ml-4">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
  </div>

  <div class="px-5 mt-2 text-center mb-20">
    <!-- Reported Issues Button -->
    <div class="flex flex-row justify-start items-center w-full space-x-3 mb-4">
      <div class="w-full">
        <app-visitor-button [text]="'Reported Issues'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-sm w-full'" ></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'Report an Issues'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-sm w-full'" [routerLink]="['/resident-report-an-issue']"></app-visitor-button>
      </div>
    </div>
    <!-- Issues List -->
    <div class="space-y-4">
      <div *ngFor="let report of allData" [ngClass]="{
        'bg-[var(--ion-color-tertiary)]': report.ticket_status === 'Solved',
        'bg-[#F8F1BA]': report.ticket_status === 'New',
        'bg-[#E3787E]': report.ticket_status === 'Canceled',
        'bg-sky-200': report.ticket_status === 'In Progress' || report.ticket_status === 'On Hold'
        }" class="bg-[#F8F1BA] p-4 rounded shadow"
      >
        <h2 class="font-bold text-base text-left">{{ report.ticket_name }} - {{ report.ticket_type }}</h2>
        <table class="w-full text-left border-collapse mt-2">
          <tbody>
            <tr>
              <td class="font-bold text-sm">Reported On</td>
              <td class="text-sm">: {{ report.issued_on }}</td>
            </tr>
            <tr>
              <td class="font-bold text-sm">Resolved On</td>
              <td class="text-sm">: {{ report.solved_on || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="font-bold text-sm">Ticket Status</td>
              <td class="text-sm">: {{ report.ticket_status }}</td>
            </tr>
          </tbody>
        </table>
        <div class="flex mt-[6px] w-full" (click)="seeDetail(report)">
          <button
            class="cw-2:text-[13px] bg-[var(--ion-color-primary)] w-full text-white px-3 py-2 text-base rounded-md font-bold">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>