<ion-content [fullscreen]="true">
  <app-resident-header [text]="'Report an Issue'" [text_second]="'Record of Report'"/>
  <div class="w-1/6 flex items-start mr-10 mb-2 mt-2 ml-4">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-homepage']"></ion-icon>
  </div>

  <div class="px-5 mt-2 text-center mb-20">
    <!-- Reported Issues Button -->
    <div class="flex flex-row mt-3 justify-start items-center w-full space-x-3 mb-4">
      <app-visitor-button [text]="'Reported Issues'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-sm w-38 px-3'" ></app-visitor-button>
      <app-visitor-button [text]="'Report an Issues'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-sm w-38 px-3'" [routerLink]="['/resident-report-an-issue']"></app-visitor-button>
    </div>
    <!-- Issues List -->
    <div class="space-y-4">
      <!-- Issue 1 -->
      <div class="bg-[#E3787E] p-4 rounded shadow">
        <h2 class="font-bold text-left">Cleaning - Basement full of trash</h2>
        <table class="w-full text-left border-collapse mt-2">
          <tbody>
            <tr>
              <td class="font-bold">Reported Issue On</td>
              <td>: 09/10/2024</td>
            </tr>
            <tr>
              <td class="font-bold">Issue Resolved On</td>
              <td>: N/A</td>
            </tr>
            <tr>
              <td class="font-bold">Ticket Status</td>
              <td>: Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Issue 2 -->
      <div class="bg-[var(--ion-color-tertiary)] p-4 rounded shadow">
        <h2 class="font-bold text-left">Security - Noisy Neighbor </h2>
        <table class="w-full text-left border-collapse mt-2">
          <tbody>
            <tr>
              <td class="font-bold">Reported Issue On</td>
              <td>: 09/10/2024</td>
            </tr>
            <tr>
              <td class="font-bold">Issue Resolved On</td>
              <td>: 10/10/24</td>
            </tr>
            <tr>
              <td class="font-bold">Ticket Status</td>
              <td>: Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>