<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Contractors'"
    [text_second]="'Daily Invite'"
  ></app-header-inner-page>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2 mb-28">
    <div id="nav_tabs_main">
      <app-nav-tabs [buttons]="navButtonsMain"></app-nav-tabs>
    </div>
    <div id="sub_nav_tabs">
      <app-nav-tabs
        [buttons]="navButtonsSub"
        (eventEmitter)="onClick($event)"
      ></app-nav-tabs>
    </div>
    <div
      id="form"
      class="flex flex-col w-full mt-4 !text-sm"
      *ngIf="showNewInv"
      @fadeInOut
    >
      <app-input-component
        [id]="'choose_entry_date_field'"
        [type]="'date'"
        [typeAction]="'Choose'"
        [labelParent]="'Entry Details'"
        [labelChild1]="'Entry Date'"
        [labelChild2]="'Entry date'"
        (eventEmitter)="onDateChange($event)"
        [value]="selectedDate"
        [minDate]="minDate"
      ></app-input-component>
      <div class="flex flex-row space-x-2 items-start my-2 w-full">
        <app-radio-check-input-case
          [type]="'radio'"
          [id]="'one_time_entry'"
          [name]="'entry'"
          [value]="'one_time_entry'"
          [checkedText]="entryCheck === 'one_time_entry'"
          [text]="'One-Time Entry'"
          (valueEmit)="onChangeEntry($event)"
        ></app-radio-check-input-case>
        <app-radio-check-input-case
          [type]="'radio'"
          [id]="'multiple_entry'"
          [name]="'entry'"
          [value]="'multiple_entry'"
          [checkedText]="entryCheck === 'multiple_entry'"
          [text]="'Multiple Entry'"
          (valueEmit)="onChangeEntry($event)"
        ></app-radio-check-input-case>
      </div>
      <app-input-component
        [id]="'type_invitation_title'"
        [type]="'text'"
        [typeAction]="''"
        [labelParent]="'Invitation Details'"
        [labelChild1]="'Title of Invitation'"
        [labelChild2]="''"
        (eventEmitter)="onEntryTitleChange($event)"
      ></app-input-component>
      <div class="w-full mt-1 flex flex-col">
        <div class="flex flex-row justify-start">
          <p class="text-base cw-3:text-sm font-bold">Message for Invitation</p>
        </div>
        <textarea
          id="visitor_entry_message"
          placeholder=""
          class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-sm"
          type="text"
          [(ngModel)]="formData.entryMessage"
          name="entryMessage"
        ></textarea>
      </div>
      <!-- <app-radio-check-input-case [type]="'checkbox'" [id]="'provide_unit_number'" [name]="'provide_unit_number'" [value]="'1'" (valueEmit)="onProvideUnitChange($event)" [check]="formData.isProvideUnit" [text]="'Provide my unit number to contractor'"></app-radio-check-input-case> -->
      <div class="flex flex-row mt-2 text-[13px] w-full">
        <div class="w-full">
          <app-submit-button
            [text]="'Next'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
            (click)="onSubmitNext()"
          >
          </app-submit-button>
        </div>
      </div>
    </div>
    <div class="w-full mb-20" *ngIf="showActInv" @fadeInOut>
      <ion-refresher
        slot="fixed"
        (ionRefresh)="handleRefresh($event)"
        style="z-index: 999"
        pullFactor="0.3"
        pullMin="40"
        pullMax="80"
      >
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          refreshingSpinner="none"
        ></ion-refresher-content>
      </ion-refresher>
      <div
        *ngIf="isLoading"
        class="flex justify-center items-center h-full mt-[50px]"
      >
        <app-loading-animation *ngIf="isLoading"></app-loading-animation>
      </div>
      <div
        class="flex justify-end items-end mt-2"
        *ngIf="activeInvites.length > 0 && isLoading === false"
      >
        <nav class="flex items-center gap-x-1" aria-label="Pagination">
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            aria-label="Previous"
            (click)="getActiveInvites('previous', pagination.current_page - 1)"
            [disabled]="pagination.current_page <= 1"
          >
            <svg
              class="shrink-0 size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m15 18-6-6 6-6"></path>
            </svg>
          </button>
          <div class="flex items-center gap-x-1">
            <input
              type="number"
              [value]="pagination.current_page"
              (blur)="goToPage($event, 'history')"
              (keyup.enter)="goToPage($event, 'history')"
              class="min-h-9.5 min-w-8 flex justify-center items-center !border-2 !border-black text-gray-800 py-1 px-3 text-sm text-center rounded-lg focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:focus:ring-black"
              [min]="1"
              [max]="pagination.total_page"
            />
            <span
              class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
              >of</span
            >
            <span
              class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
              >{{ pagination.total_page }}</span
            >
          </div>
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            aria-label="Next"
            (click)="getActiveInvites('next', pagination.current_page + 1)"
            [disabled]="pagination.current_page >= pagination.total_page"
          >
            <svg
              class="shrink-0 size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </button>
        </nav>
      </div>
      <div
        *ngIf="activeInvites.length > 0 && isLoading === false; else noInvites"
      >
        <div
          *ngFor="let invite of activeInvites"
          class="w-full bg-[#D8ECCF] p-4 my-4 rounded-lg flex flex-col items-start"
        >
          <div class="flex flex-col items-start">
            <h2 class="text-lg font-bold text-gray-800">
              <u class="capitalize">{{ invite.name }}</u>
            </h2>
            <div>
              <table>
                <tr class="text-base cw-2:text-sm text-gray-800 h-1">
                  <td class="font-bold w-24">Date of Invite</td>
                  <td class="w-4">:</td>
                  <td>{{invite.dateOfInvite}}</td>
                </tr>
                <tr class="text-base cw-2:text-sm text-gray-800 h-1">
                  <td class="font-bold">Vehicle No</td>
                  <td>:</td>
                  <td>{{invite.vehicleNo ? invite.vehicleNo : '-'}}</td>
                </tr>
                <tr class="text-base cw-2:text-sm text-gray-800 h-1">
                  <td class="font-bold">Type of Entry</td>
                  <td>:</td>
                  <td>{{invite.entryType}}</td>
                </tr>
                <tr
                  *ngIf="invite.expectedDays"
                  class="text-base cw-2:text-sm text-gray-800 h-1"
                >
                  <td class="font-bold">Stay length</td>
                  <td>:</td>
                  <td>{{invite.expectedDays}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="flex flex-col w-full">
            <button
              *ngIf="!invite.is_entry"
              class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-2:text-sm w-full"
              (click)="resendInvite(invite.invite_id, invite.contactNo)"
            >
              Resend Invite
            </button>
            <button
              *ngIf="!invite.is_entry"
              class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-2:text-sm w-full"
              (click)="shareInvite(invite.invite_id, invite.contactNo)"
            >
              Share Invite
            </button>
            <button
              class="bg-[#E3787E] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-2:text-sm w-full"
              (click)="presentCustomAlert('Cancel Invite', 'Confirm', 'Cancel', invite)"
            >
              Cancel Invite
            </button>
          </div>
        </div>
      </div>
      <!-- Template untuk kondisi tidak ada invite -->
      <ng-template #noInvites>
        <div class="w-full bg-transparent p-4 text-center rounded-lg mt-10">
          <p class="text-gray-600">
            You have no active invitee contractor.....
          </p>
          <p class="text-gray-600">
            Go to
            <strong><a href="/resident-home-page">Home Page</a></strong> or
          </p>
          <p class="text-gray-600">
            <strong><a href="/visitor-main">Click Here</a></strong> to invite a
            contractor now.
          </p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="h-96" *ngIf="extend_mb"></div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
