::ng-deep .cal-week-view .cal-time-events {
    border: none !important;
    border: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
  }
  ::ng-deep .cal-week-view {
    border: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
  }
  ::ng-deep .cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: none !important;
  }
  ::ng-deep .cal-week-view .cal-hour:not(:last-child) .cal-hour-segment,
  .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
    border-bottom: none !important;
  }
  ::ng-deep .cal-week-view .cal-time {
    font-weight: bold;
    padding-top: 5px;
    width: 87px;
    text-align: center;
  }
  ::ng-deep .cal-week-view .cal-current-time-marker {
    background-color: rgb(69, 138, 207);
  }
  ::ng-deep .cal-week-view .cal-all-day-events .cal-events-row {
    margin-left: 0;
  }
  .cal-week-view .cal-event {
    color: black !important;
    font-weight: 700;
    font-size: 14px;
  }
  @media (min-width: 300px) and (max-width: 327px) {
    ::ng-deep .ion-datetime-button-overlay ion-datetime.datetime-grid {
      width: 300px;
    }
  }
  
  ion-icon {
    --ionicon-stroke-width: 70px;
  }
  
  #addEventButton:focus #addIcon {
    transition: transform 0.5s ease; /* Transisi untuk rotasi */
    transform: rotate(-90deg); /* Putar ikon ke kiri */
  }
  #addEventButton:not(:focus) #addIcon {
    transition: transform 0.5s ease; /* Transisi untuk rotasi */
    transform: rotate(0deg); /* Kembalikan ikon ke posisi semula */
  }
  
  ion-modal#click-date-modal {
    --width: 90%;
    --min-width: 250px;
    --height: 100%;
    --max-height: 600px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  ion-modal#new-task-modal {
    --width: 90%;
    --min-width: 250px;
    --height: 25%;
    --max-height: 600px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .style-overflow::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .style-overflow {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  select:disabled {
    background-color: #F5F5F5;
    color: #7F8592;
    border-color: #6B7280;
  }

  textarea:read-only {
    background-color: #F5F5F5;
    color: #7F8592;
    border-color: #6B7280;
  }

  input:read-only {
    background-color: #F5F5F5;
    color: #7F8592;
    border-color: 1px #6B7280 !important;
  }

  .input-custom-readonly {
    background-color: #F5F5F5 !important;
    color: #7F8592;
    border: #6B7280 1px solid;
  }
  
  .input-custom {
    background-color: #FFFFFF !important;
    border: #6B7280 1px solid;
  }

  ion-toolbar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  /* You might also need to adjust margin if present */
  margin: 0;
}

  ion-header {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  /* You might also need to adjust margin if present */
  margin: 0;
}