<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img alt="IFS360" src="assets/img/focus_logo-removebg.png" class="object-contain w-full h-full" />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customNameIcon]="'faPersonWalkingLuggage'" [text]="'VISITOR RECORDS'"
        [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" />
      <!-- <ion-button fill="clear" class="fsh-double-button bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)] rounded-md" [routerLink]="['/home-vms']">
        VISITOR RECORDS
      </ion-button> -->
      <!-- <app-button-icon @fadeInOut *ngIf="showSearch" [customNameIcon]="'facar'" [text]="'RESIDENT CAR LIST / Search Vehicle'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" /> -->
    </div>
    <div class="flex mt-8 flex-row space-x-7">
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/48_hours_white.png'" [text]="'48HRS'" *ngIf="!showSearch"
        @fadeInOut (click)="toggleShow48Hrs()" [isActive]="show48Hrs" [disableClick]="true" />

      <app-button-icon [customImageIcon]="'assets/icon/home-icon/24_hours_white.png'" [text]="'24HRS'" *ngIf="!showSearch"
        @fadeInOut (click)="toggleShow24Hrs()" [isActive]="show24Hrs" [disableClick]="true" />

      <app-button-icon [customNameIcon]="'showSearch'" [text]="'SEARCH'" @fadeInOut *ngIf="!showSearch"
        (click)="toggleShowSearch()" [isActive]="showSearch" [disableClick]="true" />

      <!-- <button @fadeInOut *ngIf="!showSearch" class="h-10 rounded-md text-center align-middle font-bold text-md" [ngClass]="show48Hrs ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'" (click)="toggleShow48Hrs()">
        48Hrs
      </button>
      <button @fadeInOut *ngIf="!showSearch" class="h-10 rounded-md text-center align-middle font-bold text-md" [ngClass]="show24Hrs ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'" (click)="toggleShow24Hrs()">
        24Hrs
      </button>
      <button @fadeInOut *ngIf="!showSearch" class="h-11 rounded-md text-center align-middle font-bold text-md" [ngClass]="showSearch ? 'bg-[var(--ion-color-primary)] text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleShowSearch()">
        SEARCH
      </button> -->

      <app-button-icon [customNameIcon]="'faPersonWalking'" [text]="'WALK IN'" @fadeInOut *ngIf="showSearch"
        (click)="toggleWalkIn()" [isActive]="walkIn" [disableClick]="true" />

      <app-button-icon [customNameIcon]="'faCarSide'" [text]="'DRIVE IN'" @fadeInOut *ngIf="showSearch"
        (click)="toggleDriveIn()" [isActive]="driveIn" [disableClick]="true" />

      <!-- <button @fadeInOut *ngIf="showSearch" class="h-11 rounded-md text-center align-middle font-bold text-md" [ngClass]="walkIn ? 'bg-[var(--ion-color-primary)] text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleWalkIn()">
        WALK-IN
      </button>
      <button @fadeInOut *ngIf="showSearch" class="h-11 rounded-md text-center align-middle font-bold text-md" [ngClass]="driveIn ? 'bg-[var(--ion-color-primary)] text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleDriveIn()">
        DRIVE-IN
      </button> -->
    </div>

    <div @fadeInOut class="flex flex-row" *ngIf="!showSearch">
      <div *ngFor="let record of vehicleRecords"
        class="move_in_box flex flex-col mt-8 self-start rounded-xl border-2 border-[var(--ion-color-primary)] w-[100%] h-[180px] p-[15px] bg-[var(--ion-color-primary)] overflow-scroll scrollbar overflow-x-hidden mx-4">
        <div class="flex flex-col ml-3 gap-y-3 text-white text-2xl">
          <table>
            <tr class="h-9">
              <td class="w-1/5 font-bold">VEHICLE</td>
              <td class="w-[2%]">:</td>
              <td>{{record.vehicle}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">PURPOSE</td>
              <td class="w-[2%]">:</td>
              <td>{{record.purpose}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">ENTRY</td>
              <td class="w-[2%]">:</td>
              <td>{{record.entry}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">EXIT</td>
              <td class="w-[2%]">:</td>
              <td>{{record.exit}}</td>
            </tr>
          </table>
          <!-- <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span> -->
        </div>
      </div>
    </div>
    <div @fadeInOut class="flex flex-col" *ngIf="showSearch">
      <div class="flex mx-4 mt-8 flex-row gap-x-8 w-full">
        <div class="flex flex-row items-center my-2 ml-1" *ngIf="walkIn">
          <input type="radio" name="SelectedIdentification" id="name_identification" value="name"
            (change)="onSearchTypeChange($event)" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" />
          <label for="contractor_nric_identification" class="text-2xl">NAME</label>
        </div>

        <div class="flex flex-row items-center my-2 ml-1" *ngIf="driveIn">
          <input type="radio" name="SelectedIdentification" id="vehicle_identification" value="vehicle"
            (change)="onSearchTypeChange($event)" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" />
          <label for="contractor_fin_identification" class="text-2xl">VEHICLE NUMBER</label>
        </div>

        <div class="flex flex-row items-center">
          <input type="radio" name="SelectedIdentification" id="contact_identification" value="contact"
            (change)="onSearchTypeChange($event)" class="w-5 h-5 mr-2 text-[var(--ion-color-primary)]" />
          <label for="contractor_fin_identification" class="text-2xl">CONTACT NUMBER</label>
        </div>

        <!-- <div *ngIf="walkIn">
          <input type="radio" name="SelectedIdentification" id="name_identification" value="name" class="mr-[5px]" (change)="onSearchTypeChange($event)" />
          <label for="name">Name</label>
        </div>
        <div *ngIf="driveIn">
          <input  type="radio" name="SelectedIdentification" id="vehicle_identification" value="vehicle" class="mr-[5px]" (change)="onSearchTypeChange($event)" />
          <label for="vehicle">Vehicle No</label>
        </div>
        <div>
          <input type="radio" name="SelectedIdentification" id="contact_identification" value="contact" class="mr-[5px]" (change)="onSearchTypeChange($event)" />
          <label for="contact">Contact No.</label>
        </div> -->
      </div>
      <div class="flex flex-row ">
        <div class="flex flex-row justify-between w-full gap-x-6 mt-3 mx-4 items-end">
          <div *ngIf="walkIn" class="w-4/6">
            <app-text-input [labelText]="'NAME'" [id]="'search_by_visitor_name'" [placeholder]="'EG. JAMES SAMIEN'"
              [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
              [isReadonly]="!isSearchTypeSelected"></app-text-input>
          </div>

          <div *ngIf="driveIn" class="w-4/6">
            <app-text-input [labelText]="'VEHICLE NUMBER'"  [id]="'search_by_vehicle_no_drive_in'" [placeholder]="'EG. SAA 2929 G'"
              [customClasses]="{'w-full':true}" [type]="'text'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
              [isReadonly]="!isSearchTypeSelected"></app-text-input>
          </div>
          <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-1/4 text-2xl rounded-md h-20"
            [routerLink]="['/visitor-record-detail']" [queryParams]="{ driveIn, walkIn }"><b>SEARCH</b></button>
        </div>
      </div>
    </div>

  </div>

</ion-content>