<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'"/>
    </div>
    <div class="flex flex-row mt-8">
      <!-- <ion-button @fadeInOut *ngIf="!showSearch" fill="clear" class="fsh-double-button bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)] rounded-md" [routerLink]="['/home-vms']">
        VEHICLE RECORDS
      </ion-button> -->
      <app-button-icon [customNameIcon]="'facar'" [text]="'VEHICLE RECORDS'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" />
      <!-- </ion-button> -->
    </div>
    <div class="flex mt-8 flex-row space-x-1">
      <!-- <app-button-icon [textOnly]="true" [text]="'PRE REGISTERED'"
        (click)="toggleShowQr()" [isActive]="showQrTrans || showQr" [disableClick]="true" /> -->
      <!-- <app-visitor-button [text]="'PRE REGISTERED'"
        [extraClass]="showQrTrans || showQr ? 'bg-[var(--ion-color-primary)] text-white w-32 text-xl h-28' : 'bg-[#D0D0D0] text-[#757575] w-32 text-xl h-28'"
        (click)="toggleShowQr()"></app-visitor-button> -->

      <app-button-icon [customImageIcon]="'assets/icon/home-icon/48_hours_white.png'" [text]="'48HRS'" *ngIf="!showSearch"
      (click)="toggleShow48Hrs()" [isActive]="show48Hrs" [disableClick]="true"/>

      <app-button-icon [customImageIcon]="'assets/icon/home-icon/24_hours_white.png'" [text]="'24HRS'" *ngIf="!showSearch"
      (click)="toggleShow24Hrs()" [isActive]="show24Hrs" [disableClick]="true" />

      <app-button-icon [customNameIcon]="'showSearch'" [text]="'SEARCH BY VEHICLE NO'"
      [routerLink]="['/resident-car-list']" [isActive]="showSearch" [disableClick]="true" />

      <app-button-icon [customNameIcon]="'faCarSide'" [text]="'OPEN CAMERA'" *ngIf="showSearch"
      [isActive]="showSearch" [disableClick]="true" />

    </div>
    <!-- <div class="flex flex-row mt-8">
      <button @fadeInOut *ngIf="!showSearch" class="h-10 rounded-md text-center align-middle font-bold text-md" [ngClass]="show48Hrs ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'" (click)="toggleShow48Hrs()">
        48Hrs
      </button>
      <button @fadeInOut *ngIf="!showSearch" class="h-10 rounded-md text-center align-middle font-bold text-md" [ngClass]="show24Hrs ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'" (click)="toggleShow24Hrs()">
        24Hrs
      </button>
      <button class="h-11 rounded-md text-center align-middle font-bold text-md" [ngClass]="showSearch ? 'bg-[var(--ion-color-primary)] text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" [routerLink]="['/resident-car-list']">
        Search By Vehicle No
      </button>
      <app-visitor-button [text]="'PRE REGISTERED'"
        [extraClass]="showQrTrans || showQr ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'"
        (click)="toggleShowQr()"></app-visitor-button> -->
      <!-- <app-visitor-button [text]="'WALK IN'"
        [extraClass]="showWalkTrans || showWalk ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'"
        (click)="toggleShowWalk()"></app-visitor-button>
      <app-visitor-button [text]="'DRIVE IN'"
        [extraClass]="showDriveTrans || showDrive ? 'bg-[var(--ion-color-primary)] text-white w-24 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-24 mx-5'"
        (click)="toggleShowDrive()"></app-visitor-button> -->
    <!-- </div> -->

    <div @fadeInOut class="flex flex-row" *ngIf="!showSearch">
      <div *ngFor="let record of vehicleRecords" class="move_in_box flex flex-col mt-8 self-start rounded-xl border-2 border-[var(--ion-color-primary)] w-[100%] h-[180px] p-[15px] bg-[var(--ion-color-primary)] overflow-scroll scrollbar overflow-x-hidden mx-4">
        <div class="flex flex-col ml-3 gap-y-3 text-white text-2xl">
          <table>
            <tr class="h-9">
              <td class="w-1/5 font-bold">VEHICLE</td>
              <td class="w-[2%]">:</td>
              <td>{{record.vehicle}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">PURPOSE</td>
              <td class="w-[2%]">:</td>
              <td>{{record.purpose}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">ENTRY</td>
              <td class="w-[2%]">:</td>
              <td>{{record.entry}}</td>
            </tr>
            <tr class="h-9">
              <td class="w-1/5 font-bold">EXIT</td>
              <td class="w-[2%]">:</td>
              <td>{{record.exit}}</td>
            </tr>
          </table>
          <!-- <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span>
          <span class="text-[18px]"><b>Renovations</b></span> -->
        </div>
      </div>
    </div>
    <div @fadeInOut class="flex flex-row" *ngIf="showBar">
      <div class="flex flex-row justify-between w-full mt-8 gap-x-6 mx-4">
        <div class="w-4/6">
          <app-text-input [id]="'search_by_vehicle_no'" [labelText]="'VEHICLE NO'" [placeholder]="'EG. SAA 9222 V'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="flex flex-col justify-end w-1/4 ">
          <button id="middle_button" class="bg-[var(--ion-color-primary)] w-full text-white text-2xl font-bold rounded h-20">SEARCH</button>
        </div>
        
      </div>
    </div>

  </div>

</ion-content>