<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="facilityDetail?.facility_name || 'Court Detail'"
  ></app-header-inner-page>
</ion-header>
<ion-content id="resident-content" [fullscreen]="true">
  <div class="flex flex-col relative mt-2 mb-32">
    <div class="flex flex-row w-full bg-[#CDF8DA] my-4 m-0 py-2">
      <div
        class="w-full flex flex-col justify-center items-center text-black text-center"
      >
        <h2 class="text-base font-bold text-black">
          {{ facilityDetail?.facility_name || 'Place Name' }}
        </h2>
        <p class="text-base text-black">
          ( {{ facilityDetail?.total_facilities || 0 }} Facilities )
        </p>
      </div>
    </div>

    <div class="flex flex-col relative">
      <div class="flex flex-row items-center mb-4 pl-[11px] pr-[14px]">
        <div class="w-full flex items-start justify-start mt-2 mr-[20px]">
          <ion-icon
            name="arrow-back-circle"
            size="large"
            class="text-[var(--ion-color-primary)] size-12"
            (click)="onBack()"
          ></ion-icon>
        </div>
      </div>

      <div class="px-4 flex flex-row justify-center space-x-3 w-full mb-3">
        <select
          id="ch_room"
          [(ngModel)]="selectedRoom"
          (change)="loadRoomSchedule($event)"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-8 cw-2:h-12 text-xs text-[#6B7280]"
        >
          <option [value]="'default'" disabled hidden>
            Choose {{ facilityDetail?.facility_name || 'Room' }}
          </option>
          <option
            *ngFor="let room of facilityDetail?.facility_detail"
            [value]="room.room_id"
          >
            {{ room.is_close_for_maintenance ? room.room_name + ' (This court /
            room is under maintenance)' : room.room_name }}
          </option>
        </select>

        <ion-datetime-button
          class="w-full mt-0.5"
          datetime="datetime"
        ></ion-datetime-button>
        <ion-modal
          id="choose-date-court-modal"
          #chooseDateModal
          keep-contents-mounted="true"
        >
          <ng-template>
            <ion-datetime
              id="datetime"
              min="{{minDate}}"
              presentation="date"
              [(ngModel)]="selectedDate"
              (ionChange)="onDateChange($event)"
              [formatOptions]="{
                date: {
                  day: '2-digit',
                  weekday: 'short',
                  month: 'long',
                },
              }"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <div
        *ngIf="isLoading"
        class="flex justify-center items-center h-full my-[50px]"
      >
        <app-loading-animation *ngIf="isLoading"></app-loading-animation>
      </div>
      <div
        *ngIf="!isLoading && roomSchedule.length > 0"
        class="grid grid-cols-3 gap-2 mb-4 px-4"
      >
        <button
          *ngFor="let timeSlot of roomSchedule"
          [ngClass]="getTimeSlotClass(timeSlot)"
          (click)="selectTimeSlot(timeSlot)"
          class="py-2 rounded"
        >
          {{ timeSlot.start_time }} - {{ timeSlot.end_time }}
        </button>
      </div>

      <div *ngIf="!isCloseForMaintenance" class="px-4">
        <div class="flex items-start mb-4">
          <input
            id="termsCheckbox"
            class="mr-2 mt-1"
            type="checkbox"
            [(ngModel)]="isTermsAccepted"
          />
          <label for="termsCheckbox" class="text-sm font-bold">
            By clicking "Book Now," I acknowledge that I have read and agree to
            the&nbsp;<u class="text-blue-400" (click)="presentModalAgreement()"
              >Terms and Conditions</u
            >&nbsp;for using this facility.
          </label>
        </div>

        <div class="text-center mb-4">
          <app-submit-button
            [text]="'Book Now'"
            [extraClass]="isTermsAccepted ? 'bg-[#10421d] text-[white] w-full text-base' : 'bg-[#D0D0D0] text-[#757575] w-full text-base cursor-not-allowed'"
            (click)="uploadFacilityBooking()"
          ></app-submit-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
