ion-modal#choose-date-court-modal {
    --height: 50%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

::ng-deep .ion-datetime-button-overlay ion-datetime.datetime-grid {
    width: 100% !important;
}