<ion-content [fullscreen]="true" class="vms-body">
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [isHomeButton]="true" [routerLink]="['/home-vms']" [text]="'MA VISITOR'" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex flex-row">
      <div class="move_in_box flex flex-col mt-8 self-start border-2 border-[black] w-[100%] p-[10px] mx-4 overflow-scroll scrollbar overflow-x-hidden">
        <span class="text-2xl"><b>APPROVED LIST || DATE</b></span>
        <div class="w-[100%] flex flex-col mt-5 space-y-5">
          <button (click)="form()" class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-2xl">
            <span>NAME || COMPANY</span>
          </button>
          <div class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-2xl">
            <span>NAME || COMPANY</span>
          </div>
          <div class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-2xl">
            <span>NAME || COMPANY</span>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</ion-content>