<ion-content [fullscreen]="true">
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img
      alt="Focus Security"
      src="assets/img/focus_logo-removebg.png"
      class="object-contain w-full h-full"
    />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="flex flex-col items-center justify-center text-center">
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>FOCUS SECURITY</b></span>
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>VISITOR MANAGEMENT SYSTEM</b></span>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/Management.webp'" [routerLink]="['/home-vms']" [text]="'MA VISITOR LIST'" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="move_in_box flex flex-col mt-[50px] self-start border-2 border-[black] w-[100%] h-[200px] p-[10px] overflow-scroll scrollbar overflow-x-hidden">
      <span class="text-[12px]"><b>Approved list || DATE</b></span>
      <div class="w-[100%] flex flex-col mt-[5px]">
        <button (click)="form()" class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-[12px] mt-[5px]">
          <span>Name || Company</span>
        </button>
        <div class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-[12px] mt-[5px]">
          <span>Name || Company</span>
        </div>
        <div class="flex flex-col w-full bg-[--ion-color-primary] text-[white] rounded-lg p-[10px] items-center text-[12px] mt-[5px]">
          <span>Name || Company</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>