<ion-header>
  <app-resident-header [is_client]="true" [text]="'Employees'" [text_second]="textSecond" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999" pullFactor="0.3" pullMin="40"
    pullMax="80">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="none"></ion-refresher-content>
  </ion-refresher>
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4 mb-24" *ngIf="isMain" @fadeInOut>
    <div class="flex flex-col">
      <app-modal-loading *ngIf="isLoading" class="mt-4" />
      <div class="my-4" *ngIf="!isLoading">
        <div class="space-y-3" *ngIf="Department.length > 0; else noVisitor">
          <div (click)="viewDetail(department)"
            class="flex flex-row w-full items-center h-14 rounded-full bg-[var(--ion-color-secondary)] justify-between px-4"
            *ngFor="let department of Department">
            <span class="text-lg font-bold">{{ department.name }}</span>
            <div
              class="w-10 h-10 rounded-full bg-[var(--ion-color-primary)] flex flex-col justify-center items-center mr-2">
              <fa-icon [icon]="faArrow" class="flex flex-col justify-center items-center text-xl text-white"></fa-icon>
            </div>
          </div>
        </div>
        <ng-template #noVisitor>
          <div class="w-full bg-transparent mt-8 text-center rounded-lg">
            <p class="text-gray-600">There are no employees.....</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="flex flex-col relative mx-4 mb-24 mt-4" *ngIf="isDetail" @fadeInOut>
    <div class="flex flex-row w-full justify-center items-center h-14 rounded-full bg-[var(--ion-color-secondary)] px-4">
      <span class="text-lg font-bold">{{ departmentDetail.name }}</span>
    </div>
    <div class="w-full flex flex-col space-y-4 mt-4">
      <div class="w-full bg-transparent mt-8 text-center rounded-lg" *ngIf="departmentDetail.family.length == 0">
        <p class="text-gray-600">There are no employee for this department.....</p>
      </div>
      <div class="rounded p-5 w-full bg-[var(--ion-color-secondary)]" *ngFor="let family of departmentDetail.family">
        <div class="text-base w-full">
          <table class="w-full text-left border-collapse">
            <tbody class="w-full">
              <tr >
                <td class="text-base font-bold w-2/5">Full Name</td>
                <td class="text-base w-[5%]">:</td>
                <td class="text-base w-[100px]">
                  <div class="overflow-x-auto whitespace-nowrap">{{ functionMain.returnNone(family.family_full_name) }}</div>
                </td>
              </tr>
              <tr class="w-full">
                <td class="text-base font-bold w-2/5">Nickname</td>
                <td class="text-base w-[5%]">:</td>
                <td class="text-base w-[100px]">
                  <div class="overflow-x-auto whitespace-nowrap">{{ functionMain.returnNone(family.family_nickname) }}</div>
                </td>
              </tr>
              <tr class="w-full">
                <td class="text-base font-bold w-2/5">Contact Number</td>
                <td class="text-base w-[5%]">:</td>
                <td class="text-base w-[100px]">
                  <div class="overflow-x-auto whitespace-nowrap">{{ functionMain.returnNone(family.family_mobile_number) }}</div>
                </td>
              </tr>
              <tr class="w-full">
                <td class="text-base font-bold w-2/5">Email Address</td>
                <td class="text-base w-[5%]">:</td>
                <td class="text-base w-[100px]">
                  <div class="overflow-x-auto whitespace-nowrap">{{ functionMain.returnNone(family.family_email) }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col relative mx-4 mb-24 mt-4" *ngIf="isNew" @fadeInOut>
    <div class="w-full flex flex-col space-y-4">
      <div class="w-full">
        <app-text-input [labelResidentText]="'Department Name'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
            [id]="'client_facility_edit_name'" 
            [customClasses]="{'w-full items-start': true}" [type]="'text'"
            [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
            [(ngModel)]="department_name"></app-text-input>
      </div>
      <div class="w-full">
        <button (click)="onSubmit()"
          class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded font-bold w-full h-14">
          Save
        </button>
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" class="mb-20" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- ############################### -->
</ion-content>

<ion-footer>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>