<div class="fsc-icon-button-layout relative" *ngIf="!textOnly" [ngClass]="extraParentClass">
  <ion-button fill="clear" class="fsc-icon-button bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)]"
    [ngClass]="{
      extraClass: true,
      'bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)]': isActive && isWarning == 0,
      'bg-[#D0D0D0] text-white': !isActive && isWarning == 0,
      'bg-[var(--ion-color-vms-alert)]' : isWarning > 0
    }" (click)="onButtonClick()">

    <div class="w-full flex flex-col h-full items-center justify-between">
      <ng-container *ngIf="showIcon; else imageTemplate">
        <div class="" [ngClass]="iconWrapper + ' fsc-icon-wrapper'">
          <fa-icon class="fsc-icon" [icon]="icon" [ngClass]="{'mirrored-icon': isMirrored}"></fa-icon>
        </div>
      </ng-container>
      <ng-template #imageTemplate>
        <div class="" [ngClass]="extraImageClass ? ('custom-icon-wrapper '+ extraImageClass) : (iconWrapper + ' fsc-icon-wrapper')">
          <img [src]="customImageIcon" class="fsc-icon " alt="icon">
        </div>
      </ng-template>
      <span class="fsc-icon-button-label break-words font-bold text-[black] dark:text-[white]" *ngIf="!isDoubleText">
        {{text}}
      </span>
      <div class="fsc-icon-button-label break-words font-bold text-[black] dark:text-[white] flex flex-col"
        *ngIf="isDoubleText">
        <span>{{text}}</span>
        <span>{{secondText}}</span>
      </div>
    </div>

  </ion-button>
  <span class="fsh-badge-button bg-[var(--ion-color-danger)] text-2xl text-white" *ngIf="totalWarning > 0">
    {{totalWarning}}
  </span>
</div>

<div class="fsc-icon-button-layout" *ngIf="textOnly">
  <ion-button fill="clear"
    class="fsc-text-button bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)] p-0" [ngClass]="{
      extraClass: true,
      'bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)]': isActive,
      'bg-[#D0D0D0] text-white': !isActive
    }" (click)="onButtonClick()">
    <ng-container>
      <div [ngClass]="{
        extraClass: true,
        'text-white': isActive,
        'text-[#757575]': !isActive,
        'text-2xl': text != 'PRE REGISTERED',
        'text-xl': text == 'PRE REGISTERED'
      }">
      <span class="font-bold text-[white]" *ngIf="!isDoubleText">
        {{text}}
      </span>
      <div class="font-bold text-[white] flex flex-col"
        *ngIf="isDoubleText">
        <span>{{text}}</span>
        <span>{{secondText}}</span>
      </div>
      </div>
    </ng-container>
  </ion-button>
</div>