<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Visitors'"
    [text_second]="'History Invite'"
  ></app-header-inner-page>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="toggleShowHistory()"
    ></ion-icon>
  </div>
  <div class="flex flex-col relative mx-4 mb-24">
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div class="w-full mt-2">
          <div
            [class]="historyData.banned ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-between w-full mb-1' : 'bg-green-100 p-4 rounded-lg flex flex-col justify-between w-full mb-1'"
          >
            <div class="text-base">
              <div class="capitalize text-base font-bold mb-2">
                {{historyData.purpose === 'Visiting' ? historyData.visitor_name
                : historyData.vehicle_number}}
              </div>
              <table>
                <tr class="h-6">
                  <td class="w-[60%] font-bold">Purpose</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.purpose || '-' }}</td>
                  <!-- Menampilkan '-' jika purpose kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Delivery'">
                  <td class="w-[60%] font-bold">Delivery Type</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.delivery_type || '-' }}</td>
                  <!-- Menampilkan '-' jika delivery_type kosong -->
                </tr>
                <tr
                  class="h-6"
                  *ngIf="historyData.purpose === 'Drop Off' || historyData.purpose === 'Pick Up'"
                >
                  <td class="w-[60%] font-bold">Mode of Vehicle</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.vehicle_type || '-' }}</td>
                  <!-- Menampilkan '-' jika vehicle_type kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%] font-bold">Date Of Visit</td>
                  <td class="w-[10%]">:</td>
                  <td>
                    {{ historyData.visitor_date ? (historyData.visitor_date |
                    date: 'dd/MM/yyyy') : '-' }}
                  </td>
                  <!-- Menampilkan '-' jika visitor_date kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%] font-bold">Entry Time</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.visitor_entry_time || '-' }}</td>
                  <!-- Menampilkan '-' jika visitor_entry_time kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%] font-bold">Exit Time</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.visitor_exit_time || '-' }}</td>
                  <!-- Menampilkan '-' jika visitor_exit_time kosong -->
                </tr>
                <tr
                  class="h-6"
                  *ngIf="historyData.purpose === 'Visiting' || historyData.purpose === 'Delivery' "
                >
                  <td class="w-[60%] font-bold">Mode of Entry</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.mode_of_entry || '-' }}</td>
                  <!-- Menampilkan '-' jika mode_of_entry kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.mode_of_entry !== 'Walk In'">
                  <td class="w-[60%] font-bold">Vehicle No</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.vehicle_number || '-' }}</td>
                  <!-- Menampilkan '-' jika vehicle_number kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Visiting'">
                  <td class="w-[60%] font-bold">Point of Entry</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.point_of_entry || '-' }}</td>
                  <!-- Menampilkan '-' jika point_of_entry kosong -->
                </tr>
                <tr
                  class="h-6"
                  *ngIf="historyData.purpose === 'Visiting' || historyData.purpose === 'Delivery'"
                >
                  <td class="w-[60%] font-bold">Mobile No</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.mobile_number || '-' }}</td>
                  <!-- Menampilkan '-' jika mobile_number kosong -->
                </tr>
              </table>
            </div>
            <div
              class="w-full flex flex-row justify-around mt-4 space-x-1"
              *ngIf="historyData.banned"
            >
              <app-visitor-button
                [text]="'Reinvite'"
                [extraClass]="'bg-[#D0D0D0] text-[#757575] w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
              ></app-visitor-button>
              <app-visitor-button
                [text]="'Reinstate'"
                [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
                (click)="showAlertButtons('Reinstate', 'history-alert')"
              ></app-visitor-button>
              <app-visitor-button
                [text]="'Call'"
                [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
              ></app-visitor-button>
            </div>
            <div
              class="w-full flex flex-row justify-around mt-4 space-x-1"
              *ngIf="!historyData.banned"
            >
              <app-visitor-button
                [text]="'Reinvite'"
                [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
                *ngIf="historyData.purpose === 'Visiting'"
                (click)="reinviteModal(historyData)"
              ></app-visitor-button>
              <app-visitor-button
                [text]="'Ban Visitor'"
                [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
                (click)="showAlertButtons('Ban', 'history-alert alert-banned')"
                *ngIf="historyData.purpose === 'Visiting'"
              ></app-visitor-button>
              <app-visitor-button
                [text]="'Call'"
                [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base cw-4:w-[80px] cw-4:text-sm'"
                *ngIf="historyData.purpose !== 'Drop Off'"
              ></app-visitor-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <!-- Modal for reinvite visitor -->
  <ion-modal
    id="upload-reason-ban-modal"
    [isOpen]="isModalReasonBanOpen"
    (didDismiss)="isModalReasonBanOpen = false"
  >
    <ng-template>
      <div class="wrapper">
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Image for Banning</p>
          </div>
          <div class="bg-white p-3 rounded">
            <input
              class="w-full rounded text-base hidden"
              type="file"
              name="image_for_reason"
              id="image_for_reason"
              (change)="onFileChange($event)"
              accept="image/*"
            />
            <label
              class="w-full"
              [ngClass]="(selectedFileName) ? 'text-black' : 'text-gray-400'"
              for="image_for_reason"
            >
              {{ selectedFileName ? selectedFileName : 'Upload Image for
              Banning' }}
              <!-- Update label text -->
            </label>
          </div>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Reason for Banning</p>
          </div>
          <textarea
            id="reason_ban_entry_message"
            placeholder="Type Your Reason for Banning"
            class="!border-none w-full rounded py-2 px-3 h-20 text-base"
            type="text"
            name="reasonForbanning"
            [(ngModel)]="formData.reason"
          >
          </textarea>
        </div>
        <app-visitor-button
          [text]="'Send'"
          [extraClass]="'bg-gray-300 text-gray-800 p-2 w-24 rounded border border-black font-bold'"
          (click)="onSubmitReasonBan()"
        ></app-visitor-button>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal
    id="reinvite-visitor-modal"
    [isOpen]="isModalReinviteOpen"
    (didDismiss)="isModalReinviteOpen = false"
  >
    <ng-template>
      <div class="wrapper">
        <div class="flex flex-row justify-start mt-1 mb-1.5">
          <u class="text-base font-bold">Entry Details</u>
        </div>
        <div class="w-full">
          <div class="flex flex-row justify-start mb-1">
            <p class="text-base font-bold">Entry Date</p>
          </div>
          <div class="w-full">
            <app-text-input
              #reinviteDateInput
              [id]="'reinvite_input_date'"
              [placeholder]="'Choose Date'"
              [(ngModel)]="formattedDate"
              [min]="minDate"
              [customClasses]="{'w-full':true}"
              [type]="'date'"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true}"
              (change)="onDateOfInviteChange($event)"
            >
            </app-text-input>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <input
            type="checkbox"
            id="reinvite_one_time_entry"
            name="reinvite_entry"
            class="mr-1 accent-[var(--ion-color-primary)] text-[var(--ion-color-primary)] rounded text-base"
            (change)="onEntryTypeChange('one_time_entry')"
            [checked]="dataForReinvite.entry_type === 'one_time_entry'"
          />
          <label for="reinvite_one_time_entry" class="cw-4:text-xs"
            ><b>One-Time Entry</b></label
          >
          <input
            type="checkbox"
            id="reinvite_multiple_entry"
            name="reinvite_entry"
            class="mr-1 accent-[var(--ion-color-primary)] text-[var(--ion-color-primary)] rounded ml-4 text-base"
            (change)="onEntryTypeChange('multiple_entry')"
            [checked]="dataForReinvite.entry_type === 'multiple_entry'"
          />
          <label for="reinvite_multiple_entry" class="cw-4:text-xs"
            ><b>Multiple Entry</b></label
          >
        </div>
        <div class="flex flex-col mt-4">
          <u class="text-base font-bold mb-1.5">Invitation Details</u>
          <div class="space-y-2">
            <div class="w-full">
              <div class="flex flex-row justify-start mb-1">
                <p class="text-base font-bold">Title of Invitation</p>
              </div>
              <app-text-input
                [id]="'reinvite_visitor_entry_title'"
                [placeholder]="'Invitation Title (E.g Alexs 1st Birthday Party)'"
                [customClasses]="{'w-full':true}"
                [type]="'text'"
                [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
                (valueChange)="entryTitleChange($event)"
                [value]="dataForReinvite.entry_title"
              >
              </app-text-input>
            </div>
            <div class="w-full">
              <div class="flex flex-row justify-start mb-1">
                <p class="text-base font-bold">Message for Invitation</p>
              </div>
              <textarea
                id="reinvite_visitor_entry_message"
                placeholder="Invitation Message"
                class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base"
                type="text"
                [(ngModel)]="dataForReinvite.entry_message"
                name="entryMessage"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="flex flex-row mt-4">
          <input
            type="checkbox"
            id="reinvite_inv_agreement_visitor"
            name="reinvite_inv_agreement_visitor"
            value="1"
            (change)="onProvideUnitChange()"
            [checked]="dataForReinvite.is_provide_unit"
            class="mr-1 accent-black text-[var(--ion-color-primary)] rounded"
          />
          <label for="reinvite_inv_agreement_visitor" class="cw-3:text-xs"
            ><b>Provide my unit number to visitor</b></label
          >
        </div>
        <div class="flex flex-row mt-2 text-[13px] w-full">
          <div class="w-full">
            <app-visitor-button
              [text]="'Next'"
              [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
              (click)="onSubmitNext()"
            >
            </app-visitor-button>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
