<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="pageName"
    [text_second]="subPageName"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2">
    <div *ngIf="!showBackButton" id="nav_tabs_main">
      <app-nav-tabs
        [buttons]="navButtons"
        (eventEmitter)="onClick($event)"
      ></app-nav-tabs>
    </div>

    <div *ngIf="showRecord" @fadeInOut>
      <ion-refresher
        slot="fixed"
        (ionRefresh)="handleRefresh($event)"
        style="z-index: 999"
        pullFactor="0.3"
        pullMin="40"
        pullMax="80"
      >
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          refreshingSpinner="none"
        ></ion-refresher-content>
      </ion-refresher>
      <div *ngIf="isLoading" class="!mt-[150px]">
        <app-loading-animation></app-loading-animation>
      </div>
      <div
        class="flex justify-end items-end mt-2 mb-2"
        *ngIf="allData.length > 0"
      >
        <nav class="flex items-center gap-x-1" aria-label="Pagination">
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            aria-label="Previous"
            (click)="loadTicketFromBackendFor(fromWhere, 'previous', pagination.current_page - 1)"
            [disabled]="pagination.current_page <= 1"
          >
            <svg
              class="shrink-0 size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m15 18-6-6 6-6"></path>
            </svg>
          </button>
          <div class="flex items-center gap-x-1">
            <input
              type="number"
              [value]="pagination.current_page"
              (blur)="goToPage($event)"
              (keyup.enter)="goToPage($event)"
              class="min-h-9.5 min-w-8 flex justify-center items-center !border-2 !border-black text-gray-800 py-1 px-3 text-sm text-center rounded-lg focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:focus:ring-black"
              [min]="1"
              [max]="pagination.total_page"
            />
            <span
              class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
              >of</span
            >
            <span
              class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
              >{{ pagination.total_page }}</span
            >
          </div>
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
            aria-label="Next"
            (click)="loadTicketFromBackendFor(fromWhere, 'next', pagination.current_page + 1)"
            [disabled]="pagination.current_page >= pagination.total_page"
          >
            <svg
              class="shrink-0 size-3.5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </button>
        </nav>
      </div>
      <div *ngIf="!isLoading" class="space-y-2">
        <div
          *ngFor="let report of allData"
          [ngClass]="{
          'bg-[var(--ion-color-tertiary)]': report.ticket_status === 'Solved',
          'bg-[#F8F1BA]': report.ticket_status === 'New',
          'bg-[#E3787E]': report.ticket_status === 'Canceled',
          'bg-sky-200': report.ticket_status === 'In Progress' || report.ticket_status === 'On Hold'
          }"
          class="bg-[#F8F1BA] p-4 rounded shadow"
        >
          <h2 class="font-bold text-left">
            {{ report.ticket_name }} - {{ report.ticket_type }}
          </h2>
          <table class="w-full text-left border-collapse mt-2">
            <tbody>
              <tr>
                <td class="font-bold">Reported On</td>
                <td class="cw-3:text-sm">
                  : {{ report.issued_on ?
                  functionMain.convertNewDateTZ(report.issued_on) : 'N/A' }}
                </td>
              </tr>
              <tr>
                <td class="font-bold">Resolved On</td>
                <td class="cw-3:text-sm">
                  : {{ report.solved_on ?
                  functionMain.convertNewDateTZ(report.solved_on) : 'N/A' }}
                </td>
              </tr>
              <tr>
                <td class="font-bold">Ticket Status</td>
                <td class="cw-3:text-sm">: {{ report.ticket_status }}</td>
              </tr>
            </tbody>
          </table>
          <div class="flex mt-[6px] w-full" (click)="seeDetail(report)">
            <button
              class="cw-2:text-[13px] bg-[var(--ion-color-primary)] w-full text-white px-3 py-2 text-base rounded-md font-bold"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showForm" @fadeInOut>
      <div class="text-center">
        <div class="flex flex-col">
          <div class="w-full mb-2">
            <div class="flex flex-row justify-start mb-1 mt-1">
              <p class="text-base cw-3:text-sm font-bold">Type of Issue</p>
            </div>
            <select
              id="type_of_issue"
              placeholder="Type of Issue"
              class="border border-[#BDBDBD] w-full rounded py-2 px-3 outline-[#BDBDBD] text-base h-12 text-[#6B7280]"
              (change)="onTypeReportChange($event)"
            >
              <option selected disabled hidden>Choose Type of Issue</option>
              <option *ngFor="let tor of typeOfReport" [value]="tor.id">
                {{ tor.name }}
              </option>
            </select>
          </div>

          <div class="w-full text-start">
            <app-input-component
              [id]="'name_of_resident_app_report'"
              [type]="'text'"
              [typeAction]="'Type'"
              [labelParent]="'Reporter Details'"
              [labelChild1]="'Name'"
              [disabled]="true"
              [value]="reporterDetailsFrom.name"
            ></app-input-component>
          </div>

          <div class="w-full text-start">
            <app-input-component
              [id]="'contact_number_of_resident_app_report'"
              [type]="'text'"
              [typeAction]="'Type'"
              [labelChild1]="'Contact Number'"
              [disabled]="true"
              [value]="reporterDetailsFrom.contactNumber"
            ></app-input-component>
          </div>

          <div class="w-full text-start">
            <app-input-component
              [id]="'email_of_resident_app_report'"
              [type]="'text'"
              [typeAction]="'Type'"
              [labelChild1]="'Contact Email'"
              [disabled]="true"
              [value]="reporterDetailsFrom.email"
            ></app-input-component>
          </div>

          <div *ngIf="record_type !== 'industrial'">
            <div class="w-full text-start">
              <app-input-component
                [id]="'block_and_unit_of_resident_app_report'"
                [type]="'text'"
                [typeAction]="'Type'"
                [labelChild1]="'Block and Unit'"
                [disabled]="true"
                [value]="reporterDetailsFrom.blockAndUnit"
              ></app-input-component>
            </div>

            <div class="w-full text-start">
              <app-input-component
                [id]="'place_of_residence_of_resident_app_report'"
                [type]="'text'"
                [typeAction]="'Type'"
                [labelChild1]="'Place of Residence'"
                [disabled]="true"
                [value]="reporterDetailsFrom.placeOfResidence"
              ></app-input-component>
            </div>
          </div>

          <div class="flex flex-col w-full">
            <div class="flex flex-row justify-start">
              <p class="text-base cw-3:text-sm font-bold">Summary Report</p>
            </div>
            <textarea
              id="report_summary"
              placeholder="Summary Report"
              (focus)="testAddMb(true)"
              (blur)="testAddMb(false)"
              class="!border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-base"
              [(ngModel)]="reporterDetailsFrom.summaryReport"
            >
            </textarea>
          </div>

          <app-file-input
            class="w-full h-25"
            [labelText]="'Attachment'"
            [buttonText]="'Upload'"
            [outClass]="'min-h-12'"
            [isMany]="true"
            [isCustomName]="true"
            [extraButtonClass]="'bg-[var(--ion-color-primary)] text-white rounded-md h-12 text-base font-bold'"
            [isCamera]="true"
            [customPlaceholder]="'PNG, JPG, OR JPEG FILES'"
            [labelClass]="'text-black text-base text-start cw-3:text-sm'"
            [isNotVMS]="true"
            [divOuterClass]="'!border border-[#6B7280] w-full rounded py-2 px-3 outline-[#BDBDBD] text-base min-h-12 text-[#6B7280] text-left pl-[0.75rem]'"
            [fileAccept]="'application/pdf'"
            (cameraSelected)="onUploadImage($event)"
            [isFileAndCamera]="true"
          ></app-file-input>
        </div>
        <div class="flex flex-row mt-2 text-[13px] w-full">
          <div class="w-full">
            <app-submit-button
              [text]="'Submit'"
              [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base h-12'"
              (click)="onSubmit()"
            >
            </app-submit-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {{ fromWhere }} -->
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
