<ion-content class="ion-padding h-full flex flex-col">
  <!-- Video Background -->
  <div class="absolute inset-0 overflow-hidden -z-50">
    <video 
      autoplay 
      loop 
      muted 
      playsinline 
      class="absolute top-0 right-0 w-full h-full object-cover opacity-20"
    >
      <source src="https://res.cloudinary.com/dkxor4kjf/video/upload/v1741830093/tes_back_wztgzm.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="w-1/6 flex items-start">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/login-end-user']"></ion-icon>
  </div>
  <div class="fslp-container">
    <img alt="iFS360 logo" class="fslp-logo" src="assets/logoIFS.png"/>
    <h2 class="fslp-title font-bold text-[var(--ion-color-primary)]">
     New User Registration
    </h2>
    <div>
      <!-- <app-text-input [id]="'location'" [placeholder]="'Location Code'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input> -->
      <app-filterable-select [customClasses]="{'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-fit':true, 'text-xs':true, 'border':true, }" [options]="projectList" (optionSelected)="onOptionSelected($event)" ></app-filterable-select>
    </div>
    <div class="fsles-button-container mt-5">
      <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" (click)="onRegisterResident()">
       Next (Resident)
      </ion-button>
      <br/>
      <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" (click)="onRegisterCommercial()">
       Next (Commercial)
      </ion-button>
    </div>
   </div>
</ion-content>
