<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Quick Dials'"></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div *ngIf="isLoading" class="flex h-[50%] justify-center items-center">
    <app-loading-animation *ngIf="isLoading"></app-loading-animation>
  </div>
  <div *ngIf="!isLoading" class="px-4 text-center mb-24">
    <div class="w-full mt-2.5 grid grid-cols-3 flex-wrap justify-center gap-3">
      <div *ngFor="let dial of quickDials" class="w-full h-full relative">
        <ion-button
          fill="clear"
          class="w-full flex bg-[#D8ECCF] h-24 rounded-2xl relative p-0 m-0"
          (click)="onClickCallButton(dial)"
        >
          <div class="w-full flex flex-col items-center">
            <img
              class="w-12 h-12"
              [src]="functionMain.getImage(dial.image)"
              [alt]="'Icon for ' + dial.name"
            />
            <span
              class="text-xs normal-case cw-3:text-[11px] font-bold text-[black] text-center"
              >{{ dial.name }}</span
            >
          </div>
        </ion-button>
      </div>
    </div>

    <!-- Overlay and Modal -->
    <ion-modal id="text-modal" [isOpen]="isModalDetailPhone" (didDismiss)="closeModal()">
      <ng-template>
        <div class="wrapper-green">
          <div class="w-full flex flex-col items-center justify-center">
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base font-bold">{{ dataSelect.name }}</p>
            </div>
            <div class="flex flex-row justify-start mb-1">
              <p class="text-base">{{ dataSelect.contact_number }}</p>
            </div>
          </div>
          <div *ngIf="dataSelect.can_call_with === 'both'" class="w-full flex flex-col justify-center items-center">
            <div class="w-full flex flex-row space-x-2">
              <button class="bg-[var(--ion-color-primary)] text-white px-3 text-base rounded-lg font-bold w-full mt-2 h-10" (click)="actionToPhoneDial(dataSelect.contact_number)">
                Phone Dial
              </button>
              <button class="bg-[var(--ion-color-primary)] text-white px-3 text-base rounded-lg font-bold w-full mt-2 h-10" (click)="actionToInAppCall(dataSelect.id)">
                In App Call
              </button>
            </div>
            <button *ngIf="dataSelect.is_whatsapp" class="bg-[var(--ion-color-primary)] text-white px-3 text-base rounded-lg font-bold w-full mt-2 h-10" (click)="actionOpenWhatsapp(dataSelect.contact_number)">
              Whatsapp
            </button>
          </div>
          <div *ngIf="dataSelect.can_call_with === 'phone_dial'" class="w-full flex flex-col justify-center items-center">
            <div class="w-full flex flex-row space-x-2">
              <button class="bg-[var(--ion-color-primary)] text-white px-3 text-base rounded-lg font-bold w-full mt-2 h-10" (click)="actionToPhoneDial(dataSelect.contact_number)">
                Phone Dial
              </button>
              <button class="bg-[var(--ion-color-primary)] text-white px-3 text-base rounded-lg font-bold w-full mt-2 h-10" (click)="actionOpenWhatsapp(dataSelect.contact_number)">
                Whatsapp
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
