.header {
    background-color: #D8ECCF;
    padding: 10px 20px 10px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
}
.header img {
    border-radius: 0;
    height: 60px;
    width: 95px;
}
.header .logo {
    position: absolute;
    top: 28px;
    right: 20px;
}
.icon {
    margin-top: 10px;
    font-size: 28px;
    background-color: #10421d;
    border-radius: 100%;
    color: white;
    min-height: 42px;
    height: 42px;
    width: 42px;
}
.icon ion-icon {
    color: white;
}