<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>

  <div class="flex flex-col relative mt-2 mx-4 mb-8">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'" *ngIf="main" />
      <div class="flex flex-col items-center justify-center text-center mt-3" *ngIf="!main">
        <span class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] text-[var(--ion-color-primary)]"><b>{{ project_name}}</b></span>
        <span
          class="text-[30px] sm:text-[35px] md:text-[39px] lg:text-[50px] flex flex-row items-center text-[var(--ion-color-primary)]"><b>iFS360
            VISITOR MANAGEMENT SYSTEM</b></span>
        <div class="w-full flex flex-row justify-start mt-4 items-center">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-20 ml-3"
            (click)="onBackDetail()"></ion-icon>
        </div>
      </div>
    </div>
    <div class="flex flex-col" *ngIf="main">
      <div class="flex flex-row mt-8">
        <app-button-icon [isHomeButton]="true" [text]="'ALERTS'" (click)="backHome()" [isActive]="true"
          [disableClick]="true" [totalWarning]="issueTotal" [isWarning]="issueRedTotal" />
      </div>
      <div class="flex flex-col">
        <div [ngClass]="isSmallScreen ? 'flex flex-row flex-wrap justify-start items-center mt-8 space-y-4' : 'grid grid-cols-3 gap-4 justify-between mt-8'">
          <div *ngFor="let records of recordsMenu" class="mt-4">
            <app-button-icon [customImageIcon]="records.icon" [text]="records.text"
              [extraImageClass]="records.needSize ? 'w-[135px] h-[90px] object-contain' : ''"
              [extraTextClass]="records.extraTextClass" [isWarning]="records.isWarning" [totalWarning]="records.totalWarning" [isActive]="records.isActive"
              (buttonClick)="toggleRecordsButton(records)" [extraParentClass]="''" />
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col" *ngIf="!main">
      <div class="flex flex-col">
        <div class="grid grid-cols-3 gap-4 justify-between mt-8">
          <div *ngFor="let records of selectedMenu">
            <app-button-icon [customImageIcon]="records.icon" [text]="records.text"
              [extraImageClass]="records.needSize ? 'w-[135px] h-[90px] object-contain' : ''"
              [extraTextClass]="records.extraTextClass" [isWarning]="records.isWarning" [isActive]="records.isActive" [totalWarning]="records.totalWarning"
              (buttonClick)="toggleRecordsButton(records)" [extraParentClass]="''" />
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full justify-end mt-5" *ngIf="!main">
      <div class="flex flex-row space-x-5 items-center mx-4">
        <ion-icon name="chevron-back-outline" size="large" (click)="changePage(currentPage - 1)"></ion-icon>
        <input type="number" class="w-20 bg-white rounded text-2xl" style="border: 1px solid #6B7280;" [(ngModel)]="inputPage" (change)="changePage(inputPage)">
        <span class="text-2xl text-black">/ {{ total_pages || 0  }} </span>
        <ion-icon name="chevron-forward-outline" size="large"  (click)="changePage(currentPage + 1)"></ion-icon>
      </div>
    </div>
    <div *ngIf="isLoading" class="flex justify-center items-center h-20 mt-10">
      <app-modal-loading />
    </div>
    <div class="flex flex-row mt-8 mb-4" *ngIf="!main && !isLoading">
      <div class="w-full mx-4" *ngIf="(showIssues.length > 0 && showIssues[0].data.length > 0); else noAlerts">
        <div class="w-full space-y-5" *ngIf="active_type != 'tickets'">
          <div *ngFor="let alert of showIssues[0].data"
            class="w-full p-4 rounded-lg flex justify-between items-center " [ngClass]="alert.is_overminute ? 'bg-[var(--ion-color-vms-alert)]' : ( active_type === 'wheel_clamp' ? 'bg-[var(--ion-color-vms-alert)]' :'bg-[var(--ion-color-primary)]')">
            <div class="flex flex-col w-4/5">
              <span class="text-2xl font-bold text-white">
                {{alert.vehicle_number ? alert.vehicle_number : '-'}}
              </span>
              <span class="text-xl font-bold text-white">
                {{ ['unregistered', 'overstay'].includes(active_type) ? 'ENTRY' : 'ISSUED'}} DATE & TIME: {{ functionMain.convertNewDateTZ(alert.issue_time)}} 
              </span>
              <!-- <span class="text-xl font-bold text-white"
                *ngIf="active_type == 'overstay'">
                ENTRY TYPE: {{ alert.entry_type ? alert.entry_type : '-' }}
              </span> -->
            </div>
            <div class="w-1/3 flex flex-col items-center">
              <ion-button fill="clear" *ngIf="active_type === 'unregistered' || active_type === 'overstay'"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="presentModalFirstWarning(alert.vehicle_number, alert.entry_type, alert.issue_time)">
                <b>{{active_type === 'unregistered' ? 'CLAMP VEHICLE' :'ISSUE 1ST WARNING'}}</b>
              </ion-button>
              <ion-button fill="clear" *ngIf="active_type === 'first_warning'"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="presentModal(active_type, alert)">
                <b>ISSUE 2ND WARNING</b>
              </ion-button>
              <ion-button fill="clear" *ngIf="active_type === 'second_warning'"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="presentModal(active_type, alert)">
                <b>CLAMP VEHICLE</b>
              </ion-button>
              <ion-button fill="clear"
                *ngIf="active_type === 'first_warning' || active_type === 'second_warning' || active_type === 'unregistered'  || active_type === 'overstay'"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="showAlertButtons(alert.id, 'checkout', alert.vehicle_number)">
                <b>CHECKOUT VEHICLE</b>
              </ion-button>
              <ion-button fill="clear" *ngIf="active_type === 'wheel_clamp' && !alert.is_pay"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="onPaymentClick(alert)">
                <b>PAY NOW</b>
              </ion-button>
              <ion-button fill="clear" *ngIf="active_type === 'wheel_clamp' && alert.is_pay"
                class="rounded-md w-full font-bold text-xl comic-font bg-white text-black h-14"
                (click)="presentModalRelease(alert.id, 'release', alert)">
                <b>RELEASE VEHICLE</b>
              </ion-button>
            </div>
          </div>
        </div>
        <div class="w-full space-y-5" *ngIf="active_type == 'tickets'">
          <div *ngFor="let alert of showIssues[0].data" (click)="ticketDetail(alert.ticket_id)" [ngClass]="alert.message_count == 0 ? 'bg-[var(--ion-color-vms-alert)]' : 'bg-[var(--ion-color-primary)]'"
            class="w-full  p-4 rounded-lg flex justify-between items-center ">
            <div class="flex flex-col w-4/5">
              <span class="text-2xl font-bold text-white">
                {{ functionMain.returnNone(alert.ticket_name) }} ({{ functionMain.returnNone(alert.type_os_issue) }})
              </span>
              <span class="text-xl font-bold text-white">
                REQUESTED BY: {{ functionMain.returnNone(alert.requested_by) }}
              </span>
            </div>
            <div class="w-1/3 flex flex-col justify-center items-end">
              <ion-icon size="large" class="text-white size-10" name="arrow-forward-circle" ></ion-icon>
            </div>
          </div>
        </div>


      </div>
      <!-- Template untuk kondisi tidak ada invite -->
      <ng-template #noAlerts>
        <div class="w-full bg-transparent p-4 text-center rounded-lg">
          <p class="text-black text-2xl font-bold">There is no alert for this issue. . .</p>
        </div>
      </ng-template>
    </div>
  </div>

</ion-content>