<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Profile'"
    [text_second]="pageName"
    (typeOfUser)="onChangeTypeUser($event)"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div>
    <div
      *ngIf="!showMain"
      class="w-full flex items-start justify-start mt-2 ml-3"
    >
      <ion-icon
        name="arrow-back-circle"
        size="large"
        class="text-[var(--ion-color-primary)] size-12"
        (click)="onClickButton('', 'back')"
      ></ion-icon>
    </div>

    <div *ngIf="showMain" @fadeInOut>
      <div class="flex flex-col justify-center w-full items-center">
        <div class="rounded-full overflow-hidden w-32 mb-2 mt-10">
          <div class="w-32 h-32 mb-4 flex flex-col justify-start relative">
            <img
              class="w-full h-full object-covern rounded-full"
              height="128"
              [src]="functionMain.getImage(imageProfile)"
              width="128"
            />
            <ion-icon
              *ngIf="userType !== 'industrial' && !disabledInput"
              class="absolute top-24 right-4 drop-shadow-xl text-2xl bg-white rounded-full p-1 z-50 animate-shake"
              name="pencil"
              (click)="chooseWhereToChoose()"
            >
            </ion-icon>
            <!-- <ion-icon
              *ngIf="!disabledInput"
              class="absolute top-24 right-20 drop-shadow-xl text-2xl bg-white rounded-full p-1 z-50 animate-shake"
              name="documents"
              (click)="chooseWhereToChoose()"
            >
            </ion-icon> -->
          </div>
        </div>
        <h2 class="text-xl font-bold">{{ userName }}</h2>
      </div>

      <div class="mt-4 space-y-2 w-full px-4">
        <div *ngFor="let id of inputData">
          <div
            [ngClass]="(!id.disabledInput && (id.id === 'family_nickname' || id.id === 'phone_number')) ? 'animate-shake' : ''"
          >
            <app-input-component
              [id]="id.id"
              [type]="'text'"
              [value]="inputForm[id.formParams]"
              [disabled]="id.disabledInput"
              [labelChild1]="id.name"
              (eventEmitter)="onChangeValueInput($event, id.id)"
            ></app-input-component>
          </div>
        </div>
        <div *ngIf="!disabledInput" class="w-full">
          <app-submit-button
            [text]="'Save Changes'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
            (click)="saveChangeProfile()"
          >
          </app-submit-button>
        </div>
        <div *ngIf="disabledInput" class="w-full">
          <app-submit-button
            [text]="'Edit Profile'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
            (click)="ableChangeInput()"
          >
          </app-submit-button>
        </div>
        <div *ngIf="!disabledInput" class="w-full">
          <app-submit-button
            [text]="'Cancel Edit Profile'"
            [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-1 w-full text-base'"
            (click)="ableChangeInput()"
          >
          </app-submit-button>
        </div>
      </div>

      <div class="mt-2 flex items-center justify-center flex-col px-4">
        <div
          class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-5"
        >
          <div *ngFor="let sb of squareButton">
            <app-square-button
              [name]="sb.name"
              [srcImage]="sb.src"
              [click]="true"
              (eventEmitter)="onClickSquareBottom($event)"
            >
            </app-square-button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showEstate" @fadeInOut>
      <div class="space-y-4 w-full flex items-center justify-center mt-2 px-4">
        <div class="text-center">
          <div
            *ngIf="isLoading"
            class="flex justify-center items-center h-full"
          >
            <app-loading-animation *ngIf="isLoading"></app-loading-animation>
          </div>
          <div
            *ngIf="!isLoading"
            class="space-y-4 h-[47.5rem] overflow-y-auto rounded-lg style-overflow-hidden"
          >
            <div
              class="bg-[#D8ECCF] border rounded-lg p-4 px-6 flex items-center w-full"
              *ngFor="let estate of profileEstate"
              (click)="chooseEstateClick(estate)"
            >
              <img
                alt="Profile Picture"
                class="rounded-full h-12 w-12 mr-4"
                height="50"
                [src]="functionMain.getImage(estate.image_profile)"
                width="50"
              />
              <div class="flex-1 px-2">
                <p class="font-bold cw-3:text[13px]">{{estate.project_name}}</p>
                <p class="cw-3:text[13px]">{{estate.family_name}}</p>
                <p
                  *ngIf="estate.record_type !== 'industrial' && !estate.user_id"
                >
                  {{ estate.family_type }}
                </p>
                <p
                  *ngIf="estate.block_name && estate.unit_name"
                  class="cw-3:text[13px]"
                >
                  {{estate.block_name}}, {{estate.unit_name}}
                </p>
              </div>
              <div>
                <ion-icon
                  *ngIf="
                    activeUnit === estate.unit_id || activeUnit === estate.family_id;
                    else noActive
                  "
                  class="text-green-500 text-2xl"
                  name="checkmark-circle"
                >
                </ion-icon>
                <ng-template #noActive>
                  <ion-icon class="text-red-500 text-2xl" name="close-circle">
                  </ion-icon>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showBanVisitorContractor" @fadeInOut>
      <div
        class="pb-4 px-4 pt-1.5 space-y-2 mb-16 w-full flex items-center justify-center mt-2"
      >
        <!-- <div id="nav_tabs_main">
          <app-nav-tabs [buttons]="navButtonsMain"></app-nav-tabs>
        </div> -->
        <div class="flex flex-row w-full">
          <div class="flex flex-col w-full">
            <div class="w-full mt-1.5">
              <div class="flex flex-col w-full justify-start space-y-2">
                <div
                  *ngIf="isLoading"
                  class="flex justify-center items-center h-full mt-[50px]"
                >
                  <app-loading-animation
                    *ngIf="isLoading"
                  ></app-loading-animation>
                </div>
                <div *ngFor="let data of historyData">
                  <div
                    [class]="data.banned ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-start items-start w-full' : 'bg-[#D8ECCF] p-4 rounded-lg flex flex-col justify-start items-start w-full'"
                  >
                    <div class="text-base font-bold w-[100%]">
                      <table class="w-full table-fixed">
                        <tr class="h-6">
                          <td class="w-[30%]">Purpose</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">{{data.purpose}}</td>
                        </tr>
                        <tr class="h-6" *ngIf="data.purpose === 'Visiting'">
                          <td>Name</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">
                            {{data.visitor_name}}
                          </td>
                        </tr>
                        <tr class="h-6" *ngIf="data.purpose !== 'Visiting'">
                          <td>Vehicle No</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">
                            {{data.vehicle_number}}
                          </td>
                        </tr>
                        <tr class="h-6">
                          <td>Date</td>
                          <td class="w-[5%]">:</td>
                          <td class="font-light">
                            {{ functionMain.convertToDDMMYYYY(data.visitor_date)
                            }}
                          </td>
                          <!-- Menggunakan metode formatDate -->
                        </tr>
                      </table>
                    </div>
                    <div class="flex flex-row space-x-1 w-full">
                      <button
                        class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                        (click)="openDetails(data)"
                      >
                        View Details
                      </button>
                      <button
                        class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                        (click)="showAlertButtons('Reinstate', 'history-alert', data)"
                      >
                        Reinstate
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngFor="let data of filteredData">
                  <div
                    [class]="data.banned ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1' : 'bg-[#D8ECCF] p-4 rounded-lg flex flex-col justify-start items-start w-full mb-1'"
                  >
                    <div class="text-base font-bold w-[100%]">
                      <table class="w-full table-fixed">
                        <tr class="h-6">
                          <td class="w-[30%]">Purpose</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">{{data.purpose}}</td>
                        </tr>
                        <tr class="h-6" *ngIf="data.purpose === 'Visiting'">
                          <td>Name</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">
                            {{data.visitor_name}}
                          </td>
                        </tr>
                        <tr class="h-6" *ngIf="data.purpose !== 'Visiting'">
                          <td>Vehicle No</td>
                          <td class="w-[5%]">:</td>
                          <td class="truncate font-light">
                            {{data.vehicle_number}}
                          </td>
                        </tr>
                        <tr class="h-6">
                          <td>Date</td>
                          <td class="w-[5%]">:</td>
                          <td class="font-light">
                            {{ functionMain.convertToDDMMYYYY(data.visitor_date)
                            }}
                          </td>
                          <!-- Menggunakan metode formatDate -->
                        </tr>
                      </table>
                    </div>
                    <div class="flex flex-row space-x-1 w-full">
                      <button
                        class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                        (click)="openDetails(data)"
                      >
                        View Details
                      </button>
                      <button
                        class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-2 cw-4:text-sm w-full"
                        (click)="showAlertButtons('Reinstate', 'history-alert', data)"
                      >
                        Reinstate
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showPets" @fadeInOut>
      <div class="px-5 text-center mb-20">
        <div class="space-y-4">
          <div class="flex flex-col justify-between">
            <button
              class="bg-[var(--ion-color-primary)] text-white mt-1 w-full rounded-full h-12 font-bold text-base"
              (click)="toWhere()"
            >
              Add New Pet
            </button>
          </div>
          <div *ngFor="let pet of petList">
            <div
              class="flex bg-[#D8ECCF] items-start p-4 border rounded-lg flex-col"
            >
              <div class="flex flex-row">
                <img
                  alt="Profile picture of Maria"
                  class="h-16 w-16 rounded-full"
                  height="50"
                  src="data:image/png;base64,{{pet.pet_image}}"
                  width="50"
                />
                <div class="ml-4 text-start">
                  <h2 class="text-lg font-bold">{{ pet.type_of_pet }}</h2>
                  <p class="text-sm text-gray-600">{{ pet.pet_breed }}</p>
                </div>
              </div>
              <div class="flex flex-row space-x-1">
                <button
                  class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold mt-3"
                  (click)="navigateToDetailpets(pet)"
                >
                  View Details
                </button>
                <button
                  class="bg-[#E3787E] text-black px-8 py-2 text-base rounded-md font-bold mt-3"
                  (click)="deletePets(pet.id)"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-modal
    id="is-modal-choose-upload"
    [isOpen]="isModalChooseUpload"
    (didDismiss)="isModalChooseUpload = false"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <div class="block">
        <div class="w-full flex flex-row justify-between space-x-2 p-3">
          <div class="w-1/2">
            <div class="w-full flex flex-col items-center">
              <input
                class="w-full rounded text-base hidden"
                type="file"
                name="family_image_profile"
                (change)="onUploadImageProfile($event)"
                id="family_image_profile"
                accept="image/*"
              />
              <label
                class="flex flex-col items-center"
                for="family_image_profile"
              >
                <img
                  class="w-10 h-10 my-2"
                  src="assets/icon/other-file-icon.png"
                />
                <span
                  class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                  >From File</span
                >
              </label>
            </div>
          </div>
          <div class="w-1/2">
            <div
              class="w-full flex flex-col items-center"
              (click)="openCamera()"
            >
              <img class="w-10 h-10 my-2" src="assets/icon/image-icon.png" />
              <span
                class="text-sm font-bold text-[black] text-center normal-case cw-4:text-xs"
                >From Camera</span
              >
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
