.fslp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
}
.fslp-logo {
    width: 200px;
    margin: 140px auto 0;
}
.fslp-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    margin-bottom: 50px;
}
.fslp-button {
    font-family: 'Abyssinica SIL', serif;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
}