<ion-content class="ion-padding h-full flex flex-col justify-center items-center w-full">
  <!-- Video Background -->
  <div class="absolute inset-0 overflow-hidden z-0">
    <video 
      autoplay 
      loop 
      muted 
      playsinline 
      class="absolute top-0 right-0 w-full h-full object-cover opacity-20"
    >
      <source src="https://res.cloudinary.com/dkxor4kjf/video/upload/v1741830093/tes_back_wztgzm.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <img alt="iFS360 logo" class="fslp-logo" src="assets/logoIFS.png"/>
  <h2 class="fslp-title font-bold text-[var(--ion-color-primary)] text-center text-2xl">
    Welcome To <br /> <p class="text-3xl">IFS360 APP</p>
  </h2>
  <div class="fslp-container relative">
    <div class="flex flex-col justify-center items-center">
      <ion-button fill="clear" class="fslp-button bg-[var(--ion-color-primary)]" [routerLink]="['/login-end-user']">
       End User
      </ion-button>
      <br/>
      <ion-button fill="clear" class="fslp-button bg-[var(--ion-color-primary)]" [routerLink]="['/client-login']">
       Client
      </ion-button>
      <br/>
      <ion-button fill="clear" class="fslp-button bg-[var(--ion-color-primary)]" [routerLink]="['/login-vms']">
       Visitor Management System
      </ion-button>
    </div>
   </div>
</ion-content>
