<ion-content [fullscreen]="true">
  <div class="p-4 h-full w-full flex flex-col justify-center items-center">
    <!-- Video Background dengan iOS fixes -->
    <div class="absolute inset-0 overflow-hidden -z-10">
      <!-- Fallback background untuk iOS yang bermasalah -->
      <div class="absolute inset-0 video-fallback object-cover h-full w-full">
        <img
          alt="iFS360 logo"
          class="w-full h-full opacity-20 object-cover"
          src="assets/tes_back_wztgzm.gif"
        />
      </div>
    </div>
    <div
      class="w-full rounded-lg flex flex-col items-center justify-center p-4 bg-opacity-[0.9]"
    >
      <img alt="iFS360 logo" class="w-48 h-36" src="assets/logoIFS.png" />
      <div class="text-center mt-4">
        <h2 class="font-bold text-[var(--ion-color-primary)] text-xl">
          Welcome To
        </h2>
        <p class="font-bold text-[var(--ion-color-primary)] text-3xl">
          iFS360 APP
        </p>
      </div>
      <div
        class="w-full flex flex-col mt-16 items-center justify-center space-y-3"
      >
        <ion-button
          fill="clear"
          class="fslp-button bg-[var(--ion-color-primary)]"
          [routerLink]="['/login-end-user']"
        >
          End User
        </ion-button>
        <br />
        <ion-button
          fill="clear"
          class="fslp-button bg-[var(--ion-color-primary)]"
          [routerLink]="['/login-vms']"
        >
          Visitor Management System
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
