.fslp-container {
    text-align: center;
}
.fslp-logo {
    width: 200px;
    margin: 50px auto 20px;
}
.fslp-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.fslp-button {
    font-family: 'Abyssinica SIL', serif;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    max-width: 250px;
    width: 100%;
    cursor: pointer;
}