<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'Raise a Request'"
    [text_second]="subPageName"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      [routerLink]="['/resident-home-page']"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 pt-1.5 space-y-2">
    <div id="nav_tabs_main">
      <app-nav-tabs
        [buttons]="navButtonsMain"
        (eventEmitter)="onClickNavTabs($event)"
      ></app-nav-tabs>
    </div>
    <div
      *ngIf="subPageName === 'New Request'"
      class="flex items-center justify-center flex-col"
      @fadeInOut
    >
      <div class="w-full grid grid-cols-3 flex-wrap justify-center gap-3 mt-1">
        <div *ngFor="let sb of squareButton">
          <app-square-button
            [name]="sb.name"
            [srcImage]="sb.src"
            [routeLinkTo]="sb.routeLinkTo"
          >
          </app-square-button>
        </div>
      </div>
    </div>
    <div *ngIf="subPageName === 'History Request'" @fadeInOut>
      <ion-refresher
        slot="fixed"
        (ionRefresh)="handleRefresh($event)"
        style="z-index: 999"
        pullFactor="0.3"
        pullMin="40"
        pullMax="80"
      >
        <ion-refresher-content
          pullingIcon="chevron-down-circle-outline"
          refreshingSpinner="none"
        ></ion-refresher-content>
      </ion-refresher>
      <div class="space-y-4 w-full mt-3">
        <div class="w-full mt-4 mb-3 flex flex-row items-center">
          <h2 class="w-full max-w-24 font-bold text-lg text-center">
            Filter by
          </h2>
          <select
            id="walk_in_unit"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base text-[#6B7280]"
            [(ngModel)]="selectedApplicationType"
            (change)="onApplicationTypeChange()"
          >
            <option disabled hidden value="">Type of Application</option>
            <option value="All">All</option>
            <option value="Access cards Application.">
              Access Card Application
            </option>
            <option value="Overnight parking records Application.">
              Overnight Parking
            </option>
            <option value="Bicycle tags Application.">Bicycle Tag</option>
            <option value="Registered coaches Application.">
              Coach Registration
            </option>
            <!-- <option value="Request schedules Application.">Request schedules Application</option> -->
            <option value="Move In / Move Out">Move In / Move Out</option>
            <!-- <option value="Move Out">Move Out</option> -->
            <option value="Renovation">Renovation</option>
            <option value="Pets Application.">Pet Registration</option>
            <option value="Offences Application.">Offences Application</option>
          </select>
        </div>
        <div
          *ngIf="isLoading"
          class="flex justify-center items-center h-full !mt-56"
        >
          <app-loading-animation *ngIf="isLoading"></app-loading-animation>
        </div>
        <div
          class="flex justify-end items-end mb-2"
          *ngIf="filteredDatas.length > 0 && !isLoading"
        >
          <nav class="flex items-center gap-x-1" aria-label="Pagination">
            <button
              type="button"
              class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
              aria-label="Previous"
              (click)="loadHistoryRequests('previous', pagination.current_page - 1)"
              [disabled]="pagination.current_page <= 1"
            >
              <svg
                class="shrink-0 size-3.5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m15 18-6-6 6-6"></path>
              </svg>
            </button>
            <div class="flex items-center gap-x-1">
              <input
                type="number"
                [value]="pagination.current_page"
                (blur)="goToPage($event)"
                (keyup.enter)="goToPage($event)"
                class="min-h-9.5 min-w-8 flex justify-center items-center !border-2 !border-black text-gray-800 py-1 px-3 text-sm text-center rounded-lg focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:focus:ring-black"
                [min]="1"
                [max]="pagination.total_page"
              />
              <span
                class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
                >of</span
              >
              <span
                class="min-h-9.5 flex justify-center items-center text-gray-500 py-2 px-1.5 text-sm dark:text-neutral-500"
                >{{ pagination.total_page }}</span
              >
            </div>
            <button
              type="button"
              class="min-h-9.5 min-w-9.5 py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
              aria-label="Next"
              (click)="loadHistoryRequests('next', pagination.current_page + 1)"
              [disabled]="pagination.current_page >= pagination.total_page"
            >
              <svg
                class="shrink-0 size-3.5"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m9 18 6-6-6-6"></path>
              </svg>
            </button>
          </nav>
        </div>
        <div *ngIf="!isLoading" class="space-y-2">
          <ng-container *ngFor="let allData of filteredDatas; let i = index">
            <div
              [ngClass]="{
              'bg-green-100': allData.states === 'Approved' || allData.appeal_status === 'Approved',
              'bg-[#E3787E]': allData.states === 'Rejected' || allData.states === 'Cancelled' || allData.appeal_status === 'Rejected',
              'bg-[#F8F1BA]': allData.states === 'requested' || allData.states === 'Requested' || 
                              allData.states === 'Pending Approval' || allData.states === 'Pending Payment' || 
                              allData.appeal_status === 'Issued',
            }"
              class="rounded-2xl p-5 mt-4 w-full flex flex-col"
            >
              <div class="flex flex-row items-center mt-1 mb-2">
                <ng-container
                  *ngIf="allData.states === 'approved' || allData.states === 'Approved' || allData.appeal_status === 'Approved'"
                >
                  <ion-icon
                    name="checkmark"
                    class="bg-[var(--ion-color-primary)] mr-2 p-1 rounded-full text-white text-[16px]"
                  ></ion-icon>
                  <p
                    class="text-[var(--ion-color-primary)] font-bold text-base"
                  >
                    Approved
                  </p>
                </ng-container>
                <ng-container
                  *ngIf="allData.states === 'requested' || allData.states === 'Requested' || 
                        allData.states === 'Pending Approval' || allData.states === 'Pending Payment' || 
                        allData.appeal_status === 'Issued'"
                >
                  <ion-icon
                    name="alert"
                    class="bg-yellow-500 mr-2 p-1 rounded-full text-white text-[16px]"
                  ></ion-icon>
                  <p class="text-yellow-500 font-bold text-base">
                    {{ allData.states ? allData.states : allData.appeal_status
                    }}
                  </p>
                </ng-container>
                <ng-container
                  *ngIf="allData.states === 'rejected' || allData.states === 'Rejected' || 
                        allData.states === 'cancelled' || allData.states === 'Cancelled' || allData.appeal_status === 'Rejected'"
                >
                  <ion-icon
                    name="close"
                    class="bg-red-700 mr-2 p-1 rounded-full text-white text-[16px]"
                  ></ion-icon>
                  <p class="text-red-700 font-bold text-base">Rejected</p>
                </ng-container>
              </div>
              <h2
                class="flex flex-col text-base font-bold mb-2 items-start text-start"
              >
                {{ allData.application_title }}
              </h2>
              <div class="w-full">
                <table class="w-full">
                  <!-- For Pet Registration -->
                  <ng-container
                    *ngIf="allData.application_title === 'Pets Application.'"
                  >
                    <tr class="text-base text-black">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Create Date
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.create_date }}
                      </td>
                    </tr>
                    <tr class="text-base text-black">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        States
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.states }}
                      </td>
                    </tr>
                    <tr class="text-base text-black">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Type Of Pet
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.type_of_pet }}
                      </td>
                    </tr>
                    <tr class="text-base text-black">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Pet Breed
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.pet_breed }}
                      </td>
                    </tr>
                    <tr
                      class="text-base text-black"
                      *ngIf="allData.states === 'Rejected'"
                    >
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Reason for Rejection
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.reason_for_rejection }}
                      </td>
                    </tr>
                  </ng-container>

                  <!-- For Offences Application -->
                  <ng-container
                    *ngIf="allData.application_title === 'Offences Application.'"
                  >
                    <tr class="text-base text-black">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Appeal Status
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.appeal_status }}
                      </td>
                    </tr>
                    <tr class="text-base text-black" *ngIf="allData.is_appeal">
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Reason For Appeal
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.reason_for_appeal }}
                      </td>
                    </tr>
                    <tr
                      class="text-base text-black"
                      *ngIf="allData.appeal_status === 'Rejected'"
                    >
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                      >
                        Reason for Rejection
                      </td>
                      <td
                        class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                      >
                        :
                      </td>
                      <td class="text-start cw-5:text-[12px] cw-3:text-[11px]">
                        {{ allData.reason_for_rejection }}
                      </td>
                    </tr>
                  </ng-container>

                  <!-- For other application types, use flexible fields -->
                  <ng-container
                    *ngIf="allData.application_title !== 'Pets Application.' && allData.application_title !== 'Offences Application.'"
                  >
                    <tr
                      class="text-base text-black"
                      *ngFor="let field of fieldMapping[allData.application_title]"
                    >
                      <!-- Add condition to only show "Reason for Rejection" when states is Rejected or Cancelled -->
                      <ng-container
                        *ngIf="field !== 'Reason for Rejection' || (field === 'Reason for Rejection' && (allData.states === 'Rejected' || allData.states === 'Cancelled'))"
                      >
                        <td
                          class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[40%] cw-3:w-[50%]"
                        >
                          {{ field }}
                        </td>
                        <td
                          class="font-bold text-start cw-5:text-[12px] cw-3:text-[11px] w-[11px]"
                        >
                          :
                        </td>
                        <td
                          class="text-start cw-5:text-[12px] cw-3:text-[11px]"
                        >
                          {{ getRequestValue(allData, field) ?
                          getRequestValue(allData, field) : '-' }}
                        </td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
