<div [class]="banned ? 'bg-red-400 p-4 rounded-lg flex justify-between items-center w-full mb-2' : 'bg-green-100 p-4 rounded-lg flex justify-between items-center w-full mb-2'">
  <div class="text-xs font-bold w-[60%]">
    <table class="w-full table-fixed">
      <tr class="h-6">
        <td width="">Purpose</td>
        <td class="w-[5%]">:</td>
        <td class="truncate">{{purpose}}</td>
      </tr>
      <tr class="h-6">
        <td>Visitor Name</td>
        <td class="w-[5%]">:</td>
        <td class="truncate">{{visitor}}</td>
      </tr>
      <tr class="h-6">
        <td>Date Of Visit</td>
        <td class="w-[5%]">:</td>
        <td>{{visit_date}}</td>
      </tr>
    </table>
  </div>
  <button class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-sm rounded-md font-bold" (click)="openDetails()">
    View Details
  </button>
</div>