<ion-content class="vms-body h-full">
  <div class="flex flex-col p-4 justify-center items-center h-full w-full border-2 overflow-y-auto">
    <div class="w-full h-full flex flex-col items-center">
      <div [class]="'flex flex-col w-[90%] h-full my-8 ' + (showSelection ? 'justify-start':'justify-center')">
        <div class="w-full mb-5">
          <select id="scanner"
            class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280] bg-white"
            [(ngModel)]="scannerLibrary" (change)="onSelectionChange($event)" [disabled]="false">
            <option value="" selected disabled hidden>CHOOSE SCANNER</option>
            <option value="default">SCANNER ONE</option>
            <option value="zxing">SCANNER TWO</option>
          </select>
        </div>
        <div class="w-full h-full flex flex-col justify-center items-center relative"  *ngIf="scannerLibrary == 'zxing'">
          <!-- Video element -->
          <video
            #videoZxing
            class="absolute z-0 w-full max-h-[400px]"
            autoplay
            muted
          ></video>

          <!-- Red div on top -->
          <div class="relative z-10 w-20 h-20 flex justify-center items-center">
          <!-- Vertical bar -->
            <div class="absolute w-1 h-8 bg-white"></div>
            <!-- Horizontal bar -->
            <div class="absolute w-8 h-1 bg-white"></div>
          </div>
        </div>
        <div #divReader id="reader" class="w-full" *ngIf="scannerLibrary == 'default'"></div>
        <div class="flex flex-row justify-between space-x-1 mt-5">
          <button
            [class]="'w-full text-2xl font-bold rounded h-20 ' + (isOpen ? 'bg-[#D0D0D0] text-[#757575]' : 'bg-[var(--ion-color-primary)] text-white')"
            (click)="startScanner()">START</button>
          <button class="w-full bg-[var(--ion-color-danger)] text-white text-2xl font-bold rounded h-20 mb-4"
            (click)="stopScanner()">STOP</button>
        </div>
        <!-- <div class="bg-[var(--ion-color-danger)] fsh-badge-button" (click)="stopScanner()">
          <ion-icon name="stop-outline" size="large" class="text-white "/>
        </div> -->
        <!-- <div class="absolute z-0 w-full flex flex-row justify-center">
          <input #scanIdentificationNumberInput id="scan_identification_number" placeholder="SCAN NRIC / FIN" type="text" class="border rounded py-2 px-3 outline-white w-1 h-1 bg-white text-white " (change)="onNricInput($event)" [(ngModel)]="nric_value" readonly>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>