<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4 mb-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/home-vms'" />
    </div>
    <div class="flex flex-row mt-8">
        <app-button-icon [isHomeButton]="true" [text]="'SEARCH VEHICLE'" [isActive]="true"
        [disableClick]="true" [routerLink]="['/home-vms']" />
    </div>
    <div class="flex mt-8 flex-row space-x-1">
      <app-button-icon [customNameIcon]="'faSearch'" [text]="'SEARCH BY VEHICLE NO'" [isActive]="showSearch"
        [disableClick]="true" />

      <app-button-icon [customNameIcon]="'faCamera'" [text]="'OPEN CAMERA'" *ngIf="showSearch" [isActive]="false"
        [disableClick]="true" />
    </div>
    <div @fadeInOut class="flex flex-row" *ngIf="showSearch">
      <div class="flex flex-row justify-between w-full mt-8 gap-x-6 mx-4">
        <div class="w-4/6">
          <app-text-input [id]="'search_by_vehicle_no'" [labelText]="'VEHICLE NO'" [placeholder]="'EG. SAA 9222 V'"
            [customClasses]="{'w-full':true}" [type]="'text'" [(ngModel)]="vehicleNumber"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="flex flex-col justify-end w-1/4 ">
          <button id="middle_button"
            class="bg-[var(--ion-color-primary)] w-full text-white text-2xl font-bold rounded h-20"
            (click)="toggleShowSearch()">SEARCH</button>
        </div>

      </div>
    </div>

    <div @fadeInOut class="flex flex-row mx-4" *ngIf="showList">
      <div class="flex flex-col w-full">
        <div
          class="move_in_box flex flex-col mt-8 self-start rounded border-2 w-[100%] p-[10px] overflow-scroll scrollbar overflow-x-hidden"
          [ngClass]="{ 
            ' bg-[var(--ion-color-primary)] border-[var(--ion-color-primary)] text-white ': true}">
          <div class="flex flex-col ml-3 gap-y-3 text-2xl">
            <span class="text-3xl font-bold mt-2">{{ showType }}</span>
            <table>
              <tr class="h-9">
                <td class="w-2/5 font-bold">NAME</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.visitor_name}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">CONTACT</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.contact_number}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">BLOCK</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.block_id[1]}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">UNIT</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.unit_id[1]}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">VEHICLE</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.vehicle_number}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">VEHICLE TYPE</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.vehicle_type}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-2/5 font-bold">LAST ENTRY</td>
                <td class="w-[2%]">:</td>
                <td>{{vehicle.entry_datetime}}</td>
              </tr>
            </table>
            <div class="w-full flex flex-col items-center mb-4 mt-5">
              <div class="w-full flex flex-row justify-around">
                <button class="h-14 rounded-md text-center align-middle font-bold text-2xl px-1 w-2/5" [ngClass]="{
                  ' bg-white text-black ': true}"
                  (click)="presentModal('first_warning', vehicle)" *ngIf="!vehicle.offence_type">
                  ISSUE 1ST WARNING
                </button>
                <button class="h-14 rounded-md text-center align-middle font-bold text-2xl px-1 w-2/5" *ngIf="vehicle.offence_type == 'first_warning'"
                  [ngClass]="{
                  ' bg-white text-black ': true}" (click)="presentModal('second_warning', vehicle)">
                  ISSUE 2ND WARNING
                </button>
                <button class="h-14 rounded-md text-center align-middle font-bold text-2xl px-1 w-2/5" *ngIf="vehicle.offence_type == 'second_warning'"
                  [ngClass]="{' bg-white text-black  ': true}"
                  (click)="presentModal('wheel_clamp', vehicle)">
                  CLAMP VEHICLE
                </button>
                <button
                class="h-14 rounded-md text-center align-middle font-bold text-2xl px-1 w-2/5 bg-white text-black">
                CHECKOUT
              </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div @fadeInOut class="flex flex-row mx-4 w-full" *ngIf="showList">
      <div *ngIf="vehicle.length == 1" class="flex flex-col mt-8 gap-y-4 w-full">
        
      </div>
    </div>

    <!-- <div class="flex flex-col w-full">
        <div *ngFor="let record of vehicleRecords" class="flex flex-col mt-8 self-start rounded-xl border-2 w-[100%] h-fit p-[10px] overflow-scroll scrollbar overflow-x-hidden mx-4" [ngClass]="(record.clamp.beforeImage && record.clamp.afterImage) ? 'bg-red-400 border-bg-red-400' : (record.firstWarning.image || record.secondWarning.image) ? 'bg-yellow-400 border-bg-yellow-400' : 'bg-[var(--ion-color-primary)] border-[var(--ion-color-primary)]'">
          <div class="flex flex-col ml-3 gap-y-3 text-white text-2xl">
            <table>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Name</td>
                <td class="w-[2%]">:</td>
                <td>{{record.name}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Contact</td>
                <td class="w-[2%]">:</td>
                <td>{{record.contact}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Block</td>
                <td class="w-[2%]">:</td>
                <td>{{record.block}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Unit</td>
                <td class="w-[2%]">:</td>
                <td>{{record.unit}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Vehicle</td>
                <td class="w-[2%]">:</td>
                <td>{{record.vehicle}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Vehicle Type</td>
                <td class="w-[2%]">:</td>
                <td>{{record.vehicleType}}</td>
              </tr>
              <tr class="h-9">
                <td class="w-1/5 font-bold">Last Entry</td>
                <td class="w-[2%]">:</td>
                <td>{{record.lastEntry}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div *ngIf="vehicleRecords.length == 1" class="flex flex-col mt-8 gap-y-4">
          <button class="h-11 rounded-md text-center align-middle font-bold text-2xl" [ngClass]="vehicleRecords[0].firstWarning.image ? 'bg-yellow-400 text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleShowFirstWarning(vehicleRecords[0])">
            Issue 1st Warning
          </button>
          <button class="h-11 rounded-md text-center align-middle font-bold text-2xl" [ngClass]="vehicleRecords[0].secondWarning.image ? 'bg-yellow-400 text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleShowSecondWarning(vehicleRecords[0])">
            Issue 2nd Warning
          </button>
          <button class="h-11 rounded-md text-center align-middle font-bold text-2xl" [ngClass]="(vehicleRecords[0].clamp.afterImage && vehicleRecords[0].clamp.beforeImage) ? 'bg-red-400 text-white w-48 mx-5' : 'bg-[#D0D0D0] text-[#757575] w-48 mx-5'" (click)="toggleClampVehicle(vehicleRecords[0])">
            Clamp Vehicle
          </button>
        </div>
      </div> -->


  </div>

</ion-content>