<ion-content [fullscreen]="true">
	<div class="header fixed top-0">
        <div class="flex flex-col justify-start">
            <img alt="iFS360 logo" height="60" src="assets/logoIFS.png"/>
		</div>
		<div class="logo">
			<h1 class="text-[28px] font-bold text-[black] w-[140px] mt-[-14px]">Visitors History</h1>
		</div>
	</div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="flex flex-row justify-between mt-4">
      <app-visitor-button [text]="'Daily Invite'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-24'" (click)="toggleShowInv()"></app-visitor-button>
      <app-visitor-button [text]="'Hired Car'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-24'" (click)="toggleShowHired()"></app-visitor-button>
      <app-visitor-button [text]="'History'" [extraClass]="'bg-[#CDF8BA] text-black w-24'" (click)="toggleShowHistory()"></app-visitor-button>
    </div>
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div class="w-full mt-4">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-8" [routerLink]="['/history']"></ion-icon>
        </div>
        <div class="w-full mt-2">
          <div [class]="banned ? 'bg-red-400 p-4 rounded-lg flex flex-col justify-between w-full mb-1' : 'bg-green-100 p-4 rounded-lg flex flex-col justify-between w-full mb-1'">
            <div class="text-xs font-bold">
              <div class="text-lg font-bold mb-2">
                {{visitor}}
              </div>
              <table>
                <tr class="h-6">
                  <td>Purpose</td>
                  <td>:</td>
                  <td>{{purpose}}</td>
                </tr>
                <tr class="h-6" *ngIf="purpose == 'Delivery'">
                  <td>Delivery Type</td>
                  <td>:</td>
                  <td>Food / Package / Bulky</td>
                </tr>
                <tr class="h-6" *ngIf="purpose == 'Drop Off'">
                  <td>Mode of Vehicle</td>
                  <td>:</td>
                  <td>PHV / Taxi / Private Car</td>
                </tr>
                <tr class="h-6">
                  <td>Date Of Visit</td>
                  <td>:</td>
                  <td>{{visit_date}}</td>
                </tr>
                <tr class="h-6">
                  <td>Entry Time</td>
                  <td>:</td>
                  <td>1200hrs</td>
                </tr>
                <tr class="h-6">
                  <td>Exit Time</td>
                  <td>:</td>
                  <td>144hrs</td>
                </tr>
                <tr class="h-6" *ngIf="purpose != 'Drop Off'">
                  <td>Mode of Entry</td>
                  <td>:</td>
                  <td>Drive In</td>
                </tr>
                <tr class="h-6">
                  <td>Vehicle No</td>
                  <td>:</td>
                  <td>SNKS452D</td>
                </tr>
                <tr class="h-6" *ngIf="purpose == 'Visiting'">
                  <td>Point of Entry</td>
                  <td>:</td>
                  <td>Barrier / Main Gate / Slide Gate</td>
                </tr>
                <tr class="h-6" *ngIf="purpose != 'Drop Off'">
                  <td>Mobile No</td>
                  <td>:</td>
                  <td>8021 6095</td>
                </tr>
              </table>
            </div>
            <div class="w-full flex flex-row justify-around mt-6" *ngIf="banned">
              <app-visitor-button [text]="'Reinvite'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-24 h-8'"></app-visitor-button>
              <app-visitor-button [text]="'Reinstate'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8'" (click)="showAlertButtons('Reinstate', 'history-alert')"></app-visitor-button>
              <app-visitor-button [text]="'Call'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8'"></app-visitor-button>
            </div>
            <div class="w-full flex flex-row justify-around mt-6" *ngIf="!banned">
              <app-visitor-button [text]="'Reinvite'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8'" *ngIf="purpose == 'Visiting'"></app-visitor-button>
              <app-visitor-button [text]="'Ban Visitor'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8'" (click)="showAlertButtons('Ban', 'history-alert alert-banned')" *ngIf="purpose == 'Visiting'"></app-visitor-button>
              <app-visitor-button [text]="'Call'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8'" *ngIf="purpose != 'Drop Off'"></app-visitor-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>