<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Visitors'" [text_second]="'History'" />
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="flex flex-row justify-between mt-4">
			<app-visitor-button [text]="'Daily Invite'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'"
				(click)="toggleShowInv()">
			</app-visitor-button>
			<app-visitor-button [text]="'Hired Car'" [extraClass]="'bg-[#D0D0D0] text-[#757575] text-base w-28'"
				(click)="toggleShowHired()">
			</app-visitor-button>
			<app-visitor-button [text]="'History'" [extraClass]="'bg-[var(--ion-color-primary)] text-white text-base w-28'"
				(click)="toggleShowHistory()">
			</app-visitor-button>
    </div>
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div class="w-full mt-4">
          <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-8" [routerLink]="['/history']"></ion-icon>
        </div>
        <div class="w-full mt-2">
          <div [class]="historyData.banned ? 'bg-[#E3787E] p-4 rounded-lg flex flex-col justify-between w-full mb-1' : 'bg-green-100 p-4 rounded-lg flex flex-col justify-between w-full mb-1'">
            <div class="text-base">
              <div class="text-base font-bold mb-2">{{historyData.purpose === 'Visiting' ? historyData.visitor_name : historyData.vehicle_number}}</div>
              <table>
                <tr class="h-6">
                  <td class="w-[60%]  font-bold">Purpose</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.purpose || '-' }}</td> <!-- Menampilkan '-' jika purpose kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Delivery'">
                  <td class="w-[60%]  font-bold">Delivery Type</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.delivery_type || '-' }}</td> <!-- Menampilkan '-' jika delivery_type kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Drop Off' || historyData.purpose === 'Pick Up'">
                  <td class="w-[60%]  font-bold">Mode of Vehicle</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.vehicle_type || '-' }}</td> <!-- Menampilkan '-' jika vehicle_type kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%]  font-bold">Date Of Visit</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.visitor_date ? (historyData.visitor_date | date: 'dd/MM/yyyy') : '-' }}</td> <!-- Menampilkan '-' jika visitor_date kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%]  font-bold">Entry Time</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.visitor_entry_time || '-' }}</td> <!-- Menampilkan '-' jika visitor_entry_time kosong -->
                </tr>
                <tr class="h-6">
                  <td class="w-[60%]  font-bold">Exit Time</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.visitor_exit_time || '-' }}</td> <!-- Menampilkan '-' jika visitor_exit_time kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Visiting' || historyData.purpose === 'Delivery' ">
                  <td class="w-[60%]  font-bold">Mode of Entry</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.mode_of_entry || '-' }}</td> <!-- Menampilkan '-' jika mode_of_entry kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.mode_of_entry !== 'Walk In'">
                  <td class="w-[60%]  font-bold">Vehicle No</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.vehicle_number || '-' }}</td> <!-- Menampilkan '-' jika vehicle_number kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Visiting'">
                  <td class="w-[60%]  font-bold">Point of Entry</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.point_of_entry || '-' }}</td> <!-- Menampilkan '-' jika point_of_entry kosong -->
                </tr>
                <tr class="h-6" *ngIf="historyData.purpose === 'Visiting' || historyData.purpose === 'Delivery'">
                  <td class="w-[60%]  font-bold">Mobile No</td>
                  <td class="w-[10%]">:</td>
                  <td>{{ historyData.mobile_number || '-' }}</td> <!-- Menampilkan '-' jika mobile_number kosong -->
                </tr>
              </table>
            </div>
            <div class="w-full flex flex-row justify-around mt-6" *ngIf="historyData.banned">
              <app-visitor-button [text]="'Reinvite'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-24 h-8 text-base'"></app-visitor-button>
              <app-visitor-button [text]="'Reinstate'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base'" (click)="showAlertButtons('Reinstate', 'history-alert')"></app-visitor-button>
              <app-visitor-button [text]="'Call'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base'"></app-visitor-button>
            </div>
            <div class="w-full flex flex-row justify-around mt-6" *ngIf="!historyData.banned">
              <app-visitor-button [text]="'Reinvite'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base'" *ngIf="historyData.purpose === 'Visiting'"></app-visitor-button>
              <app-visitor-button [text]="'Ban Visitor'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base'" (click)="showAlertButtons('Ban', 'history-alert alert-banned')" *ngIf="historyData.purpose === 'Visiting'"></app-visitor-button>
              <app-visitor-button [text]="'Call'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-24 h-8 text-base'" *ngIf="historyData.purpose !== 'Drop Off'"></app-visitor-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>