<ion-content [fullscreen]="true">
  <app-resident-header [is_client]="true"  [text]="'Facilities'" [text_second]="textSecond" />
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4">
    <div class="flex flex-row justify-start items-center w-full space-x-3 mt-2">
      <div class="w-full">
        <app-visitor-button [text]="'Facility'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isFacility ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowFacility()"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'Booking'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isBooking ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowBooking()"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'History'"
          [extraClass]="'w-full leading-none cw-4:text-sm ' + (isHistory ? 'bg-[var(--ion-color-primary)] text-white': 'bg-[#D0D0D0] text-[#757575]')"
          (click)="toggleShowHistory()"></app-visitor-button>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full">
    <div *ngIf="isLoading" class="flex justify-center items-center h-20">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <div class="mt-2 mb-24 flex flex-col items-center flex-grow w-full" *ngIf="isFacility && !isLoading">
      <!-- Dynamic Facility Rendering -->
      <div *ngIf="facilities.length > 0; else noFacility" class="w-full">
        <div *ngFor="let facility of facilities"
          class="bg-white rounded-2xl overflow-hidden shadow-md mx-4 my-2 w-11/12 max-w-md"
          (click)="facilityDetail(facility)">
          <img
            [src]="facility.facility_banner ? functionMain.getImage(facility.facility_banner) : 'assets/icon/exc-client/no_image.jpg'"
            [alt]="facility.facility_name" class="w-full h-40 object-cover">
          <div class="bg-green-100 bg-opacity-80 p-2 text-center">
            <h2 class="text-base font-bold text-gray-800">{{ facility.facility_name }}</h2>
            <p class="text-base text-gray-600">({{ facility.total_facilities }} Facilities)</p>
          </div>
        </div>
      </div>
      <ng-template #noFacility>
        <div class="w-full bg-transparent p-4 text-center rounded-lg mt-8">
          <p class="text-gray-600">There are no facilities.....</p>
        </div>
      </ng-template>
      <!-- Tampilkan pesan jika tidak ada fasilitas -->
      <!-- <div *ngIf="facilities.length === 0" class="text-center mt-10">
        <p class="text-gray-600">No facilities available</p>
      </div> -->
    </div>

    <div class="flex flex-col relative mx-4 mt-2 mb-52" *ngIf="!isFacility  && !isLoading">
      <div class="flex flex-col" *ngIf="isHistory">
        <div class="flex flex-row">
          <p class="text-base font-bold">Filter Date</p>
        </div>
        <div class="flex flex-row space-x-2">
          <div class="w-1/2">
            <app-text-input #clientFacilityHistoryStartDateInput [id]="'client_facility_history_start_date_input'"
              [placeholder]="'Start Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'"
              [(ngModel)]="startDateFilter"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
              (change)="onStartDateChange($event)"></app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input #clientFacilityHistoryEndDateInput [id]="'client_facility_history_end_date_input'"
              [placeholder]="'End Filter Date'" [customClasses]="{'w-full':true}" [type]="'date'"
              [(ngModel)]="endDateFilter"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-12':true, 'text-base':true, 'cw-3:text-xs':true}"
              (change)="onEndDateChange($event)" [min]="startDateFilter"></app-text-input>
          </div>
        </div>

        <div class="flex flex-row-reverse mt-2">
          <u class="text-base font-bold" (click)="resetFilter()">Clear Filter</u>
        </div>
      </div>

      <div *ngIf="showBookings.length > 0; else noActiveBookings">
        <div *ngFor="let booking of showBookings; let i = index" [ngClass]="{
				'bg-green-100': booking.booking_status === 'Approved',
				'bg-sky-100': booking.booking_status === 'Pending Approval' || booking.booking_status === 'Pending Payment',
				'bg-[#E3787E]': booking.booking_status === 'Rejected' || booking.booking_status === 'Cancelled',
				'bg-[#F8F1BA]': booking.booking_status === 'Requested',
				}" class="bg-green-100 rounded-2xl p-5 my-4 mt-4 w-full">
          <h2 [ngClass]="{
            'text-green-500': booking.booking_status === 'Approved',
            'text-sky-500': booking.booking_status === 'Pending Approval' || booking.booking_status === 'Pending Payment',
            'text-red-700': booking.booking_status === 'Rejected' || booking.booking_status === 'Cancelled',
            'text-yellow-400': booking.booking_status === 'Requested',
            }" class="flex text-base font-bold mb-2 justify-items-center items-center text-center">
            <ion-icon [name]="booking.booking_status === 'Approved' ? 'checkmark' : 
              booking.booking_status === 'Pending Approval' ? 'time' : 
              booking.booking_status === 'Pending Payment' ? 'time' : 
              booking.booking_status === 'Rejected' ? 'close' : 
              booking.booking_status === 'Cancelled' ? 'close' : 
              booking.booking_status === 'Requested' ? 'help-circle' : 
              'help-circle'" [ngClass]="{
              'bg-green-500': booking.booking_status === 'Approved',
              'bg-sky-500': booking.booking_status === 'Pending Approval' || booking.booking_status === 'Pending Payment',
              'bg-red-700': booking.booking_status === 'Rejected' || booking.booking_status === 'Cancelled',
              'bg-yellow-500': booking.booking_status === 'Requested'
              }" class="mr-2 p-1 rounded-full text-white text-[18px]">
            </ion-icon>
            {{ getBookingStatusLabel(booking.booking_status) }}
          </h2>
          <p class="font-bold text-base text-black">{{ booking.facility_name }}</p>
          <div class="table w-full">
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Event Date</p>
              <p class="ml-2 table-cell text-base text-black">: {{
                functionMain.convertToDDMMYYYY(booking.start_datetime.split(' ')[0]) }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Booking Start Time</p>
              <p class="ml-2 table-cell text-base text-black">: {{ booking.start_datetime ?
                booking.start_datetime.split(' ')[1] : '-' }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Booking End Time</p>
              <p class="ml-2 table-cell text-base text-black">: {{ booking.stop_datettime ?
                booking.stop_datettime.split(' ')[1] : '-' }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Booked By</p>
              <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(booking.booked_by) }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Unit</p>
              <p class="ml-2 table-cell text-base text-black">: {{ functionMain.returnNone(booking.unit_name) }}</p>
            </div>
            <!-- <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Booked By</p>
              <p class="ml-2 table-cell text-base text-black">: {{ booking.bookedBy }}</p>
            </div> -->
          </div>
          <div class="flex mt-2 space-x-2">
            <button (click)="viewDetails(booking)"
              class="cw-2:text-[13px] bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold"
              *ngIf="booking.booking_status === 'Requested' || booking.booking_status === 'Pending Approval' || booking.booking_status === 'Approved'">
              View Details
            </button>
            <!-- <button class="bg-[#E3787E] text-black px-3 py-2 text-base cw-2:text-[13px] rounded-md font-bold" (click)="cancelBooking(booking.id)">
						Cancel Booking
					  </button> -->
          </div>
        </div>

      </div>
      <ng-template #noActiveBookings>
        <div class="w-full bg-transparent p-4 text-center rounded-lg mt-8">
          <p class="text-gray-600">There are no bookings.....</p>
          <!-- <p class="text-gray-600">Go to <strong>Home Page</strong> or</p>
          <p class="text-gray-600"><strong>Click Here</strong> to make a new
            booking now.</p> -->
        </div>
      </ng-template>

    </div>
  </div>

  <!-- ############################### -->
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-content>