@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.custom-alert-class-resident-visitors-page {
    --background: rgba(0, 0, 0, 0.5); // Background transparan
    --backdrop-opacity: 0.5;
  
    .alert-wrapper {
      background: #E3787E;
      border-radius: 0.5rem;
      width: 20rem;
      padding: 1.25rem;
      text-align: center;
    }
  
    .alert-title {
      font-size: 1.125rem;
      font-weight: bold;
      color: #1f2937;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .alert-button-group {
      display: flex;
      justify-content: space-around;
    }
  
    .cancel-button {
      background-color: #D0D0D0;
      color: #1F2937;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      font-weight: bold;
    }
  
    .confirm-button {
      background-color: #D0D0D0;
      color: #1F2937;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      font-weight: bold;
    }
  }

.history-alert{
    .alert-wrapper {
        background-color: #E1EFDA;
        align-items: center;
        border-radius: 5px;
        width: 85%;
    }
    .alert-title{
        font-weight: 700;
    }
    .alert-button-group {
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .alert-button{
        background: #D0D0D0;
        border: solid black 1px;
        border-radius: 7px;
        height: 35px;
    }
    .alert-button-inner{
        font-weight: 700;
        color: black;
    }
    &.alert-banned .alert-wrapper {
        background-color: #E3787E;
    }
}

.add-card-alert{
  .alert-wrapper {
      background-color: #E1EFDA;
      align-items: center;
      border-radius: 5px;
      width: 85%;
  }
  .alert-title{
      font-size: 16px;
      text-align: justify;
      margin-bottom: -40px;
  }
  .alert-button-group {
      justify-content: space-around;
      margin-bottom: 10px;
      margin-top: -50px;
  }
  .alert-button{
      background: #673AB7;
      border: solid white 1px;
      border-radius: 7px;
      height: 35px;
  }
  .alert-button-inner{
      font-weight: 700;
      color: white;
  }
}

.manage-payment-alert{
  .alert-wrapper {
      background-color: #E1EFDA;
      align-items: center;
      border-radius: 5px;
      width: 85%;
  }
  .alert-title{
    font-size: 16px;
    text-align: justify;
  }
  .alert-button-group {
      justify-content: space-around;
      margin-bottom: 10px;
  }
  .alert-button{
      background: #D0D0D0;
      border: solid black 1px;
      border-radius: 7px;
      height: 35px;
  }
  .alert-button-inner{
      font-weight: 700;
      color: black;
  }
}

@font-face {
  font-family: 'Cambria';
  src: url('https://raw.githubusercontent.com/jondot/dotfiles2/master/.fonts/cambria.ttf') format('truetype');
}

.vms-body {
  font-family: 'Cambria', serif;
  // font-weight: 500;

}

::-webkit-scrollbar {
  display: none !important;
}

ion-content::webkit-scrollbar {
display:none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}
