<ion-content [fullscreen]="true">
  <div class="absolute h-1/2 mt-64 opacity-20">
    <img
    alt="Focus Security"
    src="assets/img/focus_logo-removebg.png"
  />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="flex flex-col items-center mt-6">
      <h1 class="text-xl font-bold text-[black] dark:text-[white]">
        SITE NAME
      </h1>
      <h2 class="text-lg font-bold text-[black] dark:text-[white]">
        VISITOR MANAGEMENT SYSTEM
      </h2>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customImageIcon]="'assets/icon/home-icon/truck-clock.webp'" [text]="'DELIVERIES'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" />
    </div>
    <div class="flex flex-rowspace-x-4 space-x-7">
      <app-button-icon 
        [customImageIcon]="'assets/icon/deliveries-icon/FoodBar.webp'" 
        [text]="'FOOD DELIVERY'" 
        (click)="toggleFoodDeliveries()" 
        [isActive]="buttonStates.foodDeliveries"
        [disableClick]="true"
      />
      <app-button-icon 
        [customImageIcon]="'assets/icon/deliveries-icon/Package.webp'" 
        [text]="'PACKAGE DELIVERIES'" 
        (click)="togglePackageDeliveries()" 
        [isActive]="buttonStates.packageDeliveries"
        [disableClick]="true"
      />
      <app-button-icon 
        [customNameIcon]="'faCouch'" 
        [text]="'BULKY ITEM DELIVERIES'" 
        (click)="toggleBulkyItemDeliveries()" 
        [isActive]="buttonStates.bulkyItemDeliveries"
        [disableClick]="true"
      />
    </div>

    <div class="w-full flex flex-row">
      <div class="w-full" *ngIf="foodDeliveries" @fadeInOut>
        <!-- <div class="border-t border-black dark:border-white mt-7"></div> -->
        <div class="mt-1 flex flex-row justify-between w-full" >
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/FoodPanda.webp'" [text]="'FOODPANDA'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/Grab.webp'" [text]="'GRABFOOD'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/Deliveroo.webp'" [text]="'DELIVEROO'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/FoodBar.webp'" [text]="'OTHERS'" (buttonClick)="onButtonClick($event)" />
        </div>
        <div class="flex flex-row space-x-7 w-full" >
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/FoodBar.webp'" [text]="'WALK IN'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customNameIcon]="'faCar'" [text]="'DRIVE IN'" (buttonClick)="onButtonClick($event)" />
        </div>
        <div class="mt-5 flex flex-col justify-around items-center w-full">
          <div class="w-full mb-3">
            <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
          </div> 
          <div class="w-full mb-3">
            <form class="max-w-sm mx-auto">
              <select id="block" class="bg-transparent border border-[#BDBDBD] text-gray-900 text-sm rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500">
                <option selected>Choose Block</option>
                <option value="block_1">Block 1</option>
                <option value="block_2">Block 2</option>
                <option value="block_3">Block 3</option>
                <option value="block_4">Block 4</option>
              </select>
            </form>
          </div>
          <div class="w-full mb-3">
            <form class="max-w-sm mx-auto">
              <select id="unit" class="bg-transparent border border-[#BDBDBD] text-gray-900 text-sm rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500">
                <option selected>Choose Unit</option>
                <option value="unit_1">Unit 1</option>
                <option value="unit_2">Unit 2</option>
                <option value="unit_3">Unit 3</option>
                <option value="unit_4">Unit 4</option>
              </select>
            </form>
          </div>
          <div class="w-full mb-3">
            <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" [routerLink]="['/home-vms']">
              SAVE RECORD & OPEN BARRIER
             </ion-button>
             <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" [routerLink]="['/home-vms']">
              SAVE RECORD ONLY
             </ion-button>
          </div>
        </div>
      </div>

      <div class="w-full" *ngIf="packageDeliveries" @fadeInOut>
        <!-- <div class="border-t border-black dark:border-white mt-7"></div> -->
        <div class="mt-1 flex flex-row justify-between w-full" >
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/NinjaVan.webp'" [text]="'NINJAVAN'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/Grab.webp'" [text]="'GRABEXPRESS'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/SingPos.webp'" [text]="'SINGPOST'" (buttonClick)="onButtonClick($event)" />
          <app-button-icon [customImageIcon]="'assets/icon/deliveries-icon/FoodBar.webp'" [text]="'OTHERS'" (buttonClick)="onButtonClick($event)" />
        </div>
        <div class="mt-8 flex flex-col justify-between items-center w-full" >
          <div class="w-full mb-3">
            <app-text-input [id]="'contact_number'" [placeholder]="'CONTACT NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
          </div>
          <div class="w-full mb-3">
            <app-text-input [id]="'vehicle_number'" [placeholder]="'VEHICLE NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
          </div>
          <div class="w-full flex mb-3 justify-between">
            <div class="flex items-center me-4">
                <input id="inline-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-[#673AB7] bg-gray-100 border-gray-300 focus:ring-[#673AB7] dark:focus:ring-[#673AB7] dark:ring-offset-gray-800 focus:ring-2 focus:bg-[#673AB7] dark:bg-gray-700 dark:border-gray-600">
                <label for="inline-radio" class="ms-2 text-xs font-bold text-gray-500 dark:text-gray-300">Multiple Units</label>
            </div>
            <div class="flex items-center">
                <input id="inline-2-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-[#673AB7] bg-gray-100 border-gray-300 focus:ring-[#673AB7] dark:focus:ring-[#673AB7] dark:ring-offset-gray-800 focus:ring-2 focus:bg-[#673AB7] dark:bg-gray-700 dark:border-gray-600">
                <label for="inline-2-radio" class="ms-2 text-xs font-bold text-gray-500 dark:text-gray-300">Single Unit</label>
            </div>
          </div>
          <div class="w-full mb-3">
            <form class="max-w-sm mx-auto">
              <select id="block" class="bg-transparent border border-[#BDBDBD] text-gray-900 text-sm rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500">
                <option selected>Choose Block</option>
                <option value="block_1">Block 1</option>
                <option value="block_2">Block 2</option>
                <option value="block_3">Block 3</option>
                <option value="block_4">Block 4</option>
              </select>
            </form>
          </div>
          <div class="w-full mb-3">
            <form class="max-w-sm mx-auto">
              <select id="unit" class="bg-transparent border border-[#BDBDBD] text-gray-900 text-sm rounded focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500">
                <option selected>Choose Unit</option>
                <option value="unit_1">Unit 1</option>
                <option value="unit_2">Unit 2</option>
                <option value="unit_3">Unit 3</option>
                <option value="unit_4">Unit 4</option>
              </select>
            </form>
          </div>
          <div class="w-full mb-3">
            <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" [routerLink]="['/home-vms']">
              SAVE RECORD & OPEN BARRIER
             </ion-button>
             <ion-button fill="clear" class="fslp-button w-full bg-[var(--ion-color-primary)]" [routerLink]="['/home-vms']">
              SAVE RECORD ONLY
             </ion-button>
          </div>
        </div>
      </div>
  
      <div class="mt-8 flex flex-col justify-between items-center h-80 w-full" *ngIf="bulkyItemDeliveries" @fadeInOut>
        
      </div>
    </div>
    
  </div>
</ion-content>