<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" />
  <div class="w-1/6 flex items-start mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" (click)="directTo()"></ion-icon>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4 mb-24">
    <div class="flex flex-col justify-between mt-1">
      <button class="bg-[var(--ion-color-primary)] text-white mt-1 w-full rounded-full h-12 font-bold text-base" [routerLink]="['/family-add-member']">Add New Family Member</button>
      <!-- <button class="bg-[#D0D0D0] text-[#757575] mt-1 w-full text-base rounded-full h-10 font-bold" >Add New Card</button> -->
    </div>
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div class="w-full mt-4">
          <div class="flex flex-col w-full justify-start space-y-2">
            <div *ngFor="let data of familyData">
              <app-family-card 
                [id]="data.id"
                [type]="data.type" 
                [hard_type]="data.hard_type" 
                [name]="data.name" 
                [mobile]="data.mobile" 
                [nickname]="data.nickname" 
                [email]="data.email"
                [head_type]="data.head_type"
                [end_date]="data.end_date"
                [status]="data.status"
                [profile_image]="data.family_photo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>