<ion-content [fullscreen]="true">
	<app-resident-header [text]="'My Family'" />
  <!-- CONTENT -->
  <div class="flex flex-col relative mt-2 mx-4 mb-24">
    <div class="w-full mt-2">
      <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-10" [routerLink]="['/resident-homepage']"></ion-icon>
    </div>
    <div class="flex flex-col justify-between mt-2">
      <button class="bg-[#d3f8d3] text-black mt-1 w-full text-sm rounded-full h-10 font-bold" [routerLink]="['/family-add-member']">Add New Card</button>
      <button class="bg-[#D0D0D0] text-[#757575] mt-1 w-full text-sm rounded-full h-10 font-bold" >Add New Card</button>
    </div>
    <div class="flex flex-row w-full">
      <div class="flex flex-col w-full">
        <div class="w-full mt-4">
          <div clas="flex flex-col w-full justify-start">
            <app-family-card [type]="'Primary Contract'" [name]="'Veekneshwaran'" [mobile]="'89230461'" [head_type]="'Family'" [nickname]="'Veeknesh'" [email]="'veekneshw@gmail.com'"/>
            <app-family-card [type]="'Secondary Contract'" [name]="'Bobby'" [mobile]="'80216095'" [head_type]="'Family'" [nickname]="'Bob'" [email]="'bobby@gmail.com'"/>
            <app-family-card [type]="'Member'" [name]="'Bobby'" [mobile]="'94515667'" [head_type]="'Family'" [nickname]="'Bob'" [email]="'bobby@gmail.com'"/>
            <app-family-card [type]="'Tenant'" [name]="'Patrick Tan'" [mobile]="'89230461'" [head_type]="'Tenant'" [nickname]="'Patrick'" [email]="'patrick@gmail.com'" [tenant]="true"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ############################### -->
  <app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>