<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/records-facility-detail'"/>
    </div>
    <div class="flex flex-row mx-4">
      <div class="flex flex-col mt-8 mb-4 w-full bg-[var(--ion-color-primary)] text-white p-5 rounded">
        <label class="text-2xl font-bold">{{record.facility_name ? record.facility_name : (record.facility ? record.facility : '-')}} | {{purpose == 'check_in' ? 'CHECK IN' : 'CHECK OUT'}} FORM</label>
        <div class="flex flex-col justify-around w-full">
          <div class="flex flex-row w-full justify-between">
            <div class="w-[45%] text-white text-2xl font-bold rounded mt-5 flex flex-col">
              <app-signature-pad #residentSignContainer id="resident_sign" (signatureOutput)="onResidentSign($event)" [value]="residentSign" *ngIf="!isResidentSigned"></app-signature-pad>
              <img [src]="showImageResident" *ngIf="isResidentSigned">
              <div class="h-14">
                <div class="flex flex-row justify-between relative mt-[-26px]" *ngIf="!isResidentSigned">
                  <div class=""><fa-icon [icon]="faPenFancy" class="w-full h-full"></fa-icon></div>
                  <div class=""><fa-icon [icon]="faEraser" class="w-full h-full" (click)="onClear()"></fa-icon></div>
                </div>
               
                <hr class="border-t border-white w-full" />
                <div>SIGN HERE (RESIDENT)</div>
              </div>
              
            </div>
            <div class="w-[45%] text-white text-2xl font-bold rounded mt-5 flex flex-col">
              <app-signature-pad #officerSignContainer id="officer_sign" (signatureOutput)="onOfficerSign($event)" [value]="officerSign" *ngIf="!isOfficerSigned"></app-signature-pad>
              <img [src]="showImageOfficer" *ngIf="isOfficerSigned">
              <div class="h-14">
                <div class="flex flex-row justify-between relative mt-[-26px]" *ngIf="!isOfficerSigned">
                  <div class=""><fa-icon [icon]="faPenFancy" class="w-full h-full"></fa-icon></div>
                  <div class=""><fa-icon [icon]="faEraser" class="w-full h-full" (click)="onClear(false)"></fa-icon></div>
                </div>
                <hr class="border-t border-white w-full" />
                <div>SIGN HERE (OFFICER)</div>
              </div>
            </div>
          </div>
          <div class="flex flex-row w-full justify-around mb-4 mt-4" *ngIf="!isOfficerSigned || !isResidentSigned">
            <button class="w-2/5 text-black bg-white text-2xl font-bold rounded mt-5 h-14" (click)="onSubmit()">{{purpose == 'check_in' ? 'CHECK IN' : 'CHECK OUT'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>