<ion-header [translucent]="true">
  <app-header-inner-page [text]="'Raise A Request'" [text_second]="'Card Application'"></app-header-inner-page>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="w-full flex items-start ml-4 mt-2">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12" [routerLink]="['/resident-raise-a-request']"></ion-icon>
  </div>

  <div class="px-5 text-center mb-20">
    <div class="flex flex-col justify-between mt-2">
      <div class="w-full">
        <div class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold">Name of Resident Applying</p>
        </div>
        <app-text-input [id]="'name_of_resident'"
          [customClasses]="{'w-full':true}" [type]="'text'"
          [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
          [isReadonly]="true"
          [(ngModel)]="userName"
          >
        </app-text-input>
      </div>
    </div>
    <div class="flex flex-row items-center space-x-2">
      <div class="w-full mt-2">
        <div class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold">Block</p>
        </div>
        <app-text-input [id]="'block'"
          [customClasses]="{'w-full':true}" [type]="'text'"
          [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
          [isReadonly]="true"
          [(ngModel)]="block"
          >
        </app-text-input>
      </div>

      <div class="w-full mt-2">
        <div class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold">Unit</p>
        </div>
        <app-text-input [id]="'unit'"
          [customClasses]="{'w-full':true}" [type]="'text'"
          [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
          [isReadonly]="true"
          [(ngModel)]="unit"
          >
        </app-text-input>
      </div>
    </div>
    <div class="w-full">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base font-bold">Contact Number of Resident</p>
      </div>
      <app-text-input [id]="'phone_number'"
        [(ngModel)]="phoneNumber"
        [customClasses]="{'w-full':true}" [type]="'text'"
        [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
        [isReadonly]="true">
      </app-text-input>
    </div>
    <div class="w-full mt-2">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base font-bold text-start">What purpose you applying this?</p>
      </div>
      <div class="flex flex-row cw-2:flex-col cw-2:space-y-2">
        <div class="flex flex-row items-center">
          <input type="radio" id="replacement" name="for_what" (change)="onOptionChange('replacement')" [checked]="selectedOption === 'replacement'"
            class="mr-1 accent-black text-[var(--ion-color-primary)] text-base">
          <label for="replacement"><b>Replacement</b></label>
        </div>
        <div class="flex flex-row items-center">
          <input type="radio" id="new_application" name="for_what" (change)="onOptionChange('new_application')" [checked]="selectedOption === 'new_application'"
            class="mr-1 accent-black text-[var(--ion-color-primary)] ml-4 text-base cw-2:ml-0">
          <label for="new_application"><b>New Application</b></label>
        </div>
      </div>
    </div>

    <!-- Replacement -->
    <div class="w-full mt-2" *ngIf="selectedOption === 'replacement'">
      <div class="w-full">
        <div *ngIf="expectedCards.length > 0" class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold text-start">Which Card Would you want a replacement for?</p>
        </div>
        <div class="flex flex-row mt-1">
          <table *ngIf="expectedCards.length > 0" class="table-auto border-collapse border border-gray-300 w-full cw-3:w-[50%] text-sm text-left bg-white">
            <thead>
              <tr class="bg-gray-200 text-gray-700">
                <th class="border border-gray-300 px-4 py-2 w-16 cw-3:text-[11px]"> </th>
                <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">Card Number</th>
                <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">Assigned Resident Name</th>
                <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of expectedCards">
                <td class="border border-gray-300 px-4 py-2 text-center">
                  <input id="card_data_{{card.access_card_id}}" (change)="onCardSelect(card)" name="card" type="checkbox" class="w-4 h-4 cw-3:w-2 cw-3:h-2" [checked]="formData.card_id === card.access_card_id">
                </td>
                <td class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]">{{ card.access_card_number }}</td>
                <td class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]">{{ card.assigned_resident_name }}</td>
                <td class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]">{{ card.access_card_status }}</td>
              </tr>
            </tbody>
          </table>
          <ng-container *ngIf="expectedCards.length === 0">
            <p class="text-gray-700">Now there are still no cards or no one has been approved yet. <u (click)="onOptionChange('new_application')" class="text-blue-500 underline">Make one now</u> or wait until approve</p>
          </ng-container>
        </div>
      </div>
      <div class="w-full mt-2">
        <div class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold">Reason for replacement</p>
        </div>
        <app-text-input [id]="'reason_for_replacement'"
          [placeholder]="'Lost / Damaged / Others: __________________'"
          [customClasses]="{'w-full':true}" [type]="'text'"
          [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
          [(ngModel)]="formData.reason"
        >
        </app-text-input>
      </div>
    </div>

    <!-- New Application -->
    <div class="w-full mt-2" *ngIf="selectedOption === 'new_application'">
      <div class="w-full">
        <div class="flex flex-row justify-start mb-1">
          <p class="text-base font-bold text-start">Who are you applying for?</p>
        </div>
        <div class="flex flex-row mt-1">
          <table class="table-auto border-collapse border border-gray-300 w-full text-sm text-left bg-white">
            <thead>
              <tr class="bg-gray-200 text-gray-700">
                <th class="border border-gray-300 px-4 py-2 w-16 cw-3:text-[11px]"> </th>
                <th class="border border-gray-300 px-4 py-2 cw-3:text-[11px]">Assigned resident name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fam of expectedFamily">
                <td class="border border-gray-300 px-4 py-2 text-center">
                  <input id="card_data_member_or_family_{{fam.family_id}}" (change)="onNewCardSelect(fam.family_id)" name="new_card" type="checkbox" class="w-4 h-4 cw-3:w-2 cw-3:h-2" [checked]="formData.family_id === fam.family_id">
                </td>
                <td class="border border-gray-300 px-4 py-2 text-gray-700 cw-3:text-[11px]"><label for="card_data_member_or_family_{{fam.family_id}}">{{ fam.family_name }} , {{ fam.member_type }}</label></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="w-full mt-2">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base font-bold">Owner status</p>
      </div>
      <app-text-input [id]="'owner_status'"
        [placeholder]="'familyType'"
        [(ngModel)]="familyType"
        [customClasses]="{'w-full':true}" [type]="'text'"
        [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
        [isReadonly]="true">
      </app-text-input>
    </div>

    <div class="w-full mt-2" *ngIf="amountType.isRequirePayment">
      <div class="flex flex-row justify-start mb-1">
        <p class="text-base font-bold">Amount</p>
        <select name="select_show_amount" id="select_show_amount" (change)="onShowAmountChange($event)" class="ml-1">
          <option value="total">Total</option>
          <option value="untaxed">Untaxed</option>
          <option value="taxed">Taxed</option>
        </select>
      </div>
      <app-text-input [id]="'amount_payable'"
        [placeholder]="'S$____'"
        [(ngModel)]="amountPayable"
        [customClasses]="{'w-full':true}" [type]="'text'"
        [customInputClasses]="{'border':true, 'border-black':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true, 'h-12':true, 'text-base': true}"
        [isReadonly]="true">
      </app-text-input>
    </div>

    <div class="flex flex-row mt-4 text-base">
      <label class="mr-1 rounded font-bold flex items-center">
        <input type="checkbox" [checked]="agreementChecked" [(ngModel)]="agreementChecked" [ngModelOptions]="{standalone: true}" class="text-[var(--ion-color-primary)] rounded mr-1.5"/>
        <p class="text-start">I agree to the&nbsp;<u class="text-blue-400" (click)="presentModalAgreement()">terms and condition</u>&nbsp;above</p>
      </label>
    </div>
    <button
      [disabled]="!agreementChecked"
      [ngClass]="agreementChecked ? 'bg-[var(--ion-color-primary)] text-white' : 'bg-gray-300 text-gray-500'" 
      class="mt-2 w-full text-base rounded h-10 font-bold" (click)="processSubmit()">
      Submit for Approval
    </button>
  </div>
  <div class="h-96" *ngIf="extend_mb === true"></div>

</ion-content>
<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
