<div class="w-full flex flex-row justify-between" *ngIf="vmsPage">
  <div class="w-[20%] flex flex-col justify-start">
    <div class="flex flex-row justify-between items-center">
      <label class="text-2xl"><b><u>CODE</u></b></label>
      <fa-icon [icon]="faQuestion" class="text-2xl text-black" (click)="showMessage()"></fa-icon>
    </div>
    <select [id]="id" [class]="'border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl'" [(ngModel)]="selectedCode"
      [name]="name" style="border: 1px solid #6B7280;" (change)="onCountryCodeChange($event)" *ngIf="!isReadonly">
      <option hidden selected disabled [value]="initialSelection">{{ getSelected() }}</option>
      <option *ngFor="let code of countryCodes" [value]="code.code">{{ isSmallScreen ? '' : code.country }} +{{ code.code }}</option>
    </select>
    <select [id]="id" [class]="'border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl'" [name]="name" style="border: 1px solid #6B7280;" *ngIf="isReadonly" disabled>
      <option hidden selected disabled [value]="selectedCode">{{ getSelectedCode() }}</option>
    </select>
  </div>
  <div class="w-[78%] flex flex-col justify-start">
    <label class="text-2xl"><b><u>CONTACT NUMBER</u>{{isMandatory ? '*' : ''}}</b></label>
    <div class="flex flex-row justify-between">
      <input [id]="id" class="border rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl" type="number" [ngClass]="showButton ? 'w-[58%]' : 'w-full' "
      [placeholder]="''" [(ngModel)]="contactValue" (keyup)="onKeyUp($event)" [name]="name" [readonly]="isReadonly"
      style="border: 1px solid #6B7280;" />
      <div class="h-25 flex flex-col justify-end w-2/5" *ngIf="showButton">
        <button id="middle_button" [class]="(isReadonly ? 'bg-[#D0D0D0] text-[#757575]' : 'bg-[var(--ion-color-primary)] text-white') + ' w-full text-2xl h-20 rounded font-bold'" (click)="getContactInformation()">SEARCH</button>
      </div>
    </div>
  </div>
  
</div>

<input hidden [(ngModel)]="value" />

<div class="w-full flex flex-row justify-between" *ngIf="!vmsPage">
  <div class="w-[30%] flex flex-col justify-start">
    <div class="flex flex-row justify-between items-center">
      <label [class]="labelClass"><b>Code</b></label>
      <fa-icon [icon]="faQuestion" class="text-base text-black" (click)="showMessage()"></fa-icon>
    </div>
    <select [id]="id" [class]="inputClass + ' resident-selection'" [(ngModel)]="selectedCode"
      [name]="name" style="border: 1px solid #6B7280;" (change)="onCountryCodeChange($event)" >
      <!-- <option selected disabled value="">No Code</option> -->
      <option hidden selected disabled [value]="initialSelection">{{ getSelected() }}</option>
      <option *ngFor="let code of countryCodes" [value]="code.code">{{ code.country }} +{{ code.code }}</option>
    </select>
  </div>
  <div class="w-[65%] flex flex-col justify-start">
    <label [class]="labelClass"><b>{{ contactLabel }}{{isMandatory ? '*' : ''}}</b></label>
    <input [id]="id" [class]="inputClass" type="number"
      [placeholder]="''" [(ngModel)]="contactValue" (keyup)="onKeyUp($event)" [name]="name" [readonly]="isReadonly"
      style="border: 1px solid #6B7280;" />
  </div>
  <!-- <div class="flex flex-col justify-end w-1/4">
    <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 rounded font-bold">SEARCH</button>
  </div> -->
</div>