<ion-header>
  <app-resident-header [is_client]="true"  [text]="'Payment Method'" [text_second]="''" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4 mt-4">
    <div>

    </div>
    <!-- <div *ngIf="isLoading" class="flex justify-center items-center h-20">
      <ion-spinner name="dots"></ion-spinner>
    </div> -->
    <app-modal-loading *ngIf="isLoading" />
    <div class="flex flex-col w-full space-y-3" *ngIf="!isLoading">
      <div class="w-full flex flex-col items-start">
        <label class="text-base"><b>Allowed Payment</b></label>
        <select id="select_location_profile"
          class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-14 text-base text-[#6B7280]" [(ngModel)]="paymentChange.allowed_payment" [disabled]="false">
          <option value="" selected disabled hidden>Choose Payment Method</option>
          <option *ngFor="let method of Method" [value]="method.value">{{ method.text }}</option>
        </select>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex flex-col w-full text-base font-bold" *ngIf="paymentChange.allowed_payment != 'payment_gateway'">
          <div class="flex flex-row w-full items-center">
            <p class="mr-3">Payment QR Code</p>
            <div class="h-5 w-5 rounded-full justify-center items-center flex-row flex bg-black">
              <ion-icon name="pencil" class="text-white" (click)="openFileInput()"></ion-icon>
              <input placeholder="Choose a file" type="file" (change)="onFileSelected($event)" #clientPaymentMethodChange accept="image/*"
        class="hidden" />
            </div>
          </div>
          <div class="flex flex-row w-full justify-start">
            <app-image-zoom [imageZoom]="functionMain.getImage(paymentChange.payment_qr_code)" *ngIf="paymentChange.payment_qr_code" ></app-image-zoom>
          </div>
        </div>
        <div class="flex flex-col w-full text-base font-bold text-[#FF0000]" *ngIf="paymentChange.allowed_payment == 'payment_gateway'">
            <p class="">*Payment gateway configuration can only be edited by admin</p>
        </div>
      </div>
      <button (click)="saveChanges()"
          class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded font-bold h-14">
          Save Change
        </button>
    </div>
  </div>

  <!-- ############################### -->
  </ion-content>

<ion-footer>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>