<ion-header>
  <app-resident-header [is_client]="true" [text]="page_name" [text_second]="''" />
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999" pullFactor="0.3" pullMin="40"
    pullMax="80">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="none"></ion-refresher-content>
  </ion-refresher>
  <div class="flex flex-col justify-between mt-2 ml-3">
    <ion-icon name="arrow-back-circle" size="large" class="text-[var(--ion-color-primary)] size-12"
      (click)="onBack()"></ion-icon>
  </div>
  <!-- CONTENT -->
  <div class="flex flex-col relative mx-4 mb-24" *ngIf="isMain" @fadeInOut>
    <div class="flex flex-col">
      <app-modal-loading *ngIf="isLoading" class="mt-4" />
      <div class="my-4" *ngIf="!isLoading">
        <div class="space-y-3" *ngIf="Deliveries.length > 0; else noVisitor">
          <div (click)="viewDetail(delivery)"
            class="flex flex-row w-full items-center h-14 rounded-full bg-[var(--ion-color-secondary)] justify-between px-4"
            *ngFor="let delivery of Deliveries">
            <span class="text-lg font-bold">{{ delivery.name }}</span>
            <div
              class="w-10 h-10 rounded-full bg-[var(--ion-color-primary)] flex flex-col justify-center items-center mr-2">
              <fa-icon [icon]="faArrow" class="flex flex-col justify-center items-center text-xl text-white"></fa-icon>
            </div>
          </div>
        </div>
        <ng-template #noVisitor>
          <div class="w-full bg-transparent mt-8 text-center rounded-lg">
            <p class="text-gray-600">There are no {{ is_package ? 'package' : 'food'}} platform.....</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="flex flex-col relative mx-4 mb-24 mt-4" *ngIf="isDetail" @fadeInOut>
    <div
      class="bg-green-100 p-4 rounded flex flex-col justify-between w-full mb-1">
      <div class="text-base w-ful">
        <div class="w-full flex flex-col justify-center items-center my-2">
          <img [src]="functionMain.getImage(deliveryDetail.icon_image)" class="h-40">
        </div>
        <table class="w-full">
          <tr class="h-6">
            <td class="w-2/5  font-bold">Name</td>
            <td class="w-[5%]">:</td>
            <td>{{ functionMain.returnNone(deliveryDetail.name)}}</td>
          </tr>
        </table>
        <div class="flex flex-col w-full justify-around mt-4">
          <button (click)="showNew(true)"
            class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded font-bold">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col relative mx-4 mb-24 mt-4" *ngIf="isNew" @fadeInOut>
    <div class="w-full flex flex-col space-y-4">
      <div class="w-full flex flex-col justify-center items-center">
            <input #clientNeweliveryIcon type="file" class="hidden" (change)="onImageChange($event)"
              accept="image/jpg, image/png, image/jpeg">
            <div
              class="w-44 h-44 p-4 flex flex-col justify-center items-center bg-[var(--ion-color-secondary)]"
              (click)="onImageClick()">
              <img [src]="deliverySubmit.icon_image ? functionMain.getImage(deliverySubmit.icon_image) : 'assets/icon/exc-client/add_image.png'" class="h-40">
            </div>
            <label class="text-xl font-bold mt-2" (click)="onImageClick()">{{selectedImageName ? selectedImageName :
              'Add Image'}}</label>
          </div>
      <div class="w-full">
        <app-text-input [labelResidentText]="'Name'" [labelResidentClass]="'text-base font-bold mb-[-2px]'"
            [id]="'client_delivery_edit_name'" 
            [customClasses]="{'w-full items-start': true}" [type]="'text'"
            [customInputClasses]="{'border': true, 'w-full': true, 'rounded': true, 'py-2': true, 'px-3': true, 'outline-[#BDBDBD]': true, 'h-14': true, 'text-base': true}"
            [(ngModel)]="deliverySubmit.name"></app-text-input>
      </div>
      <div class="w-full">
        <button (click)="onSubmit()"
          class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded font-bold w-full h-14">
          Save
        </button>
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" class="mb-20" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showNew()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- ############################### -->
</ion-content>

<ion-footer>
  <app-bottom-nav-bar [clientRoute]="true"></app-bottom-nav-bar>
</ion-footer>