<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <img
      alt="Focus Security"
      src="assets/img/focus_logo-removebg.png"
      class="object-contain w-full h-full"
    />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <!-- Header dan navigasi -->
    <div class="flex flex-col items-center justify-center text-center">
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>FOCUS SECURITY</b></span>
      <span class="text-[16px] sm:text-[30px] md:text-[42px] lg:text-[54px]"><b>VISITOR MANAGEMENT SYSTEM</b></span>
    </div>
    <div class="flex flex-row mt-8">    
      <app-button-icon [customNameIcon]="'faHammer'" [text]="'MOVE IN / OUT'" [routerLink]="['/move-home']" [isActive]="true" [disableClick]="true" />
    </div>

    <div class="flex flex-col w-full mt-[50px] space-y-3 items-center">
      <!-- Block dan Unit -->
      <div class="w-full flex flex-row space-x-1">
        <div class="w-1/2">
          <app-text-input 
            #textInput
            [id]="'block'" 
            [placeholder]="'Block'" 
            [customClasses]="{'w-full ':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
          </app-text-input>
        </div>
        <div class="w-1/2">
          <app-text-input 
            #textInput
            [id]="'unit'" 
            [placeholder]="'Unit'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
          </app-text-input>
        </div>
      </div> 
      <div class="w-full">
        <app-text-input 
          #textInput
          [id]="'contractor_name'" 
          [placeholder]="'NAME'" 
          [customClasses]="{'w-full':true}" 
          [type]="'text'" 
          [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
        </app-text-input>
      </div> 
      <div class="flex flex-row justify-between w-full">
        <div class="w-4/6">
          <app-text-input 
            #textInput
            [id]="'contractor_contact'" 
            [placeholder]="'CONTACT NO'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
          </app-text-input>
        </div>
        <button id="middle_button" class="bg-[var(--ion-color-primary)] text-white w-1/4 text-xs" (click)="saveRecordAndOpenBarrier()">SEARCH</button>
      </div>
      <div class="flex mt-[10px] ml-[15px] gap-x-8 flex-row w-full">
        <div class="flex">
          <input type="radio" name="SelectedIdentification" id="nric_identification" value="nric" class="mr-[5px]" />
          <label class="mr-[10px]" for="nric_identification">NRIC</label>
        </div>
        <div class="flex">
          <input type="radio" name="SelectedIdentification" id="fin_identification" value="fin" class="mr-[5px]" />
          <label for="fin_identification">FIN</label>
        </div>
      </div>
      <div class="w-full">
        <app-text-input 
          #textInput
          [id]="'contractor_nric/fin'" 
          [placeholder]="'NRIC / FIN'" 
          [customClasses]="{'w-full':true}" 
          [type]="'text'" 
          [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
        </app-text-input>
      </div>
      <div class="w-full flex flex-row justify-between">
        <div class="w-[90%]">
          <app-text-input 
          #textInput
          [id]="'contractor_vc'" 
          [placeholder]="'Vehicle Number'" 
          [customClasses]="{'w-full':true}" 
          [type]="'text'" 
          [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
        </app-text-input>
        </div>
        <img alt="Loading" src="assets/img/Loading.png" class="h-10 w-10" (click)="refreshVehicle()" />
      </div> 
      <div class="w-full">
        <app-text-input 
          #textInput
          [id]="'contractor_company_name'" 
          [placeholder]="'Company Name'" 
          [customClasses]="{'w-full':true}" 
          [type]="'text'" 
          [customInputClasses]="{'border':true, 'w-full':true ,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}">
        </app-text-input>
      </div> 
      <div class="w-full">
        <select name="no-of-pax" [value]="paxCount" id="no-of-pax" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-10 text-xs text-[#6B7280]" (change)="onPaxCountChange($event)">
          <option *ngFor="let count of [].constructor(maxPax); let i = index" [value]="i + 1">
            No Of Pax {{ i + 1 }}
          </option>  
        </select>
      </div>
      <div *ngFor="let count of [].constructor(paxCount); let i = index" class="w-full flex flex-row space-x-1">
        <div class="w-1/2">
          <app-text-input #textInput [id]="'name_pax_' + i" [placeholder]="'Name'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
        </div>
        <div class="w-1/2">
          <app-text-input #textInput [id]="'nric_fin_pax_' + i" [placeholder]="'NRIC / FIN'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-10':true, 'text-xs':true}"></app-text-input>
        </div>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'SAVE RECORD & Open Barrier'" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-4 w-full text-xs'" (click)="saveRecordAndOpenBarrier()"></app-visitor-button>
      </div>
      <div class="w-full">
        <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-xs'" (click)="saveRecordOnly()"></app-visitor-button>
      </div>
    </div>
  </div>
</ion-content>