<ion-content [fullscreen]="true" class="vms-body">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" style="z-index: 999;" pullFactor="0.3" pullMin="40" pullMax="80">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <!-- Header dan navigasi -->
    <div class="w-full">
      <app-vms-header [urlCustom]="'/move-home'" [params]="{type: scheduleType}"/>
    </div>
    <div class="flex flex-row mt-8 mx-4">    
      <app-button-icon [isHomeButton]="true" [text]="'MOVE IN / OUT'" (click)="onBackHome()" [isActive]="true"
        [disableClick]="true" *ngIf="scheduleType == 'move_in'" />
        <app-button-icon [isHomeButton]="true" [text]="'RENOVATION'" (click)="onBackHome()" [isActive]="true"
        [disableClick]="true" *ngIf="scheduleType == 'renov'" />
    </div>

    <div class="flex flex-row">
      <div class="flex flex-col w-full mt-8 space-y-5 items-center mx-4 mb-4">
        <!-- Block dan Unit -->
        <div class="w-full flex flex-row space-x-1" *ngIf="!project_config.is_industrial">
          <div class="w-1/2">
            <app-text-input 
              #textInput
              [id]="'block'" 
              [labelText]="'BLOCK'" [placeholder]="'Block'" 
              [customClasses]="{'w-full ':true}" 
              [type]="'text'" 
              [isReadonly]="true"
              [(ngModel)]="block"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input 
              #textInput
              [id]="'unit'" 
              [labelText]="'UNIT'" [placeholder]="'Unit'" 
              [customClasses]="{'w-full':true}" 
              [type]="'text'" 
              [isReadonly]="true"
              [(ngModel)]="unit"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
        </div> 
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-input-image-preview class="w-full h-25" [labelText]="'VISITOR IMAGE'" [buttonText]="'UPLOAD'" 
            [extraButtonClass]="'rounded-md text-white h-20'" [isMandatory]="true"
            [(cameraSelected)]="selectedImage">
          </app-input-image-preview>
        </div>
        <div class="w-full">
          <app-text-input 
            #textInput
            [id]="'contractor_name'" 
            [labelText]="'NAME'" [placeholder]="'EG. KEVIN MARCH'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [isMandatory]="true"
            [(ngModel)]="contractor_name"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
        </div> 
        <div class="w-full">
          <app-vms-contact-input [id]="'move_contact'" [(value)]="contact_number" (contactInfo)="getContactInfo($event)" [isMandatory]="true"></app-vms-contact-input>
        </div>
        <div class="w-full">
          <app-nric-fin-selection (change)="onIdentificationTypeChange($event)" [(selectedIdentification)]="identificationType" [includePassport]="project_config.is_industrial" [isReadonly]="is_id_disabled" [isMandatory]="true"/>
        </div>
        <div class="w-full" *ngIf="identificationType == 'passport'">
          <app-text-input #contractorCheckoutPassport [id]="'contractor_checkout_passport'" [labelText]="'PASSPORT NUMBER'"
            [placeholder]="''" [customClasses]="{'w-full':true}" [type]="'text'" [isMandatory]="true"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="nric_value"></app-text-input>
        </div>
        <div class="w-full flex flex-row justify-between items-end space-x-2" *ngIf="identificationType != 'passport'">
          <div class="w-[90%]">
            <app-text-input 
              #textInput
              [id]="'contractor_nric/fin'" 
              [labelText]="'NRIC / FIN'" [placeholder]="'SCAN NRIC / FIN'" 
              [customClasses]="{'w-full':true}" 
              [type]="'text'"
              (keyup)="onNricInput($event)"
              [(ngModel)]="nric_value"
              [isMandatory]="true"
              [isReadonly]="true"
              [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
            </app-text-input>
          </div>
         
          <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="openNricScan(0, false)">
            <fa-icon [icon]="faBarcode" class="text-[40px] text-white"></fa-icon>
          </div>
        </div>
        <div class="w-full flex flex-row justify-between space-x-2">
          <div class="w-[90%]">
            <app-text-input 
            [(ngModel)]="requestor_vehicle"
            #textInput
            [id]="'contractor_vc'" 
            [labelText]="'VEHICLE NUMBER'" [placeholder]="'SBA 7282 U'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [isMandatory]="true"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"
            [(ngModel)]="vehicle_number">
          </app-text-input>
          </div>
          <div class="h-25 flex flex-col justify-end">
            <img alt="Loading" src="assets/img/Loading_Green.png" class="h-20 w-20" (click)="refreshVehicle(true)"/>
          </div>
        </div> 
        <div class="w-full">
          <app-text-input 
            #textInput
            [id]="'contractor_company_name'" 
            [labelText]="'COMPANY NAME'" [placeholder]="'ROUNDEL MOVING PTE LTD'" 
            [customClasses]="{'w-full':true}" 
            [type]="'text'" 
            [(ngModel)]="company_name"
            [isMandatory]="true"
            [customInputClasses]="{'border':true, 'w-full':true ,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}">
          </app-text-input>
        </div> 
        <div class="w-full flex flex-col">
          <app-text-input [id]="'move_form_remarks'" [name]="'move_form_remarks'" [labelText]="'REMARKS'" [rows]="4"
            [placeholder]="''" [customClasses]="{'w-full':true}" [type]="'textarea'" [textAreaClass]="'w-full bg-white border border-[#6B7280] text-gray-900 text-2xl rounded'" [isMandatory]="true"
            [(ngModel)]="remarks"></app-text-input>
        </div>
        <div class="w-full" *ngIf="project_config.is_industrial">
          <app-text-input #visitorDriveInUpPass [id]="'visitor_drive_in_pass_number'" [labelText]="'PASS NUMBER'"
            [placeholder]="''" [customClasses]="{'w-full':true}" [type]="'text'" [isMandatory]="true"
            [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="pass_number"></app-text-input>
        </div>
        <div class="w-full flex flex-col">
          <label class="text-2xl"><u><b>NUMBER OF PAX</b></u></label>
          <select name="no-of-pax" [value]="paxCount" id="no-of-pax" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-20 text-2xl text-[#6B7280]" (change)="onPaxCountChange($event)">
            <option *ngFor="let count of [].constructor(maxPax); let i = index" [value]="i" [selected]="i == 0">
              NO OF PAX {{ i }}
            </option>  
          </select>
        </div>
        <div *ngFor="let count of [].constructor(paxCount); let i = index" class="w-full flex flex-row space-x-2 items-end justify-center">
          <div class="w-1/2">
            <app-text-input #textInput [id]="'name_pax_' + i" [labelText]="'NAME'" [placeholder]="'EG. ROBERT JONES'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [(ngModel)]="paxData[i].contractor_name"></app-text-input>
          </div>
          <div class="w-1/2">
            <app-text-input #textInput [id]="'nric_fin_pax_' + i" (keyup)="nricPaxChange($event)" [labelText]="'NRIC / FIN'" [placeholder]="'EG. SCAN NRIC / FIN'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}" [isReadonly]="true" [(ngModel)]="paxData[i].identification_number"></app-text-input>
          </div>
          <div class="h-20 w-20 flex flex-col justify-center items-center bg-[var(--ion-color-primary)] rounded" (click)="openNricScan(i, true)">
            <fa-icon [icon]="faBarcode" class="text-[40px] text-white"></fa-icon>
          </div>
        </div>
        <div class="w-full" *ngFor="let camera of Camera; let i = index">
          <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER ' + camera.CamID" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full text-2xl h-20 ' + (i == 0 ? 'mt-6' : 'mt-1' )" (click)="submitForm(true, camera.CamSentId)"></app-visitor-button>
        </div>
        <div class="w-full">
          <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full mt-1 text-2xl h-20'" (click)="submitForm()"></app-visitor-button>
        </div>
        <!-- <div class="flex flex-col w-full">
          <div class="w-full" *ngFor="let camera of Camera; let i = index">
            <app-visitor-button [text]="'SAVE RECORD & OPEN BARRIER ' + camera.CamID" [extraClass]="'bg-[var(--ion-color-primary)] text-white mt-6 w-full text-2xl h-20'" (click)="submitForm(true, camera.CamSentId)"></app-visitor-button>
          </div>
          <div class="w-full">
            <app-visitor-button [text]="'SAVE RECORD ONLY'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-full mt-6 text-2xl h-20'" (click)="submitForm(false)"></app-visitor-button>
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
</ion-content>