ion-header {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
ion-spinner {
    transform: scale(2);
}
ion-modal {
    --height: 46%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    position: fixed;
    --background: var(--ion-color-primary);
    --color: white;
  }

  ion-modal ion-toolbar ion-title{
    --font-size: 14px
  }
  ion-modal#is-modal-choose-upload {
    --height: auto;
    --border-radius: 10px 10px 0 0;
}