<ion-content [fullscreen]="true" class="vms-body">
  <!-- Gambar sebagai latar belakang -->
  <div class="absolute inset-0 flex justify-center items-center opacity-20">
    <app-vms-background />
  </div>
  <div class="flex flex-col relative mt-2 mx-4">
    <div class="w-full">
      <app-vms-header [urlCustom]="'/visitor-detail'"/>
    </div>
    <div class="flex flex-row mt-8">
      <app-button-icon [customNameIcon]="'faPersonWalkingLuggage'" [text]="'VISITOR RECORDS'"
        [routerLink]="['/visitor-detail']" [isActive]="true" [disableClick]="true" />
      <!-- <ion-button fill="clear" class="fsh-double-button bg-[var(--ion-color-primary)] text-[var(--ion-color-medium-contrast)] rounded-md" [routerLink]="['/home-vms']">
        VISITOR RECORDS
      </ion-button> -->
      <!-- <app-button-icon @fadeInOut *ngIf="showSearch" [customNameIcon]="'facar'" [text]="'RESIDENT CAR LIST / Search Vehicle'" [routerLink]="['/home-vms']" [isActive]="true" [disableClick]="true" /> -->
    </div>
    <div class="flex flex-row mx-4 mb-4">

      <div class="flex flex-col w-full mt-8 space-y-5 items-center ">
        <div class="w-full">
          <app-text-input [labelText]="'NAME'" [id]="'visitor_detail_name'" [value]="'VEEKNESH'" [placeholder]="'NAME'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'CONTACT NUMBER'" [id]="'visitor_detail_number'" [value]="'89436306'" [placeholder]="'CONTACT'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'TYPE'" [id]="'visitor_detail_type'" [value]="'DRIVE IN'" [placeholder]="'TYPE'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div *ngIf="driveIn" class="w-full">
          <app-text-input [labelText]="'VEHICLE TYPE'" [id]="'visitor_detail_vehicle_number'" [value]="'SMK 5848K'" [placeholder]="'VEHICLE NUMBER'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'BLOCK'" [id]="'visitor_detail_block'" [value]="'100'" [placeholder]="'BLOCK'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'UNIT'" [id]="'visitor_detail_unit'" [value]="'08-33'" [placeholder]="'UNIT'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'GATE'" [id]="'visitor_detail_gate'" [value]="'BACK GATE 2'" [placeholder]="'GATE'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'LAST ENTRY TIMESTAMP'" [id]="'visitor_detail_last_entry_time_stamp'" [value]="'19/12/2024 09:30:00'" [placeholder]="'ENTRY TIME'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
        <div class="w-full">
          <app-text-input [labelText]="'LAST EXIT TIMESTAMP'" [id]="'visitor_detail_last_exit_time_stamp'" [value]="'19/12/2024 12:30:00'" [placeholder]="'EXIT ENTRY'" [customClasses]="{'w-full':true}" [type]="'text'" [customInputClasses]="{'border':true, 'w-full':true,'rounded':true, 'py-2':true, 'px-3':true, 'outline-[#BDBDBD]':true,'h-20':true, 'text-2xl':true}"></app-text-input>
        </div>
      </div>
  
    </div>
  </div>
 

</ion-content>
