<ion-content [fullscreen]="true">
	<app-resident-header [text]="'Raise A Request'" [text_second]="'History Request'"/>

  <div class="p-5 text-center mb-20">
    <div class="flex flex-row mt-4 justify-between w-full">
      <app-visitor-button [text]="'New Request'" [extraClass]="'bg-[#D0D0D0] text-[#757575] w-[150px] leading-none'" [routerLink]="['/resident-raise-a-request']"></app-visitor-button>
      <app-visitor-button [text]="'Request Status'" [extraClass]="'bg-[var(--ion-color-primary)] text-white w-[150px]'" [routerLink]="['/rejected-request']"></app-visitor-button>
    </div>

    <div class="space-y-4 w-full mt-3">
      <div class="w-full mt-4 mb-3 flex flex-row items-center">
        <h2 class="w-full max-w-24 font-bold text-lg text-center">
          Filter by
        </h2>
        <select id="walk_in_unit" class="border w-full rounded py-2 px-3 outline-[#BDBDBD] h-12 text-base text-[#6B7280]">
          <option disabled selected>Type of Application</option>
        </select>
      </div>
      <div *ngIf="hisrotyRequests.length > 0">
        <div *ngFor="let hisrotyRequest of hisrotyRequests; let i = index" [ngClass]="{
            'bg-[var(--ion-color-tertiary)]': hisrotyRequest.statusBooked === 'Approved',
            'bg-sky-100': hisrotyRequest.statusBooked === 'Pending Approval' || hisrotyRequest.statusBooked === 'Pending Payment',
            'bg-[#E3787E]': hisrotyRequest.statusBooked === 'Rejected' || hisrotyRequest.statusBooked === 'Cancelled',
            'bg-[#F8F1BA]': hisrotyRequest.statusBooked === 'Requested',
          }" class="bg-[var(--ion-color-tertiary)] rounded-2xl px-4 py-2 mt-4 w-full">
          <h2 [ngClass]="{
            'text-green-500': hisrotyRequest.statusBooked === 'Approved',
            'text-sky-500': hisrotyRequest.statusBooked === 'Pending Approval' || hisrotyRequest.statusBooked === 'Pending Payment',
            'text-red-700': hisrotyRequest.statusBooked === 'Rejected' || hisrotyRequest.statusBooked === 'Cancelled',
            'text-yellow-400': hisrotyRequest.statusBooked === 'Requested',
          }" class="flex text-base font-bold mb-2 justify-items-center items-center text-center">
            <ion-icon 
              [name]="hisrotyRequest.statusBooked === 'Approved' ? 'checkmark' : 
                      hisrotyRequest.statusBooked === 'Pending Approval' ? 'time' : 
                      hisrotyRequest.statusBooked === 'Pending Payment' ? 'time' : 
                      hisrotyRequest.statusBooked === 'Rejected' ? 'close' : 
                      hisrotyRequest.statusBooked === 'Cancelled' ? 'close' : 
                      hisrotyRequest.statusBooked === 'Requested' ? 'help-circle' : 
                      'help-circle'"
              [ngClass]="{
                'bg-green-500': hisrotyRequest.statusBooked === 'Approved',
                'bg-sky-500': hisrotyRequest.statusBooked === 'Pending Approval' || hisrotyRequest.statusBooked === 'Pending Payment',
                'bg-red-700': hisrotyRequest.statusBooked === 'Rejected' || hisrotyRequest.statusBooked === 'Cancelled',
                'bg-yellow-500': hisrotyRequest.statusBooked === 'Requested'
              }"
              class="mr-2 p-1 rounded-full text-white text-[18px]">
            </ion-icon>
            {{ gethisrotyRequestStatusLabel(hisrotyRequest.statusBooked) }}
          </h2>
          <p class="font-bold text-base text-black text-left">Overnight Parking Application</p>
          <div class="table w-full text-left">
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Application Date</p>
              <p class="ml-2 table-cell text-base text-black">: {{ hisrotyRequest.applicationDate }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Vehicle Number</p>
              <p class="ml-2 table-cell text-base text-black">: {{ hisrotyRequest.vehicleNumber }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">Start Date</p>
              <p class="ml-2 table-cell text-base text-black">: {{ hisrotyRequest.startDate }}</p>
            </div>
            <div class="table-row">
              <p class="font-bold table-cell text-base text-black">End Date</p>
              <p class="ml-2 table-cell text-base text-black">: {{ hisrotyRequest.endDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<app-bottom-nav-bar></app-bottom-nav-bar>
</ion-content>