<ion-header [translucent]="true">
  <app-header-inner-page
    [text]="'My Vehicle'"
    [text_second]="pageName"
    (typeOfFamily)="onChangeTypeFamily($event)"
    (typeOfUser)="onChangeUserType($event)"
  ></app-header-inner-page>
</ion-header>

<ion-content id="resident-content" [fullscreen]="true">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    style="z-index: 999"
    pullFactor="0.3"
    pullMin="40"
    pullMax="80"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="none"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="w-full flex items-start justify-start mt-2 ml-3">
    <ion-icon
      name="arrow-back-circle"
      size="large"
      class="text-[var(--ion-color-primary)] size-12"
      (click)="directTo()"
    ></ion-icon>
  </div>
  <div class="px-4 pb-4 space-y-2">
    <div *ngIf="pageName !== 'Vehicle Detail'" @fadeInOut>
      <div class="flex flex-col space-y-2">
        <button
          [ngClass]="userRole === 'Tenants' || userRole === 'Helper' ? 'bg-gray-200 text-gray-600 mt-1 w-full rounded-full h-12 font-bold text-base' : 'bg-[var(--ion-color-primary)] text-white mt-1 w-full rounded-full h-12 font-bold text-base'"
          [disabled]="userRole === 'Tenants' || userRole === 'Helper'"
          (click)="navigateToAddNewVehicle()"
        >
          Add New Vehicle
        </button>
        <div
          *ngIf="userRole === 'Tenants' || userRole === 'Helper'"
          class="text-center text-base white:text-black mx-5 mb-2"
        >
          "Please contact your primary or secondary contact of the household to
          add a new vehicle"
        </div>
      </div>

      <div class="flex flex-col w-full">
        <div
          *ngIf="isLoading"
          class="flex justify-center items-center h-[50%] w-full mt-24"
        >
          <app-loading-animation *ngIf="isLoading"></app-loading-animation>
        </div>
        <div
          *ngFor="let vehicle of vehicles"
          [ngClass]="{
          'bg-[var(--ion-color-tertiary)]': vehicle.status === 'approved' || vehicle.status === 'Approved',
          'bg-[#F8F1BA]': vehicle.status === 'pending_approval' || vehicle.status === 'Pending Approval',
          'bg-[#E3787E]': vehicle.status === 'Rejected' || vehicle.status === 'rejected',
          'bg-sky-100': vehicle.status === 'pending_payment' || vehicle.status === 'Pending Payment'
          }"
          class="bg-[var(--ion-color-tertiary)] p-3 mt-3 rounded-2xl w-full"
        >
          <div class="flex flex-row items-center justify-start mb-2">
            <ng-container
              *ngIf="vehicle.status === 'approved' || vehicle.status === 'Approved'"
            >
              <ion-icon
                name="checkmark"
                class="bg-[var(--ion-color-primary)] mr-3 p-1 rounded-full text-white text-[18px]"
              ></ion-icon>
              <p class="text-[var(--ion-color-primary)] font-bold text-base">
                Approved
              </p>
            </ng-container>
            <ng-container
              *ngIf="vehicle.status === 'pending_approval' || vehicle.status === 'Pending Approval'"
            >
              <ion-icon
                name="alert-circle-outline"
                class="bg-yellow-500 mr-3 p-1 rounded-full text-white text-[18px]"
              ></ion-icon>
              <p class="text-yellow-500 font-bold text-base">
                Pending Approval
              </p>
            </ng-container>
            <ng-container
              *ngIf="vehicle.status === 'pending_payment' || vehicle.status === 'Pending Payment'"
            >
              <ion-icon
                name="alert-circle-outline"
                class="bg-blue-500 mr-3 p-1 rounded-full text-white text-[18px]"
              ></ion-icon>
              <p class="text-blue-500 font-bold text-base">Pending Payment</p>
            </ng-container>
            <ng-container
              *ngIf="vehicle.status === 'rejected' || vehicle.status === 'Rejected'"
            >
              <ion-icon
                name="close"
                class="bg-red-700 mr-3 p-1 rounded-full text-white text-[18px]"
              ></ion-icon>
              <p class="text-red-700 font-bold text-base">Rejected</p>
            </ng-container>
          </div>
          <p *ngIf="vehicle.isPrimary" class="font-bold text-base text-black">
            {{ vehicle.type_application | titlecase }} (Primary Vehicle)
          </p>
          <p *ngIf="!vehicle.isPrimary" class="font-bold text-base text-black">
            {{ vehicle.type_application | titlecase }}
          </p>
          <div class="flex flex-col justify-between w-full">
            <div class="w-full">
              <table class="w-full">
                <tr
                  class="text-base text-black"
                  *ngFor="let field of fieldOfVehicle"
                >
                  <td class="font-bold text-base w-[40%] cw-3:w-[50%]">
                    {{ field }}
                  </td>
                  <td class="font-bold text-base">:</td>
                  <td class="text-base text-black">
                    {{ getVehicleValue(vehicle, field) }}
                  </td>
                </tr>
              </table>
            </div>
            <!-- </div> -->
            <div class="flex mt-2 space-x-2">
              <div class="flex flex-row items-center w-full space-x-2">
                <button
                  class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold w-full"
                  *ngIf="vehicle.status !== 'approved' && vehicle.status !== 'Approved' && vehicle.status !== 'pending_approval' && vehicle.status !== 'Pending Approval' && vehicle.status !== 'Rejected' && vehicle.status !== 'rejected'"
                  (click)="navigateToVehiclePayment(vehicle.id)"
                >
                  Pay Now
                </button>
                <button
                  class="bg-[var(--ion-color-primary)] text-white px-3 py-2 text-base rounded-md font-bold w-full"
                  (click)="navigateToVehicleDetail(vehicle)"
                >
                  View Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="pageName === 'Vehicle Detail'" @fadeInOut>
      <div *ngIf="vehicleDetail">
        <div
          [ngClass]="{
          'bg-[var(--ion-color-tertiary)]': vehicleDetail.status === 'approved' || vehicleDetail.status === 'Approved',
          'bg-[#F8F1BA]': vehicleDetail.status === 'pending_approval' || vehicleDetail.status === 'Pending Approval',
          'bg-[#E3787E]': vehicleDetail.status === 'Rejected' || vehicleDetail.status === 'rejected',
          'bg-sky-100': vehicleDetail.status === 'pending_payment' || vehicleDetail.status === 'Pending Payment'
          }"
          class="bg-[var(--ion-color-tertiary)] p-3 rounded-2xl w-full"
        >
          <div class="flex justify-between items-center mb-4">
            <p class="font-bold text-base text-black">
              {{ vehicleDetail.type_application }}
            </p>
            <div class="flex items-center">
              <ng-container
                *ngIf="vehicleDetail.status === 'approved' || vehicleDetail.status === 'Approved'"
              >
                <ion-icon
                  name="checkmark"
                  class="bg-[var(--ion-color-primary)] mr-1 p-1 rounded-full text-white text-[18px]"
                ></ion-icon>
                <p class="text-[var(--ion-color-primary)] font-bold text-base">
                  Approved
                </p>
              </ng-container>
              <ng-container
                *ngIf="vehicleDetail.status === 'pending_approval' || vehicleDetail.status === 'Pending Approval'"
              >
                <ion-icon
                  name="alert-circle-outline"
                  class="bg-yellow-500 mr-1 p-1 rounded-full text-white text-[18px]"
                ></ion-icon>
                <p class="text-yellow-500 font-bold text-base">
                  Pending Approval
                </p>
              </ng-container>
              <ng-container
                *ngIf="vehicleDetail.status === 'pending_payment' || vehicleDetail.status === 'Pending Payment'"
              >
                <ion-icon
                  name="alert-circle-outline"
                  class="bg-blue-500 mr-1 p-1 rounded-full text-white text-[18px]"
                ></ion-icon>
                <p class="text-blue-500 font-bold text-base">Pending Payment</p>
              </ng-container>
              <ng-container
                *ngIf="vehicleDetail.status === 'rejected' || vehicleDetail.status === 'Rejected'"
              >
                <ion-icon
                  name="close"
                  class="bg-red-700 mr-1 p-1 rounded-full text-white text-[18px]"
                ></ion-icon>
                <p class="text-red-700 font-bold text-base">Rejected</p>
              </ng-container>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <div class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">Vehicle No</p>
              <p class="text-base font-bold">{{ vehicleDetail.vehicleNo }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">Vehicle Make</p>
              <p class="text-base font-bold">{{ vehicleDetail.make }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">
                Vehicle Colour
              </p>
              <p class="text-base font-bold">{{ vehicleDetail.colour }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">Vehicle Type</p>
              <p class="text-base font-bold">{{ vehicleDetail.type }}</p>
            </div>
            <div *ngIf="userType !== 'industrial'" class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">Fees</p>
              <p class="text-base font-bold">{{ vehicleDetail.fees }}</p>
            </div>
            <div *ngIf="vehicleDetail.reasonForReejction" class="flex flex-col">
              <p class="text-base font-semibold text-gray-600">
                Reason for Rejection
              </p>
              <p class="text-base font-bold">
                {{ vehicleDetail.reasonForReejction }}
              </p>
            </div>
          </div>
          <div
            *ngIf="vehicleDetail.endDateForTemporaryPass"
            class="flex flex-col"
          >
            <p class="text-base font-semibold text-gray-600">
              End Date for Temporary Pass
            </p>
            <p class="text-base font-bold">
              {{
              functionMain.convertToDDMMYYYY(vehicleDetail.endDateForTemporaryPass)
              }}
            </p>
          </div>
        </div>
        <button
          class="bg-[var(--ion-color-primary)] text-white mt-4 w-full text-base rounded h-10 font-bold"
          (click)="deleteVehicle('Delete This Vehicle?', 'Confirm', 'Cancel', vehicleDetail.id)"
        >
          Delete this Vehicle
        </button>
        <!-- Tombol Aksi Kondisional -->
        <div
          class="mt-2 space-y-2"
          *ngIf="vehicleDetail.status === 'Pending Payment'"
        >
          <button
            class="bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold"
            (click)="navigateToVehiclePayment(vehicleDetail.id)"
          >
            Pay now
          </button>
        </div>
        <button
          *ngIf="vehicleDetail.type_application === 'Temporary Vehicle' && vehicleDetail.status === 'Approved'"
          class="mt-2 bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold"
          (click)="requestForExtension(vehicleDetail.id)"
        >
          Request for Extension
        </button>
        <button
          *ngIf="vehicleDetail.status === 'Rejected' && userType === 'industrial'"
          class="mt-2 bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold"
          (click)="reqForupdate(vehicleDetail.id)"
        >
          Request for Update
        </button>
      </div>

      <ion-modal
        id="extension-request-modal"
        [isOpen]="isExtensionRequestModal === true"
        (didDismiss)="isExtensionRequestModal = false"
      >
        <ng-template>
          <div class="wrapper">
            <div class="w-full mt-1">
              <div class="flex flex-row justify-start mb-1">
                <p class="text-base font-bold">Till then you want to extend?</p>
              </div>
              <div class="w-full">
                <app-input-component
                  [id]="'extension_request_date'"
                  [type]="'date'"
                  [typeAction]="''"
                  [labelParent]="''"
                  [labelChild1]="'Extension Request Date'"
                  [labelChild2]="''"
                  (eventEmitter)="isExtensionRequestDateChange($event)"
                  [value]="selectedDate"
                  [minDate]="dateNow"
                ></app-input-component>
              </div>
            </div>
            <button
              class="bg-[var(--ion-color-primary)] text-white w-full text-base rounded h-10 font-bold mt-2"
              (click)="submitRequest()"
            >
              Submit Request
            </button>
          </div>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-content>

<ion-footer>
  <app-botton-nav-bar></app-botton-nav-bar>
</ion-footer>
